<h2>Преимущества JaCarta PRO/ГОСТ</h2>
<div class="row">
    <div class="col-6">
        <ul>
            <li class="mb-4">
                Разработка и производство токенов JaCarta PRO/ГОСТ осуществляются в Российской Федерации, что позволяет
                последовательно замещать ими иностранные аналоги.
            </li>
            <li class="mb-4">Для работы с JaCarta PRO/ГОСТ доступен единый, удобный и интуитивно-понятный графический интерфейс Единый Клиент
                JaCarta. Он позволяет настроить и подготовить токены к работе: получить полную информацию об устройстве,
                провести его инициализацию, просмотреть хранимые объекты и т.д.
            </li>
            <li class="mb-4">Более широкие возможности по кастомизации внешнего вида и дополнительных функций (по сравнению с USB-токенами
                eToken PRO (Java)): встраивание RFID-меток, различные цветовые решения USB-токена и пр.
            </li>
            <li class="mb-4">JaCarta PRO/ГОСТ в корпусе XL с колпачком имеет защиту от влаги и пыли по стандарту IP56.
            </li>
        </ul>
    </div>
    <div class="col-6">
        <ul>
            <li class="mb-4">Возможность увеличить гарантийный срок обслуживания токенов — до 36 месяцев против 12 месяцев у eToken PRO
                (Java).
            </li>
            <li class="mb-4">Использование защищённого смарт-карточного чипа (достигнутый оценочный уровень доверия — EAL 5+), имеющего
                защиту от клонирования, взлома, физических, логических, статистических, переборных и стрессовых атак, атак с
                использованием специальных зондов и т.д.
            </li>
            <li class="mb-4">Наличие сертификата <a href="{{ path('download', {'uuid': 'ca2e6a34-b1fc-4d67-b5ed-ea384ffca263'}) }}" class="text-nowrap">ФСТЭК России № 3449</a>, подтверждающего соответствие 4 уровню контроля отсутствия
                недекларированных возможностей (НДВ 4), и сертификата <a href="{{ path('download', {'uuid': '722f4cc1-71db-4af0-b40c-40a82c5a370c'}) }}" class="text-nowrap">ФСБ России № СФ/111-2750</a>, подтверждающего, что JaCarta
                PRO/ГОСТ является средством персональной электронной подписи.
            </li>
            <li class="mb-4">Защита инвестиций, сделанных ранее в токены и программные продукты компании Aladdin Knowledge Systems (в первую
                очередь — в системы TMS или SAM).
            </li>
        </ul>
    </div>
</div>
