<h2>Назначение</h2>
<div class="row justify-content-center">
    <div class="col-8 large">
        <p>JaCarta PKI/ГОСТ – PKI-токен для формирования усиленной квалифицированной электронной подписи и строгой двухфакторной аутентификации пользователей при доступе к защищённым информационным ресурсам, безопасного хранения ключей, ключевых контейнеров программных СКЗИ.</p>
        <p>Модель JaCarta PKI/ГОСТ ориентирована на компании, развернувшие инфраструктуру открытых ключей (PKI) и внедряющие систему юридически значимого электронного документооборота.</p>
    </div>
</div>
