<h2>Решаемые задачи</h2>
<ul><li>Усиление парольной аутентификации пользователей при доступе к Web-ресурсам за счёт перехода к двухфакторной аутентификации с использованием токена</li>
    <li>Избавление пользователей от необходимости запоминать сложные пароли. За счёт использования второго фактора аутентификации требования к сложности пароля могут быть существенно снижены</li>
    <li>Использование одного устройства для доступа к различным ресурсам</li></ul>
<h2>Функциональные возможности</h2>
<ul><li>Аутентификация по стандарту FIDO U2F</li></ul>
<h2>Ключевые особенности</h2>
<p><b>Токен JaCarta U2F</b> обладает рядом особенностей, отличающих его от токенов, использующих альтернативные технологии аутентификации.</p>
<ul><li><b>Самостоятельная регистрация пользователей</b> – в отличие от систем аутентификации на основе традиционных PKI-токенов, в процессе регистрации токена JaCarta U2F на конкретном Web-ресурсе не требуется участия администратора. Для регистрации необходимо просто ввести логин и пароль,  подключить токен к компьютеру и нажать на кнопку (тем самым подтвердив физическое присутствие пользователя за компьютером). В процессе регистрации пользователем своего U2F-токена на Web-ресурсе происходит генерация ключевой пары (открытый и закрытый ключ) без сертификата открытого ключа. Сгенерированная  ключевая пара используется для дальнейшей аутентификации. </li>
    <li><b>Концепция "один ко многим"</b> – один токен может использоваться для доступа к множеству различных Web-ресурсов (количество ресурсов ограничено лишь объёмом памяти токена, используемой для хранения аутентификационных данных).  </li>
    <li><b>Защита от фишинга</b> – каждый закрытый ключ, хранящийся в памяти токена и используемый для доступа к конкретному ресурсу, "связан" с адресом данного ресурса (URL). Таким образом, если злоумышленник попытается перенаправить пользователя на "поддельный" ресурс, пользователь не сможет пройти аутентификацию, так как закрытый ключ, соответствующий "поддельному" ресурсу, не будет найден. </li>
</ul>