<p>Программный комплекс противодействия утечкам информации Secret Disk LPE имеет действующий до 29 июня 2020 года сертификат
    Министерства Обороны Российской Федерации на соответствие требованиям руководящего документа "Защита от
    несанкционированного доступа к информации. Часть 1. Программное обеспечение средств защиты информации. Классификация
    по уровню контроля отсутствия недекларированных возможностей" (Гостехкомиссия России, 1999г) по 2 уровню контроля
    недекларированных возможностей.</p>