<h2>Назначение Secret Disk LPE</h2>
<p>Программный комплекс Secret Disk LPE обеспечивает противодействие утечкам информации, связанным с
    несанкционированным доступом к защищаемой информации.</p>
<p>С этой целью Secret Disk LPE управляет доступом к информации пользователей, находящейся в защищаемых каталогах,
    используя заранее подготовленные конфигурации, соответствующие действующим политикам безопасности и регламентам.</p>
<h2>Ключевые преимущества</h2>
<h3>Безопасность</h3>
<p>Программный комплекс не допускает утечки информации, которая может возникать при попытке копирования информации на внешние машинные носители пользователями, которые</p>
<ul>
    <li>имеют санкционированный доступ к защищаемой информации;</li>
    <li>не имеют санкционированного доступа к защищаемой информации, но имеют доступ к средству вычислительной техники для выполнения операций технического обслуживания и т.п.;</li>
    <li>не имеют санкционированного доступа к защищаемой информации, но имеют доступ к внутренним машинным носителям информации средства вычислительной техники;</li>
    <li>не имеют санкционированный доступ к защищаемой информации, но имеют доступ к извлечённым внутренним машинным носителям СВТ, либо скопированным из них файлам и папкам с защищаемой информацией.</li>
</ul>
<h3>Надёжность</h3>
<ul>
    <li>Решение остаётся устойчивым к возможным внутренним угрозам, диверсифицируя аутентификаторы доступа от файла к файлу и от
        сектора к сектору.
    </li>
    <li>Secret Disk LPE не допускает доступа неавторизованного пользователя к защищаемым данным. Для авторизации
        используется только процедура предварительной регистрации и двухфакторной аутентификации с помощью USB-носителя
        JaCarta SF/ГОСТ.
    </li>
    <li>Поддерживается оперативное восстановление доступа в случае утери или поломки пользователем USB-носителя JaCarta
        SF/ГОСТ.
    </li>
    <li>Папки с защищаемой информацией допускают пофайловое резервное копирование сторонними продуктами без
        доступа к находящимся в них данным.
    </li>
</ul>
<h3>Удобство</h3>
<p>Secret Disk LPE образует иерархическую структуру подчинения программных компонентов без использования сетевых
    соединений.</p>
<p>При наличии сетевого подключения сервера управления Secret Disk LPE к домену MS&nbsp;AD возможен экспорт информации о
    пользователях и рабочих станциях, что существенно ускоряет подготовку конфигураций.</p>
<p>Прозрачная работа продукта совершенно незаметна для пользователей системы.</p>
<p>Работа сотрудника с защищаемыми ресурсами не зависит от подключения к сети и может выполняться в любое время, в любом
    месте.</p>
<p>Учётные записи Secret Disk LPE никак не связаны с учётными записями операционной системы, что делает программный
    комплекс независимым от настроек операционной системы.</p>
