<p>Комплект поставки программного изделия "Программный комплекс противодействия утечкам информации Secret Disk LPE
    включает</p>
<ul>
    <li>программный комплекс противодействия утечкам информации Secret Disk LPE и комплект эксплуатационной документации
        на носителе оптической записи;
    </li>
    <li>документ "Программный комплекс противодействия утечкам информации Secret Disk LPE. Формуляр" на
        бумажном носителе.
    </li>
    <li>упаковочная коробка.</li>
</ul>
<p>Для использования продукта необходимо приобрести необходимое для авторизации пользователей количество USB-носителей
    JaCarta SF/ГОСТ и лицензию на право использования.</p>
