<h2>Как работает Secret Disk LPE</h2>
<p>Концепция <b>Secret Disk LPE</b> заключается в централизованном хранении и управлении идентификаторами и
    аутентификаторами пользователей, а также аутентификаторами доступа к защищаемой информации, создавая из них
    конкретные конфигурации.</p>
<p>Secret Disk LPE построен по технологии "клиент-сервер", но сетевое соединение не используется. Таким образом,
    конфигурация клиентского программного компонента подготавливается, сохраняется и после применения верифицируется на
    сервере.</p>
<p>Клиентская часть представлена приложением <b>Агент противодействия утечкам информации</b>, выполняемым на рабочих
    станциях пользователей.</p>
<p>Серверная часть состоит из двух основных программных компонентов:</p>
<ul>
    <li><b>сервер инициализации</b>;</li>
    <li><b>сервер управления агентами</b>.</li>
</ul>

<p class="text-center"><img src="{{ asset('images/catalog/secret_disk/Secret_Disk_LPE_Schema.png') }}" alt="Как работает Secret Disk LPE"></p>
<p class="text-center">Архитектура программного комплекса Secret Disk LPE</p>

<h3>Сервер инициализации</h3>
<p>Программный компонент "Сервер инициализации" является центральным элементом управления защитой всего комплекса и
    обеспечивает соответствие иерархической инфраструктуре заказчика, для чего выполняет управление конфигурациями
    подчинённых ему программных компонентов "Сервер инициализации" и/или "Сервер управления агентами".</p>
<p>Через Сервера инициализации проходят консолидируемые отчёты от всех нижестоящих программных компонентов, пока они не
    достигнут высшего звена: корневого Сервера инициализации.</p>
<p>По отношению к программному компоненту "Сервер инициализации" выполняется следующее:</p>
<ul>
    <li>решение Secret Disk LPE должно иметь хотя бы один программный
        компонент "Сервер инициализации", по отношению к которому все остальные программные компоненты будут являться
        подчиненными;
    </li>
    <li>взаимодействие с вышестоящими и подчинёнными ему программными компонентами всегда однозначно: каждому
        подчинённому программному компоненту "Сервер инициализации" может соответствовать только один вышестоящий
        программный компонент, за исключением главного "Сервера инициализации", не имеющего вышестоящего звена;
    </li>
    <li>программному компоненту "Сервер инициализации" могут быть подчинены только программные компоненты "Сервера
        инициализации" и "Сервера управления агентами".
    </li>
</ul>

<h3>Сервер управления агентами</h3>
<p>Программный компонент "Сервер управления агентами" выполняет управление конфигурациями подчинённых ему программных
    компонентов "Агент противодействия утечкам информации".</p>
<p>По отношению к "Серверу управления агентами" выполняется следующее:</p>
<ul>
    <li>для успешного функционирования данного программного компонента его конфигурация должна быть подготовлена на
        вышестоящем по отношению нему "Серверу инициализации", которому "Сервер
        управления агентами" подчинён напрямую;
    </li>
    <li>программному компоненту "Сервер управления агентами" могут быть подчинены только программные компоненты "Агент
        противодействия утечкам информации".
    </li>
</ul>

<h3>Агент противодействия утечкам информации</h3>
<p>Программный компонент "Агент противодействия утечкам информации" предназначен для защиты данных пользователей,
    именуемых защищаемой информацией, хранящихся в определяемых конфигурацией папках на внутренних машинных носителях
    СВТ.</p>
<p>Программный компонент "Агент противодействия утечкам информации" обладает следующими свойствами:</p>
<ul>
    <li>пользователями являются пользователи СВТ с
        установленным данным программным компонентом, зарегистрированные на вышестоящем "Сервере управления агентами" и
        имеющие доступ к принадлежащей им защищаемой информации согласно файлу конфигурации, подготовленному на
        вышестоящем "Сервере управления агентами" и применённому в "Агенте противодействия утечкам информации";
    </li>
    <li>учётная запись пользователя программного компонента "Агент противодействия утечкам информации" не имеет
        взаимосвязи с учётной записью операционной системы СВТ.
    </li>
</ul>

<h3>Аутентификация администраторов, аудиторов и пользователей</h3>
<p>В программном комплексе Secret Disk LPE допустимо использование только одного способа авторизации: двухфакторная
    аутентификация с помощью принадлежащих и зарегистрированных в данном программном компоненте USB-носителей
    "JaCarta SF/ГОСТ".</p>
