<h2>Системные требования</h2>
<h3>Операционная система</h3>
<p>Для установки любых программных компонентов:</p>
<ul>
    <li>Microsoft Windows 8.1;</li>
    <li>Microsoft Windows 8;</li>
    <li>Microsoft Windows 7 SP1;</li>
    <li>Microsoft Windows Server 2008;</li>
    <li>Microsoft Windows Server 2008 R2;</li>
    <li>Microsoft Windows Server 2012.</li>
</ul>
<p>Для успешного функционирования элементов управления интерфейса программных компонентов программного комплекса
    противодействию утечкам информации Secret Disk LPE на СВТ должны быть установлены следующие компоненты операционной
    системы:</p>
<ul>
    <li>.NET Runtime версии 4.0 и старше;</li>
    <li>.NET Framework версии 4.0 и старше.</li>
</ul>
<h3>Аппаратное обеспечение</h3>
<p>Программные компоненты Secret Disk LPE должны быть установлены на средства вычислительной техники, имеющие процессоры
    с внутренней архитектурой x86/x64.</p>
<p>В качестве средств аутентификации должны быть использованы USB-носители JaCarta SF/ГОСТ.</p>
