<h2 class="text-center mb-5 mt-0">
    Пора сделать <span class="text-nowrap">правильный выбор</span>
</h2>

<div class="text-center mt-4">
    <a href="{{ path("partners:search", {"type": "business"}) }}" class="btn btn-primary">Где купить?</a>
    <div class="small mt-5">
        <a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}" class="text-nowrap mx-2">ПК "Единый Клиент JaCarta"</a>
        <a href="{{ path('support') }}" class="text-nowrap mx-2">Техническая поддержка</a>
        <a href="{{ path('support:downloads') }}" class="text-nowrap mx-2">Библиотека ресурсов</a>
    </div>
</div>

