<h2>Назначение</h2>
<div class="row justify-content-center">
    <div class="col-8 large">
        <p>Эту модель рекомендуется использовать для удалённых (мобильных) пользователей, администраторов, когда необходимо снизить риски получения несанкционированного доступа к критически важной информации при работе из недоверенной среды, для использования в качестве удобного средства доступа в корпоративную сеть и служебного USB-флеш-накопителя.</p>
        <p>Flash-память может быть разбита на два раздела:</p>
        <ul>
            <li>CD-ROM для доверенных ОС, виртуальных машин, программ и неизменяемых данных и </li>
            <li>Flash-диск (перезаписываемая область) для пользовательских данных.</li>
        </ul>
    </div>
</div>
