<p class="font-weight-bold">Другие действия ...</p>

<p>Уже есть личный профиль? <a href="{{ path('login') }}">Войдите</a> на сайт прямо сейчас.</p>
<p>Регистрировались на другом сайте компании "Аладдин Р.Д."? <a href="{{ path('login') }}">Подключите</a> Ваш профиль к
    этому сайту.</p>