<h2>Назначение Secret Disk Enterprise</h2>
<p>Комплекс защиты конфиденциальной информации с централизованной системой управления <b>Secret Disk Enterprise</b> позволяет обеспечить защиту персональных компьютеров и ноутбуков в корпоративной инфраструктуре от несанкционированного доступа и утечки конфиденциальной информации.</p>
<p>Secret Disk Enterprise отслеживает состояние всех защищённых рабочих станций и снимает нагрузку с информационных служб предприятий, снижая затраты и повышая уровень безопасности данных в компании.</p>
<h2>Ключевые преимущества</h2>
<h3>Безопасность</h3>
<ul>
    <li>Secret Disk Enterprise обеспечивает защиту данных путём шифрования разделов на жёстких дисках, томов на динамических дисках, виртуальных дисков, отдельных папок с файлами и создания защищённых контейнеров.</li>
    <li>Реализована возможность защиты системного раздела жёсткого диска и хранящейся на нём информации. <em style="color:#999">При установке на x86-планшет с сенсорным вводом защита системного раздела будет реализована в ближайших версиях.</em></li>
    <li>Обеспечена наиболее безопасная и надёжная на сегодняшний день процедура подтверждения прав пользователя – двухфакторная аутентификация, при которой для доступа к данным необходимо наличие  электронного ключа и знание пароля к нему.</li>
    <li>Организован аудит использования защищённых ресурсов и действий пользователей.</li>
    <li>Используется встроенная в ядро ОС Windows криптография. </li>
    <li>Доступна установка дополнительных пакетов от сторонних поставщиков криптографии (криптопровайдеров), включая КриптоПро CSP и VipNET CSP, которые реализуют российские стандарты алгоритмов шифрования и сертифицированы ФСБ России. </li>
    <li>Возможность блокировки для конкретных пользователей функции копирования незашифрованной информации на съёмные носители.</li>
    <li>Подготовка защищённых контейнеров для безопасной передачи конфиденциальной информации по открытым Интернет-каналам.</li>
    <li>Настраиваемое разрешение/блокировка предоставления пользователем удалённого доступа к защищённым данным по локальной сети.</li>
</ul>
<h3>Надёжность</h3>
<ul>
    <li>Решение устойчиво к возможным сбоям операционной системы или отключению электропитания, что исключает возможность повреждения данных. </li>
    <li>Поддерживается оперативное восстановление доступа в случае утери или поломки пользователем электронного ключа.</li>
    <li>Зашифрованные папки предусматривают пофайловое резервное копирование сторонними продуктами без доступа к конфиденциальным данным.</li>
</ul>
<h3>Удобство</h3>
<ul>
    <li>Быстрая установка и настройка клиентского программного обеспечения на рабочих местах пользователей за счёт использования групповых политик Microsoft Active Directory.</li>
    <li>Работа продукта не требует подготовки и специальных знаний конечного пользователя.</li>
    <li>Прозрачная работа продукта незаметна для пользователей системы.</li>
    <li>Гибко настраиваемая система ролей и полномочий позволяет адаптировать программное обеспечение под организационные условия любого предприятия.</li>
    <li>Поддержка либо запрет работы сотрудника с защищёнными дисками и данными вне доступа к корпоративной сети (например, в командировках).</li>
    <li>Централизованное управление и мониторинг &mdash; в системе ведётся несколько журналов, по которым администратор может следить за работой пользователей, легко диагностировать нештатные ситуации и оперативно принимать необходимые меры.</li>
</ul>