<p>Коробочная версия продукта включает:</p>
<ul>
    <li>CD-ROM с программным обеспечением и документацией в электронном виде;</li>
    <li>файл, содержащий требуемые лицензии пользователей и платные опции;</li>
    <li>упаковочную коробку.</li>
</ul>
<p>Коробочный вариант поставки рекомендуется для новых пользователей <b>Secret Disk Enterprise</b>. Для использования продукта
    вам необходимо приобрести лицензии на требуемое количество рабочих мест и выбранные опциональные возможности
    продукта. </p>
<p>Для работы продукта также обязательно понадобятся электронные ключи JaCarta или eToken. Минимальное количество
    токенов равно сумме количества пользователей, администраторов и операторов продукта.</p>
<p>Коробочная версия поставляется с бесплатной годовой программой базовой технической поддержки.</p>