<h2>Системные требования</h2>

<p><b>Операционная система</b></p>

<p>Для рабочих станций:</p>

<ul>
    <li>Microsoft Windows 10;</li>
    <li>Microsoft Windows 8.1;</li>
    <li>Microsoft Windows 8;</li>
    <li>Microsoft Windows 7 SP1.</li>
</ul>

<p>Для сервера:</p>

<ul>

    <li>Microsoft Windows Server 2012 R2;</li>

    <li>Microsoft Windows Server 2012;</li>

    <li>Microsoft Windows Server 2008 R2;</li>

    <li>Microsoft Windows Server 2008.</li>

</ul>

<p><strong>Обязательное программное обеспечение</strong></p>

<p>Для сервера SDMS:</p>

<ul>
    <li>Microsoft .NET Framework 4.0 или более поздней версии;</li>
    <li>Microsoft IIS версии 6 или выше в режиме совместимости с версией 6;</li>
    <li>драйверы используемых токенов;</li>
    <li>браузер Internet Explorer 8.0 или более поздней версии.</li>
</ul>

<p>Сервер базы данных: Microsoft SQL Server 2005/2008/2012.</p>

<p>В составе ИТ-инфраструктуры предприятия должна быть установлена служба каталогов Active Directory с функциональным уровнем домена не ниже Windows Server 2003.</p>

<p><strong>Дополнительное программное обеспечение</strong></p>

<p>Совместно с SDE может использоваться система управления токенами и смарт-картами <a href="{{ path('catalog:product', {'product': 'jms'}) }}" title="Система централизованного управления электронными ключами JaCarta" >JaCarta Management System (JMS)</a>, что обеспечивает удобство применения продукта. Использование JMS в организации позволяет упростить и организовать управление ключами и пользовательскими сертификатами.</p>

<p><strong>Электронные ключи</strong></p>

<ul>
    <li>USB-токены и смарт-карты линейки JaCarta (кроме JaCarta LT);</li>

    <li>USB-токены и смарт-карты eToken PRO (Java),</li>

    <li>комбинированные ключи eToken NG-FLASH (Java),</li>

    <li>комбинированные ключи eToken NG-OTP (Java).</li>
</ul>