
<h3>Версия 2.6.5.12</h3>
<ul>
    <li>Интегрирован обновлённый загрузчик UEFI, подписанный Microsoft, что позволит устанавливать SD5, не отключая режим Secure Boot.
    </li><li>Добавлена поддержка большого количества корпоративных моделей ноутбуков с загрузчиком Legacy BIOS.
    </li><li>Интегрирован обновлённый загрузчик UEFI, подписанный Microsoft, что позволит устанавливать SDA, не отключая режим Secure Boot. Новый загрузчик имеет поддержку сенсорного интерфейса.
    </li><li>Исправлено ошибочное размонтирование виртуальных дисков при извлечении флэш-накопителя.
    </li><li>Добавлена поддержка КриптоПРО 4.0 (и выше) с сертификатами, выписанными по ГОСТ 2001.
    </li><li>Добавлена поддержка VipNET CSP 4.2 с сертификатами, выписанными по ГОСТ 2001.</li></ul>


<h3>Версия 2.5.0.2162</h3>

<ul>
    <li>Реализованы новые платные функции:

        <ul>
            <li>шифрование папок на незащищённых ресурсах по инициативе пользователя;</li>
            <li>запрет/разрешение копирования незашифрованной информации на съёмные носители;</li>
            <li>создание по инициативе пользователя защищённых контейнеров для передачи конфиденциальной информации по открытым каналам связи;</li>
            <li>запрет/разрешение на предоставление сетевого удалённого доступа к защищённой информации.</li></ul></li>

    <li>Изменён формат лицензионного файла и порядок установки обновлений/добавлений.</li>
    <li>Изменена лицензионная политика:

        <ul>
            <li>серверное ПО теперь предоставляется бесплатно;</li>
            <li>стоимость пользовательских лицензий делает SDE доступным для предприятий малого бизнеса;</li>
            <li>специальные опции, не относящиеся к базовому функционалу продукта, сделаны платными.</li></ul></li>
    <li>Исправлен ряд незначительных ошибок.</li></ul>


<h3>Версия 2.2.3.753</h3>
<ul>
    <li>Реализована возможность использования единого пакета расширения алгоритмов шифрования и сопряжения с внешними криптопровайдерами Crypto Extensions Pack</li>
    <li>Добавлена автоматическая инициализация контроллера XHCI для USB3.0</li>
    <li>Повышение общей стабильности работы продукта</li>
</ul>


<h3>Версия 2.2.1.814</h3>

<ul>
    <li>Реализована возможность защиты системного раздела на UEFI-ноутбуках</li>

    <li>Улучшена совместимость с не-UEFI ноутбуками</li>

    <li>Добавлена возможность экспорта дисковых ключей из web-интерфейса (используется при восстановлении данных с повреждённых носителей)</li>
</ul>

<h3>Версия 2.1.4.704</h3>

<ul>
    <li>Полноценная поддержка Windows 8.1.</li>

    <li>Поддержка Internet Explorer 11 для SDMS.</li>

    <li>Добавлена утилита для восстановления доступа к данным при наличии резервной копии ключа (SDEmergencyMounter). </li>

    <li>Исправлен ряд ошибок.</li>
</ul>

<h3>Версия 2.1.0.637</h3>

<ul>
    <li>Реализована поддержка актуальных версий криптопровайдеров СигналКом CSP и VipNet CSP.</li>

    <li>Обновлены файлы справки.</li>
</ul>

<h3>Версия 2.0.2.613</h3>

<ul>
    <li>Реализована поддержка ключей нового поколения JaCarta.</li>

    <li>Реализована поддержка работы на персональных компьютерах и серверах под управлением операционных систем Microsoft Windows 8 и Microsoft Windows Server 2012. </li>

    <li>Реализована поддержка работы с системой управления реляционными базами данных Microsoft SQL Server 2012. </li>

    <li>Реализована поддержка множественной криптографии, что позволяет одновременно использовать более одного поставщика криптографии в рамках одной инсталляции продукта. </li>

    <li>Реализована возможность миграции виртуальных дисков, позволяющая ввести в эксплуатацию защищённый виртуальный диск, перенесённый с другого персонального компьютера. </li>

    <li>Реализована возможность привязки установки к организационному подразделению (OU) в Microsoft Active Directory, необходимая при развёртывании решения в условиях многодоменной структуры сети. </li>

    <li>Реализована поддержка работы в кластере распределения нагрузки (Network Load Balancing, NLB) с целью обеспечения возможности горизонтального масштабирования продукта и повышения отказоустойчивости. </li>

    <li>Реализована возможность выполнения групповых операций в интерфейсе управления.</li>

    <li>Реализована специализированная утилита, обеспечивающая возможность экспорта дисковых ключей непосредственно из базы данных для их резервного копирования и облегчения процесса миграции. </li>

    <li>Изменена логика отправки клиентских уведомлений, ранее приводившая к перегрузке сервера (SDA).</li>

    <li>По умолчанию отключен режим работы xHCI, ранее приводивший к возможным затруднениям на этапе загрузки компьютера (SDA). </li>

    <li>Устранены найденные неисправности.</li>
</ul>