{% extends 'main.html.twig' %}

{% block title %}Добро пожаловать{% endblock %}

{% block body %}
    <div id="main" class="my-0">
        <div class="bg-dark" style="height: 400px;width:100%">ddddd</div>

        <div class="container my-5">
            <div class="row">
                <div class="col-3">
                    <div class="card shadow-sm" style="height: 200px;">
                        <div class="card-body text-center">JaCarta</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-sm" style="height: 200px;">
                        <div class="card-body text-center">JaCarta Management System</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-sm" style="height: 200px;">
                        <div class="card-body text-center">Secret Disk</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card shadow-sm" style="height: 200px;">
                        <div class="card-body text-center">"Крипто БД"</div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="" class="btn btn-outline-primary">Все продукты</a>
            </div>
        </div>

        <div class=" bg-light my-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex align-items-center">
                    <div style="min-width:64px;height:64px;border-radius:32px;border:solid 2px" class="border-secondary d-flex align-items-center justify-content-center">
                        <div style="font-size:1.5rem;">10</div>
                    </div>
                    <span class="ml-3">Lorem ipsum dolor sit amet consectetur</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div style="min-width:64px;height:64px;border-radius:32px;border:solid 2px" class="border-secondary d-flex align-items-center justify-content-center">
                        <div style="font-size:1.5rem;">20</div>
                    </div>
                    <span class="ml-3">Lorem ipsum dolor sit amet consectetur</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div style="min-width:64px;height:64px;border-radius:32px;border:solid 2px" class="border-secondary d-flex align-items-center justify-content-center">
                        <div style="font-size:1.5rem;">30</div>
                    </div>
                    <span class="ml-3">Lorem ipsum dolor sit amet consectetur</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div style="min-width:64px;height:64px;border-radius:32px;border:solid 2px" class="border-secondary d-flex align-items-center justify-content-center">
                        <div style="font-size:1.5rem;">40</div>
                    </div>
                    <span class="ml-3">Lorem ipsum dolor sit amet consectetur</span>
                </div>
            </div>
        </div>
        </div>

        <div class="bg-white my-5">
            <div class="container">
                <p class="large text-center mb-5">Новости компании</p>
                <div class="row">
                    <div class="col-4">
                        <a href="#">Aliquam euismod lacinia arcu viverra rutrum</a>
                        <div>Mauris sit amet turpis non urna facilisis commodo sit amet id quam. Sed dignissim elit vel mattis feugiat. </div>
                    </div>
                    <div class="col-4">
                        <a href="#">Aliquam euismod lacinia arcu viverra rutrum. Fusce in efficitur est</a>
                        <div>Mauris sit amet turpis non urna facilisis commodo sit amet id quam. Sed dignissim elit vel mattis feugiat. </div>
                    </div>
                    <div class="col-4">
                        <a href="#">Aliquam euismod lacinia arcu viverra rutrum</a>
                        <div>Mauris sit amet turpis non urna facilisis commodo sit amet id quam. Sed dignissim elit vel mattis feugiat. </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="" class="btn btn-outline-primary">Все новости</a>
                </div>
            </div>
        </div>

        <div class="bg-white my-4">
            <div class="container">
                <p class="large text-center mb-5">События и мероприятия</p>
                <div class="row">
                    <div class="col-4">
                        <div style="width:100%;height:150px;border:solid 2px" class="bg-light border-secondary mb-4"></div>
                        <a href="#">Aliquam euismod lacinia arcu viverra rutrum</a>
                        <div>Mauris sit amet turpis non urna facilisis commodo sit amet id quam. Sed dignissim elit vel mattis feugiat. </div>
                    </div>
                    <div class="col-4">
                        <div style="width:100%;height:150px;border:solid 2px" class="bg-light border-secondary mb-4"></div>
                        <a href="#">Aliquam euismod lacinia arcu viverra rutrum. Fusce in efficitur est</a>
                        <div>Mauris sit amet turpis non urna facilisis commodo sit amet id quam. Sed dignissim elit vel mattis feugiat. </div>
                    </div>
                    <div class="col-4">
                        <div style="width:100%;height:150px;border:solid 2px" class="bg-light border-secondary mb-4"></div>
                        <a href="#">Aliquam euismod lacinia arcu viverra rutrum</a>
                        <div>Mauris sit amet turpis non urna facilisis commodo sit amet id quam. Sed dignissim elit vel mattis feugiat. </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="" class="btn btn-outline-primary">Все мероприятия</a>
                </div>
            </div>
        </div>

        <div class="bg-light mt-5 py-5 border-secondary" style="border-bottom:solid 2px">
            <div class="container text-center">
                <p class="large mb-5">Нам доверяют</p>
                <img src="{{ asset('images/catalog/jc-webclient/top-clients.jpg') }}" class="img-fluid" />
            </div>
        </div>

    </div>
    <div id="push"></div>
{% endblock %}

{% block leadspace %}{% endblock %}