{% extends 'main.html.twig' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-9">
            <p>ЗАО "Аладдин Р.Д." (далее Компания) уделяет повышенное внимание к защите Ваших личных данных, которые
            могут оказаться в нашем распоряжении и служить инструментом для предоставления информационных услуг
            пользователям сайта. Мы обязуемся соблюдать все положения "Политика конфиденциальности", не превышать своих
            полномочий и не использовать личные данные посетителей сайта в иных,
            не перечисленных на этой странице, целях.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2>Личные сведения</h2>
    <p>К личным сведениям пользователя сайта относятся вся информация, содержащаяся в обязательных для заполнения полях
    электронных форм на сайте, а именно: имя пользователя, электронный адрес, название компании, телефон,
    адрес физический/юридический, данные об объёме заказываемой продукции.</p>

    <h2>Обеспечение безопасности личных сведений</h2>
    <p>Компания уделяет значительное внимание обеспечению информационной безопасности пользователей, применяя технологии
    и процедуры, помогающие защитить их данные от кражи, модификации, возможности несанкционированного доступа,
    нелегального использования этих данных или их разглашения. Для передачи конфиденциальной информации между
    пользователем и сайтом Компании используется безопасное SSL-соединение.</p>
    <p>Рекомендуем Вам использовать только современные браузеры и производить своевременное их обновление. В настоящий
    момент сайт поддерживает работу в следующих браузерах: Microsoft Edge, Google Chrome, Opera, Mozilla Firefox,
    Apple Safari.</p>

    <h2>Сбор личных сведений</h2>
    <p>Мы ставим посетителей сайта в известность, если нам потребуется получить информацию, которая позволяет установить
    их личность или их контактные данные. Эти данные запрашиваются при регистрации, а также при подписке на новости,
    рассылаемые по электронной почте и при получении доступа к закрытым тематическим разделам сайтам.</p>
    <p>На сайте Компании осуществляется сбор статистики посещаемости сайта. Статистическая информация может включать
    в себя: IP-адрес пользователя, географическое местоположение, тип браузера, количество предыдущих посещений,
    посещаемые страницы, адрес сайта, с которого пользователь осуществил переход на сайт компании.</p>
    <p>Данная информация используется для повышения качества предоставляемых услуг, а также для подготовки обобщенных
    статистических данных, характеризующих использование сайта.</p>

    <h2>Использование личных сведений</h2>
    <p>Личные сведения посетителей сайта необходимы Компании для: предоставления услуг (оформления заказа на
    приобретение продуктов Компании, регистрации на мероприятия, подписки на информационные рассылки, организации
    доступа для загрузки материалов сайта); оперативного оповещения об обновлениях в разделах продуктов и услуг,
    а также информирования об обновлениях информации на сайте, предоставляемых по запросу пользователей; предоставления
    ограниченного доступа к закрытым разделам сайта.</p>

    <h2>Контроль личных сведений</h2>
    <p>Компания обязуется не использовать личные сведения в каких-либо иных целях, кроме перечисленных выше. Эти
    сведения не будут передаваться третьим организациям и лицам без разрешения пользователей, за исключением случаев,
    в которых этого требует действующее законодательство РФ.</p>

    <h2>Доступ к личным сведениям</h2>
    <p>Посетителям сайта предоставляются средства, которые позволяют им проверять точность указанных личных сведений и
    производить их обновление в случае необходимости.</p>

    <h2>Согласие на обработку личных сведений</h2>
    <p>Заказывая продукты Компании путем размещения онлайн заказа на сайте компании, a также заполняя регистрационные
    формы для участия в мероприятиях Компании, заказчик дает свободно, своей волей и в своем интересе согласие на
    обработку Компанией его персональных данных, указанных в них, любыми законными способами, в том числе сбор, запись,
    систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача
    (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение, с целью принятия Компанией решения
    о возможности заключения с физическим лицом договора купли-продажи, согласования с физическим лицом условий, на
    которых Компания может заключить договор, аккредитации физического лица на мероприятиях, а также в целях
    информирования физического лица об услугах Компании путем направления соответствующей информации на контактные
    данные физического лица, указанные в оформленных с помощью онлайн форм документах.</p>
    <p>Указанное согласие дается на неограниченный срок и может быть отозвано путем направления в Компанию заявления
    об отзыве согласия на обработку персональных данных, предоставленных посредством онлайн форм.</p>
    <p>В случае достижения целей обработки, утраты необходимости в достижении целей обработки, а также в случае отзыва
    согласия на обработку персональных данных, предоставленных посредством онлайн форм, действие настоящего соглашения
    прекращается, обработка персональных данных, полученных от заказчика посредством онлайн форм, прекращается
    Компанией, а данные уничтожаются в порядке, установленном законодательством РФ.</p>

    <h2>Использование файлов cookie</h2>
    <p>Файлы cookie предназначены для сбора сведений о том, какие ссылки на сайте пользуются наибольшей популярностью у
    посетителей и используются для повышения эффективности работы корпоративного ресурса.</p>
    <p>Сбор этих данных осуществляется в обобщенном виде и никогда не соотносится с личными сведениями
    пользователей.</p>
    <p>Пользователь может отключить в браузере прием файлов cookie с сайта Компании, при этом он сможет получать
    текстовую и графическую информацию на страницах сайта в полном объеме, однако работа некоторых сервисов сайта
    будет невозможна.</p>
    
{% endblock %}

{% block sidebar %}
    {{ include('site/sidebar.html.twig') }}
{% endblock %}