{% extends 'main.html.twig' %}

{% block title %}Условия использования материалов сайта{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-9">
            <p>Компания "Аладдин Р.Д." (далее Компания) предоставляет Вам услуги по использованию её сайта в
            соответствии с данными Условиями. Посещение Вами сайта, равно как и использование размещенной на нем
            информации, означает Ваше согласие с данными Условиями. Компания оставляет за собой право без уведомления
            изменять любые материалы, размещённые на сайте (включая Условия).</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2>Системные требования</h2>
    <p>Для корректной работы с сайтом Компании рекомендуется использовать актуальную версию одного из браузеров:
        <a href="https://www.microsoft.com/ru-ru/windows/microsoft-edge" rel="nofollow" target="_blank">Microsoft
        Edge</a>, <a href="https://www.google.ru/chrome/" rel="nofollow" target="_blank">Google Chrome</a>,
        <a href="http://www.opera.com/ru" rel="nofollow" target="_blank">Opera</a>,
        <a href="https://www.mozilla.org/ru/firefox/new/" rel="nofollow" target="_blank">Mozilla Firefox</a>,
        <a href="https://www.apple.com/ru/safari/" rel="nofollow" target="_blank">Apple Safari</a>.
    Выбранный браузер должен поддерживать работу со сценариями JavaScript, cookies (включены во всех современных
    браузерах по-умолчанию).</p>

    <h2>Использование материалов</h2>
    <p>Вся информация, программное обеспечение, фотографии, текст, видео и аудиозаписи, изображения и другие материалы,
    размещённые на данном сайте, предоставляются Компанией её клиентам и партнерам исключительно
    для некоммерческих целей.</p>
    <p>Использование материалов сайта разрешено на следующих условиях:</p>
    <ul>
        <li>материалы используются исключительно для информационных и некоммерческих или личных целей;</li>
        <li>в материалы не вносятся никакие изменения;</li>
        <li>указывается ссылка на источник;</li>
        <li>при перепечатке материалов, публикаций и статей в любых СМИ, а также при размещении их на любых других
        сайтах в Интернете, было получено разрешение правообладателя.</li>
    </ul>
    <p>Использование информационных материалов в любых иных целях может привести к возникновению гражданской или
    уголовной ответственности и является нарушением российского и международного законодательства.</p>

    <h2>Загрузка и использование программного обеспечения</h2>
    <p>Любое программное обеспечение, доступное на сайте для загрузки, является объектом интеллектуальной собственности
    Компании и/или её партнёров. Порядок использования данного программного обеспечения определяется условиями
    Лицензионного соглашения (договора, поставляемого с данным программным обеспечением) с конечным пользователем.</p>
    <p>Воспроизведение, повторное распространение или использование программного обеспечения, нарушающие положения
    Лицензионного соглашения, не допускается, запрещено законом, и может привести к возникновению гражданской
    или уголовной ответственности.</p>

    <h2>Государственное регулирование и экспортный контроль</h2>
    <p>Ряд продуктов Компании и ее партнеров подпадают под Государственное регулирование и экспортный контроль.
    Поставка, передача или экспорт таких продуктов в другие страны без согласования с Компанией, а также использование
    каким-либо противоречащим закону образом, запрещена.</p>
    <p>При работе с данным сайтом Вы обязуетесь НЕ РАЗМЕЩАТЬ НА НЕМ, НЕ ПЕРЕДАВАТЬ И НЕ ПОЛУЧАТЬ с него любые материалы
    противозаконного характера, которые могут повлечь за собой нарушение российского или иного законодательства, включая
    нормы международного права.</p>

    <h2>Отказ от ответственности</h2>
    <p>Материалы, размещённые на сайте Компании, предоставляются "КАК ЕСТЬ", без каких-либо гарантий применимости для
    какого–либо использования. Компания ни при каких обстоятельствах не несёт ответственности за ущерб, включая прямой
    ущерб и упущенную выгоду, возникшие в результате а) загрузки любого программного обеспечения, имеющегося на её
    сайте, и б) использования информации или материалов, представленных на данном сайте, независимо от того, была ли
    Компания предупреждена о возможности подобного ущерба.</p>

    <h2>Авторские права и товарные знаки</h2>
    <p>Названия продуктов и логотипы <b>eToken</b>, <b>HASP</b> являются зарегистрированными товарными знаками компании
    <a href="http://www.safenet-inc.com" target="_blank" title="Перейти на сайт компании SafeNet">SafeNet, Inc.</a>
    (Aladdin Knowledge Systems). Названия продуктов и логотипы <b>Secret Disk</b>, <b>Секрет Диск</b>, <b>SECURLOGON</b>
    являются зарегистрированными товарными знаками ЗАО "Аладдин Р.Д.". Все другие упомянутые торговые марки являются
    товарными знаками или зарегистрированными товарными знаками соответствующих владельцев.</p>
    <p>Все материалы сайта, включая визуальное и текстовое оформление, статьи, описания и фотографии являются
    интеллектуальной собственностью Компании, если не указано иное. Любое использование материалов возможно только с
    письменного согласия Компании.</p>

    <h2>Ссылки на сайты других компаний</h2>
    <p>Для Вашего удобства на данном сайте могут содержаться ссылки на Интернет-сайты, принадлежащие другим юридическим
    и физическим лицам. Компания не предоставляет никаких гарантий относительно какого бы то ни было сайта, на который
    Вы можете перейти, воспользовавшись ссылкой с данного сайта. Вы понимаете и соглашаетесь с тем, что Компания не
    несёт никакой ответственности в отношении содержимого таких сайтов. Компания не даёт никаких рекомендаций
    относительно посещения данных сайтов или использования размещённых на них материалов.</p>
    <p>Ссылки на любые продукты или услуги других компаний, которые могут содержаться на данном сайте, предоставлены
    исключительно для Вашего удобства. Продукты или услуги других компаний упоминаются только с информационной целью.
    Компания не даёт никаких рекомендаций или оценок данным продуктам и/или услугам.</p>

    <h2>Законодательство других стран</h2>
    <p>Компания не гарантирует соответствия содержимого данного сайта законодательству других стран. При доступе к сайту
    Вы несёте полную ответственность за соблюдение всех норм законодательства страны просмотра сайта.</p>

{% endblock %}

{% block sidebar %}
    {{ include('site/sidebar.html.twig') }}
{% endblock %}