<h2>Назначение</h2>
<div class="row justify-content-center">
    <div class="col-8 large">
        <p>Устройства JaCarta PKI/BIO выполнены на базе модели JaCarta PKI с дополнительной опцией поддержки биометрии.</p>
        <p>Рекомендуется использовать JaCarta PKI/BIO в проектах, где необходимо кардинально снизить риски получения несанкционированного доступа к критически важной информации, не допустить использования карт в отсутствии их владельцев (неотчуждаемость носителя), снизить время аутентификации, упростить жизнь руководству и ТОП-менеджерам, избавив их от ввода сложных паролей и периодической их смены.</p>
    </div>
</div>
