<h3>Единый программный интерфейс</h3>
<div class="d-flex align-items-start">
    <img src="{{ asset('images/catalog/jc-mobile/4.png') }}" width="100" alt="Единый программный интерфейс" />
    <p class="ml-4">
        Для использования токенов и криптографии в собственных мобильных приложениях разработчикам предоставляется набор программных интерфейсов, реализованных в виде библиотек. Базовым (рекомендуемым) интерфейсом для работы со смарт-картой де-факто является PKCS#11. JC-Mobile соответствует спецификации PKCS#11 и содержит дополнительные функции, облегчающие интеграцию JC-Mobile в мобильные приложения. Интерфейс JC-Mobile является высокоуровневым и платформонезависимым – он одинаков и на Apple iOS, и на Google Android. Это существенно упрощает и ускоряет процесс встраивания библиотек JC-Mobile в систему или сервис.
    </p>
</div>

<h3>Распространение приложения через AppStore и Google Play</h3>
<div class="d-flex align-items-start">
    <div>
        <img src="{{ asset('images/catalog/jc-mobile/2.png') }}" class="d-block" width="100" alt="Распространение приложения через AppStore и Google Play" />
        <img src="{{ asset('images/catalog/jc-mobile/3.png') }}" class="d-block" width="100" alt="Распространение приложения через AppStore и Google Play" />
    </div>
    <div class="ml-4">
        <p>Так как все криптографические функции реализованы на отчуждаемом токене, то нет никаких ограничений на экспорт и распространение в Интернете Ваших мобильных приложений со встроенным решением JC-Mobile, поддерживающим российскую криптографию. Вы можете беспрепятственно распространять Ваше готовое приложение на базе JC-Mobile через официальные онлайн-магазины, такие, как App Store и Google Play. </p><p>Посмотрите, например, как это делаем мы – скачайте наше бесплатное мобильное <a href="https://itunes.apple.com/ru/app/jacarta/id858506640?l=ru&ls=1&mt=8">приложение JaCarta для платформы iOS</a> с App Store, предназначенное для администрирования токенов JaCarta. Оно будет Вам полезным при создании Вашего приложения. На нашем канале на <a href="http://www.youtube.com/user/AladdinRD" target="_blank">Youtube</a> Вы найдёте <a href="http://youtu.be/wK9kqt85yEQ" target="_blank">видео-инструкцию</a> по работе с мобильным приложением JaCarta.</p>
        <p>Вы также можете скачать и установить аналогичное мобильное <a href="https://play.google.com/store/apps/details?id=ru.aladdin.jacarta&hl=ru">приложение JaCarta для платформы Android</a> c Google Play.</p>
    </div>
</div>

<h3>Сокращение сроков вывода продукта на рынок</h3>
<div class="d-flex align-items-start">
    <img src="{{ asset('images/catalog/jc-mobile/1.png') }}" width="100" alt="Сокращение сроков вывода продукта на рынок" />
    <div class="ml-4">
        <p>JC-Mobile прост в интеграции и быстро встраивается в систему или сервис – от двух дней до недели.</p>
        <p>В комплект разработчика входит SDK, техническая документация с инструкциями и примерами интеграции, а также все материалы, необходимые для разработки и отладки приложения. </p>
        <p>Перед началом работы по интеграции Вы можете ознакомиться с видео-инструкциями на нашем канале на Youtube по настройке программных сред для встраивания библиотек JC-Mobile в приложения на базе Apple iOS и Google Android:</p>
        <ul>
            <li><a href="http://www.youtube.com/watch?v=3zLInItHo3o" target="_blank">настройка Xcode при разработке iOS-приложений для массового использования и распространения в App Store</a>;</li>
            <li><a href="http://www.youtube.com/watch?v=g8SU8aMvyxM" target="_blank">настройка Xcode при разработке iOS-приложений для корпоративного использования</a>;</li>
            <li><a href="http://youtu.be/igJc6eghBSY" target="_blank">настройка Eclipse при разработке приложений для массового использования и распространения в Google Play</a>;</li>
            <li><a href="http://youtu.be/AlDq542Ziqw" target="_blank">настройка Eclipse при разработке приложений для корпоративного использования</a>.</li>
        </ul>
    </div>
</div>