{% extends 'main.html.twig' %}

{% block title %}Работа в компании{% endblock %}

{% block lead %}
    <p>Компания "Аладдин Р.Д." является лидером в области разработки и поставок решений для информационной безопасности.
        Наш коллектив объединяет энергичных, творческих и преданных своему делу людей, стремящихся реализовывать
        масштабные проекты, а также расширять опыт в области современных технологий информационной безопасности.</p>
{% endblock %}

{% block content %}

    <p>Руководство "<span class="text-nowrap">Аладдин Р.Д.</span>" стремится способствовать профессиональному и
        карьерному росту сотрудников, постоянно инвестируя в развитие их навыков и компетенций и предлагая участие в
        корпоративных программах по повышению квалификации. Для каждого специалиста составляется индивидуальный план
        развития, предусматривающий карьерный рост и схему мотивации.</p>
    <p>Компания "<span class="text-nowrap">Аладдин Р.Д.</span>" предлагает сотрудникам обширный соцпакет, возможность
        дополнительного профессионального обучения за счёт компании, а также корпоративные праздники и выездные
        мероприятия.</p>
    <p>Если Вы умеете справляться с комплексными задачами, эффективно взаимодействовать с ведущими отечественными и
        мировыми компаниями и разделяете наши ценности, мы приглашаем Вас стать частью команды
        "<span class="text-nowrap">Аладдин Р.Д.</span>".</p>

    {% set vacancies = include('company/employment/vacancies.json.twig') | json_decode %}

    {% for section in vacancies %}
        <h3>{{ section.title }}</h3>
        <ul>
        {% for vacancy in section.vacancies %}
            <li>
                <a href="{{ path('company:employment:vacancy', {'vacancy': vacancy.name}) }}">{{ vacancy.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}

{% block sidebar %}
    {{ include('company/_sidebar.html.twig') }}
{% endblock %}

{% block back_to_top %}{% endblock %}