{% extends 'main.html.twig' %}

{% block title %}
    {{ block('vacancy_title') }} | Работа в компании
{% endblock %}

{% block heading %}
    Работа в компании
{% endblock %}

{% block lead %}
    <p>Компания "Аладдин Р.Д." является лидером в области разработки и поставок решений для информационной безопасности.
        Наш коллектив объединяет энергичных, творческих и преданных своему делу людей, стремящихся реализовывать
        масштабные проекты, а также расширять опыт в области современных технологий информационной безопасности.</p>
{% endblock %}

{% block content %}

    {% set vacancy = app.request.get('vacancy') %}

    <h2>{% block vacancy_title %}{% endblock %}</h2>

    {% block vacancy %}{% endblock %}

    <h3>Мы предлагаем:</h3>
    <ul>
        <li>стабильную работу в компании &mdash; ведущем российском разработчике продуктов и решений для обеспечения
            информационной безопасности;</li>
        <li>интересные задачи, которые позволят развиваться в коллективе настоящих профессионалов;</li>
        <li>достойную заработную плату, а также возможности профессионального и карьерного роста;</li>
        <li>оформление в соответствии с ТК РФ;</li>
        <li>ДМС после испытательного срока;</li>
        <li>корпоративные мероприятия;</li>
        <li>современный благоустроенный офис (7 минут пешком от метро Ботанический сад);</li>
        <li>график работы 5/2 с 9.00 до 18.00 или с 10.00 до 19.00 (по договорённости).</li>
    </ul>

    <br class="my-4" />

    <div class="d-flex align-items-center justify-content-between">
        <a href="{{ path('company:employment') }}" class="btn btn-outline-primary">Все вакансии</a>
        <a href="{{ path('company:employment:respond', {'vacancy': vacancy}) }}" class="btn btn-primary">
            Отправить резюме
        </a>
    </div>

{% endblock %}

{% block sidebar %}
    {{ include('company/_sidebar.html.twig') }}
{% endblock %}

{% block back_to_top %}{% endblock %}