<div class="row align-items-center">
    <div class="col-6 order-1">
        <h2 class="mt-0">Поддерживает популярные операционные системы</h2>
        <div class="large">
            <p>Приложение JC-WebClient работает на всех популярных платформах: Microsoft Windows, Apple macOS и
                Linux.</p>
            <p>Кроссплатформенность максимально расширяет аудиторию пользователей Web-приложений, так как им не
                нужно иметь определённую операционную систему — достаточно приобрести USB-токены или смарт-карты JaCarta,
                скачать дистрибутив приложения JC-WebClient и осуществить установку.</p>
        </div>
    </div>
    <div class="col-6 order-0 text-center">
        <img src="{{ asset('images/catalog/jc-webclient/cross-platform.png') }}" class="img-fluid" alt="JC-WebClient работает на всех популярных платформах" />
    </div>
</div>