<div class="row align-items-center">
    <div class="col-6 order-1">
        <h2 class="mt-0">Легко интегрируется в Web-приложения</h2>
        <div class="large">
            <p>JC-WebClient легко встраивается в Web-приложение, так как предоставляет простой интерфейс прикладного
                программирования (API), понятный даже начинающим Web-разработчикам, и исчерпывающие примеры
                интеграции.</p>
            <p>Единая технология работы с токенами, лежащая в основе JC-WebClient, избавляет разработчиков от
                проблем с совместимостью в различных браузерах. При этом JC-WebClient не накладывает ограничений на
                тип Web-сервера и язык разработки Web-приложений.</p>
        </div>
        <a href="{{ path('catalog:product:page', {'product': 'jc-webclient', 'page': 'details/easy-integration'}) }}" class="btn btn-outline-primary" data-target="#easy-integration-detailed" data-remote="true" data-destroy="true">
            <span class="d-flex">Узнать больше ...</span>
            <span class="d-none">
                <ion-icon name="hourglass" size="medium" class="d-block rotating mr-2"></ion-icon>
                Идёт загрузка ...
            </span>
        </a>
    </div>
    <div class="col-6 order-0 text-center">
        <img src="{{ asset('images/catalog/jc-webclient/easy-integration.png') }}" class="img-fluid" alt="JC-WebClient легко встраивается в Web-приложения" />
    </div>
</div>

<div id="easy-integration-detailed"></div>