<div class="row align-items-center text-center">
    <div class="col col-sm-10 offset-sm-10 col-lg-8 offset-lg-2">
        <h2 class="mt-0">Приложение бесплатно для конечных пользователей</h2>
        <div class="large">
            Для возможности работы с токеном пользователям Web-приложения или облачного сервиса достаточно
            установить на ПК бесплатное приложение JC-WebClient и подключить токен. При входе в личный кабинет
            портал проверит, установлено ли приложение на ПК пользователя. Если оно не установлено, портал предложит
            скачать установочный дистрибутив и запустить процесс установки. При этом пользователю не нужно покупать
            и устанавливать дополнительные программные СКЗИ.
        </div>
    </div>
</div>