<div class="row align-items-center">
    <div class="col-6 order-0">
        <h2 class="mt-0">Проверьте, как это работает</h2>
        <p class="large">
            Для демонстрации работы JC-WebClient доступен демо-портал, представляющий собой упрощённый вариант
            личного кабинета системы дистанционного банковского обслуживания. Обеспечена поддержка токенов
            <span class="text-nowrap">JaCarta ГОСТ</span> и
            <span class="text-nowrap">Trust Screen-устройства</span> "Антифрод-терминал".
        </p>
        <a href="https://demo.aladdin-rd.ru" class="btn btn-outline-primary" target="_blank">Перейти на демо-портал</a>
    </div>
    <div class="col-6 order-1 text-center">
        <img src="{{ asset('images/catalog/jc-webclient/how-it-works.png') }}" class="img-fluid" alt="Для демонстрации работы JC-WebClient доступен демо-портал" />
    </div>
</div>