<h2 class="text-center">Нам доверяют</h2>
<div class="text-center">
    <img src="{{ asset('images/catalog/jc-webclient/top-clients.jpg') }}" class="img-fluid" alt="У кого работает JC-WebClient" />
</div>