<div class="text-center">
    <img src="{{ asset('images/catalog/jc-webclient/JC-WebClient_Architecture.jpg') }}" class="img-fluid w-50" alt="Состав решения JC-WebClient" />
</div>
<div class="row">
    <div class="col-6">
        <h3>Приложение JC-WebClient</h3>
        <p>Реализует технологию локального Web-сервера.</p>
        <ul>
            <li>Обеспечивает взаимодействие между Web-страницей и токеном по протоколу HTTPS.</li>
            <li>Предоставляет Web-страницам JavaScript API для доступа к функциям токена через клиентский скрипт JCWebClient.js, который загружается на Web-страницу от локального Web-сервера.</li>
            <li>Работает в фоновом режиме, не предоставляя никаких элементов управления пользователю.</li>
        </ul>
    </div>
    <div class="col-6">
        <h3>Токен</h3>
        <ul>
            <li>JaCarta-2 ГОСТ — средства ЭП нового поколения с аппаратной поддержкой новых российских криптографических алгоритмов ГОСТ Р 34.10-2012 и ГОСТ Р 34.11-2012.</li>
            <li>JaCarta ГОСТ и eToken ГОСТ — персональные средства строгой двухфакторной аутентификации и усиленной квалифицированной ЭП с неизвлекаемым закрытым ключом, в которых реализованы российские криптоалгоритмы ГОСТ Р 34.10-2001 и ГОСТ Р 34.11-1994.</li>
            <li>JaCarta PRO и eToken PRO (Java) — персональное средство строгой двухфакторной аутентификации и усиленной ЭП с неизвлекаемым закрытым ключом, в котором реализованы зарубежные криптоалгоритмы (3DES, AES-128, SHA-1, RSA 1024).</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h3>Сервис мониторинга</h3>
        <p>Запускает приложение JC-WebClient при загрузке операционной системы.</p>
        <ul>
            <li>Контролирует целостность приложения и перезапускает его при возникновении нештатных ситуаций в операционной системе.</li>
            <li>Обеспечивает надёжность и отказоустойчивость решения.</li>
        </ul>
    </div>
    <div class="col-6">
        <h3>Опция "Антифрод-терминал"</h3>
        <p>Trust Screen-устройство для безопасной аутентификации, работы с ЭП и подтверждения операций/транзакций в недоверенной среде.</p>
        <ul>
            <li>Надёжно защищает от атак со стороны вредоносного ПО и злоумышленников, получивших удалённое управление ПК пользователя, направленных на выполнение несанкционированных операций от лица пользователя.</li>
            <li>При интеграции со средствами ЭП обеспечивает визуализацию и подтверждение ключевых данных подписываемых документов.</li>
        </ul>
    </div>
</div>