<h3>Версия 4.0</h3>
<ul>
    <li>Новая версия API v2.</li>
    <li>Создание и проверка ЭП по ГОСТ Р 34.10-2012 с быстрым программным хэшированием по ГОСТ Р 34.11-2012.</li>
    <li>Быстрое программное зашифрование/расшифрование сообщений и документов по ГОСТ 28147-89 в формате CMS согласно Рекомендациям Технического комитета 026.</li>
    <li>Поддержка хранилища доверенных объектов JaCarta-2 ГОСТ, в которое администратор безопасности JaCarta-2 ГОСТ записывает доверенные открытые ключи. Указанные ключи выступают в роли открытых ключей доверенных Удостоверяющих центров и предназначены для построения цепочек доверия при операциях проверки ЭП и зашифрования/расшифрования документов. Функция проверки ЭП работает только после проверки всей цепочки сертификатов от сертификата подписанта до доверенного открытого ключа. Функции зашифрования/расшифрования также работают только при условии проверки всей цепочки сертификатов от сертификата получателя/отправителя сообщения до доверенного открытого ключа. Срок жизни доверенных открытых ключей — 15 лет.</li>
    <li>Автоматическое построение защищённого канала между приложением JC-WebClient и USB-токеном или смарт-картой JaCarta-2 ГОСТ. Все PIN- и PUK-коды передаются в устройство только по защищённому каналу, что защищает их от перехвата при передаче между приложением JC-WebClient и USB-токеном/смарт-картой.</li>
    <li>Возможность установить эксклюзивный сеанс работы между приложением JC-WebClient и токеном JaCarta-2 ГОСТ, при котором устройство отвергает все попытки сторонних приложений получить доступ к его функциям. Это защищает от попыток вредоносных приложений использовать состояние "залогиненности" JaCarta-2 ГОСТ для подписи поддельных документов.</li>
    <li>Поддержка возможности установить второй (дополнительный) PIN-код для операций формирования ЭП при использовании JaCarta-2 ГОСТ. Необходимость ввода дополнительного PIN-кода устанавливается при создании ключевой пары. Таким образом, устройство может быть сконфигурировано так, что при входе в систему для строгой двухфакторной аутентификации пользователь должен ввести один PIN-код, а при проведении финансовых транзакций или при подписании электронных документов — другой PIN-код, разрешающий формирование ЭП. Это защищает от попыток вредоносных скриптов из браузера использовать состояние "залогиненности" JaCarta-2 ГОСТ для подписи поддельных документов.</li>
    <li>Возможность разблокировки PIN-кода пользователя по PUK-коду, позволяющая разблокировать устройство без обращений к администратору (для JaCarta-2 ГОСТ).</li>
    <li>Встроенное Web-приложение для загрузки, удаления, просмотра сертификатов УЦ в хранилище на токене. Сертификаты УЦ, загруженные на токен, используются JC-WebClient для построения цепочек доверия при операциях проверки подписи и зашифрования/расшифрования документов. Это позволяет отказаться от использования системных хранилищ сертификатов Microsoft Windows, Apple macOS и Linux, что обеспечивает работу с Web-приложением с разных компьютеров без необходимости делать настройки системных хранилищ на каждом из ПК. Всё необходимое уже есть на токене.</li>
    <li>Получение подробной информации об устройстве (USB-токене, смарт-карте) — наименование, модель, серийный номер, форм-фактор, тип ридера.</li>
</ul>
<h3>Версия 3.4</h3>
<ul>
    <li>Обеспечена поддержка macOS 10.12.</li>
    <li>Реализована поддержка токенов JaCarta PRO и eToken PRO (Java) на платформах Microsoft Windows, Apple macOS и Linux без использования SafeNet Authentication Client (SAC) и eToken PKI Client.</li>
    <li>Реализовано получение данных о клиентском ПК для платформ Microsoft Windows, Apple macOS и Linux.</li>
    <li>Обеспечена поддержка новой версии Google Chrome 58.</li>
    <li>Обеспечена поддержка КриптоПро на сервере примера demobank2, входящего в состав SDK.</li>
    <li>Реализована поддержка бескарточного режима работы "Антифрод-терминала" (с возможностью использовать любые типы средств ЭП, в том числе USB-токены и программные СКЗИ) в Microsoft Windows.</li>
    <li>Добавлены методы для поддержки расширенной функциональности "Антифрод-терминала".</li>
    <li>Добавлены методы для разбора сертификатов.</li>
    <li>Реализована поддержка работы JC-WebClient с Web-страницами, загружаемыми локально.</li>
    <li>Реализован переход на версию Единой библиотеки 2.1.</li>
</ul>