<h2>Решаемые задачи</h2>
<p>В рамках различных сценариев работы с УЦ ПО JaCarta АРМ УЦ может выполнять следующие операции:</p>
<ul><li>показ оператору УЦ списков пользователей, сертификатов, запросов на регистрацию, запросов на выпуск сертификатов и их отзыв;
    </li><li>создание на токенах JaCarta ГОСТ и eToken ГОСТ ключевых контейнеров;
    </li><li>формирование запроса на выпуск сертификата или его обновление;
    </li><li>отправка запроса, выпуск сертификата и получение готового сертификата от УЦ;
    </li><li>запись сертификата на токен.</li></ul>