<h2>Назначение</h2>
<p>JaCarta SF/ГОСТ — инновационный продукт, объединяющий в себе возможности безопасного хранения и транспортировки
    информации ограниченного доступа (ДСП, гостайна), а также работы с электронной подписью (ЭП).</p>
<p>В состав JaCarta SF/ГОСТ входят:</p>
<ul>
    <li>защищённый служебный носитель (USB-токен);</li>
    <li>утилита Пользователя;</li>
    <li>ПО Администратора;</li>
    <li>ПО Главного Администратора;</li>
    <li>сервер авторизации.</li>
</ul>
<p>JaCarta SF/ГОСТ сертифицирован по линии Минобороны России для работы с гостайной (С, СС).</p>

<h2>Решаемые задачи</h2>
<p>Основные задачи, которые позволяет решить JaCarta SF/ГОСТ.</p>
<ul>
    <li><b>Безопасное хранение и транспортировка информации ограниченного доступа</b> MicroSDHC-карте объёмом от 8 ГБ до 32
        ГБ, хранящейся на защищённом служебном носителе. Карта памяти может быть разделена на открытые и скрытые разделы.
        Открытые разделы доступны любому пользователю, скрытые &mdash; только на авторизованных
        компьютерах после введения PIN-кода и получения разрешения от Сервера аутентификации или
        Администратора безопасности (правило "двух рук").
        <ul>
            <li><em>На неавторизованном компьютере или неавторизованному пользователю получить доступ к информации,
                    сохранённой в защищённом разделе служебного носителя, невозможно.</em>
            </li>
        </ul>
    </li>
    <li><b>Аудит действий пользователя служебного носителя</b> и расследование инцидентов информационной безопасности
        (ИБ) с помощью защищённого Служебного журнала, в котором фиксируются операции со служебными носителями, в том
        числе факты подключения к неавторизованному компьютеру или попытки монтирования скрытых разделов.
    </li>
    <li><b>Защита от подмены USB</b>
        <ul>
            <li><em>Благодаря отсутствию защиты от перепрошивки в некоторых USB-устройствах, злоумышленник может
                    видоизменить или полностью заменить оригинальную прошивку и заставить устройство имитировать любое
                    другое устройство.</em>
            </li>
        </ul>
    </li>
    <li><b>Работа с усиленной или усиленной квалифицированной ЭП</b> и применение в качестве <b>полноценного СКЗИ</b> в
        различном прикладном программном обеспечении (ПО) для обеспечения юридической значимости и неотказуемости
        действий пользователей, а также целостности и конфиденциальности передаваемых данных.
        <ul>
            <li><em>Для обеспечения совместимости с существующими системами и плавного перехода на использование нового
                    российского стандарта ЭП служебные носители JaCarta SF/ГОСТ поддерживают как старые криптоалгоритмы
                    ГОСТ Р 34.11-94 и ГОСТ Р 34.10-2001, выводимые из использования с 2019 г., так и новые — ГОСТ Р
                    34.11 2012 и ГОСТ Р 34.10-2012.</em>
            </li>
        </ul>
    </li>
</ul>
<p>Главный эффект от применения JaCarta SF/ГОСТ — обеспечение защиты информации, хранящейся в закрытом разделе
    защищённого носителя информации, от внутреннего нарушителя и злоумышленников.</p>

<h2>Уникальность продукта</h2>

<p>Архитектура и аппаратный дизайн JaCarta SF/ГОСТ <b>разработаны в России отечественной компанией "Аладдин Р.Д."</b>. В
    процессе создания комплекса были тщательно подобраны доверенные электронные компоненты и создано специализированное
    ПО, что позволяет обеспечить надёжную защиту от внутреннего нарушителя:</p>
<ul>
    <li>заказной (ASIC) микроконтроллер на базе процессорного ядра ARM Cortex-M3;</li>
    <li>Secure Element на базе смарт-карточного чипа (сертифицированная российская криптография, неизвлекаемые ключи),
        подтверждённая неклонируемость и защита от взлома;
    </li>
    <li>загрузка и контроль прошивки встроенного контроллера;</li>
    <li>APDU-Firewall, работа только по "белым спискам" команд;</li>
    <li>электромагнитное излучение устройства — не более 1 м;</li>
    <li>собственная операционная система (ОС) реального времени микроконтроллера, позволяющая осуществлять:
        <ul>
            <li>доверенную загрузку для встроенной ОС микроконтроллера;</li>
            <li>безопасное обновление прошивки (подписана ЭП устройства);</li>
            <li>безопасный обмен с ПО на хосте (защита команд и данных).</li>
        </ul>
    </li>
</ul>

<h3>СКЗИ, сертифицированное по новым требованиям ФСБ России</h3>
<p>СКЗИ в составе JaCarta SF/ГОСТ <b>сертифицировано по новым требованиям ФСБ России и является функционально
        законченным и криптографически безопасным.</b></p>
<p>Это означает, что команды для встраивания криптографических функций в прикладное ПО описаны, проверены и включены в
    разрешённый <b>"белый" список</b> безопасных (сертифицированных) команд, не допускающих криптографически опасных
    последствий при неправильном встраивании и использовании.</p>
<p>Сертификат ФСБ России № СФ/124-3112 на СКЗИ и средство ЭП по классам защиты КС1, КС2 действует до 31 декабря 2018 г.,
    после чего будет продлён, но уже без указания выводимых из обращения старых криптографических алгоритмов ГОСТ Р
    34.11-94 и ГОСТ Р 34.10-2001.</p>

<h3>Хранение информации разного уровня доступа на одном устройстве</h3>
<p>JaCarta SF/ГОСТ позволяет разделить флеш-память защищённого служебного носителя на несколько разделов (от 1 до
    4-х):</p>
<ul>
    <li>открытый раздел, всегда доступный только для чтения (CD-R);</li>
    <li>открытый раздел, всегда доступный для чтения/записи (CD-RW);</li>
    <li>скрытый раздел, доступный для чтения (CD-R) только после аутентификации пользователя и авторизации
        доступа к данным;
    </li>
    <li>скрытый раздел, доступный для чтения/записи (CD-RW) только после аутентификации пользователя и авторизации
        доступа к данным.
    </li>
</ul>
<p>Данные в скрытых разделах хранятся и обрабатываются в зашифрованном виде. При этом работа с ними возможна только
    после успешной аутентификации пользователя (после предъявления PIN-кода) и авторизации доступа (подтверждения факта
    нахождения компьютера пользователя в доверенной среде от Сервера аутентификации или Администратора безопасности).
    Число и типы разделов флеш-памяти защищённых служебных носителей определяются Заказчиком при их вводе в
    эксплуатацию.</p>

<h3>Защита данных на скрытых разделах</h3>
<p>Защита данных в скрытых разделах флеш-памяти защищённых служебных носителей осуществляется в режиме, полностью
    прозрачном для пользователей и прикладного ПО, работающих с данными: при чтении данных из скрытого раздела они
    расшифровываются, при записи — зашифровываются.</p>
<p>Реализованы два алгоритма преобразования данных на скрытых разделах:</p>
<ul>
    <li>стандартный ГОСТ 28147-89 (скорость чтения/записи данных на скрытый раздел составляет 1 МБ/с);</li>
    <li>ГОСТ 28147-89 с уменьшенным число раундов до 8-ми (скорость чтения/записи данных на скрытый раздел составляет 3
        МБ/с).
    </li>
</ul>
<p>Выбор алгоритма осуществляется Заказчиком при вводе устройства в эксплуатацию.</p>
<p><em>Ключи шифрования данных на скрытых разделах не хранятся в памяти защищённого носителя, а формируются в результате
        успешного прохождения процедур аутентификации и авторизации доступа. В случае утери или кражи служебного
        носителя у нашедшего или укравшего его злоумышленника нет никакой возможности получить доступ к скрытым разделам
        и хранящимся там данным.</em></p>

<h3>Использование любых карт флеш-памяти стандарта MicroSDHC</h3>
<p>В защищённых служебных носителях, входящих в JaCarta SF/ГОСТ, могут применяться любые карты памяти объёмом от 8 ГБ до 32
    ГБ, соответствующие стандарту MicroSDHC. При этом обеспечивается скорость работы с флеш-памятью до 10 класса включительно, а
    также поддержка карт памяти, отвечающих классу скорости UHS-I.</p>
<p>Выбор желаемого объёма памяти осуществляет Заказчик. Возможно использование карт памяти, предоставленных Заказчиком
    (установка карт производится на этапе производства защищённых служебных носителей).</p>

<h3>Мониторинг состояния носителей и характера их использования</h3>
<p>В защищённых служебных носителях, входящих в JaCarta SF/ГОСТ , реализованы специальные счётчики для мониторинга
    состояния аппаратной составляющей устройства и характера его использования:</p>
<ul>
    <li>количество подключений носителя к USB-порту;</li>
    <li>общее время работы носителя (с точностью до минуты);</li>
    <li>количество удачных и неудачных подключений скрытых разделов носителя;</li>
    <li>количество попыток доступа к данным на скрытых разделах с рабочих станций, находящихся за пределами доверенного
        периметра;
    </li>
    <li>количество операций инициализации носителя (ввода носителя в эксплуатацию);</li>
    <li>количество отключений носителя от питания при незаконченных операциях ввода/вывода.</li>
</ul>
<p>Перечисленные счётчики позволяют успешно фиксировать как инциденты в области информационной безопасности, так и халатное
    отношение пользователя к сохранности данных. Кроме этого, счётчики позволяют оценивать техническое состояние
    служебного носителя, что даёт возможность заранее планировать их обновление у самых активных пользователей.</p>
<p>Обеспечена криптографическая защита указанных счётчиков от подмены или модификации, в том числе в случае их экспорта
    из устройства Администратором безопасности.</p>

<h3>Независимость подсистем СКЗИ и безопасного хранения данных</h3>
<p>В защищённых служебных носителях, входящих в JaCarta SF/ГОСТ, подсистемы СКЗИ и безопасного хранения данных вводятся
    в эксплуатацию, функционируют и управляются независимо друг от друга. Это позволяет вводить в эксплуатацию только
    необходимые заказчику функциональные подсистемы, ускоряя ввод служебных носителей в эксплуатацию и сокращая финансовые
    затраты.</p>

<h3>Расширенная ролевая модель при применении устройств</h3>
<p>При применении служебных носителей, входящих в JaCarta SF/ГОСТ, доступно 3 роли:</p>
<ul>
    <li><b>Гость</b> — любой человек, который использует носитель на авторизованном ПК, но без ввода PIN-кода. Ему
        доступны только открытые разделы.
    </li>
    <li><b>Пользователь</b> — человек, использующий носитель на авторизованном ПК и предъявивший свой PIN-код. Ему
        доступны как открытые, так и скрытые разделы, а также возможность работать с ЭП.
    </li>
    <li><b>Администратор безопасности</b> — технический специалист, который отвечает за ввод носителей в эксплуатацию,
        их начальное конфигурирование, мониторинг основных параметров в ходе эксплуатации носителей, восстановление
        доступа к данным на скрытых разделах в случае возникновения нештатной ситуации, вывод и повторный ввод носителя
        в эксплуатацию, а также их утилизацию. Администрирование подсистемы работы с флеш-памятью и подсистемы ЭП
        выполняются независимо друг от друга и могут быть поручены разным сотрудникам.
    </li>
</ul>

<h3>Дополнительный PIN-код на операцию формирования ЭП</h3>
<p>JaCarta SF/ГОСТ позволяет установить второй (дополнительный) PIN-код для операций формирования ЭП. В этом случае для
    входа в скрытые разделы флеш-памяти служебного носителя пользователь должен ввести один PIN-код, а при проведении
    финансовых транзакций или при подписании электронных документов — другой PIN-код, разрешающий формирование ЭП.</p>
<p>Необходимость ввода дополнительного PIN-кода устанавливается при создании ключевой пары.</p>

<h3>Быстрое формирование электронной подписи</h3>
<p>При формировании ЭП значение хэш-функции от подписываемого документа может вычисляться с использованием программной
    библиотеки (ИКБ), являющейся частью сертифицированного СКЗИ и работающей на стороне хоста (персонального компьютера,
    сервера, терминала), а затем передаваться для подписи в защищённый носитель по защищённому каналу.</p>
<p>Это означает, что время подписи, большая часть которого тратится на вычисление хэша для объёмных документов, теперь
    кардинально сокращается, поскольку хэш вычисляется не на микроконтроллере средства ЭП, а на более производительном
    процессоре хоста.</p>
<p>Благодаря использованию защищённого канала выполнение операций хэширования на хосте не приводит к снижению уровня
    безопасности.</p>

<h3>Работа с доверенными объектами</h3>
<p>Возможности защищённого носителя, входящего в JaCarta SF/ГОСТ, позволяют использовать <b>доверенные объекты</b> —
    ключи проверки ЭП. С их помощью проверяется подпись документов и сертификатов открытых ключей абонентов, с которыми
    ведётся обмен зашифрованными сообщениями. При этом ключи проверки ЭП могут использоваться только после проверки всей
    цепочки сертификатов, ведущей к открытому ключу, хранящемуся в доверенном объекте.</p>
<p>Срок жизни доверенных ключей — <b>15 лет</b>, закрытых ключей — <b>3 года</b>, что существенно сокращает стоимость
    владения устройствами JaCarta SF/ГОСТ по сравнению с программными СКЗИ со сроком действия ключей в 1 год.</p>

<h3>Безопасное администрирование</h3>
<p>Для инициализации служебных носителей при их вводе в эксплуатацию, разблокирования, изменения парольной политики,
    установки, смены PIN- и PUK-кодов, работы с доверенными объектами, вывода из эксплуатации и переинициализации
    (например, при выдаче их другим пользователям) предназначен <b>АРМ Администратора безопасности</b>, который имеет сертификат соответствия ФСБ России № СФ/124-2964 (исполнение 13).</p>

<h3>Новые механизмы разблокирования устройств</h3>
<h4>Защита от атак на PIN-код</h4>
<p>Обычно если Администратор забывает, не устанавливает или случайно блокирует свой PIN-код, то сбросить
    забытый PIN-код Пользователя становилось невозможно и такое заблокированное устройство можно было выбрасывать. В
    JaCarta SF/ГОСТ PIN-код Администратора носителей заменён ключом Администратора безопасности — случайно или умышленно
    заблокировать его теперь нельзя.</p>
<p>Забытый PIN-код Пользователя администратор теперь всегда может сбросить с использованием сертифицированного АРМа
    Администратора безопасности. При этом все данные (объекты, файлы, PIN- и PUK-коды и др.) будут удалены, а служебный
    носитель можно будет вернуть в эксплуатацию.</p>
<p>Кроме того, в JaCarta SF/ГОСТ реализована защита от блокирования служебных носителей при подборе PIN- и PUK-кодов с
    задержкой по времени. Если пользователь (или кто-то другой, например, злоумышленник или вирус) неверно ввёл и PIN-,
    и PUK-коды заданное число раз, то по прошествии установленного промежутка времени он сможет самостоятельно
    восстановить доступ к своему носителю, просто введя правильное значение PIN-кода.</p>
<p>Эти механизмы кардинально решают проблему разблокирования носителей и атак на PIN-коды.</p>

<h4>Возможность удалённого разблокирования</h4>
<p>Если пользователь забыл PIN-код своего служебного носителя, то теперь он может позвонить или написать своему
    администратору и попросить его сгенерировать одноразовый код разблокирования устройства.</p>

<h4>Возможность самостоятельного разблокирования</h4>
<p>При инициализации устройства администратор может установить и сообщить пользователю специальный PUK-код, с помощью
    которого пользователь сможет самостоятельно (без обращения к администратору) разблокировать свой служебный
    носитель.</p>

<h3>Повышенный ресурс и живучесть</h3>
<ul>
    <li>Защищённые служебные носители в составе JaCarta SF/ГОСТ проектировались с учётом возможностей длительного
        интенсивного применения и имеют повышенный ресурс по количеству циклов записи в энергонезависимую память
        (EEPROM) и выполняемых операций ЭП. В частности, количество операций формирования ЭП составляет не менее <b>10
            млн</b>.
    </li>
    <li>В случае выхода из строя любого элемента защищённого служебного носителя кроме MicroSDHC-карты, доступ к данным
        на карте может быть восстановлен Администратором безопасности. Для уменьшения износа флеш-памяти осуществляется
        ротация данных. Срок хранения информации на MicroSDHC-карте — не менее 25 лет.
    </li>
    <li>Если защищённый служебный носитель вышел из строя, а сама MicroSDHC-карта сохранила работоспособность,
        для продолжения работы с информацией достаточно переставить карту в исправный носитель.
    </li>
    <li>В случае, если пользователь забыл свой PIN-код (случайно или злонамеренно), доступ к данным на скрытых разделах
        защищённого служебного носителя всегда может быть восстановлен Администратором безопасности.
    </li>
    <li>Пыле- и влагонепроницаемый корпус служебного носителя надёжно защищает его внутренние электронные компоненты и
        карту памяти от неблагоприятных воздействий.
    </li>
    <li>Защищённые от подмены счётчики позволяют администраторам отслеживать приближение момента исчерпания основных
        аппаратных ресурсов защищённых носителей, а также выявлять факты нарушения правил их эксплуатации со стороны
        пользователей и оперативно реагировать на эти события.
    </li>
    <li>Система управления качеством продукции ЗАО "Аладдин Р.Д." сертифицирована по требованиям российского и
        международного стандарта менеджмента качества ГОСТ Р ИСО 9001 2011 (ISO 9001:2011), а производства — в
        соответствии с требованиями российского военного стандарта ГОСТ РВ 15.002-2012, необходимого для участия в
        реализации гособоронзаказа.
    </li>
</ul>

<h3>Особенности поставки</h3>
<ul>
    <li>Возможный объём карты памяти – 8 ГБ, 16 ГБ или 32 ГБ</li>
    <li>Проведение спецпроверок и специсследований (СП и СИ), после их завершения — поставка служебных носителей в
        пенале со специальным креплением;
    </li>
    <li>Наличие сертификатов:
        <ul>
            <li>сертификат Минобороны России для работы с гостайной с грифами С/СС</li>
            <li>сертификат ФСБ России № СФ-124/3112 (КС1, КС2) на средство ЭП и СКЗИ
                <ul>
                    <li>идёт процесс сертификации устройства во ФСТЭК России на соответствие Профилю "Средства контроля
                        съёмных носителей, СКН тип-2" (для гостайны с грифом до СС)
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h3>Поддерживаемые ОС</h3>
<ul>
    <li>Microsoft Windows XP SP3, 7 SP1, 8, 8.1</li>
    <li>Astra Linux 1.2 - 1.5 (Linux LSB)</li>
    <li>МС ВС 3.0, 5.0</li>
</ul>