<h2 class="text-center mb-5 mt-0">Поддержка новых ГОСТов 2012 года</h2>

<div class="row">
    <div class="col-6 order-1">
        <p>ПК "Единый Клиент JaCarta" поддерживает новое поколение USB-токенов и смарт-карт <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}" class="text-nowrap">JaCarta-2 ГОСТ</a>, в которых аппаратно реализованы как старые криптографические алгоритмы <span class="text-nowrap">ГОСТ Р 34.11-94</span> и <span class="text-nowrap">ГОСТ Р 34.10-2001</span>, так и новые алгоритмы <span class="text-nowrap">ГОСТ Р 34.10-2012</span> и <span class="text-nowrap">ГОСТ Р 34.11-2012</span>.</p>
        <p>Применение <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}" class="text-nowrap">JaCarta-2 ГОСТ</a> позволяет обеспечить совместимость с существующими прикладными системами и сервисами, использующими старые стандарты электронной подписи (ЭП), и плавно перейти на использование новых стандартов формирования ЭП.</p>
    </div>
    <div class="col-6 order-0 text-center">
        <img class="img-fluid" src="{{ asset('images/catalog/350x350/Group-Card_XL_Nano_Micro.png') }}" alt="USB-токены и смарт-карты JaCarta" style="margin-top:-50px;" />
    </div>
</div>

<div class="text-center">
    <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}" class="btn btn-outline-primary">Подробнее ...</a>
</div>