<h2 class="text-center mb-5 mt-0">Назначение ПК "Единый Клиент JaCarta"</h2>

<div class="row">
    <div class="col-6">
        <p>ПК "Единый Клиент JaCarta" объединяет в себе все необходимые инструменты для настройки и работы с устройствами (USB-токенами и смарт-картами) семейств <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">JaCarta</a> и eToken PRO (Java). С его помощью можно быстро и легко:</p>
        <ul>
            <li>установить или изменить PIN-коды пользователя и администратора;</li>
            <li>получить полную информацию об устройстве (название, модель, серийный номер, хэш-алгоритм подписи, объём свободной памяти и т.д.);</li>
            <li>разблокировать устройство;</li>
            <li>инициализировать (персонализировать) устройство с заданными настройками;</li>
            <li>просмотреть, импортировать или экспортировать хранимые в устройстве объекты (цифровые сертификаты, пароли, лицензии и т.д.);</li>
            <li>провести диагностику работы устройств.</li>
        </ul>
    </div>
    <div class="col-6">
        <p>Поддерживается работа с известными криптопровайдерами (CSP) без установки дополнительного программного обеспечения, например, с КриптоПро CSP, Signal-COM CSP, ViPNet CSP и др.</p>
        <p>ПК "Единый Клиент JaCarta" может работать в двух режимах.</p>
        <ul>
            <li>Режим пользователя позволяет просматривать краткие сведения о подсоединённых USB-токенах/смарт-картах и предоставляет доступ к базовым операциям с ними.</li>
            <li>Режим администрирования позволяет просматривать полные сведения о подсоединённых USB-токенах/смарт-картах и предоставляет доступ ко всем операциям с ними.</li>
        </ul>
    </div>
</div>
