<div class="d-flex justify-content-center mt-4">
    <div class="w-auto mb-5">
        {{ include('catalog/_certificates/fstek_3449.html.twig') }}
    </div>
</div>

{{ include('catalog/_certificates/international.html.twig') }}
{{ include('catalog/_certificates/other_jacarta-2.html.twig') }}