<table class="table">
    <tbody>
    <tr>
        <th class="border-top-0">Требования к процессору рабочего места</th>
        <td class="border-top-0">
            <div class="row">
                <div class="col-6">
                    <h4>Минимальные требования</h4>
                    <div>Intel Pentium IV</div>
                </div>
                <div class="col-6">
                    <h4>Рекомендованные требования</h4>
                    <div>Intel Core 2 Duo и выше</div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые операционные системы</th>
        <td>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-0">Microsoft Windows 10</li>
                        <li class="mb-0">Microsoft Windows 8.1</li>
                        <li class="mb-0">Microsoft Windows 8</li>
                        <li class="mb-0">Microsoft Windows 7 SP1</li>
                        <li class="mb-0">Microsoft Windows Vista SP2</li>
                        <li class="mb-0">Microsoft Windows XP SP3 (32-бит), SP2 (64-бит)</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-0">Microsoft Windows Server 2016</li>
                        <li class="mb-0">Microsoft Windows Server 2012 R2</li>
                        <li class="mb-0">Microsoft Windows Server 2012</li>
                        <li class="mb-0">Microsoft Windows Server 2008 R2 SP1</li>
                        <li class="mb-0">Microsoft Windows Server 2008 SP2</li>
                        <li class="mb-0">Microsoft Windows Server 2003 SP2</li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Необходимые аппаратные средства</th>
        <td>
            <p class="mb-1"><b>Для USB-токенов</b> — USB-порт.</p>
            <p class="mb-1"><b>Для смарт-карт</b> необходимо наличие подключённого <a href="{{ path('catalog:product', {'product': 'readers'}) }}" target="_blank">считывателя смарт-карт</a>.</p>
            <p class="mb-1"><b>Для электронных ключей в форм-факторе microSD</b> можно использовать следующее оборудование:</p>
            <ul>
                <li class="mb-0">разъём microSD;</li>
                <li class="mb-0">разъём SD через переходник microSD-to-SD;</li>
                <li class="mb-0">USB-порт через переходник microSD-to-USB.</li>
            </ul>
            <p class="mb-1"><b>Для USB-токенов в форм-факторе microUSB</b> можно использовать USB-порт через переходник microUSB-to-USB.</p>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые модели USB-токенов и смарт-карт</th>
        <td>
            <div class="row">
                <div class="col-6">
                    <p><b>USB-токены и смарт-карты JaCarta</b></p>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-0">JaCarta PKI</li>
                        <li class="mb-0">JaCarta PKI/BIO</li>
                        <li class="mb-0">JaCarta ГОСТ</li>
                        <li class="mb-0">JaCarta PKI/ГОСТ</li>
                        <li class="mb-0">JaCarta PKI/BIO/ГОСТ</li>
                        <li class="mb-0">JaCarta PRO</li>
                        <li class="mb-0">JaCarta PRO/ГОСТ</li>
                        <li class="mb-0">JaCarta PKI/Flash</li>
                        <li class="mb-0">JaCarta ГОСТ/Flash</li>
                        <li class="mb-0">JaCarta PKI/ГОСТ/Flash</li>
                        <li class="mb-0">JaCarta WebPass</li>
                        <li class="mb-0">JaCarta U2F</li>
                        <li class="mb-0">JaCarta U2F/WebPass</li>
                        <li class="mb-0">JaCarta LT</li>
                        <li class="mb-0">JaCarta CryptoPro</li>
                    </ul>
                </div>
                <div class="col-6">
                    <p><b>USB-токены и смарт-карты JaCarta-2</b></p>
                    <ul class="list-unstyled">
                        <li class="mb-0">JaCarta-2 ГОСТ</li>
                        <li class="mb-0">JaCarta-2 PKI/ГОСТ</li>
                        <li class="mb-0">JaCarta-2 PKI/BIO/ГОСТ</li>
                        <li class="mb-0">JaCarta-2 PRO/ГОСТ</li>
                    </ul>
                    <p><b>Устаревшие токены eToken</b></p>
                    <ul class="list-unstyled">
                        <li class="mb-0">eToken ГОСТ</li>
                        <li class="mb-0">eToken Anywhere</li>
                        <li class="mb-0">eToken PRO (Java)</li>
                        <li class="mb-0">eToken NG-Flash (Java)</li>
                        <li class="mb-0">eToken NG-OTP (Java)<sup>*</sup></li>
                        <li class="mb-0">eToken CryptoPro</li>
                    </ul>
                    <p><sup>*</sup> без поддержки функциональности OTP</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Требуемый объём дискового пространства</th>
        <td>
            Не менее 100 Мбайт
        </td>
    </tr>
    <tr>
        <th>Дополнительное ПО</th>
        <td>
            Для использования электронных ключей JaCarta CryptoPro и eToken CryptoPro необходимо, чтобы на компьютере было установлено Программное обеспечения для работы с СКЗИ КриптоПро ФКН CSP.
        </td>
    </tr>
    <tr>
        <th>Состав программного комплекса</th>
        <td>
            <ul>
                <li class="mb-0">Единый Клиент JaCarta</li>
                <li class="mb-0"><a href="{{ path('catalog:product', {'product': 'jacarta_securlogon'}) }}">JaCarta SecurLogon</a> (платное расширение функциональности Единого Клиента JaCarta)</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>