<h3>Версия 2.11</h3>
<ul>
    <li>поддержка устройств <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a> (включая комбинированные модели) — нового поколения USB-токенов и смарт-карт с аппаратной реализацией криптографических алгоритмов <span class="text-nowrap">ГОСТ Р 34.10-2012</span> и <span class="text-nowrap">ГОСТ Р 34.11-2012</span> для работы с усиленной квалифицированной электронной подписью и строгой двухфакторной аутентификации;</li>
    <li>поддержка USB-токенов и смарт-карт <a href="{{ path('catalog:product', {'product': 'jacarta-pro'}) }}">JaCarta PRO</a> — сертифицированных устройств для строгой двухфакторной аутентификации на основе зарубежных криптоалгоритмов и совместимых с инфраструктурой для eToken PRO (Java);</li>
    <li>поддержка USB-токенов и смарт-карт eToken PRO (Java) 72К (в том числе eToken Anywhere) без необходимости установки дополнительного программного обеспечения (ПО);</li>
    <li>в состав дистрибутива добавлено <a href="{{ path('catalog:product', {'product': 'jacarta-arm'}) }}">ПО JaCarta АРМ УЦ</a>, позволяющее формировать запросы к Удостоверяющему центру на получение сертификата открытого ключа и записывать полученные сертификаты в память USB-токенов и смарт-карт JaCarta ГОСТ или eToken ГОСТ. При этом закрытые ключи пользователей генерируются в устройствах и никогда их не покидают.</li>
</ul>