<div class="row">
    <div class="col-6">
        <h2>Решаемые задачи</h2>
        <ul>
            <li class="mb-4">Усиление парольной аутентификации пользователей при доступе к информационным ресурсам за счёт перехода от
                запоминаемых к одноразовым паролям. Использование одноразовых паролей решает такие проблемы компрометации
                паролей, как перехват данных, вводимых пользователем с клавиатуры, кража запоминаемых паролей, "подглядывание
                из-за спины" и пр.
            </li>
            <li class="mb-4">Усиление парольной аутентификации пользователей при доступе к информационным ресурсам за счёт перехода к
                двухфакторной аутентификации с использованием токена. Генерируемый токеном одноразовый пароль может
                использоваться совместно с запоминаемым паролем.
            </li>
            <li class="mb-4">Избавление пользователей от необходимости запоминать сложные пароли. Пароли генерируются и хранятся в токене.
            </li>
            <li class="mb-4">Избавление пользователей от возможных ошибок, возникающих при ручном вводе паролей и адресов Web-ресурсов.
                Пароли автоматически подставляются в формы ввода при нажатии на кнопку. Запуск Web-браузера и переход по
                сохранённому адресу также осуществляются при нажатии на кнопку.
            </li>
        </ul>
    </div>
    <div class="col-6">
        <h2>Функциональные возможности</h2>
        <ul>
            <li class="mb-4">Генерация до трёх независимых одноразовых паролей (по однократному, двойному или длительному нажатию на
                кнопку).
            </li>
            <li class="mb-4">Поддержка четырёх различных алгоритмов генерации одноразовых паролей (алгоритмы генерации OTP по событию,
                согласно RFC 4226).
            </li>
            <li class="mb-4">Генерация и защищённое хранение до трёх многоразовых паролей необходимого уровня сложности (по однократному,
                двойному или длительному нажатию на кнопку).
            </li>
            <li class="mb-4">Защищённое хранение до трёх адресов Web-ресурсов, запуск Web-браузера и переход по сохранённому адресу по
                нажатию кнопки (по однократному, двойному или длительному нажатию на кнопку).
            </li>
            <li class="mb-4">Генерация паролей и хранение адресов Web-ресурсов выполняется в защищённой микросхеме смарт-карты на борту
                токена.
            </li>
        </ul>
    </div>
</div>