<h2>Ключевые особенности</h2>
<div class="row">
    <div class="col-6">
        <ul>
            <li>Механическая кнопка для генерации паролей, запуска Web-браузера и подтверждения присутствия человека за ПК.</li>
            <li>Автоматическая подстановка паролей в поля экранных форм по нажатию кнопки.</li>
            <li>Двухчиповая конструкция:
                <ul class="list-condensed">
                    <li>микроконтроллер, отвечающий за коммуникации с ПК, взаимодействие с пользователем и выполняющий роль
                        межсетевого экрана для команд APDU;
                    </li>
                    <li>смарт-карта, реализующая функции безопасности (генерация одноразовых паролей, генерация и хранение
                        многоразового пароля).
                    </li>
                </ul>
            </li>
            <li>Поддержка интерфейсов HID, CCID с возможностью одновременного использования обоих интерфейсов и переключения
                между ними в процессе работы.
            </li>
            <li>Токен можно использовать на любых устройствах, оснащённых USB-портом Type A Female и допускающих использование
                USB-клавиатур.
            </li>
            <li>Отсутствие внутренних элементов питания – питание осуществляется от порта USB.</li>
        </ul>
    </div>
    <div class="col-6">
        <ul>
            <li>Поддержка любых ОС Microsoft Windows, Linux, Mac OS X, Google Android, Apple iOS (через Camera Connection
                Kit).
            </li>
            <li>Для использования токена не требуется установки дополнительных драйверов и программного обеспечения (ввод
                одноразовых паролей происходит по HID-интерфейсу).
            </li>
            <li>Поддержка токена в системах централизованного управления и учёта – JaCarta
                    Management System (JMS), SafeNet Authentication Manager
                    (SAM), Token Management System (TMS).
            </li>
            <li>Cерверное ПО для проверки OTP: JaCarta Authentication Service (JAS),
                SafeNet Authentication Manager (SAM), SafeNet Authentication
                Manager Express, SafeNet Authentication Engine, LinOTP, FreeRADIUS и пр.
            </li>
            <li>Один токен может быть использован для доступа к нескольким различным ресурсам ("один ко многим").</li>
        </ul>
    </div>
</div>
