<h2>Особенности работы с различными операционными системами</h2>
<h3>Google Android</h3>
<p>USB-токен JaCarta WebPass представляется операционной системе как физическая клавиатура, поэтому возможна ситуация, в которой после присоединения к мобильному устройству токена JaCarta WebPass отключится возможность ввода с экранной сенсорной клавиатуры. </p>
<p>Чтобы снова включить возможность использования экранной клавиатуры, необходимо выполнить представленную ниже процедуру. Эти действия необходимо выполнить только один раз – при дальнейших подключениях JaCarta WebPass к мобильному устройству возможность использования экранной клавиатуры будет сохраняться. </p>
<div class="alert alert-info">
    <div>Процедура представлена на примере операционной системы Google Android версии 4.2.2. В других версиях Google Android процедура может незначительно отличаться.
    </div>
</div>

<div class="row">
    <div class="col-4">
        На своём мобильном устройстве перейдите в раздел <b>Настройки > Язык и ввод.</b><br><br>
        <img src="{{ asset('images/catalog/jacarta_webpass/JaCarta_WebPass_Android_01.png') }}" class="img-fluid"/>
    </div>
    <div class="col-4">
        Выберите настройку <b>Клавиатуры и методы ввода.</b><br><br>
        <img src="{{ asset('images/catalog/jacarta_webpass/JaCarta_WebPass_Android_02.png') }}" class="img-fluid"/>
    </div>
    <div class="col-4">
        Включите возможность использования экранной клавиатуры. <br><br>
        <img src="{{ asset('images/catalog/jacarta_webpass/JaCarta_WebPass_Android_03.png') }}" class="img-fluid"/>
    </div>
</div>

<h3>Mac OS X</h3>
<p>Т.к. JaCarta WebPass представляется системе как физическая клавиатура, при подсоединении этого токена к компьютеру может возникнуть окно <b>Ассистент настройки клавиатуры</b> с сообщением, что подсоединённая клавиатура не может быть идентифицирована. </p>
<p>В этом случае просто закройте отобразившееся окно. Это действие необходимо выполнить только один раз – в дальнейшем при подключении JaCarta WebPass это окно отображаться не будет. </p>
<h3>Microsoft Windows</h3>
<p>При первом подключении токена JaCarta WebPass к компьютеру будет выполнен поиск драйвера, необходимого для работы с токеном. Это действие будет произведено один раз и при последующих подключениях JaCarta WebPass к компьютеру повторяться не будет. </p>
<h2>Световая индикация состояний JaCarta WebPass </h2>
<p>JaCarta WebPass оснащён световым (светодиодным) индикатором состояния, который активируется при подсоединении токена к компьютеру или мобильному устройству:</p>
<ul><li>светодиод горит непрерывно – подсоединённый токен в данный момент находится в режиме ожидания и готов к работе;
    </li><li>светодиод мигает часто – на подсоединённом токене в данный момент выполняется операция (например, создаётся сложный постоянный пароль);
    </li><li>светодиод мигает медленно – при работе токена обнаружена ошибка. </li></ul>
<h2>Автоматическая подстановка паролей</h2>
<p>Ниже представлена процедура подстановки постоянного пароля на примере входа в учётную запись "Яндекс.Почта".</p>
<ol>
    <li>Подключите токен  JaCarta WebPass к компьютеру или мобильному устройству. Если вы используете мобильное устройство под управлением операционной системы Apple iOS, отобразится окно подтверждения – нажмите OK, чтобы закрыть его.</li>
    <li>Дождитесь, пока световой индикатор на электронном ключе станет гореть непрерывно. </li>
    <li>Откройте страницу (или окно) нужного вам защищённого ресурса и вызовите форму входа. <br><br>
        <img src="{{ asset('images/catalog/jacarta_webpass/JaCarta_WebPass_Yandex_Mail.png') }}" alt="Настройка JaCarta WebPass в Яндекс.Почте" class="img-fluid"></li>
    <li>В соответствующее поле введите своё имя пользователя (в настоящем примере имя пользователя следует вводить в поле <b>Логин</b>). </li>
    <li>Переместите курсор в поле ввода пароля (в настоящем примере – поле <b>Пароль</b>). </li>
    <li>В зависимости от того, в какой слот электронного ключа был записан пароль, выполните следующие действия.
        Убедитесь в том, что включена английская раскладка клавиатуры. В противном случае пароль будет введён с использованием символов русского алфавита.<br>
        <table class="table">
            <thead>
            <tr>
                <th>Используемый слот</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Слот 1</th>
                <td>Один раз нажмите на кнопку на корпусе токена JaCarta WebPass</td>
            </tr>
            <tr>
                <th>Слот 2</th>
                <td>Выполните двойное нажатие на кнопку на корпусе токена JaCarta WebPass (аналогично двойному щелчку мыши)</td>
            </tr>
            <tr>
                <th>Слот 3</th>
                <td>Выполните длительное нажатие на кнопку на корпусе токена JaCarta WebPass</td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>Пароль отобразится в поле, в котором был установлен курсор.</li>
    <li>Подтвердите вход в систему (в настоящем примере: щёлкнув на кнопке <b>Вход</b> под формой ввода имени пользователя и пароля). </li>
</ol>

<h2>Переход на Web-страницу защищённого ресурса</h2>
<p>Чтобы открыть страницу защищённого ресурса, URL-адрес которого хранится в памяти электронного ключа JaCarta WebPass, выполните следующие действия.</p>
<ol>
    <li>Подключите токен JaCarta WebPass к компьютеру или мобильному устройству. Если вы используете мобильное устройство под управлением операционной системы Apple iOS, отобразится окно подтверждения – нажмите <b>OK</b>, чтобы закрыть его.</li>
    <li>Дождитесь, пока световой индикатор на электронном ключе станет гореть непрерывно. </li>
    <li>В зависимости от того, в какой слот электронного ключа был записан необходимый URL-адрес, выполните следующие действия.<br>
        <table class="table">
            <thead>
            <tr>
                <th>Используемый слот</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Слот 1</th>
                <td>Один раз нажмите на кнопку на корпусе токена JaCarta WebPass</td>
            </tr>
            <tr>
                <th>Слот 2</th>
                <td>Выполните двойное нажатие на кнопку на корпусе токена JaCarta WebPass (аналогично двойному щелчку мыши)</td>
            </tr>
            <tr>
                <th>Слот 3</th>
                <td>Выполните длительное нажатие на кнопку на корпусе токена JaCarta WebPass</td>
            </tr>
            </tbody>
        </table>
    </li>
</ol>
<p>На экране отобразится окно браузера по умолчанию (если был запущен, появится новое окно или вкладка) – переход на страницу, URL-адрес которой сохранён в памяти JaCarta WebPass, будет осуществлён автоматически.</p>

