<h3>Слоты JaCarta WebPass</h3>

<p>В JaCarta WebPass для хранения информации используются три независимых слота. В зависимости от номера слота в нём
    может храниться:</p>
<ul>
    <li>одноразовый пароль, генерируемый пользователем по заданному при инициализации алгоритму;</li>
    <li>многоразовый пароль, который генерируется в соответствии с критериями качества, заданными при инициализации;</li>
    <li>URL-адрес защищённого ресурса. </li>
</ul>

<p>Количество активных слотов и конфигурация каждого из них задаётся при настройке параметров токена JaCarta WebPass. Список возможных конфигураций для каждого слота (1,2,3) представлен в таблице ниже.</p>

<div class="bg-light p-4">
    <p><b>Возможная конфигурация слота</b></p>
    <ul>
        <li>Одноразовый пароль (OTP) с синхронизацией по событию в соответствии со стандартом RFC 4226. В зависимости от настроек, заданных во время инициализации JaCarta WebPass, одноразовые пароли (OTP) могут формироваться с использованием следующих алгоритмов хеширования<sup>*</sup>:
            <ul>
                <li>HMAC-SHA1 (вектор инициализации – 160 бит) длина одноразового пароля – 6 символов;</li>
                <li>HMAC-SHA256 (вектор инициализации  – 256 бит) длина одноразового пароля – 6 символов;</li>
                <li>HMAC-SHA256 (вектор инициализации  – 256 бит) длина одноразового пароля – 7 символов;</li>
                <li>HMAC-SHA256 (вектор инициализации  – 256 бит) длина одноразового пароля – 8 символов.</li>
            </ul>
        </li>
        <li>URL-адрес защищённого ресурса, предназначенный для подстановки в адресную строку браузера.</li>
        <li>Постоянный пароль, предназначенный для доступа к защищённым ресурсам:
            <ul><li>настройки качества постоянного пароля задаются на этапе инициализации слота.</li></ul>
        </li>
    </ul>
    <p class="text_small">
        <sup>*</sup> На этапе инициализации существует возможность задать дополнительное постоянное значение, которое будет автоматически подставляться перед значением одноразового пароля. Таким образом, итоговое значение подставляемого пароля будет содержать больше символов, чем значение собственно одноразового пароля.
    </p>
</div>

<h3>Конфигурирование и инициализация JaCarta WebPass</h3>
<p>Конфигурирование и инициализация токена JaCarta WebPass осуществляется средствами программного обеспечения <a href="{{ path('catalog:product', {'product': 'jacarta_unifiedclient'}) }}">Единый Клиент JaCarta</a>.</p>

<h3>Системные требования для использования JaCarta WebPass</h3>

<table class="table">
    <colgroup>
        <col width="30%">
        <col>
    </colgroup>
    <tbody>
    <tr>
        <td><b>Требования для подсоединения к стационарному компьютеру</b></td>
        <td>
            <ul><li>Операционные системы семейства Microsoft Windows, Linux и/или Mac OS X
                </li><li>USB-порт стандарта 1.1 и выше</li></ul>
        </td>
    </tr>
    <tr>
        <td><b>Требования для работы с устройствами под управления операционной системы Google Android</b></td>
        <td>
            <ul><li>Версия операционной системы – Google Android 4.x и выше
                </li><li>Функция USB OTG и соответствующий переходник</li></ul>
        </td>
    </tr>
    <tr>
        <td><b>Требования для работы с устройствами под управлением операционной системой Apple iOS</b></td>
        <td>Переходник Camera Connection Kit</td>
    </tr>
    <tr>
        <td><b>Программное обеспечение для инициализации и настройки параметров работы JaCarta WebPass</b></td>
        <td>Единый Клиент JaCarta (версия 2.9 и выше)</td>
    </tr>
    <tr>
        <td><b>Системы управления жизненным циклом электронных ключей</b></td>
        <td>
            <ul><li>JaCarta Management System + JaCarta Authentication Service
                </li><li>SafeNet Authentication Manager</li></ul>
        </td>
    </tr>
    </tbody>
</table>