{% extends 'main.html.twig' %}

{% block title %}Центр загрузки{% endblock %}

{% block content %}

    <h2>Идентификаторы iButton</h2>
    <div class="section mb-5">
        <h3 class="section__title">Драйверы для Microsoft Windows</h3>
        <div class="section__files">
            {{ include('support/downloads/_section.html.twig', {'section': 'drajvery-10'}) }}
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}

{% block back_to_top %}{% endblock %}