    <div class="row content-block__container align-items-center">
        <div class="col-6">
            <h2 class="text-left">Экономим ваши деньги. Недорого</h2>
            <div class="large">
                <p>Лицензирование JMS максимально прозрачно, а цены фиксированы в рублях и не зависят от колебаний курсов на валютном рынке. В базовую поставку JMS уже включены все необходимые функции для полноценной автоматизации учёта и управления токенами. Дополнительные возможности лицензируются отдельно, что позволяет оптимизировать затраты и спланировать постепенное развитие системы.</p>
                <p>При покупке предоставляется год технической поддержки.</p>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/jms/b11.png') }}" class="img-fluid">
        </div>
    </div>
    <div class="row hidden_xs">
        <div class="col-12 collapse" id="collapse-block-11" data-remote="{{ path('catalog:product:page', {'product': 'jms', 'page': 'money-saver'}) }}"></div>

        <a href="{{ path('catalog:product:page', {'product': 'jms', 'page': 'money-saver'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-11">
            <span class="collapse-toggle__label">Узнать немного об экономии</span>
            <span class="collapse-toggle__btn"></span>
        </a>
    </div>