<div class="row">
    <div class="col-4">
        <h3>Учёт всех действий в системе</h3>
        <p>JMS ведёт собственный служебный журнал, в котором фиксируются все события с токенами, сертификатами и закрытыми/открытыми ключами, а также все действия пользователей и администраторов. Ведение журнала облегчает диагностику неисправностей и разбор конфликтных ситуаций.</p>
    </div>
    <div class="col-4">
        <h3>Отправка уведомлений</h3>
        <p>В JMS реализована настраиваемая система уведомлений, которая помогает администраторам отслеживать важные для них события: подключение нового токена, окончание срока действия сертификатов на токене и т.д.</p>
    </div>
    <div class="col-4">
        <h3>Настраиваемые отчёты</h3>
        <p>В JMS реализована гибкая подсистема построения отчётов, позволяющая оперативно получить и вывести на печать всю необходимую информацию о токенах, пользователях, рабочих станциях и СКЗИ. Возможно построение отчётов как по отдельным подразделениям или филиалам, так и по всей филиальной сети организации.</p>
    </div>
</div>