<div class="row py-4">
    <div class="col-6">
        <h3>Криптохранилище для важных данных</h3>
        <p>Для безопасного хранения критически важных данных, таких, как закрытые ключи и PIN-коды, в JMS реализован специальный виртуальный объект — Криптохранилище. Оно создаётся в процессе первоначальной настройки системы и является областью базы данных JMS. Информация, хранящаяся в Криптохранилище, зашифрована и недоступна для администраторов и пользователей.</p>
    </div>
    <div class="col-6">
        <h3>Отказоустойчивость и резервное копирование</h3>
        <p>В JMS поддерживаются кластерные технологии Microsoft Windows Server и резервное копирование выпущенных объектов, общих настроек системы и профилей выпуска объектов, что позволяет обеспечить высокий уровень надёжности и катастрофоустойчивости. Функция резервного копирования также даёт возможность перевыпускать токены со старыми сертификатами.</p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Использование защищённых каналов</h3>
        <p>Для обеспечения защиты от перехвата информации передача данных между Сервером JMS и Консолью управления JMS, а также Сервером JMS и Клиентом JMS, осуществляется в зашифрованном виде с помощью протокола HTTPS (SSL). Это позволяет надёжно защитить передаваемую информацию от изменения или перехвата.</p>
    </div>
    <div class="col-6">
        <h3>Сертифицировано ФСТЭК России</h3>
        <p>JMS сертифицирована ФСТЭК России на отсутствие недекларированных возможностей (НДВ) по 4 уровню контроля и соответствие Техническим условиям (<a href="{{ path('download', {'uuid': '0b346314-b48d-42c5-985c-d742afcbe220'}) }}" target="_blank">сертификат соответствия № 3355</a> от 03 марта 2015 года). Это позволяет применять JMS в информационных системах персональных данных до 1 уровня включительно и при создании автоматизированных систем до уровня защищённости 1Г включительно.</p>
    </div>
</div>