<div class="row py-4">
    <div class="col-6">
        <h3>Производительность и отказоустойчивость</h3>
        <p>JMS спроектирована с учётом высоких требований к скорости и количеству выполняемых операций (возможны учёт и управление более <span class="text-nowrap">1 000 000</span> токенов).</p>
        <p>Поддерживаются кластерные технологии Microsoft Windows Server, обеспечивающие балансировку нагрузки между несколькими серверами JMS, отказоустойчивость серверов JMS, работающих с общей базой данных, а также катастрофоустойчивость при разнесении серверов и баз данных JMS по разным площадкам.</p>
    </div>
    <div class="col-6">
        <h3>Распределение ролей и полномочий</h3>
        <p>В JMS реализован встроенный механизм ролей и полномочий, позволяющий распределить обязанности по управлению автономными серверами JMS между администраторами головного офиса и филиалов организации. При этом каждый администратор может делегировать часть своих полномочий по управлению сервером JMS другому участнику ролевой модели.</p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Поддержка филиальной структуры</h3>
        <p>JMS создана с учётом потребностей больших территориально-распределённых организаций. Каждый токен может быть отнесён к конкретному подразделению или филиалу. Система построения отчётов позволяет проводить аудит использования токенов как по отдельному филиалу, так и по всей филиальной сети.</p>
        <p>При низкой пропускной способности каналов между филиалами и головным офисом серверы JMS могут работать в автономном режиме (<span class="text-nowrap">с возможностью</span> управления каждым из них из консоли администратора).</p>
    </div>
    <div class="col-6">
        <h3>Поддержка виртуализации</h3>
        <p>В JMS реализована поддержка сред виртуализации VMWare ESX, VMWare ESXi и Hyper-V, что позволяет использовать систему в условиях современной серверной архитектуры и обеспечить дополнительный уровень надёжности.</p>
    </div>
</div>