<div class="row align-items-center my-5">
    <div class="col-6 order-0">
        <h3>Автоматическое ведение реестра токенов</h3>
        <p>JMS автоматически ведёт реестр токенов, подключенных к рабочим станциям пользователей, и администратор JMS может принять решение о регистрации любого из таких токенов в системе и применении к ним установленных политик ИБ.</p>
        <p>Автоматическое ведение реестра позволяет избежать регистрации недоверенных токенов в системе, а также случайной регистрации и инициализации токена, выданного сторонней организацией (например, ФНС России или банком), что может привести к потере важной информации.</p>
    </div>
    <div class="col-6 order-1 text-center">
        <img src="{{ asset('images/catalog/jms/screenshots/registry.png') }}" class="img-fluid" alt="Автоматическое ведение реестра токенов" />
    </div>
</div>
<div class="row align-items-center my-5">
    <div class="col-6 order-1">
        <h3>Настраиваемая подсистема печати</h3>
        <p>С помощью встроенной подсистемы печати JMS может формировать и выводить на печать заявки на выдачу, замену и отзыв токена или сертификатов. Доступна функция "отложенной печати", позволяющая накапливать документы для одномоментной распечатки по требованию.</p>
        <p>Наличие подсистемы печати позволяет максимально упростить ведение документооборота, связанного с жизненным циклом токенов, избавить офицеров безопасности от рутинной работы, а также исключить риск ошибок при заполнении документов.</p>
    </div>
    <div class="col-6 order-0 text-center">
        <img src="{{ asset('images/catalog/jms/screenshots/printable.png') }}" class="img-fluid" alt="Настраиваемая подсистема печати" />
    </div>
</div>
<div class="row align-items-center my-5">
    <div class="col-6 order-0">
        <h3>Учёт СКЗИ по требованиям ФСБ России</h3>
        <p>JMS может учитывать любые программные и аппаратно-программные СКЗИ, автоматически учитывать ключевые документы, формировать журналы учёта СКЗИ и ключевых документов, согласно <span class="text-nowrap">Приказу ФАПСИ № 152</span>, а также даёт возможность формировать и распечатывать отчёт по каждому событию, произошедшему с СКЗИ или ключевым документом.</p>
        <p>Таким образом, JMS позволяет обеспечить полное соблюдение требований регулирующих органов по работе с сертифицированными СКЗИ и контролю за использованием токенов.</p>
    </div>
    <div class="col-6 order-1 text-center">
        <img src="{{ asset('images/catalog/jms/screenshots/skzi.png') }}" class="img-fluid" alt="Учёт СКЗИ по требованиям ФСБ России" />
    </div>
</div>
<div class="row align-items-center my-5">
    <div class="col-6 order-1">
        <h3>Многофункциональные токены</h3>
        <p>JMS — единственная система управления, поддерживающая работу с многофункциональными токенами (токенами, выполняющими несколько задач, например, обеспечивающими аутентификацию и электронную подпись).</p>
        <p>Применение многофункциональных токенов даёт возможность сократить бюджет на закупку токенов и сэкономить рабочее время системных администраторов и офицеров безопасности на управление парком токенов.</p>
    </div>
    <div class="col-6 order-0 text-center">
        <img src="{{ asset('images/catalog/jacarta/Group-Card_XL_Nano-Green.png') }}" class="img-fluid" alt="Многофункциональные токены" />
    </div>
</div>