<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <p class="large">JMS&nbsp;SE предоставляет открытый серверный API, открывающий широкие возможности по расширению функциональности системы с помощью добавления новых модулей, разработки коннекторов к УЦ и ресурсным системам, создания собственного клиентского программного обеспечения, а также интеграции JMS&nbsp;SE в существующие корпоративные системы.</p>
        <img src="{{ asset('images/catalog/jms/jms_extensions_schema.png') }}" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h4>Интеграция с внешней системой</h4>
        <p>Для интеграции JMS&nbsp;SE с внешней системой в сценариях, когда JMS&nbsp;SE является ведущей системой, необходимо разработать "коннектор". Коннектор к внешней системе позволяет в автоматическом режиме управлять данными, которые внешней системе требуется разместить на токене.</p>
        <p>Для интеграции JMS&nbsp;SE с внешней системой, которая будет являться источником учётных записей пользователей и рабочих станций, необходимо разработать адаптер к ресурсной системе.</p>
    </div>
    <div class="col-6">
        <h4>Интеграция с новым типом УЦ</h4>
        <p>Для интеграции JMS&nbsp;SE с новым типом УЦ необходимо разработать "адаптер к УЦ", который является расширением для встроенного в JMS&nbsp;SE коннектора — коннектора к УЦ. Коннектор к УЦ реализует общую логику работы с УЦ, а взаимодействие с конкретным типом УЦ коннектор осуществляет через адаптеры.</p>

        <h4>Интеграция сервера JMS&nbsp;SE с внешним ПО</h4>
        <p>Для интеграции сервера JMS&nbsp;SE с внешним ПО в сценариях, когда JMS&nbsp;SE является ведомой системой по отношению к другой системе (например, требуется управлять сущностями сервера: пользователями, рабочими станциями, токенами), предлагается использовать административный интерфейс сервера (административный API).</p>
    </div>
</div>