<table class="table">
    <thead>
    <tr>
        <th class="table-head__cell">Параметр</th>
        <th class="table-head__cell">Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="table-row__cell table-row__head">Системные требования</th>
        <td class="table-row__cell">
            <div class="row">
                <div class="col-md-6">
                    <p><b>Сервер JMS&nbsp;SE</b></p>
                    <ul>
                        <li>ОС
                            <ul>
                                <li>Microsoft Windows Server 2012 R2</li>
                                <li>Microsoft Windows Server 2012</li>
                                <li>Microsoft Windows Server 2008 R2 SP1</li>
                                <li>Microsoft Windows Server 2008 SP2</li>
                            </ul>
                        </li>
                        <li>СУБД
                            <ul>
                                <li>Microsoft SQL Server 2012</li>
                                <li>Microsoft SQL Server 2008</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p><b>АРМ пользователей (Клиент JMS&nbsp;SE, Консоль управления JMS&nbsp;SE)</b></p>
                    <ul>
                        <li>Microsoft Windows 8, 8.1</li>
                        <li>Microsoft Windows 7 SP1</li>
                        <li>Microsoft Windows Vista SP2</li>
                        <li>Microsoft Windows XP SP3 (32-бит), SP2 (64-бит)</li>
                        <li>Microsoft Windows Server 2012 R2</li>
                        <li>Microsoft Windows Server 2012</li>
                        <li>Microsoft Windows Server 2008 R2 SP1</li>
                        <li>Microsoft Windows Server 2008 SP2</li>
                        <li>Microsoft Windows Server 2003 R2 SP2</li>
                        <li>Microsoft Windows Server 2003 SP2</li>
                        <li>Linux для М2М, IoT- и мобильных устройств (через JaCarta Mobile Gateway)</li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Модели поддерживаемых токенов</th>
        <td class="table-row__cell">
            <div class="row">
                <div class="col-md-6">
                    <p><b>JaCarta</b></p>
                    <ul>
                        <li>JaCarta PKI</li>
                        <li>JaCarta PKI/Flash</li>
                        <li>JaCarta ГОСТ</li>
                        <li>JaCarta ГОСТ/Flash</li>
                        <li>JaCarta PKI/BIO</li>
                        <li>JaCarta PKI/ГОСТ</li>
                        <li>JaCarta PKI/ГОСТ/Flash</li>
                        <li>JaCarta PKI/BIO/ГОСТ</li>
                        <li>JaCarta PRO</li>
                        <li>JaCarta PRO/ГОСТ</li>
                        <li>JaCarta CryptoPro (КриптоПро ФКН CSP)</li>
                        <li>JaCarta SF/ГОСТ</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p><b>eToken</b></p>
                    <ul>
                        <li>eToken PRO</li>
                        <li>eToken PRO (Java)</li>
                        <li>eToken NG-Flash (Java)</li>
                        <li>eToken NG-OTP (Java) без OTP-функциональности</li>
                        <li>eToken ГОСТ</li>
                    </ul>
                    <p><b>Рутокен</b></p>
                    <ul>
                        <li>Рутокен S</li>
                        <li>Рутокен Lite</li>
                        <li>Рутокен ЭЦП</li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Поддерживаемые УЦ</th>
        <td class="table-row__cell">
            <ul>
                <li>Microsoft CA с КриптоПро CSP</li>
                <li>Microsoft CA</li>
                <li>КриптоПро 2.0</li>
                <li>КриптоПро 1.5</li>
                <li>ViPNet 4.6</li>
                <li>Валидата 1.0</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Базы учётных данных пользователей и рабочих станций</th>
        <td class="table-row__cell">
            <ul>
                <li>Microsoft Active Directory</li>
                <li>Microsoft Remote Active Directory</li>
                <li>УЦ КриптоПро 2.0</li>
                <li>УЦ КриптоПро 1.5</li>
                <li>Другие (за счёт разработки коннекторов, предоставляется SDK с примерами)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Отказоустойчивость и надёжность</th>
        <td class="table-row__cell">
            <ul>
                <li>Поддержка кластерных технологий Microsoft Windows Server</li>
                <li>Резервное копирование настроек и базы данных системы</li>
                <li>Резервное копирование закрытых ключей и сертификатов</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Территориальные ограничения</th>
        <td class="table-row__cell">Нет (ограничения есть только при использовании сертифицированных СКЗИ)</td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Необходимость наличия лицензий на распространение JMS&nbsp;SE</th>
        <td class="table-row__cell">Нет (лицензия ФСБ России на распространение СКЗИ требуется при продаже токенов с поддержкой российской криптографии, например, JaCarta ГОСТ, eToken ГОСТ, Рутокен ЭЦП)</td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Локализация (поддерживаемые языки)</th>
        <td class="table-row__cell">
            <ul>
                <li>Русский (по умолчанию)</li>
                <li>Английский</li>
                <li>Другие (по запросу)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Поддерживаемые СКЗИ (<span class="text-nowrap">функция "Учёт СКЗИ"</span>)</th>
        <td class="table-row__cell">Любые программные и программно-аппаратные СКЗИ</td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Возможность добавления других моделей токенов</th>
        <td class="table-row__cell">Есть (по запросу)</td>
    </tr>
    <tr>
        <th class="table-row__cell table-row__head">Масштабирование</th>
        <td class="table-row__cell">От 50 до 1 000 000 токенов (использование JMS&nbsp;SE для учёта и управления менее чем 50 токенами нецелесообразно)</td>
    </tr>
    </tbody>
</table>