<p>Новый АРМ администратора безопасности предназначен для инициализации устройств {{ title }} при их вводе в эксплуатацию, разблокирования, изменения парольной политики, доступа к журналу операций (при расследовании инцидентов), к объектам файловой системы (кроме закрытых ключей ЭП), установки, смены PIN- и PUK-кодов, работы с доверенными объектами, вывода устройств из эксплуатации и переинициализации (например, при выдаче их другим пользователям).</p>
<p>АРМ администратора безопасности также предназначен для работы с <b>доверенными объектами</b> &mdash; ключами проверки ЭП (чтобы обеспечить срок службы ключей 3 года, без АРМа - только 1 год).</p>
<p>Доверенные объекты используются для проверки подписи документов и сертификатов открытых ключей абонентов, с которыми ведется обмен зашифрованными сообщениями.</p>
<p>Срок действия доверенных ключей &mdash; <b>15 лет</b>, закрытых ключей ЭП &mdash; <b>3 года</b>.</p>
<p>Ключи проверки ЭП могут использоваться только после проверки всей цепочки сертификатов, ведущей к открытому ключу, хранящемуся в доверенном объекте.</p>
<p>Приобретение АРМа Администратора безопасности является полезной, но не обязательной опцией.</p>
<p>Токены (как средство ЭП) как и раньше можно заказывать с нужными параметрами инициализации, при этом загрузку нужного профиля и инициализацию устройств может выполнить их производитель или поставщик.</p>
<p>АРМ администратора безопасности имеет собственный сертификат соответствия ФСБ России №СФ/124-2964 (исполнение 13).</p>