<p>В состав сертифицированного СКЗИ входит интерфейсная криптобиблиотека (ИКБ), предназначенная для работы на стороне хоста (персонального компьютера, сервера или терминального оборудования).</p>
<p>ИКБ реализует:</p>
<ul>
    <li><b>набор криптографических алгоритмов и протоколов</b>, включая выработку и согласование сеансовых ключей;</li>
    <li><b>автоматическое построение защищённого доверенного канала</b> с аппаратным устройством {{ title }}, что позволяет безопасно передавать команды и данные;</li>
    <li><b>быстрое хэширование и шифрование данных</b> (со скоростью работы основного процессора хоста, более мощного и производительного, чем микроконтроллер устройства).</li>
</ul>
<p>ИКБ реализована и сертифицирована для работы в ОС Microsoft Windows, Linux, Apple macOS (см. полный список) и входит в состав высокоуровневых библиотек (PKCS #11) для встраивания СКЗИ и средства ЭП в прикладное ПО.</p>
<hr>
<div style="font-style: italic">
    <p>Конкурирующие продукты канал передачи данных и команд между токеном и хостом <b>не закрывают</b>.</p>
    <p>Если требуется защита передаваемых данных, необходимо использовать <b>продукты третьих фирм</b>.</p>
</div>
