<p>Обязательная в случаях встраивания СКЗИ проверка оценки влияния (корректности встраивания СКЗИ) при использовании разрешённых функций из "белого" списка становится простой формальной процедурой.</p>
<p><b>Для разработчиков</b> предоставляется комплект средств разработки (SDK), включающий библиотеки с высокоуровневыми интерфейсами (включая PKCS #11) под разные аппаратные платформы (x86, ARM, RISC) и операционные системы (ОС), подробные примеры с множеством типовых сценариев использования средства ЭП и СКЗИ.</p>
<p>Все модели {{ title }} по-прежнему можно использовать для <b>хранения ключевых контейнеров</b> криптопровайдеров и программных СКЗИ (КриптоПро CSP, ViPNet CSP и др.).</p>
