<p>Технология Java Card позволяет добавлять необходимую функциональность, загружая в чип соответствующие Java-апплеты.</p>
<ul>
    <li><b>PKI</b> (на базе зарубежной криптографии).</li>
    <li><b>Биометрическая идентификация</b> пользователя по его отпечаткам пальцев (с функцией Match-On-Card). Отпечатки пальцев нигде не хранятся и сразу передаются в апплет, а все вычисления и принятие решения "Свой/Чужой" производятся внутри устройства.</li>
    <li><b>Платёжные приложения</b> ("Мир", Visa, MasterCard и др.). Платёжное приложение "Мир" в составе продукта прошло сертификацию в НСПК.</li>
    <li><b>Безопасное хранение</b> криптоконтейнеров программных СКЗИ и пользовательских данных (ключей, паролей, кодов доступа).</li>
</ul>
<p>Java-апплеты, загруженные в устройство, могут обмениваться между собой командами и данными напрямую через внутренний Shareable-интерфейс.</p>
<p>Доступна широкая линейка комбинированных моделей.</p>
