<h5>PUK-код</h5>
<p>При инициализации устройства администратор может установить и сообщить пользователю специальный PUK-код для разблокирования. С его помощью пользователь сможет самостоятельно (без обращения к администратору) разблокировать своё устройство.</p>

<h5>Одноразовый код разблокирования</h5>
<p>Если пользователь забыл PIN-код своего устройства, то теперь он может позвонить или написать своему администратору и попросить его сгенерировать одноразовый код разблокирования устройства.</p>
<p>Это новый удобный и безопасный механизм.</p>
