<p>При формировании ЭП значение хэш-функции от подписываемого документа теперь вычисляется с использованием программной библиотеки (ИКБ), являющейся частью сертифицированного СКЗИ и работающей на стороне хоста (персонального компьютера, сервера, терминала), а затем передаётся для подписи в устройство по защищённому каналу.</p>
<p>Это означает, что время подписи, большая часть которого тратится на вычисление хэш-функции для объёмных документов, теперь кардинально сокращается, поскольку хэш вычисляется не на микроконтроллере устройства {{ title }}, а на более производительном процессоре хоста.</p>
<p>Благодаря использованию защищённого канала выполнение операций хэширования на хосте <b>не приводит к снижению уровня безопасности</b>.</p>
<p>Вычисление значения хэш-функции также может производиться и самим устройством (внутри чипа) и сразу же передаваться на формирование ЭП.</p>
<hr>
<div style="font-style: italic">
    <p>Конкурирующие продукты в составе сертифицированного продукта такой возможности не имеют. Вычисления хэш производятся, как правило, на медленном микроконтроллере устройства, поэтому они сильно проигрывают в общей скорости работы, либо для быстрого вычисления хэша требуют использования внешней криптобиблиотеки от другого разработчика. Это приводит к лишним затратам, проблемам совместимости, развития и поддержки такого решения и необходимости проведения в ФСБ России оценки влияния (корректности встраивания).</p>
</div>