<p>Ключи проверки ЭП и функции зашифрования/расшифрования могут использоваться только после проверки всей цепочки
    сертификатов, ведущей к открытому ключу, хранящемуся в доверенном объекте.</p>
<p>Срок жизни доверенных ключей — <b>15 лет</b>, закрытых ключей — <b>3 года</b>, что существенно сокращает стоимость
    владения устройств {{ title }} по сравнению с программными СКЗИ со сроком действия ключей 1 год.</p>
