<p>Разрешённые команды и функции, которыми можно безопасно пользоваться из прикладного и системного ПО:</p>
<ul>
    <li><b>Генерация ключей</b> (выполняется аппаратно):
        <ul>
            <li>для ЭП (неизвлекаемый закрытый ключ ЭП не выходит за пределы СКЗИ);</li>
            <li>для шифрования;</li>
            <li>для удалённой аутентификации (HMAC);</li>
            <li>для внешних нужд и других СКЗИ.</li>
        </ul>
    </li>
    <li><b>Хэширование</b>:
        <ul>
            <li>ГОСТ Р 34.11-94;</li>
            <li><b>ГОСТ Р 34.11-2012</b>.</li>
        </ul>
    </li>
    <li><b>Шифрование, вычисление имитовставки:</b>
        <ul>
            <li>ГОСТ 28147-89.</li>
        </ul>
    </li>
    <li><b>Формирование ЭП:</b>
        <ul>
            <li>ГОСТ Р 34.10-2001;</li>
            <li><b>ГОСТ Р 34.10-2012</b>.</li>
        </ul>
    </li>
    <li><b>Проверка ЭП</b>.</li>
    <li><b>Генерация случайных чисел</b>.</li>
    <li><b>Управление</b> ключами и доверенными объектами:
        <ul>
            <li>проверка цепочки сертификатов;</li>
            <li>безопасный импорт/экспорт ключей шифрования (на ключевых парах с проверкой всей цепочки сертификатов).</li>
        </ul>
    </li>
    <li><b>HMAC</b> (для удалённой аутентификации с использованием одноразовых паролей — OTP).</li>
    <li><b>Работа с папками и файлами данных</b> в памяти устройства (без доступа к ключам).</li>
    <li><b>Служебные и административные команды</b>, установка и смена PIN- и PUK-кодов.</li>
</ul>