<p>Медицинские сотрудники по долгу службы имеют доступ к информации, составляющей врачебную тайну. Электронное удостоверение позволит повысить уровень защищённости персональных данных пациентов и выполнить требования 152-ФЗ, а также повысить удобство работы медицинского персонала. Пациенту карта откроет новые возможности, в числе которых дистанционная запись на приём к врачу, просмотр результатов обследований и назначенных препаратов и многое другое.</p>
<table>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Doctor.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта ВРАЧА</strong></p>

            <ul>
                <li>Работа с усиленной квалифицированной ЭП для подписи диагнозов, справок, направлений на исследования, назначений, результатов обследований</li>
                <li>Безопасный доступ в информационную систему с базой электронных медицинских карт пациентов</li>
                <li>Доступ в служебные помещения (с RFID-меткой)</li>
                <li>Получение заработной платы</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Patient.png') }}" width="100" alt="" /></td>
        <td><p><strong>Карта ПАЦИЕНТА</strong></p>
            <ul>
                <li>Безопасный доступ к Web-порталу медицинского центра для просмотра результатов анализов, прописанных лекарств, рекомендаций по лечению и т.д.</li>
                <li>Карта-бейдж с фотографией, указанием ФИО, номера полиса ОМС и номера электронной медицинской карты</li>
            </ul></td>
    </tr>
</table>