
<p>Электронное удостоверение для представителя силовых структур позволяет организовать защищённый доступ к ведомственным ИТ-системам и Web-порталам, подписать электронный протокол на месте происшествия, выполнить роль пропуска для перемещения по территории учреждения.</p>

<table>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Secure.png') }}" width="100" alt="" /></td>
        <td>

            <p><strong>Карта ДРУЖИННИКА/СОТРУДНИКА ЧАСТНОГО ОХРАННОГО ПРЕДПРИЯТИЯ</strong></p>
            <ul>
                <li>Идентификация сотрудника по фотографии с указанием ФИО и должности</li>
                <li>Доступ в помещения (с RFID-меткой)</li>
                <li>Возможность подписи электронных документов (протоколов, рапортов)</li>
                <li>Безопасный доступ в информационную систему учреждения</li>
            </ul>

        </td>
    </tr><tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_MVD.png') }}" width="100" alt="" /></td>
        <td>

            <p><strong>Карта СОТРУДНИКА МВД</strong></p>
            <ul>
                <li>Удостоверение с фотографией, указанием ФИО, должности и звания</li>
                <li>Проход на территорию учреждения</li>
                <li>Вход в служебные помещения разного уровня доступа (с использованием одной или двух RFID-меток)</li>
                <li>Безопасный доступ в информационную систему учреждения</li>
                <li>Юридически значимая электронная подпись для рапортов, протоколов, приказов и т.д.</li>
            </ul>
        </td></tr></table>