
<p>В последнее время в сфере образования появились нововведения – электронные порталы, электронный дневник, контроль посещения учебного заведения и т.д. Практически все учебные заведения имеют свои информационные сети, доступ к которым имеют и учащиеся, и преподаватели. Поэтому требуется удобное, безопасное, а главное простое и единое средство доступа, которым может пользоваться и ребёнок, и взрослый.</p>

<table>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Professor.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта ПРЕПОДАВАТЕЛЯ ВУЗа</strong></p>
            <ul>
                <li>Доступ на территорию ВУЗа</li>
                <li>Доступ в служебные помещения</li>
                <li>Безопасный доступ к учебному порталу</li>
                <li>Возможность заполнения электронных оценочных журналов</li>
                <li>Получение заработной платы, компенсаций и бонусов</li>
                <li>Пропуск на парковку</li>
            </ul>
        </td></tr>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Student.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта СТУДЕНТА</strong></p>
            <ul>
                <li>Проход на территорию ВУЗа</li>
                <li>Безопасный доступ к учебному порталу из дома</li>
                <li>Идентификатор для посещения библиотеки (как читательский билет)</li>
                <li>Получение стипендии, дотаций и пр.</li>
                <li>Пропуск в общежитие</li>
            </ul>
        </td></tr>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Teacher.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта УЧИТЕЛЯ ШКОЛЫ</strong></p>
            <ul>
                <li>Доступ на территорию учебного заведения</li>
                <li>Доступ в служебные помещения</li>
                <li>Работа с ЭП для проставления оценок</li>
                <li>Получение заработной платы, компенсаций и бонусов</li>
            </ul>
        </td></tr>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Pupil.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта УЧЕНИКА</strong></p>
            <ul>
                <li>Проход на территорию учебного заведения (при интеграции со СКУД - контроль посещения школы)</li>
                <li>Безопасный доступ к учебному порталу из дома</li>
            </ul>
        </td></tr></table>