
<p>Сотрудники государственных и частных организаций чаще всего нуждаются в средстве доступа на территорию и в информационную сеть организации. И это только минимальный набор требуемой функциональности! Госслужащему, например, очень часто приходится подписывать различные документы, отвечать на вопросы населения на порталах, иметь доступ в информационную сеть с мобильных устройств.</p>

<table>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Ministry.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта ГОССЛУЖАЩЕГО</strong></p>
            <ul>
                <li>Проход на территорию учреждения</li>
                <li>Вход в служебные помещения разного уровня доступа (с использованием одной или двух RFID-меток)</li>
                <li>Безопасный доступ в информационную систему учреждения (в т.ч. и с мобильных устройств)</li>
                <li>Строгая взаимная аутентификация при доступе к Web-порталам и облачным сервисам</li>
                <li>Юридически значимая электронная подпись</li>
                <li>Получение заработной платы, компенсаций и бонусов</li>
                <li>Пропуск на парковку</li>
            </ul>
        </td></tr>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Engineer.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта ГЛАВНОГО ИНЖЕНЕРА</strong></p>
            <ul>
                <li>Проход на территорию предприятия</li>
                <li>Доступ в служебные помещения предприятия</li>
                <li>Безопасный доступ в информационную систему предприятия</li>
                <li>Хранение ключевой информации, сертификатов, лицензий к ПО</li>
                <li>Получение заработной платы</li>
                <li>Пропуск на парковку</li>
            </ul>
        </td></tr></table>