
<p>Сотрудники кредитно-финансовых организаций зачастую работают с критически важными данными, осуществляют финансовые операции, подписывают электронные документы. Для таких сотрудников важно иметь единое средство для соблюдения внутрикорпоративных стандартов по информационной безопасности, законодательных требований по электронной подписи, а также требований по доступу в различные категоризированные помещения.</p>

<table>
    <tr>
        <td style="vertical-align:top"><img src="{{ asset('images/catalog/jacarta_id/Card_Bank.png') }}" width="100" alt="" /></td>
        <td>
            <p><strong>Карта БАНКОВСКОГО СЛУЖАЩЕГО</strong></p>
            <ul>
                <li>Безопасный доступ в информационную систему финансовой организации </li>
                <li>Возможность применения биометрической идентификации
                    <ul>
                        <li>БЕЗОПАСНО: строгая трёхфакторная аутентификация</li>
                        <li>УДОБНО: вместо пароля – отпечаток пальца</li>
                        <li>НАДЁЖНО: неотчуждаемость от сотрудника</li>
                    </ul>
                </li>
                <li>Юридически значимая электронная подпись в системах ЭДО</li>
                <li>Аутентификация на корпоративных Web-порталах</li>
                <li>Хранение ключевой информации, сертификатов, лицензий к ПО</li>
                <li>Получение заработной платы, компенсаций и бонусов</li>
                <li>Вход в служебные помещения разного уровня доступа (с использованием одной или двух RFID-меток)</li>
                <li>Пропуск на парковку</li>
            </ul>
        </td></tr></table>