<div class="row">
    <div class="col-4">
        <h3>Простая и быстрая установка</h3>
        <p>В момент, когда пользователь заходит на защищаемый ресурс, Web-сервер проверяет, установлено ли у него
            приложение JC-WebClient. Если нет, то предлагается бесплатно скачать дистрибутив JC-WebClient и осуществить
            его загрузку.</p>
    </div>
    <div class="col-4">
        <h3>Приложение сразу готово к работе</h3>
        <p>После завершения инсталляции приложения не нужно устанавливать какие-либо драйверы для токенов, программные
            СКЗИ и дополнительные плагины для браузеров — после установки JC-WebClient Web-приложение сразу готово к
            работе.</p>
    </div>
    <div class="col-4">
        <h3>Одна инсталляция на все учётные записи</h3>
        <p>Приложение JC-WebClient устанавливается сразу для всех учётных записей, зарегистрированных в операционной
            системе. Это избавляет от необходимости делать установку отдельно для каждого пользователя компьютера, что
            актуально для корпоративных систем, где одно рабочее место может использоваться несколькими
            пользователями.</p>
    </div>
</div>