<div class="row">
    <div class="col-6">
        <h3>Простота использования</h3>
        <p>Будучи установленным, приложение JC-WebClient автоматически запускается при загрузке операционной системы и
            работает в фоновом режиме. Пользователю недоступны какие-либо элементы управления приложением — он просто
            подключает токен и работает.</p>
    </div>
    <div class="col-6">
        <h3>Сохранение сессии работы с токеном</h3>
        <p>Для удобства пользователя в приложении JC-WebClient реализована возможность при необходимости сохранять
            сессию работы с токеном при переходах между страницами защищаемого Web-приложения. Такой режим работы
            избавляет пользователя от необходимости вводить PIN-код повторно на разных Web-страницах для выполнения
            операций подписания документов — достаточно один раз ввести его при входе в личный кабинет.</p>
    </div>
</div>