<div class="row">
    <div class="col-6">
        <h3>Сервис мониторинга</h3>
        <p>Надёжность и отказоустойчивость JC-WebClient обеспечиваются за счёт сервиса мониторинга. Он запускает
            приложение при старте операционной системы, а также осуществляет контроль его целостности и перезапуск при
            возникновении нештатных ситуаций/сбоев в операционной системе. Это позволяет обеспечить корректность работы
            приложения JC-WebClient и оперативное устранение неполадок без привлечения пользователя или ИТ-персонала.</p>
    </div>
    <div class="col-6">
        <h3>Повышенная стабильность работы Web-приложения</h3>
        <p>Использование единой технологии работы со всеми браузерами значительно уменьшает объём разрозненного кода и
            число точек отказа. В результате значительно повышается стабильность работы с Web-приложением и сокращаются
            трудозатраты разработчиков на его поддержку.</p>
    </div>
</div>