<div class="row">
    <div class="col-6">
        <h3>Строгая взаимная двухфакторная аутентификация</h3>
        <p>Применение JC-WebClient позволяет обеспечить взаимную строгую двухфакторную аутентификацию пользователя и
            Web-сервера с помощью токена. Взаимная двухфакторная аутентификация позволяет надёжно защититься от атаки
            типа "человек посередине" (Man-in-the-Middle, MITM), когда злоумышленник перехватывает и подменяет
            сообщения, которыми обмениваются корреспонденты, причём ни один из последних не догадывается о его
            присутствии в канале связи.</p>
    </div>
    <div class="col-6">
        <h3>Аппаратная реализация электронной подписи</h3>
        <p>Применение JC-WebClient позволяет использовать аппаратную реализацию ЭП c неизвлекаемым закрытым ключом ЭП.
            Этот ключ безопасно генерируется внутри токена и никогда его не покидает (операция подписи выполняется
            внутри устройства), что обеспечивает надёжную защиту ключа от кражи.</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h3>Шифрование передаваемых данных</h3>
        <p>JC-WebClient позволяет шифровать данные Web-приложения, передаваемые между клиентским ПК и Web-сервером, с
            использованием отечественного криптографического стандарта ГОСТ&nbsp;28147-89. Шифрование позволяет
            обеспечить конфиденциальность данных, передаваемых через общедоступные каналы связи (сеть Интернет).</p>
    </div>
    <div class="col-6">
        <h3>Полный отказ от небезопасной архитектуры NPAPI</h3>
        <p>Единая технология локального Web-сервера, реализованная в приложении JC-WebClient, позволяет отказаться от
            применения небезопасной архитектуры NPAPI (Netscape Plugin Application Programming Interface) в тех
            браузерах (например, Apple Safari), которые нативно не поддерживают более безопасные технологии для доступа
            к токенам. Тем самым обеспечивается высокий уровень безопасности независимо от используемого браузера.</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h3>Дополнительный контроль доступа к токену</h3>
        <p>Доступ к операциям с закрытым ключом токена ограничен вкладкой браузера, из которой был введён PIN-код. Это
            позволяет обеспечить защиту от вредоносных скриптов, пытающихся использовать состояние "залогиненности"
            устройства из других вкладок для подписания подложных документов или данных.</p>
    </div>
    <div class="col-6">
        <h3>Автоматический выход из личного кабинета при отключении токена</h3>
        <p>Приложение JC-WebClient способно фиксировать события подключения или отключения средств аутентификации и ЭП
            от компьютера пользователя. Это позволяет реализовать автоматический выход из личного кабинета
            Web-приложения при отключении токена.</p>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h3>Исключение хранения PIN-кода в памяти Web-страницы</h3>
        <p>В JC-WebClient реализована возможность сохранения сессии работы с токеном при переходах между Web-страницами
            <b>без сохранения PIN-кода в памяти Web-страницы</b>. Это создаёт дополнительный защитный барьер для
            вредоносного кода и злоумышленников.</p>
    </div>
    <div class="col-6">
        <h3>Интеграция с инфраструктурой открытых ключей</h3>
        <p>JC-WebClient поддерживает работу с цифровыми сертификатами X.509, генерацию запросов на сертификат в формате
            PKCS#10, а также формирование и разбор ЭП в формате PKCS#7. Это позволяет использовать инфраструктуру
            открытых ключей (PKI), что обеспечивает дополнительный уровень доверия.</p>
    </div>
</div>

<div class="bg-info text-white p-5">
    <h2 class="text-center">Дополнительные механизмы безопасности, доступные при использовании нового поколения
        USB-токенов и смарт-карт JaCarta-2 ГОСТ</h2>

    <div class="row">
        <div class="col-6">
            <h3>Защита от перехвата PIN- и PUK-кодов</h3>
            <p>JC-WebClient автоматически строит защищённый канал с токенами JaCarta-2 ГОСТ. Все PIN- и PUK-коды
                передаются в устройство только по защищённому каналу, что защищает их от перехвата при передаче между
                JC-WebClient и токеном.</p>
        </div>
        <div class="col-6">
            <h3>Эксклюзивный сеанс работы между приложением и устройством JaCarta-2 ГОСТ</h3>
            <p>JC-WebClient позволяет установить эксклюзивный сеанс работы с токеном JaCarta-2 ГОСТ, при котором все
                данные, передаваемые между приложением и токеном, шифруются, и токен отвергает все попытки любых
                сторонних приложений получить доступ к его функциям. Это защищает от попыток вредоносных приложений
                использовать состояние "залогиненности" токена для подписи поддельных документов.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Разблокировка PIN-кода пользователя по PUK-коду</h3>
            <p>JC-WebClient поддерживает разблокировку устройств JaCarta-2 ГОСТ без обращений к администратору. Для
                этого используется специальный PUK-код, который выдаётся пользователю вместе со стандартным
                PIN-кодом.</p>
        </div>
        <div class="col-6">
            <h3>Быстрое шифрование по ГОСТ 28147-89</h3>
            <p>JC-WebClient поддерживает быстрое программное шифрование сообщений и документов по ГОСТ 28147-89 в
                формате CMS при использовании JaCarta-2 ГОСТ. Это позволяет обеспечить передачу конфиденциальных
                сообщений и документов по общедоступным каналам связи.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Дополнительный PIN-код для операций формирования ЭП</h3>
            <p>JC-WebClient позволяет установить и использовать второй (дополнительный) PIN-код для операций
                формирования ЭП при использовании JaCarta-2 ГОСТ. Необходимость ввода дополнительного PIN-кода
                устанавливается при создании ключевой пары. Таким образом, устройство может быть сконфигурировано так,
                что при входе в систему для строгой двухфакторной аутентификации пользователь должен ввести PIN-код
                пользователя, а при проведении финансовых транзакций или при подписании электронных документов — PIN-код
                подписи, разрешающий формирование ЭП. Это защищает от попыток вредоносных скриптов из браузера
                использовать состояние "залогиненности" JaCarta-2 ГОСТ для подписи поддельных документов.</p>
        </div>
        <div class="col-6">
            <h3>Поддержка доверенных объектов JaCarta-2 ГОСТ</h3>
            <p>JC-WebClient поддерживает работу с хранилищем доверенных объектов JaCarta-2 ГОСТ, в которое Администратор
                безопасности JaCarta-2 ГОСТ предварительно записывает доверенные открытые ключи, выполняющие роль
                открытых ключей доверенных Удостоверяющих центров. JC-WebClient автоматически строит цепочки
                доверия:</p>
            <ul>
                <li>от сертификата подписанта до доверенного открытого ключа при операции проверки ЭП;</li>
                <li>от сертификата получателя зашифрованного документа до доверенного открытого ключа при операции
                    зашифрования документа;
                </li>
                <li>от сертификата отправителя зашифрованного документа доверенного открытого ключа при операции
                    расшифрования документа.
                </li>
            </ul>
        </div>
    </div>
    <h3>Встроенное хранилище сертификатов УЦ</h3>
    <p>JC-WebClient включает встроенное Web-приложение для загрузки, удаления, просмотра сертификатов УЦ в
        хранилище на токене. Сертификаты УЦ, загруженные на токен, используются JC-WebClient для построения
        цепочек доверия при операциях проверки подписи и зашифрования/расшифрования документов. Это даёт
        возможность отказаться от использования системных хранилищ сертификатов Microsoft Windows, Apple macOS и
        Linux, что в свою очередь обеспечивает работу с Web-приложением с разных компьютеров без необходимости
        делать настройки системных хранилищ на каждом из ПК. Всё необходимое уже есть на токене.</p>
</div>