<div class="row">
    <div class="col-6">
        <h3>Российские криптоалгоритмы</h3>
        <p>JC-WebClient поддерживает работу с российскими криптографическими алгоритмами ГОСТ 28147-89, ГОСТ Р 34.11-94
            и ГОСТ Р 34.10-2001, а также новыми алгоритмами ГОСТ Р 34.10-2012 и ГОСТ Р 34.11-2012, переход на которые
            состоится в 2018 году.</p>
        <p>С помощью российской криптографии Заказчик может применять как усиленную, так и усиленную квалифицированную
            ЭП, требующую использования сертифицированного СКЗИ и аккредитованного УЦ.</p>
    </div>
    <div class="col-6">
        <h3>Зарубежные криптоалгоритмы</h3>
        <p>JC-WebClient поддерживает работу с зарубежными алгоритмами 3DES, AES-128, SHA-1 и RSA-1024, которые могут
            использоваться для аутентификации, работы с усиленной ЭП и шифрования данных.</p>
        <p>Применение зарубежной криптографии целесообразно, если перед Заказчиком не стоит задача работы с усиленной
            квалифицированной ЭП, которая требует использования сертифицированного СКЗИ и аккредитованного УЦ.</p>
    </div>
</div>