<div class="row">
    <div class="col-4">
        <h3>JaCarta-2 ГОСТ</h3>
        <p>JaCarta-2 ГОСТ — новое поколение USB-токенов и смарт-карт с аппаратной реализацией криптоалгоритмов ГОСТ Р
            34.10-2012 и ГОСТ Р 34.11-2012, которые могут применяться для строгой двухфакторной аутентификации, работы с
            усиленной или усиленной квалифицированной ЭП, а также безопасного хранения пользовательской информации и
            объектов.</p>
        <p>Устройства JaCarta-2 ГОСТ сертифицированы ФСБ России как средство ЭП и СКЗИ класса КС1 и КС2 (сертификат №
            СФ/124-3112) и соответствуют требованиям приказа ФСБ России № 796 от 27.12.2011 г. и 63-ФЗ "Об электронной
            подписи" от 06.04.2011 г.</p>
        <p><a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">Подробнее</a></p>
    </div>
    <div class="col-4">
        <h3>JaCarta ГОСТ и eToken ГОСТ</h3>
        <p>Токены <span class="text-nowrap">JaCarta ГОСТ</span> и <span class="text-nowrap">eToken ГОСТ</span> являются
            персональным средством строгой двухфакторной аутентификации и усиленной квалифицированной ЭП с неизвлекаемым
            закрытым ключом, в котором реализованы российские криптоалгоритмы ГОСТ Р 34.10-2001 и ГОСТ Р 34.11-94.</p>
        <p>Устройства <span class="text-nowrap">JaCarta ГОСТ</span> и <span class="text-nowrap">eToken ГОСТ</span>
            сертифицированы ФСБ России как средство ЭП (сертификат №&nbsp;СФ/111-2750) класса КС1 и КС2 и соответствуют
            требованиям приказа ФСБ России №&nbsp;796 от 27.12.2011 г. и 63-ФЗ "Об электронной подписи" от 06.04.2011 г.
        </p>
        <p><a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">Подробнее</a></p>
    </div>
    <div class="col-4">
        <h3>JaCarta PRO и eToken PRO (Java)</h3>
        <p>Токены <span class="text-nowrap">JaCarta PRO</span> и <span class="text-nowrap">eToken PRO (Java)</span>
            являются персональным средством строгой двухфакторной аутентификации и усиленной ЭП с неизвлекаемым закрытым
            ключом, в котором реализованы зарубежные криптоалгоритмы.</p>
        <p>Устройства <span class="text-nowrap">JaCarta PRO</span> обладают обратной совместимостью с программными
            продуктами компании Aladdin Knowledge Systems/SafeNet Inc/Gemalto, предназначенными для работы с семейством
            токенов <span class="text-nowrap">eToken PRO (Java)</span>, что позволяет применять <span
                    class="text-nowrap">JaCarta PRO</span> для постепенного импортозамещения этих устройств.</p>
        <p><a href="{{ path('catalog:product', {'product': 'jacarta-pro'}) }}">Подробнее</a></p>
    </div>
</div>