
<p>В состав <b>СКЗИ "КриптоПро ФКН CSP" версии 3.9</b> входит специально разработанный токен JaCarta CryptoPro с возможностью вычисления ЭП по технологии ФКН компании "КРИПТО-ПРО" и выпускаемый в форм-факторах USB-токена (в корпусе Nano или XL) или смарт-карты. </p>

<table width="100%">
    <tr>
        <td style="text-align:center"><img src="{{ asset('images/catalog/cryptopro_fkn/jc_nano_215_b25.png') }}" height="60"></td>
        <td style="text-align:center"><img src="{{ asset('images/catalog/cryptopro_fkn/jc_xl_215_b00_i27_png.png') }}" height="90"></td>
        <td style="text-align:center"><img src="{{ asset('images/catalog/cryptopro_fkn/JC_Card_wave_embos.png') }}" height="100"></td>
    </tr>
</table>

<p>JaCarta CryptoPro осуществляет безопасное хранение и использование закрытых ключей ЭП, выполняет взаимную аутентификацию CSP и токена, а также строгую двухфакторную аутентификацию пользователя-владельца токена.</p>

<h2>Ключевые преимущества JaCarta CryptoPro</h2>

<ul><li>Является самым быстрым токеном среди ФКН-устройств (опережает существующие продукты, работающие с ФКН, по скорости формирования электронной подписи почти в 3 раза - на основе Протокола замеров быстродействия ФКН-устройств  "КРИПТО-ПРО" от 08.12.2014 г.).</li>
    <li>Применён принцип <b>Secure by design</b> – используется защищённый микроконтроллер, сконструированный как безопасный, для целей обеспечения безопасности, имеет встроенную защиту как на аппаратном, так и на программном уровнях от клонирования, взлома и всех других атак, известных на сегодняшний день.</li>
    <li>Генерация ключей ЭП, ключей согласования, а также создание ЭП происходит внутри токена JaCarta CryptoPro.</li>
    <li>Использует защищённый канал передачи данных с программной частью "КриптоПРО ФКН CSP". </li></ul>