
<h2>Решаемые задачи</h2>
<ul><li>Генерация ключей ЭП и ключей согласования</li>
    <li>Формирование и проверка электронной подписи</li>
    <li>Импорт программно сгенерированных закрытых ключей ЭП – для усиления их защищённости</li>
    <li>Обновление инсталляционной базы криптопровайдера "КриптоПро CSP"</li></ul>


<h2>Особенности</h2>
<p>Главной особенностью <b>"КриптоПро ФКН CSP" версии 3.9</b>  (ранее продукт назывался "КриптоПро eToken CSP")  является использование технологии функционального ключевого носителя (ФКН). </p>
<p><b>Функциональный ключевой носитель (ФКН)</b> - архитектура программно-аппаратных продуктов на базе смарт-карт или USB-токенов, реализующая принципиально новый подход к обеспечению безопасного использования ключа на смарт-карте или USB-токене. </p>
<p>Благодаря наличию защищённого канала связи между токеном и криптопровайдером часть криптографических преобразований, включая хранение закрытых ключей и ключей ЭП в неизвлекаемом виде, выносится на смарт-карту или USB-токен. </p>
<p>Кроме аппаратной генерации ключей, их безопасного хранения и формирования ЭП в микропроцессоре ключевого носителя, архитектура ФКН позволяет эффективно противостоять атакам, связанным с подменой хэш-значения или подписи в канале связи между программной и аппаратной частью CSP.</p>
<p>В "КриптоПро ФКН CSP" версии 3.9 в качестве ключевого носителя выступает специально разработанный токен JaCarta CryptoPro, представленный в форм-факторах смарт-карты и USB-токена.</p>