<h2>Индивидуальная упаковка и кастомизация</h2>

<div class="row mb-4">
    <div class="col-6">
        <h3>Индивидуальная упаковка</h3>
        <p><b>Вам больше не надо думать об упаковке для токенов при их поставке Вашим клиентам</b>.</p>
        <p>Мы подготовили два типовых варианта для USB-токенов и смарт-карт:</p>
        <ul class="list-condensed">
            <li>индивидуальная картонная коробка (VIP);</li>
            <li>индивидуальный конверт (для массовых сервисов).</li>
        </ul>
        <p>В комплект любого из типовых вариантов входит Паспорт изделия и краткое руководство пользователя по использованию токена, а также целый набор полезных аксессуаров: кольца для крепления USB-токенов на связке с ключами, цветные брелоки и прочие.</p>
        <p>На базе типовой индивидуальной упаковки можно быстро сделать новую в фирменном стиле Заказчика.</p>
    </div>
    <div class="col-6">
        <h3>Кастомизация</h3>
        <p><b>USB-токены JaCarta PKI</b> могут выпускаться с цветной вставкой и пластиковым брелоком в фирменном цвете организации Заказчика. На корпусе устройства или на брелоке предусмотрено место для логотипа.</p>
        <p>Базовые цвета корпуса при заказе кастомизированных моделей: оранжевый (основной), белый, чёрный, красный, синий, малиновый, фиолетовый, зелёный.</p>
        <p>Для <b>смарт-карт JaCarta PKI</b> можно выбрать цвет пластика и контактов микроконтроллера (золотые или серебряные).</p>
        <p>В смарт-карты и USB-токены в корпусе XL могут быть встроены RFID-метки для контроля физического доступа в помещения (СКУД).</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <img src="{{ asset('images/package/Package_Box_Preview.png') }}" class="img-fluid" alt="Индивидуальная картонная коробка" />
    </div>
    <div class="col-3">
        <img src="{{ asset('images/package/Package_Envelope_Preview.png') }}" class="img-fluid" alt="Индивидуальный конверт" />
    </div>
    <div class="col-6">
        <img src="{{ asset('images/catalog/jacarta/Custom_Colors.png') }}" class="img-fluid" alt="Разные цвета корпуса" />
    </div>
</div>

