<h2>Назначение</h2>

<div class="row justify-content-center large">
    <div class="col-sm-8">
        <p><b>JaCarta PKI — сертифицированные USB-токены и смарт-карты с аппаратной реализацией зарубежных криптоалгоритмов, предназначенные для работы с инфраструктурой открытых ключей (PKI).</b></p>
        <p>Поддержка PKI позволяет применять устройства JaCarta PKI для строгой двухфакторной аутентификации и работы с усиленной ЭП в различных информационных системах и электронных сервисах. Наличие защищённой энергонезависимой памяти (EEPROM) даёт возможность безопасно хранить пользовательские данные и ключевые контейнеры популярных программных средств криптографической защиты информации (СКЗИ).</p>
    </div>
</div>

{{ include('catalog/jacarta/_shared/_purpose.html.twig') }}