<h2>Применение</h2>

<div class="row justify-content-center large">
    <div class="col-8">
        Устройства JaCarta PKI имеют более 150 сертификатов совместимости с самыми популярными отечественными и зарубежными продуктами и технологиями, такими как Citrix, Microsoft CA, Microsoft RDP и т.д., что позволяет использовать их в следующих классах систем:
    </div>
</div>

{{ include('catalog/jacarta/_shared/_use.html.twig') }}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-warning alert-lg">
            Если у вас есть потребность использовать устройства <b>JaCarta PKI</b> вместе с продуктами <b>eToken PRO (Java)</b>, обратите внимание на модель <a href="{{ path('catalog:product', {'product': 'jacarta_pro'}) }}">JaCarta PRO</a>.
        </div>
    </div>
</div>