<table class="table">
    <colgroup>
        <col width="30%" />
        <col />
    </colgroup>
    <tbody>
    <tr>
        <th class="border-top-0">Микроконтроллер</th>
        <td class="border-top-0">Защищённый смарт-карточный чип, имеющий специальную сертифицированную защиту и на аппаратном, и на программном уровнях (Secure by design), что позволяет успешно противостоять всем известным угрозам безопасности, методам взлома и клонирования.</td>
    </tr>
    <tr>
        <th>Размер EEPROM-памяти на чипе</th>
        <td>80 Кбайт (144 КБайт по отдельному запросу) </td>
    </tr>
    <tr>
        <th>Поддерживаемые операционные системы</th>
        <td>
            <p><b>Microsoft Windows</b></p>
            <ul class="list-condensed">
                <li>Microsoft Windows 10 (32/64-бит)</li>
                <li>Microsoft Windows 8.1 (32/64-бит)</li>
                <li>Microsoft Windows 8 (32/64-бит)</li>
                <li>Microsoft Windows 7 SP1 (32/64-бит)</li>
                <li>Microsoft Windows Vista SP2 (32/64-бит)</li>
                <li>Microsoft Windows XP SP3 (32-бит)</li>
                <li>Microsoft Windows Server 2012 R2 (64-бит)</li>
                <li>Microsoft Windows Server 2012 (64-бит)</li>
                <li>Microsoft Windows Server 2008 R2 SP1 (64-бит)</li>
                <li>Microsoft Windows Server 2008 SP2 (32/64-бит)</li>
                <li>Microsoft Windows Server 2003 SP2 (32/64-бит)</li>
            </ul>
            <p><b>GNU/Linux</b></p>
            <p><b>Apple macOS/OS X</b></p>
            <p><b>Apple iOS</b></p>
            <p><b>Google Android</b></p>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые криптографические алгоритмы</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>AES (длины ключей 128, 192, 256 бит);</li>
                <li>DES (длина ключа 56 бит);</li>
                <li>3DES (длины ключей 112 и 168 бит);</li>
                <li>RSA (длины ключей 512, 1024, 2048);</li>
                <li>криптография на эллиптических кривых (длины ключей 160, 192 бит);</li>
                <li>аппаратная генерация ключей для RSA и криптографии на эллиптических кривых;</li>
                <li>алгоритмы согласования ключей: алгоритм Диффи-Хеллмана, алгоритм Диффи-Хеллмана на эллиптических кривых;</li>
                <li>функции хэширования: SHA-1, SHA-224 (эллиптические кривые), SHA-256, SHA-384, SHA-512;</li>
                <li>генератор последовательностей случайных чисел.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Программные интерфейсы</th>
        <td>
            <ul class="list-unstyled list-condensed mb-0">
                <li><b>Microsoft Windows</b>: APDU, PKCS #11, MS CAPI (CSP, CNG)</li>
                <li><b>Linux</b>: APDU, PKCS #11</li>
                <li><b>Linux ARM</b>: APDU, PKCS #11</li>
                <li><b>Apple macOS/OS X</b>: APDU, PKCS #11</li>
                <li><b>Apple iOS</b>: APDU, PKCS #11 (JC-Mobile)</li>
                <li><b>Google Android</b>: APDU, PKCS #11 (JC-Mobile)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Аппаратные интерфейсы</th>
        <td>
            <ul class="list-unstyled list-condensed mb-0">
                <li>
                    <b>Для USB-токенов</b>
                    <ul>
                        <li>USB 2.0 Full speed (12 Мбит/с), разъём USB Type A</li>
                    </ul>
                </li>
                <li>
                    <b>Для смарт-карт</b>: ISO 7816-3
                    <ul>
                        <li>T=0 (для опции EMV-совместимость)</li>
                        <li>T=1 (используется по умолчанию)</li>
                    </ul>
                </li>
                <li>
                    <b>Для MicroUSB-токенов</b>
                    <ul>
                        <li>Разъёмы Micro-B или Micro-AB. Подключение к ПК через адаптер MicroUSB-USB 2.0 Fullspeed (12 Мбит/с)</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Совместимость с программными СКЗИ</th>
        <td>Подтверждённая совместимость с существующей инсталляционной базой программных СКЗИ. Все модели JaCarta PKI поддерживают хранение ключевых контейнеров криптопровайдеров и программных СКЗИ (например, КриптоПро CSP).</td>
    </tr>
    <tr>
        <th>CCID-совместимость</th>
        <td>Установка драйвера устройства для современных ОС (Microsoft Windows Vista и выше, GNU/Linux, Apple macOS/OS X) не требуется.</td>
    </tr>
    <tr>
        <th>Централизованное управление жизненным циклом токенов</th>
        <td>Доступно с помощью <a href="{{ path('catalog:product', {'product': 'jms'}) }}">JaCarta Management System</a> (JMS) — корпоративной системы управления жизненным циклом USB-токенов и смарт-карт, поддерживающей работу с устройствами JaCarta и eToken, а также устройствами других производителей.</td>
    </tr>
    <tr>
        <th>Возможность встраивания радио-метки (RFID)</th>
        <td>Есть (только для смарт-карт и USB-токенов в корпусе XL).</td>
    </tr>
    <tr>
        <th>Пыле- и влагозащищённость</th>
        <td>
            <p>Есть у USB-токенов в корпусе XL и Nano (степень защиты IP56).</p>
            <p class="small mb-0">Устройства производятся в соответствии с требованиями международного и российского стандартов IEC 60529, ГОСТ 14254-96, DIN 40050, МЭК 529:1989 для степени защиты IP56. Допускается использование устройств в пыльных помещениях, воздействие мощных водяных струй с различных направлений.</p>
        </td>
    </tr>
    <tr>
        <th>Защита от пробоя статическим электричеством</th>
        <td>
            <p>Есть (до 15 кВ)</p>
            <p class="small mb-0">Устройства имеют повышенную защищённость от пробоя статическим электричеством до 15 кВ и соответствуют требованиям ГОСТ Р 51317.4.2-2010.</p>
        </td>
    </tr>
    <tr>
        <th>Территориальные ограничения</th>
        <td>Есть только на комбинированные модели с аппаратной реализацией сертифицированной российской криптографии.</td>
    </tr>
    <tr>
        <th>Необходимость наличия лицензий на распространение</th>
        <td>Есть только на комбинированные модели с аппаратной реализацией сертифицированной российской криптографии.</td>
    </tr>
    <tr>
        <th>PIN-код пользователя (по-умолчанию)</th>
        <td>
            <code class="large">11111111</code><br>
            <small>При использовании JaCarta PKI с опцией "Обратная совместимость" &mdash; <code class="large">1234567890</code></small>
        </td>
    </tr>
    <tr>
        <th>PIN-код Администратора (по-умолчанию)</th>
        <td>
            <code class="large">00000000</code><br>
            <small>При использовании JaCarta PKI с опцией "Обратная совместимость" &mdash; PIN-код не установлен</small>
        </td>
    </tr>
    <tr>
        <th>Необходимое ПО</th>
        <td>
            <a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}">ПК "Единый Клиент JaCarta"</a>
        </td>
    </tr>
    <tr>
        <th>Срок хранения данных в памяти</th>
        <td>Не менее 10 лет</td>
    </tr>
    <tr>
        <th>Количество циклов перезаписи в одну ячейку EEPROM-памяти</th>
        <td>Не менее 500 000</td>
    </tr>
</table>
