<p>Команды для встраивания криптографических функций в прикладное программное обеспечение (ПО) описаны, проверены и включены в разрешённый "белый" список безопасных (сертифицированных) команд, не допускающих криптографически опасных последствий при неправильном встраивании и использовании.</p>
<p>Сертификаты ФСБ России № <a href="{{ path('download', {'uuid': '3fc62e2e-d983-41b2-8852-c41c3f588448'}) }}">СФ/124-3502</a> и <a href="{{ path('download', {'uuid': 'fcdeddee-8173-479e-8a55-384061863d81'}) }}">СФ/124-3473</a>. Последний выдан в качестве продления для сертификата СФ/124-3112 с новым номером.</p>
<hr>
<div style="font-style: italic">
    <p>Большинство конкурирующих продуктов не имеет "белых" списков криптографических функций и программных интерфейсов, разрешенных для встраивания в прикладное ПО.</p>
    <p>Встраивание таких средств (не имеющих "белых" списков), фактически является созданием нового СКЗИ из компонентов другого (сертифицированного как законченное изделие).</p>
    <p>Такая деятельность требует наличия лицензии ФСБ России на разработку шифросредств, а "сертифицированное" СКЗИ при использовании лишь части его компонентов с нарушением правил пользования сертифицированными не являются.</p>
</div>
