{% extends 'main.html.twig' %}

{% block title %}Правила оказания услуг{% endblock %}

{% block content %}

    <div class="grid-row">
        <div class="grid-row__column grid-row__column_9-sm">
            <h3>Правила оказания базовой технической поддержки пользователям продуктов компании "Аладдин Р.Д."</h3>
            <p>Компания "Аладдин Р.Д." оказывает базовую техническую поддержку по всем выпускаемым продуктам по
                текущей и, как правило, по предшествующей версиям. Базовая техническая поддержка входит в стоимость
                всех поставляемых продуктов, по умолчанию, на 1 год.</p>
            <p>В случае возникновения вопросов по установке или использованию продукта мы рекомендуем обратиться к
                Web-ресурсу "База знаний" по интересующим Вас продуктам. </p>
            <p>Как правило, Служба Технической поддержки (СТП) компании "Аладдин Р.Д." отвечает на обращения по
                электронной почте или через систему регистрации заявок в течение суток с момента получения
                сообщения (не считая выходных и праздничных дней). Просьба принять во внимание то, что подготовка
                ответа и моделирование возникшей проблемы может потребовать большего времени. </p>
            <br>
            <p>
                <a href="http://kbp.aladdin-rd.ru" class="btn btn-outline-primary" target="_blank" title="База знаний">База знаний</a>&nbsp;
                <a href="{{ path('support:tickets:create') }}" class="btn btn-outline-primary" title="Создание новой заявки">Создать заявку</a>
            </p>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Контактный телефон</h3>
                <p class="text_lead">+7 (495) 223-0001<br>(многоканальный)</p>
                <p class="text_small">Внимание: стоимость междугороднего/международного звонка оплачивается клиентом.</p>
            </div>
            <div class="col-6">
                <h3>Время работы СТП</h3>
                <p>
                    С <b>10:00 MSK</b> до <b>19:00 MSK</b>, кроме выходных и праздничных дней.<br>
                    Выходные дни: суббота и воскресенье.
                </p>
            </div>
        </div>
    </div>

    <hr>
    <div class="grid-row">
        <div class="grid-row__column grid-row__column_6">
            <h3>Обращения в СТП с помощью системы регистрации заявок</h3>
            <p>Перед тем, как обращаться в СТП компании "Аладдин Р.Д.", обратитесь к Web-ресурсу
                "<a href="http://kbp.aladdin-rd.ru" target="_blank" title="База знаний">База знаний</a>".
                Возможно, там Вы найдёте ответ на свой вопрос.
            </p>
            <p>Если Вы не нашли нужной информации на сайте, обратитесь в СТП с помощью
                <a href="{{ path('support:tickets:create') }}" title="Создание новой заявки">системы
                    регистрации заявок</a>. После создания обращения Вы сможете
                отслеживать состояние своей заявки.</p>
        </div>
        <div class="grid-row__column grid-row__column_6">
            <h3>Обращения в СТП по телефону</h3>
            <p>Оказание технической поддержки по телефону доступно для клиентов/партнёров, заключивших
                договор расширенной технической поддержки, а также в экстренных случаях (полная
                неработоспособность системы из-за проблем с USB-токенами и смарт-картами) для остальных
                клиентов.</p>
            <p>При приобретении расширенной технической поддержки (в зависимости от набора заказанных опций)
                доступно выделение персонального менеджера для оперативного решения вопросов.</p>
        </div>
    </div>

    <hr>

    <p>По вопросам заключения договора расширенной технической поддержки, пожалуйста, обращайтесь к сотрудникам
        коммерческого департамента компании "Аладдин Р.Д." по адресу <a href="mailto:dealer@aladdin-rd.ru">dealer@aladdin-rd.ru</a>.
    </p>
    <p>Компания "Аладдин Р.Д." оставляет за собой право изменить настоящие правила технической поддержки,
        объявив об этом на корпоративном сайте за полтора месяца до вступления изменений в силу. </p>
    <p>Мы ценим наших клиентов и постоянно работаем над улучшением качества наших услуг. Если Вы хотите выразить
        своё мнение о службе технической поддержки компании "Аладдин Р.Д." или предложить, как улучшить её
        работу, пожалуйста, отправьте нам отзыв по адресу: <a href="mailto:feedback@aladdin-rd.ru">feedback@aladdin-rd.ru</a>.
    </p>
    <p><b>ВНИМАНИЕ! "Базовая техподдержка" в некоторых материалах также может иметь название "Общая".</b></p>

{% endblock %}

{% block sidebar %}
    {{ include('support/_sidebar.html.twig') }}
{% endblock %}