<p>Вопросы о том, "<b>кто ты</b>?" и "<b>как ты можешь доказать, что ты – это ты</b>?", являются фундаментальной
    основой для построения систем информационной безопасности современных предприятий. Не зная, кто именно имеет
    доступ к конфиденциальным данным, и является ли этот "кто-то" тем, за кого себя выдает, невозможно построить
    эффективную, прозрачную и управляемую систему защиты корпоративных, государственных, частных информационных
    ресурсов. Ответы на эти вопросы &mdash; есть основная задача строгой аутентификации пользователей при доступе к
    системам, приложениям, базам данных, Web-порталам и другим информационным ресурсам.
</p>
<p>Имея статус учебного пособия, книга <b>"Аутентификация: теория и практика обеспечения безопасного доступа к
        информационным ресурсам"</b> заполняет пробел в представленной на сегодня специализированной ИТ-литературе и
    призвана занять достойное место в библиотеках специалистов по информационной безопасности, сотрудников
    ИТ-подразделений компаний, преподавателей, аспирантов и студентов ВУЗов профильных специальностей.
</p>
<p>Являясь приверженцами объективного подхода к работе, авторы книги – практики и настоящие профессионалы своего дела – описывают достоинства и недостатки наиболее распространенных на сегодня методов аутентификации. Оригинальная структура книги позволит каждому читателю получить мощную теоретическую базу в области построения систем аутентификации, а так же проверить свои знания, выполнив ряд лабораторных работ.</p>
<p>Итак, желаем Вам приятного чтения!</p>

<h3>Под редакцией</h3>
<ul>
    <li>
        <strong>ШЕЛУПАНОВ</strong> Александр Александрович, д.т.н., профессор, директор Института системной интеграции и безопасности ТУСУРа
    </li>
    <li><strong>ГРУЗДЕВ</strong> Сергей Львович, генеральный директор "Аладдин&nbsp;Р.Д."</li>
    <li>
        <span style="border:solid 1px"><strong>НАХАЕВ</strong> Юрий Сергеевич</span>, к.ф.м.н., старший научный сотрудник, руководитель аналитического отдела "Аладдин&nbsp;Р.Д."
    </li>
</ul>

<h3>Содержание</h3>
<ul class="contents-list">
    <li><b>ВВЕДЕНИЕ</b></li>
    <li><b>ЧАСТЬ I. ТЕОРЕТИЧЕСКИЕ ОСНОВЫ</b>
        <ul>
            <li><b>Глава 1</b>. Общие сведения</li>
            <li><b>Глава 2</b>. Парольная аутентификация</li>
            <li><b>Глава 3</b>. Аутентификация с помощью биометрических характеристик</li>
            <li><b>Глава 4</b>. Аутентификация с помощью одноразовых паролей</li>
            <li><b>Глава 5</b>. Криптография с открытым ключом</li>
            <li><b>Глава 6</b>. Протоколы аутентификации в локальной сети</li>
            <li><b>Глава 7</b>. Механизмы аутентификации при осуществлении подключений</li>
            <li><b>Глава 8</b>. Аутентификация в защищенных соединениях</li>
            <li><b>Глава 9</b>. Применение аппаратных средств аутентификации и хранения ключевой информации</li>
        </ul>
    </li>
    <li><b>ЧАСТЬ II. ПРАКТИКА</b>
        <ul>
            <li>
                <b>Глава 1</b>. Обеспечение безопасности доступа к данным и приложениям информационной системы организации на основе рекомендаций и продуктов Microsoft. Типовые решения
            </li>
            <li>
                <b>Глава 2</b>. Обеспечение безопасности доступа к данным и приложениям информационной системы организации на основе рекомендаций и продуктов Oracle и Aladdin. Типовые решения
            </li>
            <li>
                <b>Глава 3</b>. Обеспечение безопасности доступа к данным и приложениям информационной системы организации на основе рекомендаций и продуктов Citrix Systems
            </li>
        </ul>
    </li>
</ul>

<p>Вы можете заказать книгу <b>в полном объеме в печатном виде</b> на сайте Интернет-магазина
    <a href="http://www.books.ru/shop/books/704715" target="_blank">www.books.ru</a>. Обратите внимание, тираж книги регулярно допечатывается небольшими партиями под заказ.
</p>