<p>В целях повышения профессионального уровня в сфере обеспечения защиты информации с применением продуктов и решений
    компании и её технологических партнёров "Аладдин Р.Д." предлагает разнообразные варианты обучения для всех статусов
    партнёров. </p>

<h3 class="text-center text-uppercase my-5">Варианты сертификации</h3>

<div class="row">
    <div class="col-6">
        <h4>Сертифицированный специалист по продажам</h4>
        <p>Для получения статуса "Сертифицированный специалист по продажам" необходимо ознакомиться с материалами о
            продуктах и решениях компании, их продвижении и успешно пройти Online-тестирование в разделе
            <a href="https://partners.aladdin-rd.ru/training/courses/index" target="_blank">"Сертификация"</a>.</p>
    </div>
    <div class="col-6">
        <h4>Сертифицированный специалист по продуктам и решениям</h4>
        <p>Для получения статуса "Сертифицированный специалист по продуктам и решениям" необходимо пройти обучение и
            тестирование по продуктам и решениям компании в авторизованном Учебном центре. Информация об Учебных центрах
            и ближайших курсах доступна в разделе
            <a href="https://partners.aladdin-rd.ru/training/default/courses" target="_blank">
                "Категории курсов"</a>.</p>
    </div>
</div>

<h3 class="text-center text-uppercase my-5">Варианты и организация обучения</h3>

<div class="row">
    <div class="col-6">
        <h4 class="text-uppercase">Самостоятельное обучение</h4>
        <p>Для самостоятельного обучения партнёры могут использовать материалы по продуктам и решениям, доступные на основном,
            а также <a href="https://partners.aladdin-rd.ru/library/index" target="_blank">партнёрском</a> сайтах компании
            "Аладдин Р.Д.":</p>
        <ul class="list-condensed">
            <li>библиотека ресурсов (листовки, брошюры, презентации, белые страницы и пр.);</li>
            <li>руководства по продажам (Sales Guides) и лицензированию;</li>
            <li>записи вебинаров;</li>
            <li>тематически статьи и публикации;</li>
            <li>технические материалы и документация.</li>
        </ul>
    </div>
    <div class="col-6">
        <h4 class="text-uppercase">Точечное и индивидуальное обучение</h4>
        <ul class="list-condensed">
            <li>Тематические семинары в офисе компании в рамках Aladdin Security Day</li>
            <li>Очное обучение на территории "Аладдин Р.Д." для специалистов партнёров или заказчиков партнёров</li>
            <li>Выездное обучение на территории партнёров или заказчиков партнёров</li>
        </ul>
        <p>Для уточнения ближайшей темы и даты, либо согласования даты и темы очного или выездного обучения необходимо
            обратиться к курирующему менеджеру в компании "Аладдин Р.Д.".</p>
    </div>
</div>

<h4 class="text-uppercase">Дистанционное обучение</h4>
<p>На регулярной основе компания проводит Online-обучение в формате вебинаров для менеджеров по продажам или работе с
    заказчиками и технических специалистов партнёров. Возможно обзорное обучение по всем решениям компании или по
    отдельным продуктам, с демонстрацией этих продуктов, совместно для нескольких компаний, либо индивидуальные для
    специалистов одной компании.</p>

<h3 class="text-center text-uppercase my-5">Очное обучение в авторизованных Учебных центрах</h3>
<div class="row">
    <div class="col-6">
        <h4 class="text-uppercase">Теория и практика</h4>
        <p>Все занятия состоят из теоретической и практической частей, большое внимание уделяется практической составляющей курсов.</p>
    </div>
    <div class="col-6">
        <h4 class="text-uppercase">Современное оборудование</h4>
        <p>Практические занятия проводятся на реконфигурируемых стендах, позволяющих моделировать корпоративные сети предприятий, применять средства защиты информации, отрабатывать полученные навыки.</p>
    </div>
    <div class="col-6">
        <h4 class="text-uppercase">Опытные инструкторы</h4>
        <p>Занятия ведут высокопрофессиональные инструкторы — сертифицированные преподаватели, имеющие многолетний практический опыт работы в области информационной безопасности.</p>
    </div>
    <div class="col-6">
        <h4 class="text-uppercase">Учебные пособия</h4>
        <p>Слушатели получают комплекты учебных пособий и компакт-диски, содержащие версии рассматриваемых в курсах средств защиты, а также иллюстративную и справочную информацию.</p>
    </div>
</div>

<h3 class="text-center text-uppercase my-5">Виды обучения</h3>
<div class="row">
    <div class="col-6">
        <h4 class="text-uppercase">Групповое обучение</h4>
        <p>Этот вид обучения предлагается представителям компаний-партнёров "Аладдин Р.Д." и частным лицам. Группы формируются в Учебных центрах, вы всегда можете подобрать удобное для вас время и место проведения обучения в соответствии с расписанием.</p>
        <h4 class="text-uppercase">Выездное обучение</h4>
        <p>По предварительной договорённости с выбранным Учебным центром возможна организация обучения групп специалистов на территории заказчика.</p>
    </div>
    <div class="col-6">
        <h4 class="text-uppercase">Корпоративное обучение</h4>
        <p>Этот вид обучения предлагается корпоративным заказчикам "Аладдин Р.Д." и позволяет формировать команды специалистов, подготовленных к осуществлению сложных проектов, поддерживать квалификацию своих специалистов по защите информации на высоком уровне, выбирать наиболее удобное время и место обучения своих специалистов, рационально расходовать средства, выделенные на подготовку кадров.</p>
    </div>
</div>

<h3 class="text-center text-uppercase my-5">Документы об обучении</h3>
<p>В зависимости от выбранной программы слушатели по окончании курса и при условии успешной сдачи тестов получают:</p>
<ul class="list-condensed">
    <li>фирменные свидетельства Учебных центров и/или</li>
    <li>именной сертификат компании "Аладдин Р.Д.". </li>
</ul>
<p>Подробнее смотрите в описании выбранного курса в разделе "<a href="#courses" data-toggle="tab" data-target="#courses">Категории курсов</a>".</p>