<h2>Назначение JaCarta-2 ГОСТ</h2>

<div class="row justify-content-center large text-center">
    <div class="col-md-8">
        JaCarta-2 ГОСТ — новое поколение USB-токенов, смарт-карт, модулей безопасности с аппаратной реализацией российских криптографических алгоритмов
    </div>
</div>

<div class="row mt-4">
    <div class="col-6">
        <h4>Средство электронной подписи и полноценное СКЗИ</h4>
        <p>JaCarta-2 ГОСТ предназначена для использования в качестве сертифицированного средства ЭП (усиленной квалифицированной подписи &mdash; УКЭП) и полноценного СКЗИ в системах электронного документооборота (ЭДО), дистанционного банковского обслуживания (ДБО) и др. для обеспечения юридической значимости и неотказуемости действий пользователей, а также для обеспечения целостности и конфиденциальности передаваемых данных.</p>
        <p>Для обеспечения совместимости с существующими системами и плавного перехода на использование нового российского стандарта ЭП JaCarta-2 ГОСТ поддерживает как старые криптографические алгоритмы <span class="text-nowrap">ГОСТ Р 34.11-94</span> и <span class="text-nowrap">ГОСТ Р 34.10-2001</span>, выводимые из использования с 2019&nbsp;г., так и новые — <span class="text-nowrap">ГОСТ Р 34.11-2012</span> и <span class="text-nowrap">ГОСТ Р 34.10-2012</span>.</p>
    </div>
    <div class="col-6">
        <h4>Средство строгой двухфакторной аутентификации</h4>
        <p>Устройства JaCarta-2 ГОСТ могут применяться для обеспечения безопасного доступа пользователей или терминального оборудования в информационные системы, Web-порталы и облачные сервисы.</p>

        <h4>Средство безопасного хранения пользовательских данных</h4>
        <p>Возможности устройств JaCarta-2 ГОСТ позволяют обеспечить безопасное хранение ключевых контейнеров программных СКЗИ (например, КриптоПро CSP и ViPNet CSP), цифровых сертификатов, паролей, пользовательских и прочих данных в защищённой энергонезависимой памяти (EEPROM).</p>

        <div class="alert alert-warning alert-lg">JaCarta-2 ГОСТ — коммерческое название второго поколения устройств JaCarta ГОСТ с загруженным в них СКЗИ <span class="text-nowrap">"Криптотокен 2 ЭП"</span>, имеющем сертификат соответствия ФСБ России <a href="{{ path('download', {'uuid': 'fcdeddee-8173-479e-8a55-384061863d81'}) }}" class="text-nowrap">№ СФ-124/3473</a>.</div>
    </div>
</div>

<h2 class="mt-4">Различные исполнения</h2>

<div class="row">
    <div class="col-md-4">
        <img src="{{ asset('images/catalog/jacarta/632x300/Group-Card_XL_Nano_Micro_Crop.png') }}" alt="USB-токены и смарт-карты JaCarta ГОСТ" class="img-fluid mb-4" />
        <p><b>USB-токены и смарт-карты JaCarta ГОСТ</b> предназначены для использования в качестве средства строгой двухфакторной аутентификации пользователей и средства ЭП в системах ЭДО, ДБО и различных электронных сервисах — порталах госуслуг, торговых площадках, в системе ЕГАИС и т.д.</p>
    </div>
    <div class="col-md-4">
        <img src="{{ asset('images/catalog/jacarta/632x300/Chip_for_Card_Gold_Crop.png') }}" alt="Модули смарт-карт JaCarta ГОСТ" class="img-fluid mb-4" />
        <p><b>Модули смарт-карт JaCarta ГОСТ</b>, в том числе с поддержкой бесконтактного интерфейса NFC, &mdash; могут использоваться при выпуске корпоративных, платёжных, социальных, транспортных, кампусных и других видов карт с аппаратной поддержкой сертифицированной российской криптографии "на борту", например, платёжная карта "Мир" с транспортным приложением "Тройка" и средством ЭП.</p>
    </div>
    <div class="col-md-4">
        <img src="{{ asset('images/catalog/jacarta/632x300/SIM_Cards.jpg') }}" alt="" class="img-fluid mb-4" />
        <p><b>Модули безопасности JaCarta ГОСТ</b> &mdash; SIM-модули, микросхемы для монтажа на печатную плату &mdash; могут использоваться в различном терминальном, навигационном, телематическом и другом встраиваемом оборудовании, включая устройства для Интернета вещей (IoT), межмашинного взаимодействия (M2M), а также в автоматизированных системах управления технологическими процессами (АСУ ТП).</p>
    </div>
</div>