<h2 class="text-center mb-5 mt-0">
    Лучше один раз увидеть
</h2>
<div class="row text-center">
    <div class="col-sm-6 col-md-4 offset-md-2">
        <img src="{{ asset('images/catalog/presentation.svg') }}" width="150" height="150" class="mb-4"><br />
        <a href="{{ path('support:request', {'code': 'presentation', 'from': 'jacarta-2_gost'}) }}" class="btn btn-outline-primary" target="_blank">Заказать живую презентацию</a>
    </div>
    <div class="col-sm-6 col-md-4">
        <img src="{{ asset('images/catalog/call.svg') }}" width="150" height="150" class="mb-4"><br />
        <a href="{{ path('support:request', {'code': 'callback', 'from': 'jacarta-2_gost'}) }}" class="btn btn-outline-primary" target="_blank">Заказать обратный звонок</a>
    </div>
</div>