<h3 class="text-center">Поддерживаемые ОС<br />
    <span class="small">(для сертифицированного средства ЭП и СКЗИ)</span>
</h3>
<div class="row">
    <div class="col-4">
        <h4>Microsoft Windows<sup>*</sup></h4>
        <ul class="list-condensed">
            <li>Microsoft Windows 10</li>
            <li>Microsoft Windows 8.1</li>
            <li>Microsoft Windows 8</li>
            <li>Microsoft Windows 7</li>
            <li>Microsoft Windows Vista SP2</li>
            <li>Microsoft Windows XP SP3 (32-бит)</li>
            <li>Microsoft Windows XP SP2 (64-бит)</li>
            <li>Microsoft Windows Server 2012</li>
            <li>Microsoft Windows Server 2008 R2</li>
            <li>Microsoft Windows Server 2008</li>
            <li>Microsoft Windows Server 2003 SP2</li>
        </ul>
        <p class="small"><em><sup>*</sup> Поддерживаются 32- и 64-битные версии ОС, если не указано иное</em></p>
    </div>
    <div class="col-4">
        <h4>Дистрибутивы Linux</h4>
        <ul class="list-condensed">
            <li>Astra Linux Common и Special Edition</li>
            <li>CentOS 7</li>
            <li>Debian 8.4</li>
            <li>Mandriva Enterprise Server 5</li>
            <li>openSUSE 13.2, Leap 42.1</li>
            <li>Oracle Linux 5 Update 5&6, <span class="text-nowrap">Oracle Linux 6</span></li>
            <li>Red Hat Enterprise Linux 5.6, 6.0, 7.0, 7.2</li>
            <li>ROSA Enterprise Desktop X1 (Marathon)</li>
            <li>ROSA Enterprise Linux Server</li>
            <li>SUSE Linux Enterprise Server 11 SP4</li>
            <li>Ubuntu 14.04</li>
            <li>МСВС 3.0, 5.0</li>
            <li>МСВСфера</li>
            <li>Ред ОС</li>
            <li><span class="text-nowrap">РОСА DX "КОБАЛЬТ" 1.0</span>, <span class="text-nowrap">SX "КОБАЛЬТ" 1.0</span></li>
        </ul>
    </div>
    <div class="col-4">
        <h4>Apple OS X</h4>
        <ul class="list-condensed">
            <li>OS X 10.10 Yosemite</li>
            <li>OS X 10.11 El Capitan</li>
        </ul>
    </div>
</div>
<p>Это список ОС, вошедших в сертифицированную версию. Поддерживаемый список ОС и платформ (x86, ARM, RISC) намного шире.</p>
