<h2>Назначение Secret Disk 5</h2>
<ul>
    <li>Защита от несанкционированного доступа и утечки конфиденциальной информации, хранящейся и обрабатываемой на персональном компьютере или ноутбуке. </li>
    <li>Защита информации на съёмных носителях. </li>
    <li>Разграничение прав пользователей на доступ к защищённой информации с использованием надёжной двухфакторной аутентификации (владение электронным ключом и знание пароля). </li>
    <li>Сокрытие наличия на персональном компьютере конфиденциальных данных. </li>
</ul>

<h2>Когда необходим Secret Disk 5?</h2>
<ul>
    <li><b>При работе на ноутбуке.</b> Утеря или кража ноутбука, несанкционированное использование посторонними лицами.</li>
    <li><b>При работе на персональном компьютере в офисе.</b> Несанкционированный доступ к данным по локальной сети или неправомерное использование посторонними лицами во время отсутствия пользователя на рабочем месте.</li>
    <li><b>Когда компьютер передаётся на сервисное обслуживание.</b> Несанкционированный доступ к данным во время проведения ремонтных и сервисных работ внутренней IT-службой или внешней сервисной компанией.</li>
    <li><b>Если Вам необходимо защитить съёмные носители.</b> Утеря или кража носителей влечёт за собой утрату конфиденциальных данных.</li>
    <li><b>Если требуется предоставить системному администратору полный доступ к компьютеру.</b> При установке нового ПО конфиденциальные данные должны быть защищены.</li>
</ul>

<h2>Ключевые преимущества Secret  Disk 5</h2>

<h3>Безопасность</h3>
<p>Современные алгоритмы шифрования и надёжная процедура подтверждения прав пользователя обеспечат защиту данных от множества угроз.</p>

<h4>Шифрование данных</h4>
<p>Secret Disk 5 обеспечивает защиту данных путём шифрования разделов на жёстких дисках, томов на динамических дисках, виртуальных дисков и съёмных носителей.</p>

<h4>Защита системного раздела жёсткого диска</h4>
<p style="font-style:italic;color:#999">Данная функция доступна на подавляющем большинстве ноутбуков/персональных компьютеров. Для подтверждения возможности использования данной функции на конкретной модели ноутбука/ПК необходимо выполнить тестовую установку Secret Disk. При наличии у компьютера режима UEFI BIOS, компьютер должен быть переведён из режима LEGACY в режим UEFI. Перед установкой защиты системного раздела средствами Secret Disk на сенсорном планшете с архитектурой x86 необходимо убедиться в возможности подключения клавиатуры и токена одновременно, поскольку поддержка клавиатуры в UEFI реализована не у всех производителей.</p>
<p>Системный раздел жёсткого диска содержит данные, представляющие особый интерес для хакеров, конкурентов или инсайдеров. Например, в системном разделе хранятся учётные записи пользователей, логины и пароли к различным информационным ресурсам, электронная почта, лицензионная информация используемых программ и т.д. </p>
<p>Злоумышленники могут получить все эти данные, анализируя временные файлы ОС, файлы подкачки, файлы-журналы приложений, дампы памяти, а также образ, сохраняемый на диск при переходе системы в "спящий" режим.</p>
<p>Secret Disk 5, в отличие от многих конкурентов, позволяет защитить системный раздел, а также хранящуюся на нём информацию.</p>

<h4>Загрузка операционной системы по предъявлению электронного ключа</h4>
<p>Получив доступ к персональному компьютеру, злоумышленник или недобросовестный сотрудник может использовать его для получения доступа к закрытым ресурсам (например, к корпоративным серверам или платёжным данным пользователя). Стандартные средства авторизации операционной системы Microsoft Windows не могут надёжно ограничить загрузку и работу в операционной системе. Использование электронных <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}" target="_blank">USB-ключей и смарт-карт</a> для аутентификации пользователей до загрузки ОС гарантирует доступ к компьютеру только лицам, получившим такое право.</p>
<p>Secret Disk 5 предоставляет наиболее безопасную и надёжную на сегодняшний день процедуру подтверждения прав пользователя – двухфакторную аутентификацию – для доступа к данным необходимо не только наличие <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}" target="_blank">электронного ключа</a>, но и знание пароля к нему.</p>

<h4>Пофайловое шифрование</h4>
<p>Новый режим шифрования, применяемый в Secret Disk 5, выводит этот продукт на принципиально новый уровень обеспечения безопасности пользовательских данных. Зашифрованные файлы и папки с конфиденциальными данными пользователя будут недоступны системному администратору даже из параллельной сессии Windows, потому что Secret Disk 5 предоставит ключ шифрования только легитимному владельцу информации.</p>
<p>Создание и восстановление резервной копии файлов в зашифрованных папках может быть произведено системным администратором сети даже дистанционно, при этом данные будут оставаться зашифрованными и недоступными ни администратору, ни злоумышленникам.</p>

<h4>Необратимое удаление данных</h4>
<p>В Secret Disk 5 реализованы две функции безопасного удаления данных.</p>
<ul>
    <li>Необратимое удаление данных. Восстановить файл будет невозможно ни стандартными средствами Windows, ни сторонними приложениями.</li>
    <li>Перемещение файла без возможности восстановления по исходному пути. Позволяет перенести файл или папку, одновременно удалив их по исходному пути без возможности последующего восстановления.</li>
</ul>

<h4>Возможность использования сертифицированных криптопровайдеров</h4>
<p>При установке дополнительных поставщиков криптографии (криптопровайдеров) Secret Disk 5 позволяется защищать данные в соответствии с требованиями ГОСТ 28147-89 "Системы обработки информации. Защита криптографическая". Решение также может комплектоваться сертифицированным электронным ключом (USB-токеном или смарт-картой). </p>

<h3>Надёжность</h3>
<p>Решение устойчиво к возможным сбоям операционной системы или отключениям электропитания, что исключает возможность повреждения данных. Поддерживается резервное копирование и восстановление ключей шифрования в случае утери персонального электронного ключа.</p>

<h4>Восстановление доступа к зашифрованным дискам</h4>
<p>В случае утери или поломки <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">USB-ключа или смарт-карты</a> в Secret Disk 5 предусмотрена возможность резервного восстановления доступа к данным.</p>

<h4>Защита от сбоев во время установки защиты</h4>
<p>Процесс шифрования диска может быть приостановлен или даже прерван, например, из-за перебоев электропитания, однако это не повлечёт за собой потерю данных. Приостановленный или прерванный процесс шифрования может быть возобновлён в любой удобный момент. По завершении процесса шифрования всё содержимое диска становится зашифрованным, что обеспечивает надёжную криптографическую защиту хранящихся на нём данных. </p>

<h3>Удобство</h3>
<p>Установка Secret Disk 5 не потребует перенастройки ПО. Шифрование данных "на лету" и удобный пользовательский интерфейс сделают работу на компьютере максимально комфортной.</p>

<h4>Прозрачное шифрование</h4>
<p>Операции начального зашифрования или полного перешифрования для современных дисков большого объёма могут потребовать значительного времени, что может создать определённые неудобства для пользователя. </p>
<p>В Secret Disk 5 все операции зашифрования, перешифрования и расшифрования проводятся в фоновом режиме. Во время выполнения этих операций диск полностью доступен для работы, что даёт возможность использовать компьютер, не дожидаясь окончания процесса шифрования.</p>

<h4>Защищённые контейнеры</h4>
<p>В новой версии Secret Disk появилась новейшая функция создания защищённых контейнеров, во многом сходных по структуре и способу доступа с виртуальными дисками, но имеющие кардинальное отличие: их можно монтировать на компьютерах, где не установлен Secret Disk. Для использования защищённых контейнеров на компьютерах без установленного Secret Disk 5 достаточно скачать программу Secret Disk Reader (SDR) и получить от отправителя контейнера пароль доступа.</p>
<p>Получатель контейнера может не только смонтировать его как виртуальный диск, но и редактировать файлы в контейнере, и даже добавлять в контейнер новые файлы, которые также будут автоматически зашифрованы.</p>