<h2>Стандартная поставка</h2>
<p>Включает:</p>
<ul>
    <li>файл лицензии;</li>
    <li>информационный листок;</li>
    <li>гарантийный талон.</li>
</ul>
<p>Для работы продукта необходимо приобрести электронный ключ из числа совместимых.</p>

<h2>Лицензионная политика</h2>
<ul>
    <li>Стандартная лицензия на право использования Secret Disk 5 действует 1 год или 10 лет и зависит от выбранного варианта поставки.</li>
    <li>Продлением лицензии называется покупка новой лицензии на другой срок действия.</li>
    <li>Лицензия включает в себя все функции Secret Disk 5.</li>
    <li>Файл лицензии хранится на электронном ключе пользователя, имеет привязку к серийному номеру токена и может быть записан на токен самим пользователем с помощью бесплатной утилиты, входящей в комплект поставки.</li>
    <li>Электронный ключ может хранить только одну лицензию Secret Disk 5.</li>
    <li>При форматировании ключа файл лицензии удаляется. Пользователю потребуется повторно записать его.</li>
    <li>По окончании срока действия лицензии пользователю даётся 30 дней на покупку новой лицензии. Через 30 дней системный и логический диски будут в фоновом режиме расшифрованы, а виртуальные диски, защищённые контейнеры и папки станут доступны только на чтение.</li>
    <li>Продление лицензии не требует замены электронного ключа пользователя.</li>
    <li>Продукт можно установить на произвольное количество компьютеров, но одновременно использовать только на компьютерах, к USB-порту которых подключён электронный ключ с лицензией.</li>
    <li>Для реализации многопользовательского режима на одном компьютере каждый пользователь должен иметь свой электронный ключ с лицензией.</li>
</ul>
<p>Приобрести дополнительные электронные ключи и лицензии на Secret Disk 5 можно в разделе "Цены и заказ".</p>
<p>Если у Вас уже есть электронные ключи из списка совместимых, достаточно только приобрести необходимое количество лицензий.</p>
