<h2>Системные требования</h2>

<h3>Программное обеспечение</h3>
<p>На компьютере должны быть установлены драйверы электронных ключей, а при использовании <a href="{{ path('catalog:product', {'product': 'readers'}) }}">устройства чтения смарт-карт</a> &mdash; драйвер этого устройства. </p>
<p>Объём свободного места на жёстком диске для установки Secret Disk 5 &mdash; 120 МБ. </p>

<h3>Аппаратное обеспечение</h3>
<p>Персональный компьютер должен удовлетворять требованиям, изложенным в документации операционной системы и поставщиков криптографии, иметь свободный разъём для подключения USB-устройств (при использовании USB-ключей) или/и устройство чтения смарт-карт (при использовании смарт-карт). </p>

<h2>Спецификация</h2>

<table class="table">
    <colgroup>
        <col width="35%" />
        <col />
    </colgroup>
    <thead>
    <tr>
        <th>Параметр</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Поддерживаемые платформы</td>
        <td>
            <ul>
                <li>Microsoft Windows 10</li>
                <li>Microsoft Windows 8.1</li>
                <li>Microsoft Windows 8</li>
                <li>Microsoft Windows 7</li>
                <li>Microsoft Windows Vista</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Типы поддерживаемых защищаемых ресурсов</td>
        <td>
            <ul>
                <li>Системный раздел жёсткого диска<sup>1</sup></li>
                <li>Основные разделы и логические диски в дополнительных разделах базовых жёстких дисков</li>
                <li>Тома динамических дисков </li>
                <li>Съемные диски (USB- и Flash-диски и др.) </li>
                <li>Виртуальные диски</li>
                <li>Файловые папки на системном и логических томах и съёмных дисках (за исключением системных папок операционной системы)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Типы файловых систем</td>
        <td>
            <ul>
                <li>NTFS</li>
                <li>FAT 32</li>
                <li>exFAT</li>
                <li>FAT 12/16/VFAT</li>
            </ul>
            <p>С возможностью переформатирования из одного типа в другой без расшифрования.</p>
        </td>
    </tr>
    <tr>
        <td>Размер защищаемых дисков</td>
        <td>
            <ul>
                <li>От 1 МБ (для FAT)</li>
                <li>До 16 ТБ (для зашифрованных томов)</li>
                <li>До 2 ТБ (для зашифрованных виртуальных дисков).</li>
            </ul>
            <p>См. <a href="{{ path('catalog:product:page', {'product': 'secret_disk', 'page': 'filesystem'}) }}" target="_blank">Особенности файловых систем NTFS и FAT</a></p>
        </td>
    </tr>
    <tr>
        <td>Модели электронных ключей</td>
        <td>
            <ul>
                <li>USB-ключи линейки JaCarta (кроме JaCarta LT);</li>
                <li>USB-ключ eToken PRO (Java);</li>
                <li>Смарт-карты линейки JaCarta (кроме JaCarta LT);</li>
                <li>Смарт-карта eToken PRO (Java);</li>
                <li>Комбинированный ключ eToken NG-FLASH;</li>
                <li>Комбинированный ключ eToken NG-OTP;</li>
                <li>eToken PRO Anywhere.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Размер занимаемой памяти на электронном ключе</td>
        <td>От 4 Кб</td>
    </tr>
    <tr>
        <td>Встроенные алгоритмы шифрования</td>
        <td>Нет</td>
    </tr>
    <tr>
        <td>Поддерживаемые внешние поставщики службы криптографии (CSP) и блочные алгоритмы шифрования</td>
        <td>
            <ul>
                <li>Крипто-библиотеки режима ядра, входящие в состав пакета расширения Secret Disk Crypto Extension Pack, &mdash; рекомендуются как более быстрые и надёжные:
                    <ul>
                        <li>AES с длиной ключа 128/256-бит; </li>
                        <li>Twofish с длиной ключа 256-бит. </li>
                    </ul>
                </li>
                <li>КриптоПро CSP и Vipnet CSP (реализуют российский стандарт, сертифицированы ФСБ России &mdash; рекомендуются государственным учреждениям и корпоративным пользователям):
                    <ul>
                        <li>ГОСТ 28147-89 с длиной ключа 256-бит.</li>
                    </ul>
                </li>
                <li>Microsoft Enhanced Crypto Provider (входит в состав операционной системы):
                    <ul>
                        <li>AES с длиной ключа 128/256-бит;</li>
                        <li>RC2 с длиной ключа 128-бит (используется по умолчанию); </li>
                        <li>Triple DES с длиной ключа 168-бит. </li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Поддержка других алгоритмов шифрования</td>
        <td>
            <ul>
                <li>Через внешних поставщиков службы криптографии (CSP).</li>
                <li>Через подключаемые библиотеки режима ядра.</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<br />

<p class="small"><sup>1</sup> <em>Компания работает над поддержкой максимального модельного ряда ПК, но предусмотреть все системно-технические особенности моделей различных производителей невозможно.</em></p>