<?php
/**
 * @var $this yii\web\View
 */
?>
<p>Выход на рынок смарт-карт (для РС) с продуктом ASE (Aladdin Smartcard Environment).</p>

<p>1998 - кризис экономики и дефолт в России. Бизнес-направление смарт-карт находится в состоянии стагнации, в следствие чего направление ASE было приостановлено.</p>

<p>Представительство компании EliaShim Microcomputers, производство в России ключей MemoPlug для защиты ПО. Занятая доля на рынке около 60%. Персонал компании EliaShim составил костяк будущей компании "Аладдин Р.Д.".</p>

<p><strong>10 апреля - День рождения компании Aladdin Software Security R.D.: компания Aladdin Knowledge Systems купила бизнес EliaShim Microcomputers. Российское представительство в полном составе перешло во вновь созданную компанию Aladdin Software Security R.D.</strong></p>

<p>Главным продуктом стали ключи HASP. Буквально через год-два ключи HASP прочно заняли первое место на российском рынке, захватив около 70%.</p>
