<?php
/**
 * @var $this yii\web\View
 */
?>
<p>eToken – новое перспективное направление развития бизнеса компании.</p>
<p>Выпущен первый продукт на базе eToken – "eToken - Безопасность в сети", проведена первая совместная акция с Microsoft.</p>
<p>Появление прототипа eToken, начало формирование нового направления по информационной безопасности.</p>
<p>Разработка и выпуск продуктов Secret Disk и Secret Disk Server.</p>
<p>Вывод на рынок ключа Hardlock (решения от купленной Aladdin Knowledge Systems немецкой компании FAST Electronic).</p>
