<?php
/**
 * @var $this yii\web\View
 */
?>
<p>Компания "Аладдин Р.Д." вошла в "ТОП-100 российского IT-рынка" (рейтинг CNews.ru).</p>
<p>"Аладдин Р.Д." впервые становится лидером продаж по направлениям HASP и eToken среди других дистрибьюторов Aladdin Knowledge Systems (I место).</p>
<p>Сформирована новая команда R&amp;D, начата разработка нового поколения линейки продуктов Secret Disk NG.</p>
<p>Начало вывода с рынка ключей Hardlock – они постепенно замещаются на ключи HASP. </p>
<p>eToken становится главным стратегическим направлением компании. Выпущена широкая линейка продуктов основанных на eToken.</p>
