<?php
/**
 * @var $this yii\web\View
 */
?>
<p>Компания "Аладдин Р.Д." вошла в "Рейтинг крупнейших ИТ-компаний РФ" (исследование "РА "Эксперт").</p>
<p>"Аладдин Р.Д." во второй раз стала лидером продаж по направлениям HASP и eToken среди других дистрибьюторов Aladdin Knowledge Systems (I место).</p>
<p>Компания позиционируется как эксперт в области "ААА". eToken и решения на его основе являются приоритетными направлениями деятельности.</p>
