<?php
/**
 * @var $this yii\web\View
 */
?>
<p>"Аладдин Р.Д." в третий раз признана лидером продаж по направлениям HASP и eToken среди других дистрибьюторов Aladdin Knowledge Systems (I место).</p>
<p>Рост продаж eToken и решений на его основе превысил 600%.</p>
<p>Сертифицирован eToken PRO. Продукт стал первым на рынке токеном для защиты конфиденциальной информации.</p>
<p>eToken PRO вошел в состав поставки сертифицированной версии Microsoft Windows ХP.</p>
<p>"Аладдин Р.Д." стала лауреатом Национальной Премии в области Безопасности "ЗУБР-2004".</p>
<p>Выведено на рынок новое, пятое поколение электронных ключей HASP - НАSP HL.</p>