<?php
/**
 * @var $this yii\web\View
 */
?>
<p>"Аладдин Р.Д." вновь стала лидером продаж по направлениям HASP и eToken, оставив далеко позади других дистрибьюторов Aladdin Knowledge Systems (I место).</p>

<p>Компания "Аладдин Р.Д." расширила свой продуктовый портфель, включив в него eSafe - систему комплексного обеспечения проактивной безопасности информации в корпоративной сети на уровне Интернет-шлюзов и почтовых серверов.</p>

<p>В 2005 году компания "Аладдин Р.Д." стала победителем <strong>Национальной Премии в области Безопасности "ЗУБР"</strong>. <a href="/about/awards/" >Премия</a> в номинации "<strong>Лучшее техническое средство для защиты информации</strong>" была присуждена универсальному средству для безопасного доступа eToken PRO.</p>

<p>"Аладдин Р.Д." занял третье место в списке известности российских компаний, работающих в области защиты информации (по данным опроса потребителей, проведенного журналом Information Security №6)</p>

<p>В апреле компания "Аладдин Р.Д." выводит на рынок новый продукт <a href="/catalog/tms/" >eToken TMS</a> - систему управления жизненным циклом eToken, которая повышает безопасность и управляемость IT систем, позволяет обеспечить административный контроль и упрощает развертывание инфраструктуры открытых ключей.</p>

<p>В сентябре 2005 года начат ребрендинг компании. Необходимость смены визуального образа "Аладдин Р.Д." обоснована принятием новой стратегической концепции развития бизнеса, четкой ориентацией на крупных и средних корпоративных заказчиков и на партнёрскую модель продаж.</p>

<p>Компания "Аладдин Р.Д." получила <a href="/about/licences.php" >лицензию</a> ФСБ России на распространение шифровальных (криптографических) средств, включая ввоз/вывоз шифросредств.</p>

<p><strong>Компании исполнилось 10 лет!</strong></p>
