<?php
/**
 * @var $this yii\web\View
 */
?>
<p>Системе комплексного обеспечения проактивной безопасности информации eSafe 5, разработчиком которой является компания "Аладдин Р.Д.", была присуждена <a href="/about/awards/" >главная премия</a> в номинации "Лучшее решение по противодействию троянским программам" (The Best Anti-Trojan Solution) на ежегодной церемонии SC Magazine Awards 2006.</p>

<p>"Аладдин Р.Д." вновь подтвердила статус <strong>Microsoft Certified Partner</strong>, действие которого продлено до апреля 2007 года.</p>

<p>"Аладдин Р.Д." вошла в ТОП-20 рейтинга компаний в блоке "Дистрибуция и розничная торговля" (16 место). Результаты опубликованы в журнале "Секрет фирмы".</p>

<p>По данным ежегодно проводимого <strong>Агентством CNews Analytics (CNA)</strong> рейтинга "Крупнейшие ИТ-компании России в сфере защиты информации" "Аладдин Р.Д." вошла в топ-30 ведущих российских ИТ-компаний и заняла <strong>16 место</strong> в сводной таблице. Рост бизнеса "Аладдин Р.Д." по сравнению с доходами 2005 года составил 62.7%.</p>
