<?php
/**
 * @var $this yii\web\View
 */
?>
<p><b>Получение сертификата на программно-аппаратный продукт eToken Windows Logon, продление стратегического партнерства с компанией Microsoft, продление лицензий компании на работу с шифровальными средствами.</b></p>

<p>Интегрированная система фильтрации контента <a href="/catalog/esafe/" >eSafe</a> вышла в финал конкурса, организованного Ассоциацией Предприятий в сфере информационного и программного обеспечения (<strong>Software &amp; Information Industry Association’s</strong>, <strong>SIIA</strong>) в номинации <strong>Best Security Solution</strong>.</p>

<p><a href="/support/info.php" >eToken Windows Logon</a> сертифицирован ФСТЭК России. Сертификат соответствия № 925/3 подтверждает правомерность использования решения в системах, предполагающих обработку, хранение и передачу конфиденциальной информации.</p>

<p>"Аладдин Р.Д." успешно продлила партнерство с Microsoft, подтвердив свою компетенцию и право обладать статусом <strong>Microsoft Certified Partner</strong> со специализацией <strong>Network Infrastructure Solutions</strong> до 2008 года включительно.</p>

<p>В рейтинге "РА "Эксперт" в список "Крупнейших компаний на рынке российских информационных и телекоммуникационных технологий" вошла компания "Аладдин Р.Д." и заняла 67-место в топ-81, поднявшись на 1 позицию по сравнению с 2006 годом.</p>

<p>Компания "Аладдин Р.Д." продлила срок действия <a href="/about/licences.php" >лицензий ФСБ России</a> (Лицензия № 4043 П, Лицензия № 4044 X).</p>

<p>"Аладдин Р.Д." получает <a href="/about/awards/" >Диплом</a> XVI Международной конференции и тематической выставки "Информатизация и информационная безопасность правоохранительных органов" - "<strong>За решение по организации защищенного доступа к приложениям и данным для линейки продуктов Oracle</strong>".</p>

<p><a href="/about/awards/" >Знак отличия</a> Microsoft был присвоен "Аладдин Р.Д." "<strong>За наиболее эффективное сотрудничество в области создания и продвижения совместных решений в 2007 финансовом году</strong>".</p>
