<?php
/**
 * @var $this yii\web\View
 */
?>
<p><b>Расширение вдвое персонала компании, получение сертификатов на программные продукты Secret Disk 4 и eToken TMS, сотрудничество с компанией 1С.</b></p>

<p>Компания "Аладдин Р.Д." вновь стала №1 по годовому доходу и объемам продаж по направлению HASP в 2007 году. Первенство среди других дистрибьюторов Aladdin Knowledge Systems удерживается пятый год подряд.</p>

<p>"Аладдин Р.Д." впервые входит в <strong>топ-10 </strong>крупнейших компаний по информационной безопасности России, согласно данным рейтинга Cnews Analytics "<a href="http://www.cnews.ru/reviews/free/security2008/index.shtml" >Средства защиты информации и бизнеса 2008</a>".</p>

<p><a href="/catalog/etoken/" >eToken TMS</a> сертифицирован ФСТЭК России. Полученный <a href="/catalog/tmsc/" >сертификат ФСТЭК России №1700</a> удостоверяет, что программный комплекс eToken TMS для учета, управления и аудита средств аутентификации и хранения ключевой информации может быть использован для создания автоматизированных систем до класса защищенности 1Г включительно.</p>

<p>"Аладдин Р.Д." и крупнейший российский разработчик программного обеспечения <strong>1С:Дистрибьюция</strong> заключили соглашение о партнерстве, в рамках которого был разработан новый продукт Secret Disk 4 Lite для защиты конфиденциальной информации на персональных компьютерах и ноутбуках.</p>

<p>Получен <a href="/catalog/secret_disk/sd4/certified.php" >сертификат ФСТЭК №1742</a> от 24.12.08 на <strong>Secret Disk 4</strong>.</p>

<p>Принята новая стратегия развития бизнеса, призванная укрепить лидерские позиции на профильных для "Аладдин Р.Д." сегментах рынка информационной безопасности путем повышения клиентоориентированности бизнеса.</p>

<p>Штат компании за год вырос на 53%.</p>

<p>Рейтинг "РА "Эксперт": по итогам деятельности компании за 2007 год, "Аладдин Р.Д." удалось занять 65 место среди крупнейших игроков рынка информационных и коммуникационных технологий России. По данным рейтинга, "Аладдин Р.Д." смогла подняться на 2 позиции относительно аналогичного показателя за 2006 год.</p>

<p>"Аладдин Р.Д." впервые вошла в рейтинг "Cnews100: крупнейшие ИТ-компании России 2007", заняв 97 место.</p>
