<?php
/**
 * @var $this yii\web\View
 */
?>
<p><b>Выход в печать учебного пособия для ВУЗов по информационной безопасности, получение сертификата на всю линейку электронных ключей eToken, открытие нового направления деятельности по разработке средств защиты персональных данных.</b></p>

<p>Компания "Аладдин Р.Д." заняла 12-е место ИТ-рейтинга журнала "КоммерсантЪ-Деньги" в топ-15 "<a href="http://www.kommersant.ru/doc.aspx?DocsID=1154655" >Дистрибуция и розничная торговля</a>". Рост по направлению дистрибуции по итогам 2008 года составил 32,1%.</p>

<p>В компании "Аладдин Р.Д." сформировано новое направление деятельности – разработка средств защиты персональных данных. Направление получает активное развитие в 2009 году, в связи с выпуском СКЗИ eToken КриптоБД для защиты персональных данных в СУБД Oracle с использованием российской криптографии (ГОСТ 28147-89).</p>

<p>Компания "Аладдин Р.Д." во второй раз вошла в рейтинг "Cnews100: крупнейшие ИТ-компании России 2008", сумев существенно улучшить свою позицию. Поднявшись на рекордных 12 пунктов сводной таблицы рейтинга, "Аладдин Р.Д." заняла 85 место.</p>

<p>Компания "Аладдин Р.Д." получает <a href="/catalog/etoken/certificates/" >сертификат ФСТЭК России №1883</a>, действие которого распространяется на всю линейку электронных ключей "Аладдин Р.Д." eToken, включая новые модели на платформе <a href="/catalog/etoken/models/etoken_java/" >eToken Java</a> и программное обеспечение <a href="/support/download/177/" >eToken PKI Client 5.1</a>.</p>

<p>С получением данного сертификата eToken стал единственным на российском рынке средством аутентификации и хранения ключевой информации, имеющим уровень доверия ОУД2 и рекомендуемым для использования в информационных системах операторов персональных данных.</p>

<p>Согласно данным "CNews Security 2009: Крупнейшие ИТ-компании России в сфере защиты информации", компания "Аладдин Р.Д." входит в <strong>топ-15</strong>, занимая <strong>12-ое</strong> место в рейтинге с показателем роста <strong>40%</strong> по итогам 2008 года. Впервые компания "Аладдин Р.Д." вошла в <strong>топ-20</strong> рейтинга <strong>CnewsFAST: Самые быстрорастущие ИТ-компании России в сфере защиты информации</strong> и заняла <strong>17-е место</strong>.</p>

<p>В рамках сотрудничества <strong>"Аладдин Р.Д."</strong>, <strong>Microsoft</strong>, <strong>Cisco</strong>, <strong>Oracle</strong>, <strong>Citrix</strong>, Томского Государственного Университета систем управления и радиоэлектроники (<strong>ТУСУР</strong>) и <strong>КРИПТО-ПРО</strong> вышло первое учебное пособие "<strong>Аутентификация: теория и практика обеспечения безопасного доступа к информационным ресурсам</strong>".</p>
