<?php
/**
 * @var $this yii\web\View
 */
?>
<p><b>Юбилей компании "Аладдин Р.Д.", выпуск нового решения для защиты конфиденциальной информации с централизованным управлением для компаний среднего и крупного бизнеса.</b></p>

<p>В этом году компания "Аладдин Р.Д." отметила свой юбилей и подвела итоги 15-летней работы на российском рынке. За этот период компания обеспечила поставку более 3,8 миллиона ключей для защиты программного обеспечения и более 1,2 миллиона электронных ключей eToken (USB-ключей и смарт-карт). Клиентами "Аладдин Р.Д." по направлению HASP стали около 2700 компаний, а с использованием устройств eToken было реализовано свыше 1800 проектов у более чем 700 предприятий и учреждений.</p>

<p>Компания "Аладдин Р.Д." выпустила новое решение <a href="/catalog/secret_disk/enterprise/" >Secret Disk Enterprise</a> (SDE) – корпоративную систему защиты конфиденциальной информации с централизованным управлением. Новый продукт предназначен для компаний среднего и крупного бизнеса.</p>

<p>Переоформлен <a href="/catalog/etoken/certificates/" >сертификат ФСТЭК России №1883</a> на всю линейку электронных ключей eToken. Выполнение новых требований ФСТЭК позволяет использовать eToken для создания информационных систем персональных данных (ИСПДн) до 1 класса включительно.</p>

<p>Согласно <strong>CNews</strong> компания "Аладдин Р.Д." вошла в число крупнейших поставщиков ИТ в госсекторе в 2009 году, поднявшись на 9 позиций по сравнению с прошлым годом. В итоговой таблице "Аладдин Р.Д." занял <strong>37</strong> место.</p>

<p>По итогам рейтинга "CNews100: Крупнейшие ИТ-компании России 2009" компания "Аладдин Р.Д." улучшила свои позиции на 7 пунктов, заняв <strong>78</strong> место.</p>

<p>Рейтинг "РА "Эксперт": результаты деятельности компании в 2009 году позволили "Аладдин Р.Д." занять <strong>48</strong> место среди крупнейших игроков рынка информационных и коммуникационных технологий России. По данным рейтинга рост выручки "Аладдин Р.Д." составил 6.9% по сравнению с прошлым годом, что обеспечило улучшение позиций компании на 5 пунктов.</p>

<p>Книга "Аутентификация" под редакцией сотрудников компании "Аладдин Р.Д." и других ведущих экспертов рынка ИБ награждена профессиональной премией в области информационной безопасности "Серебряный кинжал".</p>
