<?php
/**
 * @var $this yii\web\View
 */
?>
<p><b>Увеличение продаж, сертификация eToken ГОСТ в ФСБ, обновление линейки продуктов Secret Disk, вывод на рынок новых продуктов и решений, реализация новых проектов.</b></p>
<p>Компания "Аладдин Р.Д." впервые официально сообщила об <a href="/company/pressroom/news/31141/" >итогах деятельности</a> за 2010 финансовый год. Общий объем продаж компании составил 794 миллиона рублей, показав рост на 36% по сравнению с предыдущим годом. Данный результат стал лучшим за всю историю компании.</p>

<p>Наиболее прибыльными для компании стали: государственный сектор – 42% в обороте компании, банковские и финансовые учреждения – 21%, телекоммуникационные компании – 14%, предприятия нефтегазовой отрасли – 11%, и топливно-энергетического комплекса – 8%. Самый большой рост продаж – 100% и более – был зафиксирован на рынке социальных и массовых проектов: дистанционное банковское обслуживание (ДБО), системы сдачи электронной отчетности, электронные торговые площадки, системы государственных торгов и аукционов.</p>

<p>По итогам рейтинга IDC (Russia Security Hardware 2011-2015 Shares and 2010 Vendor Shares) компания "Аладдин Р.Д." вошла в пятерку лидирующих разработчиков российского рынка аппаратного обеспечения для информационной безопасности. Также компания в очередной раз была отмечена в рейтингах CNews, заняв 15 место среди <a href="http://www.cnews.ru/reviews/free/security2011/ratings/rating1.shtml">крупнейших ИТ-компаний России в сфере защиты информации</a>, 47 место в списке <a href="http://www.cnews.ru/reviews/free/2010/rating/rating3.shtml">крупнейших ИТ-разработчиков России</a> и 80 – в списке <a href="http://www.cnews.ru/reviews/free/2010/rating/rating1.shtml">крупнейших ИТ-компаний России</a>. Компания "Аладдин-Украина", специализирующаяся на комплексном подходе к решению задач аутентификации и защиты персональных данных, вошла в число лучших предприятий страны по итогам <a href="http://nbr.com.ua/" >Национального бизнес-рейтинга</a> Украины.</p>

<p>В 2011 году был получен <a href="/catalog/etoken/certificates/" >сертификат</a> соответствия ФСБ России на <a href="/catalog/etoken/gost/" >eToken ГОСТ</a> как средство криптографической защиты информации (СКЗИ) классов КС1 и КС2. Таким образом, eToken ГОСТ может использоваться как шифровальное (криптографическое) средство, предназначенное для защиты информации, не содержащей сведений, составляющих государственную тайну, соответствует требованиям законодательства РФ и нормативных правовых актов (Закон об электронной подписи №63-ФЗ, СТР-К, СТО БР ИББС-1.0-2010) и может использоваться в качестве персонального средства квалифицированной электронной подписи. Также был продлен сертификат ФСТЭК на системы <a href="/catalog/tms/">eToken TMS</a>, позволяющий использовать ее в ИСПДн до 2 класса включительно и для создания автоматизированных информационных систем до класса защищенности 1Г.</p>

<p>Кроме того, компания "Аладдин Р.Д." подтвердила компетенцию Microsoft Silver OEM Hardware в рамках партнерской программы Microsoft Partner Network (MPN).</p>

<p>Компания "Аладдин Р.Д." обновила линейку продуктов Secret Disk, выпустив <a href="/catalog/secret_disk/enterprise/" >Secret Disk Enterprise 1.6</a>, <a href="/catalog/secret_disk/personal/" >Secret Disk 4.6</a> и <a href="/catalog/secret_disk/server/" >Secret Disk Server NG 3.6</a>, а также вывела на рынок <a href="/catalog/hasp/onec_protection" >"Стартовый комплект SDK HASP SL для защиты 1С-конфигураций"</a>, <a href="/catalog/hasp/" >Sentinel HASP 5.10</a> и линейку считывателей смарт-карт с многофакторной аутентификацией <a href="/catalog/card_readers/" >ASEDrive</a>.</p>

<p>"<a href="/catalog/cryptobd/" >Крипто БД</a>", инновационное решение для защиты персональных данных и конфиденциальной информации в СУБД Oracle, было отмечено профессиональной премией в области информационной безопасности "Серебряный кинжал".</p>

<p>В 2011 году с использованием продуктов и решений "Аладдин Р.Д." совместно с партнерами были реализованы проекты в таких компаниях, как Федеральная нотариальная палата, Системный оператор Единой энергетической системы, Российский Союз Автостраховщиков (РСА), "Пробизнесбанк", Райффайзенбанк, "АК БАРС" Банк, Сибирский Федеральный Университет и др.</p>
