<h2>Назначение</h2>

<p>ПАК JaCarta — сертифицированный ФСТЭК России программно-аппаратный комплекс (ПАК) аутентификации и безопасного хранения информации пользователей. Является программно-техническим средством защиты информации, не содержащей сведений, составляющих государственную тайну, хранимой в памяти электронных ключей JaCarta, от несанкционированного доступа со стороны пользователей и средством аутентификации пользователей при входе в систему.</p>
<p>ПАК JaCarta позволяет построить систему строгой двухфакторной аутентификации пользователей при доступе к информационным ресурсам на базе информации, хранящейся в памяти электронных ключей JaCarta (например, цифровых сертификатов), а также обеспечивает безопасное хранение в памяти электронных ключей JaCarta конфиденциальной информации (например, паролей и профилей пользователей).</p>
<p>ПАК JaCarta может использоваться для решения следующих задач в сфере информационной безопасности:</p>
<ul>
    <li>Двухфакторная аутентификация пользователей информационных систем при доступе в систему, к локальной сети, интернет-ресурсам, VPN, удаленному рабочему столу и т.д.</li>
    <li>Хранение информации сторонних производителей (например, КриптоПро CSP, Signal-COM CSP, Vipnet CSP и др.).</li>
    <li>Хранение информации сторонних приложений.</li>
    <li>Формирование и проверка цифровой подписи при использовании различных почтовых клиентов (например, Microsoft Outlook).</li>
    <li>Визуальная идентификация пользователей и контроль физического доступа пользователей.</li>
</ul>
<p>ПАК JaCarta может использоваться при создании автоматизированных систем до класса защищённости 1Г включительно и для защиты информации в информационных системах до 1 уровня включительно для выполнения функций, указанных в ТУ 5014-010-46538383-15.</p>
