<h2>Состав</h2>
<ul>
    <li>Электронные ключи JaCarta следующих моделей и ПО в их составе:
        <ul>
            <li>JaCarta PKI;</li>
            <li>JaCarta ГОСТ;</li>
            <li>JaCarta PRO;</li>
            <li>JaCarta PKI/BIO;</li>
            <li>JaCarta PRO/ГОСТ;</li>
            <li>JaCarta PKI/ГОСТ;</li>
            <li>JaCarta PKI/BIO/ГОСТ;</li>
            <li>JaCarta PKI/Flash;</li>
            <li>JaCarta ГОСТ/Flash;</li>
            <li>JaCarta PKI/ГОСТ;</li>
            <li>JaCarta PKI/ГОСТ/Flash;</li>
            <li>JaCarta LT.</li>
        </ul>
    </li>
    <li>Клиентское ПО
        <ul>
            <li>Программный комплекс (ПК) JC-Client, обеспечивающий интерфейс доступа и управления следующими моделями
                электронных ключей JaCarta:
                <ul>
                    <li>JaCarta PKI;</li>
                    <li>JaCarta PKI/BIO;</li>
                    <li>JaCarta PKI/ГОСТ;</li>
                    <li>JaCarta PKI/BIO/ГОСТ;</li>
                    <li>JaCarta PKI/Flash;</li>
                    <li>JaCarta PKI/ГОСТ/Flash.</li>
                </ul>
            </li>
            <li>ПК JC-PROClient для ОС семейства Microsoft Windows, обеспечивающий интерфейс доступа и управления
                следующими моделями электронных ключей JaCarta:
                <ul>
                    <li>JaCarta PRO;</li>
                    <li>JaCarta PRO/ГОСТ;</li>
                    <li>JaCarta LT.</li>
                </ul>
            </li>
            <li>ПК JC-PROClient для ОС семейства Linux, обеспечивающий интерфейс доступа и управления следующими
                моделями электронных ключей JaCarta:
                <ul>
                    <li>JaCarta PRO;</li>
                    <li>JaCarta PRO/ГОСТ;</li>
                    <li>JaCarta LT.</li>
                </ul>
            </li>
            <li>ПК JC-GOSTClient, обеспечивающий интерфейс доступа и управления следующими моделями электронных ключей
                JaCarta:
                <ul>
                    <li>JaCarta ГОСТ;</li>
                    <li>JaCarta PRO/ГОСТ;</li>
                    <li>JaCarta PKI/ГОСТ;</li>
                    <li>JaCarta PKI/BIO/ГОСТ;</li>
                    <li>JaCarta ГОСТ/Flash;</li>
                    <li>JaCarta PKI/ГОСТ/Flash.</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<h2>Требования к программному обеспечению</h2>
<ul>
    <li>Microsoft Windows 8 (32/64-бит): Core, Pro, Enterprise</li>
    <li>Microsoft Windows 7 SP1 (32/64-бит): Professional, Enterprise, Ultimate</li>
    <li>Microsoft Windows Vista SP2 (32/64-бит): Business, Ultimate</li>
    <li>Microsoft Windows Server 2008 SP2 (32/64-бит): Standard, Enterprise, Datacenter</li>
    <li>Microsoft Windows Server 2008 R2 SP1: Standard, Enterprise, Datacenter</li>
    <li>"Циркон 26К" (на базе ОС Debian GNU/Linux)</li>
    <li>"Альт Линукс СПТ 6.0"</li>
    <li>ROSA 2011</li>
    <li>Ubuntu Desktop, версия 12.04.1 LTS (32/64-бит)</li>
    <li>OpenSUSE 12.2 (32/64-бит)</li>
    <li>Red Hat Enterprise Linux 6.3 Desktop (32/64-бит)</li>
</ul>
<h2>Требования к аппаратному обеспечению</h2>
<ul>
    <li>Для установки ПО требуется объём дискового пространства не менее 100 Мбайт.</li>
    <li>Для подключения к рабочей станции через USB-интерфейс электронных ключей JaCarta требуется свободный USB-порт.
    </li>
    <li>Для подключения к рабочей станции смарт-карт JaCarta:
        <ul>
            <li>требуется устройство чтения/записи смарт-карт;</li>
            <li>на рабочей станции должен быть установлен драйвер устройства чтения смарт-карт.</li>
        </ul>
    </li>
    <li>Для подключения к рабочей станции MicroUSB-токенов JaCarta можно использовать адаптер MicroUSB-to-USB.</li>
    <li>Для подключения к рабочей станции MicroSD-токенов JaCarta можно использовать следующее оборудование:
        <ul>
            <li>разъём MicroSD;</li>
            <li>разъём SD через переходник MicroSD-to-SD;</li>
            <li>USB-порт через переходник MicroSD-to-USB.</li>
        </ul>
    </li>
    <li>Для биометрической идентификации требуется устройство сканирования отпечатков пальцев.</li>
    <li>Минимальные требования к процессору рабочей станции: Intel Pentium IV. Рекомендуется: Intel Core 2 Duo.</li>
</ul>
<h2>Поддерживаемые модели ключей</h2>
<p>ПАК JaCarta включает в себя следующие модели электронных ключей JaCarta:</p>
<ul>
    <li>JaCarta PKI;</li>
    <li>JaCarta ГОСТ;</li>
    <li>JaCarta PRO;</li>
    <li>JaCarta PKI/BIO;</li>
    <li>JaCarta PRO/ГОСТ;</li>
    <li>JaCarta PKI/ГОСТ;</li>
    <li>JaCarta PKI/BIO/ГОСТ;</li>
    <li>JaCarta PKI/Flash;</li>
    <li>JaCarta ГОСТ/Flash;</li>
    <li>JaCarta PKI/ГОСТ;</li>
    <li>JaCarta PKI/ГОСТ/Flash;</li>
    <li>JaCarta LT.</li>
</ul>