<p>Соответствие руководящим документам.</p>

<ul>
    <li>"Защита от несанкционированного доступа к информации. Часть 1. Программное обеспечение средств защиты информации. Классификация по уровню контроля отсутствия недекларированных возможностей" (Гостехкомиссия России, 1999) по 3 уровню контроля.</li>

    <li>"Автоматизированные системы. Защита от несанкционированного доступа к информации. Классификация автоматизированных систем и требования по защите информации (Гостехкомиссия России, 1992)" до 1Г включительно.</li>

    <li>"Положение о методах и способах защиты информации в информационных системах персональных данных (Утв. приказом ФСТЭК России от 5 февраля 2010 г. № 58) до 1 класса включительно.</li>
</ul>

<p><a href="{{ path('download', {'uuid': 'a2524477-3917-42b1-b4e4-124a5a33dab6'}) }}">Сертификат соответствия ФСТЭК №2542</a> до 30 декабря 2017 года, действителен для версии TSM 1.2.</p>

<p>Материалы для скачивания:</p>

<ul><li><a href="{{ path('download', {'uuid': '8759bda0-928f-4a45-897f-a2b530c7ecc0'}) }}">руководство администратора;</a></li>
    <li><a href="{{ path('download', {'uuid': '59e534a2-9799-4a42-b39e-de91cfbe2f68'}) }}">руководство пользователя.</a></li></ul>