<p>Продукт "Встраиваемый модуль безопасности TSM" предназначен для системных интеграторов и производителей компьютеров для создания защищённого средства вычислительной техники. Этот продукт поможет при планировании поставок техники под конкурсы, связанные с построением систем обработки персональных данных, в том числе медицинских, решить вопросы использования средств защиты согласно требованиям ФЗ № 152 "О персональных данных" от 27.06.2006 г.</p>

<p>Применение встраиваемого модуля безопасности позволяет поставляемым средствам вычислительной техники соответствовать достаточно жёстким условиям конкурсной документации.</p>

<ol>
    <li>Интеграция с BIOS материнской платы позволяет оптимизировать по стоимости реализацию защищённых функций.</li>

    <li>Идентификация и аутентификация пользователей компьютера с применением аппаратных идентификаторов.</li>

    <li>Контроль целостности программной среды.</li>

    <li>Регистрация событий доступа (в том числе несанкционированного) к компьютеру.</li>

    <li>Невозможность неконтролируемой загрузки с внешних носителей.</li>

    <li>Невозможность извлечения встроенного модуля безопасности даже при непосредственном физическом доступе к защищённой платформе без нарушения физической целостности материнской платы.</li>

    <li>Обеспечение интеграции с системами сбора, контроля, обработки, корреляции и реагирования на события информационной безопасности (требование PCI DSS, SOX, ISO 27001 и др.).</li>

    <li>Обеспечение интеграции с вычислительными платформами различных производителей: персональные компьютеры FujitsuEsprimo, ноутбуки FujitsuLifebook, моноблоки ECSAura, ноутбуки MSIClassicSeries, персональные компьютеры KraftwayCredo.</li>
</ol>

<p>Продукт "Встраиваемый модуль безопасности TSM" (Trusted Security Module) является инновационным решением, не имеющим зарегистрированных технических аналогов, что подтверждается выданным компании "Аладдин Р.Д." патентом (№ 119910 от 27.08.2012 г.).</p>