<ol>
    <li>Модуль доверенной загрузки располагается в области BIOS во встроенной памяти материнской платы.</li>

    <li>Вызывается на исполнение сразу после прохождения POST-процедуры.</li>

    <li>Идентификация и аутентификация по JaCarta, eToken PRO, eToken Java и др.</li>

    <li>Контроль целостности файловых систем: FAT16/FAT32/NTFS (+ Ext2/Ext3/Ext4 для версии 1.2).</li>

    <li>Контроль целостности объектов жестких дисков: MBR, EBR, Boot sector, 62 сектора после MBR.</li>

    <li>Microsoft Windows XP/2003/Vista/2008/7/2008R2 (х86/х64) (+ Linux (LSB 3.6/4.1) для версии 1.2).</li>

    <li>Корпоративный режим аутентификации (для версии 1.2).</li>
</ol>