<h2>Назначение</h2>
<div class="row justify-content-center">
    <div class="col-8 large">
        <p>JaCarta LT – USB-токен для двухфакторной аутентификации, безопасного хранения ключей, ключевых контейнеров сертифицированных российских СКЗИ, профилей и паролей пользователей, а также лицензионной информации независимых разработчиков ПО</p>
    </div>
</div>
