<h2>Исполнения</h2>

{% set assetUrl = 'images/catalog/jacarta/632x300' %}
<div class="row justify-content-center">
    <div class="col-4 mb-4">
        <div class="card h-100 shadow-sm">
            <img class="card-img-top bg-secondary" src="{{ asset(assetUrl ~ "/Computer_PC_left_JC-XL_Crop.jpg") }}" alt="USB-токены JaCarta LT в корпусе XL" />
            <div class="card-body text-center">
                USB-токены в классическом корпусе XL
            </div>
        </div>
    </div>
    <div class="col-4 mb-4">
        <div class="card h-100 shadow-sm">
            <img class="card-img-top bg-secondary" src="{{ asset(assetUrl ~ "/Computer_PC_left_JC-Nano_Crop.jpg") }}" alt="USB-токены JaCarta LT в корпусе Nano" />
            <div class="card-body text-center">
                USB-токены в компактном корпусе Nano
            </div>
        </div>
    </div>
</div>