<table class="table">
    <colgroup>
        <col width="30%" />
        <col />
    </colgroup>
    <tbody>
    <tr>
        <th class="border-top-0">Микроконтроллер</th>
        <td class="border-top-0">Защищённый смарт-карточный чип, имеющий специальную сертифицированную защиту и на аппаратном, и на программном уровне (Secure by design), что позволяет успешно противостоять всем известным угрозам безопасности, методам взлома и клонирования.</td>
    </tr>
    <tr>
        <th>Объём EEPROM-памяти на чипе</th>
        <td>36 Кбайт</td>
    </tr>
    <tr>
        <th>CCID-совместимость</th>
        <td>Установка драйвера устройства для современных ОС (Microsoft Windows Vista и выше, GNU/Linux, Apple macOS/OS X) не требуется.</td>
    </tr>
    <tr>
        <th>Поддерживаемые операционные системы</th>
        <td>
            <p><b>Microsoft Windows</b></p>
            <ul class="list-unstyled list-condensed">
                <li>Microsoft Windows 10 (32/64-бит)</li>
                <li>Microsoft Windows 8.1 (32/64-бит)</li>
                <li>Microsoft Windows 8 (32/64-бит)</li>
                <li>Microsoft Windows 7 SP1 (32/64-бит)</li>
                <li>Microsoft Windows Vista SP2 (32/64-бит)</li>
                <li>Microsoft Windows XP SP3 (32-бит)</li>
                <li>Microsoft Windows Server 2012 R2 (64-бит)</li>
                <li>Microsoft Windows Server 2012 (64-бит)</li>
                <li>Microsoft Windows Server 2008 R2 SP1 (64-бит)</li>
                <li>Microsoft Windows Server 2008 SP2 (32/64-бит)</li>
                <li>Microsoft Windows Server 2003 SP2 (32/64-бит)</li>
            </ul>
            <p><b>GNU/Linux</b></p>
            <p><b>Apple macOS/OS X</b></p>
        </td>
    </tr>
    <tr>
        <th>PIN-код пользователя (по-умолчанию)</th>
        <td>1234567890</td>
    </tr>
    <tr>
        <th>PIN-код Администратора (по-умолчанию)</th>
        <td>Не установлен</td>
    </tr>
    <tr>
        <th>Необходимое программное обеспечение </th>
        <td>
            <a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}">ПК "Единый Клиент JaCarta"</a>
        </td>
    </tr>
    <tr>
        <th>Срок хранения данных в памяти</th>
        <td>Не менее 10 лет</td>
    </tr>
    <tr>
        <th>Количество циклов перезаписи в одну ячейку EEPROM-памяти</th>
        <td>Не менее 500 000</td>
    </tr>
    </tbody>
</table>