<h2>Исполнения</h2>

<div class="row justify-content-center mb-4">
    <div class="col-8 large">
        Устройства JaCarta ГОСТ могут поставляться в виде USB-токенов или смарт-карт. Функционально они идентичны, но предполагают различные модели использования, разный набор доступных опций (расширение функциональных или эксплуатационных характеристик) и разные возможности кастомизации.
    </div>
</div>

{{ include('catalog/jacarta/_shared/_models.html.twig', {'models': [
    { 'image': 'Computer_PC_left_JC-XL_Crop.jpg', 'title': 'USB-токены в классическом корпусе XL' },
    { 'image': 'Computer_PC_left_JC-Nano_Crop.jpg', 'title': 'USB-токены в компактном корпусе Nano' },
    { 'image': 'Smartphone_left_JC-MicroUSB_Crop.png', 'title': 'MicroUSB-токены для мобильных устройств' },
    { 'image': 'Card_JC300_Black_Crop.png', 'title': 'Смарт-карты в базовом чёрном дизайне' },
    { 'image': 'Card_Custom_Crop.png', 'title': 'В виде "белого пластика" или с фирменной печатью' },
    { 'image': 'Chip_for_Card_Gold_Crop.png', 'title': 'Модули смарт-карт на технологической ленте' },
]}) }}

<h2 class="mt-4">Дополнительное оборудование</h2>

<div class="row justify-content-center mb-4">
    <div class="col-8 large">
        <p>Для работы со смарт-картами со стационарного компьютера рекомендуется использование офисных смарт-карт ридеров <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_IIIe_USB'}) }}" class="text-nowrap">ASEDrive IIIe USB</a>, с ноутбуками &mdash; компактных <a href="{{ path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_III_USB_Mini'}) }}" class="text-nowrap">ASEDrive III USB Mini</a>.</p>
        <p>Для использования MicroUSB-токена на ноутбуке или персональном компьютере рекомендуется приобрести переходник MicroUSB-to-USB.</p>
    </div>
</div>

{{ include('catalog/jacarta/_shared/_recommended.html.twig', {'models': [
    { 'image': 'ASEDrive_IIIe_USB_Crop.png', 'title': 'ASEDrive IIIe USB', 'description': 'Классический смарт-карт ридер для чтения/записи контактных смарт-карт, карт памяти (memory card) и платёжных карт (EMV).', 'route': path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_IIIe_USB'}) },
    { 'image': 'ASEDrive_III_USB_Mini_Crop.png', 'title': 'ASEDrive III USB Mini', 'description': 'Удобный, лёгкий и компактный смарт-карт ридер для использования с ноутбуками.', 'route': path('catalog:product:page', {'product': 'readers', 'page': 'ASEDrive_IIIe_USB_Mini'}) },
]}) }}