<h2>Назначение</h2>
<div class="lead mb-4 font-weight-normal">
    JaCarta ГОСТ – это первое и пока единственное персональное средство усиленной квалифицированной электронной подписи
    с неизвлекаемым ключом ЭП, полностью соответствующее всем требованиям 63-ФЗ и Приказа ФСБ России № 796 к средствам ЭП.
</div>
<div class="row">
    <div class="col-6">
        <p>Линейка JaCarta ГОСТ предназначена для обеспечения юридической значимости действий пользователей при использовании различных электронных сервисов:</p>
        <ul class="list-condensed">
            <li>дистанционное банковское обслуживание (ДБО);</li>
            <li>электронные торговые площадки;</li>
            <li>сдача электронной отчётности;</li>
            <li>электронное декларирование грузов, перемещаемых через границу;</li>
            <li>публичные или корпоративные Web-порталы и "облачные" сервисы, например, <a href="https://www.gosuslugi.ru" target="_blank">Портал государственных услуг</a>;</li>
            <li>системы корпоративного/ведомственного электронного документооборота (СЭД).</li>
        </ul>
    </div>
    <div class="col-6">
        <p>JaCarta ГОСТ является недорогим, простым, надёжным и удобным в использовании устройством, ориентированным на применение как в массовых проектах (B2C/G2C – для физических лиц), так и для корпоративных пользователей (B2B/G2B – для юридических лиц).</p>
        <p>JaCarta ГОСТ может использоваться не только с различными компьютерами, работающими под управлением Microsoft Windows, Linux, Mac OS X, но и с мобильными устройствами – планшетами, смартфонами на базе Apple iOS, Google Android, Microsoft Windows 8.</p>
        <p>JaCarta ГОСТ является безопасным устройством класса Secure Signature Creation Device и полностью соответствует международным требованиям к устройствам для создания подписи (Директива 1999/93/ЕС).</p>
    </div>
</div>