<h2>Решаемые задачи</h2>

{% set tasks = [
    { 'title': 'Строгая взаимная двухфакторная аутентификация пользователей Web-порталов и облачных сервисов (с использованием ЭП)', 'image': 'Computer-Lock-Pin.svg' },
    { 'title': 'Формирование и проверка усиленной квалифицированной электронной подписи с неизвлекаемым ключом ЭП', 'image': 'Mobile-Sign.svg' },
    { 'title': 'Генерация ключей, формирование и проверка электронной подписи с неизвлекаемым ключом ЭП при работе с криптопровайдерами Крипто-Про CSP, VipNet CSP, Signal-COM CSP, Lissi CSP, JaCarta CSP', 'image': 'Cryptography-Lock.svg' },
    { 'title': 'Хранение ключевых контейнеров для программных СКЗИ КриптоПро CSP, VipNet CSP и др.', 'image': '' },
    { 'title': 'Хранение пользовательских данных (пароли, коды доступа, настройки и пр.) в защищённой PIN-кодом памяти токена', 'image': 'Safe-Box.svg' },
    { 'title': 'Использование в качестве отчуждаемого сертифицированного криптомодуля в составе других продуктов', 'image': '' },
] %}
<ul class="row justify-content-center">
    {% for task in tasks %}
    <li class="col-6 mb-4">
        {{ task.title }}
    </li>
    {% endfor %}
    <li class="col-6 mb-4">
        <div>
            Реализация требований, предъявляемых к средствам электронной подписи (Статья 12 закона 63-ФЗ), в частности:
            <ul class="list-condensed mt-2">
                <li>визуализация подписываемого/подписанного электронного документа;</li>
                <li>формирование ЭП только после получения подтверждения от пользователя.</li>
            </ul>
        </div>
    </li>
</ul>