<table class="table">
    <colgroup>
        <col width="30%" />
        <col />
    </colgroup>
    <tbody>
    <tr>
        <th class="border-top-0">Микроконтроллер</th>
        <td class="border-top-0">Защищённый смарт-карточный чип, имеющий специальную сертифицированную защиту и на аппаратном, и на программном уровнях (Secure by design), что позволяет успешно противостоять всем известным угрозам безопасности, методам взлома и клонирования.</td>
    </tr>
    <tr>
        <th>Размер EEPROM-памяти на чипе</th>
        <td>80/144 Кбайт</td>
    </tr>
    <tr>
        <th>CCID-совместимость</th>
        <td>Установка драйвера устройства для современных ОС (Microsoft Windows Vista и выше, GNU/Linux, Apple macOS/OS X) не требуется.</td>
    </tr>
    <tr>
        <th>Поддерживаемые криптографические алгоритмы</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>ГОСТ Р 34.10-2001 (генерация ключевых пар, формирование и проверка ЭП)</li>
                <li>ГОСТ Р 34.11-94 (функция хэширования)</li>
                <li>ГОСТ 28147-89 (симметричное шифрование) &mdash; реализовано только для данных, содержащихся в оперативной памяти изделия</li>
                <li>алгоритм Диффи-Хеллмана (выработка ключа парной связи в соответствии с RFC 4357)</li>
                <li>генератор последовательностей случайных чисел</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Возможность встраивания радио-метки (RFID)</th>
        <td>Есть</td>
    </tr>
    <tr>
        <th>Поддерживаемые операционные системы</th>
        <td>
            <p class="font-weight-bold">Microsoft Windows</p>
            <ul class="list-unstyled list-condensed">
                <li>Microsoft Windows 10 (32/64-бит)</li>
                <li>Microsoft Windows 8.1 (32/64-бит)</li>
                <li>Microsoft Windows 8 (32/64-бит)</li>
                <li>Microsoft Windows 7 SP1 (32/64-бит)</li>
                <li>Microsoft Windows Vista SP2 (32/64-бит)</li>
                <li>Microsoft Windows XP SP3 (32-бит)</li>
                <li>Microsoft Windows Server 2012 R2 (64-бит)</li>
                <li>Microsoft Windows Server 2012 (64-бит)</li>
                <li>Microsoft Windows Server 2008 R2 SP1 (64-бит)</li>
                <li>Microsoft Windows Server 2008 SP2 (32/64-бит)</li>
                <li>Microsoft Windows Server 2003 SP2 (32/64-бит)</li>
            </ul>
            <p class="font-weight-bold">GNU/Linux</p>
            <p class="font-weight-bold mb-0">Apple macOS/OS X</p>
        </td>
    </tr>
    <tr>
        <th>PIN-код пользователя (по-умолчанию)</th>
        <td>Не задан</td>
    </tr>
    <tr>
        <th>PIN-код Администратора (по-умолчанию)</th>
        <td><code class="large">1234567890</code></td>
    </tr>
    <tr>
        <th>Необходимое программное обеспечение </th>
        <td><a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}">ПК "Единый Клиент JaCarta"</a></td>
    </tr>
    <tr>
        <th>Срок хранения данных в памяти</th>
        <td>Не менее 10 лет</td>
    </tr>
    <tr>
        <th>Количество циклов перезаписи в одну ячейку EEPROM-памяти</th>
        <td>Не менее 500 000</td>
    </tr>
    </tbody>
</table>