<table class="table">
    <colgroup>
        <col width="30%"/>
        <col/>
    </colgroup>
    <tbody>
    <tr>
        <th class="border-top-0">Микроконтроллер (чип)</th>
        <td class="border-top-0">Высокоскоростной 16-разрядный однокристальный защищённый микроконтроллер,
            соответствующий профилю защиты для смарт-карт (Smart Card Security User Group — Smart Card Protection
            Profile), что подтверждается результатами его сертификации по методике Сommon Criteria (достигнутый
            оценочный уровень доверия — EAL 5+)
        </td>
    </tr>
    <tr>
        <th>Размер EEPROM-памяти на чипе</th>
        <td>80 Кбайт</td>
    </tr>
    <tr>
        <th>Срок хранения данных в памяти</th>
        <td>Не менее 10 лет</td>
    </tr>
    <tr>
        <th>Количество циклов перезаписи в одну ячейку EEPROM-памяти</th>
        <td>Не менее 500 000</td>
    </tr>
    <tr>
        <th>Дополнительная Flash-память</th>
        <td>Нет</td>
    </tr>
    <tr>
        <th>CCID-совместимость</th>
        <td>Установка драйвера устройства для современных ОС (Microsoft Windows Vista и выше,
            GNU/Linux, Apple macOS/OS X) не требуется.
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые ОС</th>
        <td>
            <p class="font-weight-bold">Microsoft Windows</p>
            <ul class="list-condensed">
                <li>Microsoft Windows 10 (32/64-бит)</li>
                <li>Microsoft Windows 8.1 (32/64-бит)</li>
                <li>Microsoft Windows 8 (32/64-бит)</li>
                <li>Microsoft Windows 7 SP1 (32/64-бит)</li>
                <li>Microsoft Windows Vista SP2 (32/64-бит)</li>
                <li>Microsoft Windows XP SP3 (32/64-бит)</li>
                <li>Microsoft Windows Server 2012 R2 (64-бит)</li>
                <li>Microsoft Windows Server 2012 (64-бит)</li>
                <li>Microsoft Windows Server 2008 R2 SP1 (64-бит)</li>
                <li>Microsoft Windows Server 2008 SP2 (32/64-бит)</li>
                <li>Microsoft Windows Server 2003 SP2 (32/64-бит)</li>
                <li>Microsoft Windows Server 2000 SP4 (32-бит)</li>
            </ul>
            <p class="font-weight-bold">GNU/Linux</p>
            <p class="font-weight-bold mb-0">Apple macOS/OS X</p>
        </td>
    </tr>
    <tr>
        <th>Прикладное ПО, версии</th>
        <td>
            <ul>
                <li>ПК "Единый Клиент JaCarta"</li>
                <li>eToken PKI Client 5.x SP1/SafeNet Authentication Client 8.x
                    <ul>
                        <li>Только если планируется использовать токены JaCarta PRO в режиме "обратной" совместимости с
                            продуктами Aladdin Knowledge System для замены устройств семейства eToken PRO (Java)
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые криптографические алгоритмы</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>3DES (длина ключа 168 бит)</li>
                <li>RSA (длины ключей 1024, 2048 бит)</li>
                <li>Аппаратная генерация ключей для RSA</li>
                <li>Функции хэширования: SHA-1 (160 бит)</li>
                <li>Генератор последовательностей случайных чисел</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Коммуникационный протокол (чип смарт-карты — считыватель смарт-карты)</th>
        <td>T=1 (асинхронный полудуплексный блочный протокол)</td>
    </tr>
    <tr>
        <th>Интерфейс/разъём подключения к рабочей станции</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>USB 2.0 Full-speed (12 Мбит/с)</li>
                <li>Разъём USB Type A</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Материал корпуса</th>
        <td>АБС-пластик (ABS) — прочный, износостойкий, ударопрочный, негорючий пластик,
            безопасный для здоровья человека
        </td>
    </tr>
    <tr>
        <th>Материал USB-разъёма</th>
        <td>Металл</td>
    </tr>
    <tr>
        <th>Ресурс (долговечность)</th>
        <td>
            <ul class="mb-0">
                <li>Для USB-токенов: не менее 5 000 подключений (примерно 5 лет активной эксплуатации — 4 раза в день,
                    260 рабочих дней в году)</li>
                <li>Для смарт-карт: не менее 50 000 циклов подключений к смарт-карт ридеру/не менее 10 000 часов общей
                    наработки (примерно 5 лет активной эксплуатации)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Возможность встраивания RFID-метки</th>
        <td>Есть (только для USB-токенов в корпусе XL и смарт-карт)</td>
    </tr>
    <tr>
        <th>Возможность нанесения логотипа заказчика (кастомизация)</th>
        <td>Есть</td>
    </tr>
    <tr>
        <th>Возможность изменения основного цвета корпуса и вставки (кастомизация)</th>
        <td>Есть (минимальный заказ — от 5 000 шт.)</td>
    </tr>
    <tr>
        <th>Потребляемый ток</th>
        <td>Не более 50 mA (питание производится от USB-порта)</td>
    </tr>
    <tr>
        <th>Гарантийный срок</th>
        <td>12 месяцев (возможно расширение до 36 месяцев)</td>
    </tr>
    <tr>
        <th>Пыле- и влагозащищённость</th>
        <td>Есть у USB-токена в корпусе XL (степень защиты IP56)</td>
    </tr>
    <tr>
        <th>Электромагнитная безопасность</th>
        <td>
            <ul class="mb-0">
                <li>Изделие имеет повышенную защищённость от пробоя статическим электричеством (до 15 киловольт), что
                    крайне важно при эксплуатации в зимних условиях, при низких температурах и пониженной влажности
                    воздуха, и соответствует требованиям ГОСТ Р 51317.4.2-2010.</li>
                <li>Изделие не оказывает влияния на работу электронного оборудования, чувствительного к электромагнитным
                    излучениям и помехам и соответствует требованиям ГОСТ Р 51318.22-99.</li>
                <li>Изделие имеет повышенную защищённость от воздействия электромагнитных излучений и помех и
                    соответствует требованиям ГОСТ Р 51318.22-99.</li>
                <li>Изделие изготовлено в соответствии с требованиями Технического регламента Таможенного союза,
                    утверждённого Решением Комиссии Таможенного союза от 9 декабря 2011 года № 879, ТР ТС 020/2011
                    "Электромагнитная совместимость технических средств" (декларация о соответствии ТС N RU
                    Д-RU.АВ49.В.05350 от 06.09.2016 г., Протокол сертификационных испытаний № 8908ЕМ-LAB09/16 от
                    02.09.2016 г., ТУ 46538383.40 3000.002ТУ).</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Соответствие стандартам</th>
        <td>
            <ul>
                <li>CCID (Circuit Card Interface Device)</li>
                <li>ISO 7816, части 3 и 4</li>
                <li>Java Card Platform Specification, версия 2.2.2</li>
                <li>GlobalPlatform 2.1.1</li>
                <li>USB 2.0
                    <ul>
                        <li>Обратно совместим с USB версии 1.1 (работает с контроллером USB-версии 1.1 на скорости до 12
                            Мбит/с.)</li>
                        <li>Совместим с USB версии 3.0 (работает с контроллером USB-версии 3.0, но контроллер должен
                            поддерживать/быть включен в режиме совместимости с USB версии 2.0)</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>PIN-код пользователя (по умолчанию)</th>
        <td>1234567890</td>
    </tr>
    <tr>
        <th>Длина PIN-кода Администратора (по умолчанию)</th>
        <td>Не задан</td>
    </tr>
    <tr>
        <th>Возможность разблокирования устройства</th>
        <td>Есть, без потери пользовательских данных</td>
    </tr>
    <tr>
        <th>Необходимое ПО</th>
        <td>
            <a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}">ПК "Единый Клиент JaCarta"</a>
        </td>
    </tr>
</table>