<h2 class="text-center mb-5 mt-0">
    Пора сделать <span class="text-nowrap">правильный выбор</span>
</h2>

<div class="text-center mt-4">
    <a class="btn btn-primary" href="{{ path('support:page', {'page': 'sdk', '_fragment': 'jc-mobile_sdk'}) }}">Заказать JC-Mobile SDK</a>
    <div class="small mt-5">
        <a class="text-nowrap mx-4" href="{{ path('download', {'uuid': 'cda6e5ab-d90e-4830-b6f9-8c9ea0365ab1'}) }}">Буклет JC-Mobile</a>
        <a href="{{ path('support') }}" class="text-nowrap mx-4">Техническая поддержка</a>
        <a href="{{ path('support:downloads') }}" class="text-nowrap mx-4">Библиотека ресурсов</a>
    </div>
</div>

