<h2 class="mt-0 text-center">Описание JC-Mobile</h2>
<div class="row lead font-weight-normal">
    <div class="col-6">
        <p>В настоящее время бизнес стал весьма мобильным и гибким &mdash; решения принимаются "здесь и сейчас". Привычной стала
            работа с документами в электронных системах и сервисах компании с мобильного устройства &mdash; смартфона или
            планшета.</p>
        <p>Однако удобство и оперативность использования мобильных устройств не стоят того, чтобы рисковать
            безопасностью и репутацией компании при несанкционированном доступе злоумышленника или при подделке электронной
            подписи. </p>
    </div>
    <div class="col-6">
        <p>JC-Mobile позволяет организовать безопасный доступ Ваших сотрудников, партнёров и клиентов к сервисам компании на
            мобильных устройствах и обеспечивает юридическую значимость подписываемых электронных документов и производимых
            операций!</p>
        <p>Решение буквально за неделю может быть встроено в Ваше мобильное приложение для Apple iOS или
            Android. </p>
    </div>
</div>
