<h2 class="mt-0 text-center">Сферы применения</h2>
<div class="row">
    <div class="col-8 offset-2">
        <p>JC-Mobile подходит Вашей компании, если Вы используете или разрабатываете: </p>
        <ul>
            <li>системы электронного документооборота (ЭДО), дистанционного банковского обслуживания (ДБО); </li>
            <li>системы электронной отчётности, электронного декларирования, электронных торгов; </li>
            <li>иные системы и сервисы, в которых необходимо обеспечить безопасный доступ и/или подписание электронных документов для пользователей мобильных устройств. </li>
        </ul>
    </div>
</div>

<h2 class="text-center">Возможные сценарии работы</h2>

<div class="row mt-4">
    <div class="col-6 d-flex">
        <img src="{{ asset('images/catalog/jc-mobile/User_C-01.png') }}" class="mr-4" width="128" height="128" alt="JC-Mobile для топ-менеджера или руководителя" />
        <div>
            <h4>Топ-менеджер или руководитель</h4>
            <p>Сотрудникам компании, занимающим ответственные руководящие позиции, особенно критично иметь возможность всегда
                оперативно реагировать на поступающие вопросы, принимать решения о подписании того или иного договора,
                подтверждении бюджета, решать множество других задач.</p>
            <p>JC-Mobile помогает организовать защищённый доступ к
                корпоративной почте, корпоративным ресурсам и системам внутри компании и обеспечить юридическую значимость
                подписываемым руководителем или топ-менеджером электронным документам, письмам, операциям. </p>
        </div>
    </div>
    <div class="col-6 d-flex">
        <img src="{{ asset('images/catalog/jc-mobile/User_A-01.png') }}" class="mr-4" width="128" height="128" alt="JC-Mobile для клиента ДБО" />
        <div>
            <h4>Клиент ДБО</h4>
            <p>Номер кредитной карты, информация о счетах, история поступления денежных средств, платежей и переводов и не
                только – всё это является той информацией, доступ к которой должны иметь исключительно клиент банка и
                ответственные сотрудники самого банка.</p>
            <P>При установке приложения для онлайн-банкинга со встроенными программными
                библиотеками JC-Mobile на свой смартфон клиент может безопасно входить в личный кабинет, имея при себе токен, проводить операции с крупными суммами и подписывать платежи и кредиты,
                будучи уверенным в надёжной защите его персональных данных.</p>
        </div>
    </div>
    <div class="col-6 d-flex">
        <img src="{{ asset('images/catalog/jc-mobile/User_D-01.png') }}" class="mr-4" width="128" height="128" alt="JC-Mobile для мобильного сотрудника" />
        <div>
            <h4>Мобильный сотрудник</h4>
            <p>Для организаций, в которых есть сотрудники, по долгу службы часто работающие вне офиса и при подписании
                документов несущие материальную или другую ответственность за свои действия, JC-Mobile станет идеальным
                решением.</p>
            <p>Страховые агенты, инспекторы ГИБДД, личные врачи и медицинский персонал скорой помощи, приёмщики
                товаров и многие другие смогут работать с документами и системами с мобильных устройств, и при этом им не нужно
                будет носить с собой кипы бумаг.</p>
        </div>
    </div>
    <div class="col-6 d-flex">
        <img src="{{ asset('images/catalog/jc-mobile/User_B-01.png') }}" class="mr-4" width="128" height="128" alt="JC-Mobile для клиента электронных торгов" />
        <div>
            <h4>Клиент электронных торгов</h4>
            <p>Клиент электронных торгов должен всегда иметь доступ к системам электронных торгов государственного и
                корпоративного заказа в любое время суток из любого места, чтобы непрерывно отслеживать статус заказа и быстро
                реагировать на любые изменения по нему.</p>
            <p>Более того, такой клиент должен иметь возможность подтверждать сделки
                электронной подписью, имеющей юридическую силу. Всё это может обеспечить использование решения JC-Mobile в
                подобных системах.</p>
        </div>
    </div>
</div>
