<h2>Архитектура решения</h2>
<p class="text-center" align="center"><img width="500" alt="" border="0" src="{{ asset('images/catalog/jc-mobile/scheme5.png') }}" title="" /></p>

<h3>Интеграция в 3 шага за 1 неделю</h3>

<ol><li><b>Закажите <a href="{{ path('support:page', {'page': 'sdk', '_fragment': 'jc-mobile_sdk'}) }}">комплект разработчика</a></b> (JC-Mobile SDK).
    <li><b>Выполните работы по интеграции JC-Mobile.</b> Примерные сроки интеграции:
        <ul><li>около 2-х дней для компаний, использующих платформу JaCarta;</li>
            <li>около недели для новых заказчиков с имеющейся PKI-инфраструктурой.</li></ul>
        Комплект разработчика JC-Mobile прост для самостоятельной интеграции. Однако если Вам требуется дополнительная помощь по встраиванию решения, мы предлагаем Вам пройти наш специальный <b>курс обучения</b> для руководителей разработчиков и архитекторов. Консультации в процессе интеграции предоставляются бесплатно. </li>

    <li><b>Закажите и получите</b> необходимое количество смарт-карт, MicroUSB-токенов, Secure MicroSD-токенов, смарт-карт ридеров для Вас, Ваших сотрудников, партнёров и клиентов. </li></ol>

<p><i>В любое время Вы можете <a href="{{ path('support:page', {'page': 'sdk', '_fragment': 'jc-mobile_sdk'}) }}">разместить заказ</a> на нужную конфигурацию  смарт-карт,  смарт-карт ридеров и другие наши продукты.</i></p>


<h3>Комплект разработчика</h3>
<p>Комплект разработчика JC-Mobile SDK для Apple iOS и Android включает в себя: </p>
<ul><li>смарт-карты (2 шт.) с российской криптографией, поддержкой RSA и модулем лицензирования разрабатываемых приложений; </li>
    <li>смарт-карт ридер (совместимый с устройствами на платформах Apple iOS, Android, Windows, Mac OS, Linux); </li>
    <li>модуль-переходник для отладки разрабатываемых приложений для Apple iOS; </li>
    <li>флеш-диск, содержащий:
        <ul><li>подробную документацию по работе со смарт-картами с помощью интерфейса PKCS#11, цифровыми сертификатами и Удостоверяющими центрами; </li>
            <li>описания интерфейсов и библиотечных функций; </li>
            <li>программы в исходных кодах с примерами вызовов всех основных функций; </li>
            <li>руководства по настройке среды разработки; </li>
            <li>библиотеки для встраивания механизма лицензирования, примеры использования; </li>
            <li>утилиты администрирования и управления для смарт-карт – JaCartaInfo и JC-Client для платформ Win32/64, Linux, Mac OS X; </li>
            <li>высокоуровневые интерфейсные библиотеки PKCS#11 с PKI-расширениями для платформ  Apple iOS, Android, Windows, Linux, Mac OS X.</li>
        </ul></li></ul>



<h3>Средства отладки</h3>
<img alt="" border="0" height="200" src="{{ asset('images/catalog/jc-mobile/JC-Mobile_SDK%20.jpg') }}" style="float: right;" />

<p>В комплект разработчика JC-Mobile SDK входит отладочный модуль-переходник, позволяющий разработчикам производить отладку своего программного обеспечения с поддержкой смарт-карты и ридера (для Apple iOS с разъёмом Apple Dock) на компьютере, на котором производится разработка и отладка кода приложения. </p>

<p>Для этого модуль-переходник включается между устройством на платформах Apple iOS или Android и ридером. К гнезду Mini USB на корпусе переходника подключается кабель, соединяющийся с USB-портом компьютера. </p>

<p>После того, как код приложения отлажен, переходник больше не нужен. </p>

<p>Переходник, приведённый на рисунке, может отличаться от поставляемого в составе SDK. </p>

<h3>JaCarta на мобильных платформах</h3>

<table border="1" cellpadding="10">
    <tr>
        <td width="50%">iOS (версии 6.1+)</td>
        <td width="50%">Android (версии 4.1+)</td>
    </tr>
    <tr>
        <td valign="top">
            <p>Поддерживаются только смарт-карты JaCarta ГОСТ.</p>
            <p>Используемые мобильные ридеры:</p>
            <ul>
                <li>универсальный смарт-карт ридер с разъёмом Apple Dock;</li>
                <li>универсальный смарт-карт ридер с разъёмом Lightning;</li>
                <li>беспроводной смарт-карт ридер.</li>
            </ul>
        </td>
        <td valign="top">
            <ul><li>Смарт-карты JaCarta ГОСТ. Смарт-карты могут быть подключены к мобильным устройствам через беспроводной смарт-карт ридер.</li>
                <li>MicroUSB-токены JaCarta ГОСТ.</li>
                <li>Secure MicroSD-токен JaCarta ГОСТ. Могут быть использованы в мобильных устройствах на Android версий 4.1-4.3* и Android 5, в которых присутствует слот microSD.</li></ul>
            <p>*В составе решения JC-Mobile обеспечена поддержка Secure MicroSD-токена для Android 4.1-4.3. Secure MicroSD-токен не поддерживается в Android версий 4.4+ из-за ограничений прав доступа к внешним носителям, которые были введены Google в этих версиях ОС.</p>

        </td>
    </tr>
</table>

<br>

<p><i>Прочие технические подробности можно получить на корпоративном сайте "Аладдин Р.Д.", перейдя по следующим ссылкам: </i></p>
<ul><li><i>смарт-карта, MicroUSB- и Secure MicroSD-токены JaCarta ГОСТ; </i> </li>
    <li><i>смарт-карт ридер iR301-U (для разъёма Apple Dock); </i></li>
    <li><i>смарт-карт ридер iR301-UL (для разъёма Lightning); </i></li>
    <li><i>беспроводной смарт-карт ридер. </i></li></ul>
