<p>Компания "Аладдин Р.Д." представляет широкий ассортимент смарт-карт ридеров для использования со смарт-картами JaCarta и eToken, а также с любыми другими смарт-картами. Смарт-карт ридеры соответствуют международным стандартам CCID (Circuit Card Interface Device), ISO 7816-1/2/3, 2/3 BUS I2C, Extended i2C Memory Cards, EMV, CAC, Microsoft PC/SC, JIS X6303/6304, FIPS201, USB 2.0.</p>
<p>Все смарт-карт ридеры работают в защищённом режиме, где в качестве идентификатора используется информация,
    записанная на чипе в защищённой области смарт-карты. </p>
<p>Широкий выбор различных моделей с возможностью кастомизации
    смарт-карт ридеров позволяет подобрать устройства, в наибольшей степени отвечающие потребностям заказчика. </p>
<p>Смарт-карт ридеры совместимы практически со всеми операционными системами, в том числе и с мобильными. </p>
<h2>Смарт-карт ридеры для компьютеров и ноутбуков</h2>
<p>Для работы со смарт-картой на компьютерах и ноутбуках мы предлагаем целый ряд смарт-карт ридеров ASEDrive,
    разработанных с использованием новейших японских технологий (Athena Smartcard Solutions). Отличительными
    особенностями этих устройств являются высокая надёжность, эргономичность и увеличенный срок службы. </p>
<p>Помимо традиционных внешних смарт-карт ридеров с USB-интерфейсом, считыватели смарт-карт могут представлять
    собой: </p>
<ul>
    <li>компактные смарт-карт ридеры;</li>
    <li>клавиатуры со встроенным смарт-карт ридером;</li>
    <li>комбинированные смарт-карт ридеры с биометрическим сканером отпечатков пальцев.</li>

</ul>
<p>Все <i>смарт-карт ридеры линейки ASEDrive</i> оптимизированы для работы с инфраструктурой открытых ключей (PKI).
</p>
<h2>Смарт-карт ридеры для мобильных устройств</h2>
<p>Для комфортной работы со смарт-картами на смартфонах и планшетах операционных систем Apple iOS и Android
    предлагается ряд универсальных смарт-карт ридеров, отличающихся стильным дизайном и высоким качеством
    исполнения. Доступны следующие модели: </p>
<ul>
    <li>универсальный смарт-карт ридер с разъёмом Apple Dock;</li>
    <li>универсальный смарт-карт ридер с разъёмом Lightning;</li>
    <li>беспроводной смарт-карт ридер;</li>
    <li>пластиковый чехол для iPad mini со встроенным ридером;</li>
    <li>кожаный чехол для iPad со смарт-карт ридером (Apple Dock/Lightning).</li>
</ul>
<p>Возможно подключение смарт-карт ридеров не только к мобильным устройствам, но и компьютерам и ноутбукам. </p>
