
<h4>Прямое подключение</h4>
<div style="margin-left:30px">
    <p>Благодаря наличию специального разъёма Lightning на смарт-карт ридере модели iR301-UL обеспечивается прямое подключение к следующим устройствам: iPhone 6/6S/6S Plus/5/5S/5C, iPad Air 2/Air/4/mini 4/mini 3/mini 2/mini. </p>
</div>

<h4>Работа с любыми смарт-картами</h4>
<div style="margin-left:30px">
    <p>Полная совместимость со смарт-картами JaCarta (eToken) и картами, впускаемыми в рамках проекта "Карта "Электронное правительство". </p>
    <p>Более того, конструкция смарт-карт ридера позволяет использовать эмбоссированные карты, широко применяемые в международных платёжных системах. Ридер соответствуют EMV-стандарту, что позволяет работать с платёжными смарт-картами. </p>
</div>

<h4>Корректная работа с Apple iOS-устройствами</h4>
<div style="margin-left:30px">
    <p>Ридер модели iR301-UL полностью соответствует требованиям Apple к аксессуарам для iOS-устройств и содержит в себе уникальный чип с сертификатом совместимости от компании Apple. </p>
    <p>Благодаря наличию такого сертификата обеспечивается защищённое и доверенное взаимодействие смарт-карты и самого мобильного устройства, а также гарантируется корректная работа с iOS-устройствами нового поколения. </p>
</div>

<h4>Дизайн в стиле iPhone</h4>
<div style="margin-left:30px">
    <p>Смарт-карт ридер выполнен в фирменном стиле мобильных Apple iOS-устройств и имеет прочный алюминиевый корпус с чёрной пластиковой пластиной "под экран".</p>
    <p>Разработка технологии велась в тесном сотрудничестве с компанией Apple и получила ряд престижных наград в области информационных технологий и безопасности. </p>
</div>

<h4>Быстро и просто</h4>
<div style="margin-left:30px">
    <p>При подключении напрямую к Вашему iPhone или iPad смарт-карт ридер мгновенно готов к работе и не требует дополнительной настройки или установки драйверов. </p>
</div>

<h4>Совместимость с компьютерами и ноутбуками</h4>
<div style="margin-left:30px">
    <p>Смарт-карт ридер модели iR301-UL можно использовать также и с компьютерами на базе Microsoft Windows, Linux и Mac OS X. Для этого понадобится только USB-кабель-переходник, входящий в комплект. </p>
</div>