<h4>Прямое подключение</h4>
<div style="margin-left:30px">
    <p>Благодаря наличию специального разъёма 30-pin на смарт-карт ридере модели iR301-U ридер напрямую подключается к следующим устройствам: iPhone (модели до 4S включительно), iPad, iPad2, iPad3. </p>
</div>

<h4>Работа с любыми смарт-картами</h4>
<div style="margin-left:30px">
    <p>Полная совместимость со смарт-картами <a href="/catalog/jacarta/">JaCarta</a> (<a href="/catalog/etoken/">eToken</a>) и картами, впускаемыми в рамках проекта "Карта "Электронное правительство". </p>
    <p>Более того, конструкция смарт-карт ридера позволяет использовать эмбоссированные карты, широко применяемые в международных платёжных системах. Ридер соответствуют EMV-стандарту, что позволяет работать с платёжными смарт-картами. </p>
</div>

<h4>Дизайн в стиле iPhone</h4>
<div style="margin-left:30px">
    <p>Смарт-карт ридер выполнен в фирменном стиле мобильных Apple iOS-устройств и имеет прочный алюминиевый корпус с чёрной пластиковой пластиной "под экран". </p>
</div>

<h4>Быстро и просто</h4>
<div style="margin-left:30px">
    <p>При подключении напрямую к Вашему iPhone или iPad смарт-карт ридер мгновенно готов к работе и не требует дополнительной настройки или установки драйверов. </p>
</div>

<h4>Совместимость с компьютерами и ноутбуками</h4>
<div style="margin-left:30px">
    <p>Смарт-карт ридер модели iR301-U можно использовать также и с компьютерами на базе Microsoft Windows, Linux и Mac OS X. Для этого понадобится только USB-кабель-переходник, входящий в комплект.</p>
</div>