<p>Для начала работы со смарт-карт ридером модели iR301-U необходимо выполнить следующие действия:</p>
<ul><li>подключите смарт-карт ридер к iPad/iPhone при помощи специализированного разъёма Apple&nbsp;30-pin;
    <li>вставьте смарт-карту в слот ридера контактной площадкой вверх до упора; </li>
    <li>при установленной связи начнёт светиться индикатор белого цвета; </li>
    <li>для работы используйте PIN-код, который Вы получили вместе со смарт-картой; </li>
    <li>если индикаторы на ридере светятся, – устройство готово к работе; </li>
    <li>при каждом обращении к смарт-карте индикаторы часто мигают. </li></ul>
<p><b><font color="#ff0000">Внимание!</font>  Не отключайте ридер и не вынимайте смарт-карту при часто мигающем индикаторе на корпусе ридера. </b></p>