{% extends 'catalog.html.twig' %}

{% block title %}ASEDrive IIIe Bio Combo Swipe{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p>Биометрический смарт-карт ридер ASEDrive IIIe Bio Combo Swipe — компактный и надёжный считыватель смарт-карт и сканер отпечатков пальцев, обеспечивающий считывание/запись информации с контактных смарт-карт и аутентификацию владельца смарт-карты по отпечаткам пальцев.</p>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/readers/asedrive_combo_bio_swipe_Preview.jpg') }}" class="img-fluid" alt="{{ block('title') }}" />
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            <div class="bg-white section">
                <p>Cмарт-карт ридер сочетает в одном корпусе swipe-сенсор для отпечатков пальцев и считыватель смарт-карт. Предназначен для длительного использования на стационарных рабочих местах, где предъявляются повышенные требования к уровню безопасности, имеется повышенный риск инсайдерских действий, имеется доступ посторонних к рабочим станциям, либо в ИС работает низкоквалифицированный персонал.</p>
                <p>В смарт-карт ридере используется ёмкостной сенсор, который обладает высокими надёжностью и разрешающей способностью (508 точек на дюйм). Сканер отпечатка пальца эффективно и легко распознаёт ненастоящие, сфабрикованные злоумышленниками, слепки пальцев - желатиновые муляжи, распечатанные фотографии рисунка папиллярных линий, наложенных на палец и пр. </p>
                <p>Технология биометрического контроля, реализованная в данном смарт-карт ридере, позволяет строить надёжные решения с двух- или трёхфакторной (для критически важных информационных систем) аутентификацией. Метод биометрической идентификации может использоваться как вместо PIN-кода, так и в сочетании с ним. В качестве уникальной биометрической характеристики используются отпечатки пальцев. Для доступа к смарт-карте можно  использовать до десяти отпечатков. Это даёт возможность пользователю не задумываться о том, какой палец следует прижать к сканеру для входа на компьютер или в сеть.</p>
                <p>Благодаря использованию инновационной технологии Precise Match-on-Card от компании Precise Biometrics AB, сравнение производится исключительно внутри чипа смарт-карты, а не на компьютере, что обеспечивает защищённость процесса аутентификации. Подробнее об особенностях биометрической идентификации.</p>
                <p>Смарт-карт ридер позволяет одновременно ликвидировать риск несанкционированного доступа и повысить удобство работы сотрудников, т.к. больше нет необходимости запоминать и вводить пароль при двухфакторной аутентификации. Этот ридер отлично подойдёт для применения на терминалах и рабочих местах, расположенных в публичных местах.</p>
                <p>Смарт-карт ридер имеет надёжную конструкцию и обладает большим ресурсом контактной группы (не менее 200,000 подключений/отключений), а swipe-сенсор поддерживает более 20,000,000 сканирований, что обеспечивает долгий срок службы при высоких эксплуатационных нагрузках. Внутренний механизм ридера обеспечивает бережное отношение к самим картам, исключающее повреждение используемых смарт-карт, появление царапин и полос на пластине и чипе карты, что также способствует длительной эксплуатации смарт-карт. </p>
                <p>Устройство поддерживает работу с любыми смарт-картами, в том числе эмбоссированными и платёжными, имеет строгий дизайн и зону для нанесения Вашего логотипа.</p>
                <p><em>Рекомендуется для использования на рабочих местах при необходимости применения <a href="/solutions/bio/">биометрической идентификации</a> пользователей. </em></p>


                <h2>Технические характеристики</h2>

                <table class="specs" width="100%" cellspacing="0" cellpadding="5" border="1">
                    <tbody>
                    <tr> <td valign="top" width="26%"><b>Коммуникационный протокол (чип карты – считыватель смарт-карты)</b>
                        </td> <td width="73%">
                            <p>В режиме работы ASE mode:</p>
                            <ul><li>T=0 (ISO 7816, часть 3)</li>
                                <li>T=1 (ISO 7816, часть 3)</li>
                                <li>EMV</li>
                                <li>CAC</li>
                                <li>2/3 BUS I2C </li>
                                <li>Extended I2C Memory Cards</li></ul>

                            <p>В режиме работы CCID:</p>
                            <ul><li>T=0 (ISO 7816, часть 3)</li>
                                <li>T=1 (ISO 7816, часть 3)</li>
                                <li>EMV</li>
                                <li>CAC</li></ul>

                        </td> </tr>

                    <tr> <td><b>Интерфейс подключения</b></td> <td>USB 2.0 Full Speed 12 Мбит/с</td> </tr>

                    <tr> <td><b>Скорость обмена данными со смарт-картой</b></td> <td>До 500 Кбит/с, 4 МГц</td> </tr>

                    <tr> <td><b>Контактная группа</b></td> <td>ISO, 8 контактов. Минимум 200,000 подключений </td> </tr>

                    <tr> <td><b>Напряжение питания карты</b></td> <td>5V (ISO7816 Class A), 3V (ISO7816 Class B) </td> </tr>

                    <tr> <td><b>Питание</b></td> <td>Порт USB</td> </tr>

                    <tr> <td><b>Сканер отпечатка пальца</b></td> <td>UPEK TCS4 с поддержкой технологии Match-On-Card от компании Precise Biometrics</td> </tr>

                    <tr> <td><b>Дополнительные возможности</b></td> <td>Возможность обновления прошивки</td> </tr>

                    <tr> <td><b>Стандарты по безопасности</b></td> <td>FCC Class B, CE</td> </tr>

                    <tr> <td valign="top"><b>Поддерживаемые ОС</b></td> <td>

                            <p><b>Для считывателя смарт-карт:  </b></p>
                            <ul><li>Microsoft Windows
                                    <ul><li>Все версии Windows (32/64-бит), начиная с Windows XP </li></ul></li></ul>
                            <ul><li>Linux
                                    <ul><li>Все версии, поддерживаемые разработчиком дистрибутива.</li></ul></li></ul>
                            <ul><li>Mac OS X
                                    <ul><li>Все версии, поддерживаемые разработчиком.</li></ul></li></ul>

                            <p><b>Для сканера отпечатков пальцев:</b></p>
                            <ul><li>Microsoft Windows
                                    <ul><li>Все версии Windows (32/64-бит), начиная с Windows XP </li></ul></li></ul>


                        </td> </tr>

                    <tr> <td><b>Сертификаты</b></td> <td>Microsoft WHQL 2000, XP, Vista, PC/SC Compliant, EMV Level 1, USB Implementers Forum</td> </tr>
                    </tbody>
                </table>
                <p>
                    <a href="{{ path('catalog:product', {'product': 'readers'}) }}">Все смарт-карт ридеры</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}