{% extends 'catalog.html.twig' %}

{% block title %}ASEDrive IIIe Bio Keyboard{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p>Биометрический смарт-карт ридер ASEDrive IIIe Bio Keyboard — клавиатура со встроенным считывателем смарт-карт и сканером отпечатков пальцев.</p>

            <p>Применение Биометрический смарт-карт ридер ASEDrive IIIe Bio Keyboard позволяет создавать решения с многофакторной аутентификацией, не загромождая рабочее пространство.</p>

            <p>Технология биометрического контроля, реализованная в данном смарт-карт ридере, позволяет строить надёжные решения с двух- или трёхфакторной (для критически важных информационных систем) аутентификацией. Метод биометрической идентификации может использоваться как вместо PIN-кода, так и в сочетании с ним. В качестве уникальной биометрической характеристики используются отпечатки пальцев. Для доступа к смарт-карте можно  использовать до десяти отпечатков. Это даёт возможность пользователю не задумываться о том, какой палец следует прижать к сканеру для входа на компьютер или в сеть.</p>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/readers/ASEDrive_Keyboard_Bio_Preview.jpg') }}" class="img-fluid" alt="{{ block('title') }}" />
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            <div class="bg-white section">
                <p>Шаблоны, с которыми сравниваются отпечатки пальцев, хранятся в защищённой памяти смарт-карты. Благодаря использованию инновационной технологии Precise Match-on-Card от компании Precise Biometrics AB, сравнение производится исключительно внутри чипа смарт-карты, а не на компьютере, что обеспечивает защищённость процесса аутентификации. Подробнее об особенностях <a href="/solutions/bio/">биометрической идентификации</a>.</p>
                <p>Смарт-карт ридер позволяет одновременно ликвидировать риск несанкционированного доступа и повысить удобство работы сотрудников, т.к. больше нет необходимости запоминать и вводить пароль при двухфакторной аутентификации.</p>
                <p><em>Рекомендуется для использования на рабочих местах при необходимости применения биометрической идентификации пользователей.</em></p>

                <h2>Технические характеристики</h2>

                <table class="specs" width="100%" cellspacing="0" cellpadding="5" border="1">
                    <tbody>
                    <tr> <td width="26%"><b>Поддерживаемые карты</b></td> <td width="73%">ISO7816 T=0, T=1,EMV, JICSAP</td> </tr>

                    <tr> <td><b>Интерфейс подключения</b></td> <td>USB 2.0 Full Speed 12 Мбит/с</td> </tr>

                    <tr> <td><b>Скорость обмена данными со смарт-картой</b></td> <td>До 344 Кбит/с, 4 МГц</td> </tr>

                    <tr> <td><b>Контактная группа</b></td> <td>ISO, 8 контактов. Опускающиеся контакты (Landing), минимум 300,000 подключений </td> </tr>

                    <tr> <td><b>Напряжение питания карты</b></td> <td>5V (ISO7816 Class A), 3V (ISO7816 Class B) </td> </tr>

                    <tr> <td><b>Питание</b></td> <td>Порт USB</td> </tr>

                    <tr> <td><b>Стандарты по безопасности</b></td> <td>FCC Class B, CE</td> </tr>

                    <tr> <td><b>Поддерживаемые ОС</b></td> <td>Linux, Mac OS X, Windows 7, Windows Vista, Windows XP, Windows Server 2008 R2, Windows Server 2008, Windows Server 2003 R2, Windows Server 2003, MS Windows 2000 </td> </tr>

                    <tr> <td><b>Сертификаты</b></td> <td>Microsoft WHQL 2000, XP, Vista, PC/SC Compliant, EMV Level 1 </td> </tr>
                    </tbody>
                </table>
                <p>
                    <a href="{{ path('catalog:product', {'product': 'readers'}) }}">Все смарт-карт ридеры</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}