{% extends 'catalog.html.twig' %}

{% block title %}ASEDrive IIIe USB{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p>Смарт-карт ридер ASEDrive IIIe USB — считыватель контактных смарт-карт, карт памяти (memory card) и платёжных карт (EMV),  подключаемый к USB-порту и обеспечивающий считывание и запись информации на карты.</p>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/readers/ASEDrive_IIIe_USB_Preview.jpg') }}" class="img-fluid" alt="{{ block('title') }}" />
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            <div class="bg-white section">
                <p>Надёжная конструкция смарт-карт ридера обеспечивает долгий срок службы при высоких эксплуатационных нагрузках и исключает повреждение используемых смарт-карт. Устройство имеет большой ресурс контактной группы  – смарт-карту можно подключать/отключать не менее 200,000 раз! Данное преимущество достигается за счёт того, что контакты не скользят по поверхности карты в процессе её подключения/отключения, а опускаются на контактную площадку карты только после полного вхождения карты в смарт-карт ридер. Внутренний механизм ридера обеспечивает бережное отношение к самим картами, не оставляя полос и царапин на пластине и чипе карты, что также способствует длительной эксплуатации смарт-карт. Также для подключения смарт-карт ридера к компьютеру не требуется установки специальных драйверов.</p>
                <p>Смарт-карт ридер имеет малые габариты и вес, что позволяет комфортно использовать его на стационарных рабочих местах сотрудников. </p>
                <p>Устройство поддерживает работу с любыми смарт-картами, в том числе эмбоссированными и платёжными, имеет строгий дизайн и зоны для нанесения Вашего логотипа.</p>


                <p><em>Рекомендуется для использования на стационарных рабочих местах, где необходима двухфакторная аутентификация пользователей. Является стандартом в государственных организациях и крупнейших российских компаниях</em>.</p>

                <h2>Технические характеристики</h2>

                <table class="specs" width="100%" cellspacing="0" cellpadding="5" border="1">
                    <tbody>
                    <tr> <td><b>Поддерживаемые коммуникационные протоколы</b></td> <td width="73%"><p>В режиме работы ASE mode:</p>
                            <ul><li>T=0 (ISO 7816, часть 3) </li>
                                <li>T=1 (ISO 7816, часть 3) </li>
                                <li>EMV</li>
                                <li>CAC</li>
                                <li>2/3 BUS I2C </li>
                                <li>Extended I2C Memory Cards</li></ul>

                            <p>В режиме работы CCID:</p>
                            <ul><li>T=0 (ISO 7816, часть 3) </li>
                                <li>T=1 (ISO 7816, часть 3) </li>
                                <li>EMV</li>
                                <li>CAC</li></ul>
                        </td> </tr>

                    <tr> <td><b>Интерфейс подключения</b></td> <td>USB 2.0 Full Speed 12 Мбит/сек</td> </tr>

                    <tr> <td><b>Скорость обмена данными со смарт-картой</b></td> <td>До 323 Кбит/сек, 4 МГц</td> </tr>

                    <tr> <td><b>Контактная группа</b></td> <td>ISO, 8 контактов. Опускающиеся контакты (Landing), минимум 200,000 подключений</td> </tr>

                    <tr> <td><b>Напряжение питания карты</b></td> <td>5V (ISO7816 Class A), 3V (ISO7816 Class B), 1.8V (ISO7816 Class C) </td> </tr>

                    <tr> <td><b>Питание</b></td> <td>Порт USB</td> </tr>

                    <tr> <td><b>Дополнительные возможности</b></td> <td>Возможность обновления прошивки</td> </tr>

                    <tr> <td><b>Стандарты по безопасности</b></td> <td>FCC Class B, VCCI, CE</td> </tr>

                    <tr> <td><b>CCID совместимость</b></td> <td>В зависимости от варианта исполнения</td> </tr>

                    <tr> <td><b>Поддерживаемые ОС</b></td> <td><ul><li>Microsoft Windows
                                    <ul><li>Все версии (32/64-бит), начиная с Windows XP (в режимах работы CCID и ASE mode)
                                        <li>Microsoft Windows 98SE, 2000 (в режиме работы ASE mode). </li></ul></li>
                                <li>Linux
                                    <ul><li>Все версии, поддерживаемые разработчиком дистрибутива. </li></ul></li>
                                <li>Mac OS X</li></ul>
                            <p>Все версии, поддерживаемые разработчиком.</p>
                        </td> </tr>

                    <tr> <td><b>Сертификаты</b></td> <td>Windows 7 Compatible (Microsoft WHQL), FIPS 201 GSA APL, PC/SC Compliant, USB Logo, EMV Level 1 </td> </tr>

                    <tr> <td><b>Дополнительные возможности</b></td> <td>Устройство имеет перепрошиваемую Flash-память для обновления Firmware</td> </tr>
                    </tbody>
                </table>
                <p>
                    <a href="{{ path('catalog:product', {'product': 'readers'}) }}">Все смарт-карт ридеры</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}