{% extends 'catalog.html.twig' %}

{% block title %}ASEDrive IIIe Bio Combo{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p>Смарт-карт ридер ASEDrive Bio IIIe Combo — комбинированный считыватель смарт-карт с вертикальной загрузкой смарт-карты и прижимным сканером отпечатков пальцев, обеспечивающим считывание/запись информации со смарт-карт и аутентификацию владельца смарт-карты по отпечаткам пальцев. Устройство предназначено для использования на стационарных рабочих местах, где предъявляются повышенные требования к уровню безопасности.</p>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/readers/ASEDrive_IIIe_Bio_Combo_Preview.jpg') }}" class="img-fluid" alt="{{ block('title') }}" />
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            <div class="bg-white section">
                <p>Технология биометрического контроля, реализованная в данном смарт-карт ридере, позволяет строить надёжные решения с двух- или трёхфакторной (для критически важных информационных систем) аутентификацией. Метод биометрической идентификациии может использоваться как вместо PIN-кода, так и в сочетании с ним. В качестве уникальной биометрической характеристики используются отпечатки пальцев. Для доступа к смарт-карте можно  использовать до десяти отпечатков. Это даёт возможность пользователю не задумываться о том, какой палец следует прижать к сканеру для входа на компьютер или в сеть.</p>
                <p>В смарт-карт ридере используется прижимной ёмкостной сенсор, обладающий высокими надёжностью и разрешающей способностью (508 точек на дюйм). Эти характеристики позволяют сканировать даже мокрые и загрязнённые пальцы. Сканер отпечатка пальца эффективно и легко распознаёт ненастоящие, сфабрикованные злоумышленниками, слепки пальцев - желатиновые муляжи, распечатанные фотографии рисунка папиллярных линий, наложенных на палец и пр. Устройство обладает большим ресурсом сенсора сканера отпечатков пальца - более 2,000,000 сканирований.</p>

                <p>Благодаря использованию инновационной технологии Precise Match-on-Card от компании Precise Biometrics AB сравнение производится исключительно внутри чипа смарт-карты, а не на компьютере, что обеспечивает защищённость процесса аутентификации. <i>Подробнее об особенностях <a href="/solutions/bio/">биометрической идентификации</a>.</i></p>

                <p>Смарт-карт ридер позволяет одновременно ликвидировать риск несанкционированного доступа и повысить удобство работы сотрудников, т.к. больше нет необходимости запоминать и вводить пароль при двухфакторной аутентификации. Этот ридер может быть особенно полезен для топ-менеджеров и финансовых специалистов, имеющих доступ к строго конфиденциальной информации.</p>

                <p>Смарт-карт-ридер поддерживает работу с любыми смарт-картами, в том числе эмбоссированными и платёжными. Оригинальный волнообразный дизайн и удобная вертикальная загрузка смарт-карты позволяет сэкономить пространство на рабочем месте. Также доступна возможность нанесения Вашего фирменного логотипа.</p>
                <p><i>Рекомендуется для использования на рабочих местах при необходимости применения биометрической идентификации пользователей. </i></p>

                <h2>Технические характеристики</h2>

                <table class="specs" width="100%" cellspacing="0" cellpadding="5" border="1">
                    <tbody>
                    <tr> <td width="26%"><b>Коммуникационные протоколы</b></td> <td width="73%"><p>В режиме работы ASE:</p>
                            <ul><li>T=0 (ISO 7816, часть 3) </li>
                                <li>T=1 (ISO 7816, часть 3) </li></ul>
                            <p>В режиме работы CCID:</p>
                            <ul><li>T=0 (ISO 7816, часть 3) </li>
                                <li>T=1 (ISO 7816, часть 3) </li></ul>
                        </td> </tr>

                    <tr> <td><b>Интерфейс подключения</b></td> <td>USB 2.0 Full Speed 12 Мбит/с</td> </tr>

                    <tr> <td><b>Скорость обмена данными со смарт-картой</b></td> <td>До 500 Кбит/с, 4 МГц</td> </tr>

                    <tr> <td><b>Контактная группа</b></td> <td>ISO, 8 контактов. Минимум 100,000 подключений </td> </tr>

                    <tr> <td><b>Напряжение питания карты</b></td> <td>5V (ISO7816 Class A), 3V (ISO7816 Class B) </td> </tr>
                    <tr> <td><b>Питание</b></td> <td>Порт USB</td> </tr>
                    <tr> <td><b>Сканер отпечатка пальца</b></td> <td>UPEK TCS2 с поддержкой технологии Match-On-Card от компании Precise Biometrics</td> </tr>

                    <tr> <td><b>Дополнительные возможности</b></td> <td>Возможность обновления прошивки</td> </tr>

                    <tr> <td><b>Стандарты по безопасности</b></td> <td>FCC Class B, CE, VCCI</td> </tr>

                    <tr> <td><b>Поддерживаемые ОС</b></td> <td><p><b><u>Для считывателя смарт-карт</u></b></p>
                            <ul><li>Microsoft Windows
                                    <ul><li>Все версии Windows (32/64-бит), начиная с Windows XP </li></ul></li></ul>
                            <ul><li>Linux (только в режиме работы  CCID)
                                    <ul><li>Все версии, поддерживаемые разработчиком дистрибутива. </li></ul></li></ul>
                            <ul><li>Mac OS X (только в режиме работы  CCID)
                                    <ul><li>Все версии, поддерживаемые разработчиком. </li></ul></li></ul>

                            <p><b><u>Для сканера отпечатков пальцев</u></b></p>
                            <ul><li>Microsoft Windows
                                    <ul><li>Все версии Windows (32/64-бит), начиная с Windows XP </li></ul></li></ul>
                        </td> </tr>

                    <tr> <td><b>Сертификаты</b></td> <td>Microsoft WHQL 2000, XP, Vista, PC/SC Compliant, EMV Level 1, USB Implementers Forum </td> </tr>
                    </tbody>
                </table>
                <p>
                    <a href="{{ path('catalog:product', {'product': 'readers'}) }}">Все смарт-карт ридеры</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}