<table width="100%" cellspacing="0" cellpadding="5" border="0" class="specs"> <colgroup> <col width="200"></col> <col></col> </colgroup>
    <tbody>
    <tr> <td align="right" style="border-image: none;"><strong>Размер пользовательской памяти</strong></td> <td style="border-image: none;">255 байт</td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>CCID-совместимость</strong></td> <td style="border-image: none;">Да (CCID-драйвер входит в состав операционной системы)</td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Коммуникационный протокол (чип смарт-карты – считыватель смарт-карты)</strong></td> <td style="border-image: none;">
            <ul>
                <li>PC/SC</li>

                <li>ISO 7816 T=0, T=1</li>

                <li>EMV</li>

                <li>CAC</li>

                <li>JIS</li>

                <li>JICSAP</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Скорость обмена ридера с картой</strong></td> <td style="border-image: none;">До 820 Кбит/сек, 8 МГц</td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Интерфейс/разъём подключения к рабочей станции</strong></td> <td style="border-image: none;">
            <ul>
                <li>Bluetooth (только для связи с мобильным устройством)</li>

                <li>USB (разъём MicroUSB, интерфейс USB 2.0 Full) – используется для подключения к ПК</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Ресурс (долговечность) контактной группы ридера</strong></td> <td style="border-image: none;">
            <ul>
                <li>Не менее 100,000 подключений смарт-карты</li>

                <li>Не менее 5,000 подключений к MicroUSB-порту компьютера</li>

                <li>Количество подключений через Bluetooth – неограниченно</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Поддерживаемые ОС по MicroUSB-разъёму</strong></td> <td style="border-image: none;">
            <ul>
                <li>Microsoft
                    <ul>
                        <li>Windows 7 SP1 (32/64-бит)</li>

                        <li>Windows Vista SP2 (32/64-бит)</li>

                        <li>Windows XP SP3 (32-бит)</li>

                        <li>Windows Server 2008 R2 SP1 (64-бит)</li>

                        <li>Windows Server 2008 SP2 (32/64-бит)</li>

                        <li>Windows Server 2003 SP2 (32/64-бит)</li>

                        <li>Windows 8 (32/64-бит)</li>

                        <li>Windows Server 2012 (32/64-бит)</li>
                    </ul>
                </li>

                <li>Linux
                    <ul>
                        <li>Любой Linux – дистрибутив, соответствующий стандарту LSB (Linux Standard Base) версии 3.1 (32/64-бит)</li>

                        <li>Red Hat Linux Enterprise Linux 6.3 Desktop (32/64-бит)</li>

                        <li>OpenSUSE 12.2 (32/64-бит)</li>

                        <li>CentOS 6 (32/64-бит)</li>

                        <li>Ubuntu Desktop 12.04.1 LTS (32/64-бит)</li>

                        <li>Альт Линукс СПТ 6.0 (32/64-бит)</li>

                        <li>ROSA Linux 2011</li>
                    </ul>
                </li>

                <li>Apple Mac OS X
                    <ul>
                        <li>Mac OS X 10.6 x64 (Snow Leopard, год выпуска – 2009)</li>

                        <li>Mac OS X 10.7 x64 (Lion, год выпуска – 2011)</li>

                        <li>Mac OS X 10.8 x64 (Mountain Lion, год выпуска – 2012)</li>

                        <li>Mac OS X 10.9 x64 (Mavericks, год выпуска – 2013)</li>
                    </ul>
                </li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Поддерживаемые ОС по Bluetooth-протоколу</strong></td> <td style="border-image: none;">
            <ul>
                <li>Apple iOS 3.1+</li>

                <li>Android 2.3+</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Необходимое системное ПО, версии</strong></td> <td style="border-image: none;">
            <ul>
                <li>CCID-драйвер
                    <ul>
                        <li>CCID-драйвер входит в состав ОС Microsoft Windows Vista/7/2008/2012/8, Linux, Mac OS X</li>
                    </ul>
                </li>

                <li>Для Microsoft Windows XP CCID-драйвер устанавливается из дистрибутива прикладного ПО JC-PROClient (либо может быть установлен с сайта Windows Update при первом подключении токена к рабочей станции)</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Дальность микропрограммы</strong></td> <td style="border-image: none;">
            <ul>
                <li>По Bluetooth дальность обнаружения ридера до 20 м</li>

                <li>По Bluetooth дальность работы с вставленной в ридер картой – 0.5м</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Соответствие международным требованиям</strong></td> <td style="border-image: none;">
            <ul>
                <li>Производится по современной технологии без использования свинца при пайке (соответствие директиве RoHS - Restriction of Hazardous Substances - Европейского Союза, ограничивающей использование шести опасных для здоровья и окружающей среды веществ в электрическом и электронном оборудовании – свинца, кадмия, ртути, шестивалентного хрома, бромидных соединений)</li>

                <li>Разрешён для ввоза и эксплуатации в странах-членах ЕС (полностью соответствует европейским требованиям, имеет соответствующий сертификат – декларацию производителя)</li>

                <li>Не является источником электромагнитных помех, которые могут повлиять на работу другого электронного оборудования, допускается к использованию внутри жилых и рабочих помещений (сертификат Комиссии по связи США FCC)</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Соответствие стандартам</strong></td> <td style="border-image: none;">
            <ul>
                <li>CCID (Circuit Card Interface Device)</li>

                <li>ISO7816</li>

                <li>EMV</li>

                <li>USB 2.0</li>

                <li>IEEE 802.11</li>

                <li>Не работает с картами I2C</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Международные сертификаты безопасности изделия</strong></td> <td style="border-image: none;">
            <ul>
                <li><b>RoHS</b> (соответствие директиве RoHS - Restriction of Hazardous Substances - Европейского Союза, ограничивающей использование шести опасных для здоровья и окружающей среды веществ в электрическом и электронном оборудовании – свинца, кадмия, ртути, шестивалентного хрома и бромидных соединений)</li>

                <li><b>CE</b> (соответствует требованиям стран ЕС, разрешён для ввоза и применения на их территории)</li>

                <li><b>FCC</b> (соответствует международным требованиям в части уровня электромагнитных помех радиоустройствам)</li>

                <li><b>EMV</b> (работает с платёжными картами)</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Система управления качеством продукции</strong></td> <td style="border-image: none;">
            <ul>
                <li>Система менеджмента качества компании &quot;Аладдин Р.Д.&quot; соответствует требованиям стандарта <b>ГОСТ Р ИСО 9001-2011</b>.
                    <br />
                    <img vspace="5" hspace="10" height="60" src="/upload/iblock/3c2/kdcdrv%20ICO%209000.png"  /></li>

                <li>Завод, осуществляющий контрактное производство печатных плат (комплектующих) и сборку ридеров, сертифицирован на соответствие международному стандарту <b>ISO 9001:2011</b>.</li>

                <li>Данный сертификат подтверждает, что на предприятии внедрена система управления качеством продукции, соответствующая современным международным требованиям.</li>
            </ul>
        </td> </tr>

    <tr> <td align="right" style="border-image: none;"><strong>Экологическая безопасность</strong></td> <td style="border-image: none;">
            <ul>
                <li>Завод, осуществляющий контрактное производство печатных плат (комплектующих) и сборку ридеров, сертифицирован на соответствие международному стандарту <b>ISO 14001:2004</b>.</li>

                <li>Данный сертификат подтверждает, что на предприятии внедрена система экологического менеджмента, целями которой являются снижение негативного воздействия на окружающую среду, повышение экологической эффективности деятельности предприятия, повышение экономической эффективности деятельности предприятия, снижение образования отходов и их переработка.</li>
            </ul>
        </td> </tr>
    </tbody>
</table>
<br />

<p>Смарт-карт ридер изготовлен компанией FEITIAN по заказу "Аладдин Р.Д.".</p>