{% extends 'catalog.html.twig' %}

{% block title %}Беспроводной смарт-карт ридер{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p>Применение беспроводного смарт-карт ридера bR301 обеспечивает возможность работы с двумя или более мобильными устройствами на базе Apple iOS и Android. Для подключения смарт-карты к мобильным устройствам ридер использует технологию Bluetooth.</p>

            <p><em>Рекомендуется мобильным сотрудникам, клиентам систем онлайн-банкинга и других сервисов для работы с электронными системами, сервисами и документами со смартфонов и планшетов на базе Apple iOS или Android.</em></p>

            <p><em>Гарантия на изделие осуществляется по серийному номеру в течение 1 года с момента продажи.</em></p>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/readers/Feitian_215_Wireless_Reader.png') }}" class="img-fluid" alt="{{ block('title') }}" />
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            {% set tabs = [
                { 'id': 'advantages', 'title': 'Описание', 'active': true, 'view': 'catalog/readers/bR301_advantages.html.twig' },
                { 'id': 'instruction', 'title': 'Инструкция по работе', 'active': false, 'view': 'catalog/readers/bR301_instruction.html.twig' },
                { 'id': 'specification', 'title': 'Технические характеристики', 'active': false, 'view': 'catalog/readers/bR301_specification.html.twig' },
            ] %}
            {{ include('tabs.html.twig') }}

            <p>
                <a href="{{ path('catalog:product', {'product': 'readers'}) }}">Все смарт-карт ридеры</a>
            </p>
        </div>
    </div>
{% endblock %}