<p>Для начала работы со смарт-карт ридером модели bR301 необходимо выполнить следующие действия:</p>
<ul><li>Включите ридер, нажав на кнопку питания. </li>
    <li>Создайте пару на своём мобильном устройстве с ридером. Достаточно это сделать только один раз, последующие подключения будут выполняться автоматически при включении ридера. </li>
    <li>При установленной связи должен светиться индикатор белого цвета. </li>
    <li>Вставьте смарт-карту в слот ридера контактной площадкой вверх до упора. Как только белый индикатор начинает мигать, значит, соединение со смарт-картой установлено, и можно приступать к работе.  </li>
    <li>Чтобы выключить ридер, необходимо удерживать кнопку питания в течение 10 секунд. При отсутствии подключения ридер выключится автоматически примерно через 1 минуту. </li>
    <li>Если при включении ридера не светится никакой из индикаторов или светится красный индикатор, то ридер необходимо зарядить*.</li>
    <li>При зарядке индикатор красного цвета ярко светится в постоянном режиме. После зарядки ридера яркость индикатора красного цвета становится обычной. </li></ul>

<p><b><font color="#ff0000">Внимание!</font>  Не отключайте ридер и не вынимайте смарт-карту при учащённо мигающем индикаторе на корпусе ридера. </b></p>

<p>* Зарядить ридер можно с помощью кабеля, входящего в комплект поставки, через USB-порт компьютера.</p>