
<h4>Работа с любыми смартфонами и планшетами</h4>
<div style="margin-left:30px">
    <p>Благодаря подключению беспроводного смарт-карт ридера через интерфейс Bluetooth Вы можете работать со своей смарт-картой на разных мобильных устройствах и даже на разных платформах – Apple iOS и Android. Используйте то устройство, которое в данный момент находится с собой. </p>
</div>

<h4>Работа с любыми смарт-картами</h4>
<div style="margin-left:30px">
    <p>Полная совместимость со смарт-картами JaCarta (eToken) и картами, впускаемыми в рамках проекта "Карта "Электронное правительство". </p>
    <p>Более того, конструкция смарт-карт ридера позволяет использовать эмбоссированные карты, широко применяемые в международных платёжных системах. Ридер соответствуют EMV-стандарту, что позволяет работать с платёжными смарт-картами. </p>
</div>

<h4>Удобный и современный дизайн</h4>
<div style="margin-left:30px">
    <p>Смарт-карт ридер модели bR301 выполнен в лёгком пластиковом корпусе и имеет современный дизайн. Зарядка встроенного аккумулятора осуществляется при помощи стандартного USB-порта. </p>
</div>

<h4>Совместимость с компьютерами и ноутбуками</h4>
<div style="margin-left:30px">
    <p>Беспроводной смарт-карт ридер модели bR301 можно подключать к компьютерам и ноутбукам на платформах Microsoft Windows, Linux и Mac OS X, используя USB-кабель-переходник, входящий в комплект. </p>
</div>