<ul>
    <li>Имеет карман для ридера</li>

    <li>Изготовлен из высококачественной натуральной кожи</li>

    <li>Устойчив к истиранию и обладает умеренной эластичностью</li>

    <li>Может использоваться в качестве подставки</li>

    <li>На выбор доступно более 50 типов кожи различных цветов и фактур</li>

    <li>Может содержать логотип заказчика</li>
</ul>

<p>В комплект входит</p>

<ul>
    <li>Кожаный чехол</li>

    <li>Смарт-карт ридер для разъёма 30-pin или Lightning</li>

    <li>Кабель USB-MicroUSB</li>
</ul>