
<h4>Удобная работа со смарт-картой</h4>
<div style="margin-left:30px">
    <p>Устройство выполнено в виде дополнительного лёгкого корпуса к iPad mini и в конструкции имеет уже встроенный смарт-карт ридер с разъёмом Lightning (8 pin). Пластиковый чехол одновременно предоставляет максимальное удобство при работе со смарт-картами и защищает Ваш iPad mini от механических повреждений. </p>
</div>

<h4>Работа с любыми смарт-картами</h4>
<div style="margin-left:30px">
    <p>Полная совместимость со смарт-картами JaCarta (eToken) и картами, выпускаемыми в рамках проекта "Карта "Электронное правительство". </p>
    <p>Более того, конструкция контактной группы и приёма карты позволяет использовать эмбоссированные карты, широко применяемые в международных платёжных системах. </p>
</div>

<h4>Современный дизайн</h4>
<div style="margin-left:30px">
    <p>Чехол-ридер выполнен в лёгком пластиковом корпусе и имеет современный дизайн. </p>
</div>
<h4>Совместимость со Smart Cover</h4>
<div style="margin-left:30px">
    <p>Пластиковый чехол-ридер для iPad mini можно использовать совместно со смарт-чехлами производства Apple. </p>
</div>