{% extends 'catalog.html.twig' %}

{% block title %}Смарт-карт ридеры{% endblock %}

{% block meta_description %}
    Проводные и беспроводные ридеры для любых смарт-карт
{% endblock %}

{% block lead %}
    <div class="row">
        <div class="col-6 font-weight-normal">
            <p class="font-weight-bold">Проводные и беспроводные ридеры для любых смарт-карт</p>
            <p>Смарт-карт ридеры — устройства, обеспечивающие считывание информации со смарт-карт и запись на них необходимых данных.</p>
            <p>Во многих проектах использование смарт-карт в комплексе со смарт-карт ридерами предпочтительнее применения USB-токенов:</p>
            <ul>
                <li>смарт-карта долговечнее USB-токена (ресурс подключений в 10 раз больше, чем у USB-токена);</li>
                <li>смарт-карту проще интегрировать с RFID-меткой;</li>
                <li>на смарт-карте можно напечатать дополнительные данные, например, фотографию и имя сотрудника.</li>
            </ul>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/readers/ASEDrive_Mini_w_Smart_Card_Bio.png') }}" class="img-fluid" alt="{{ block('title') }} - {{ block('meta_description') }}" />
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-white section">
        <div class="container">
            <div class="bg-white section">
                <div class="container">
                    {% set tabs = [
                        { 'id': 'description', 'title': 'Описание', 'active': true, 'view': 'catalog/readers/_description.html.twig' },
                        { 'id': 'models', 'title': 'Модели', 'active': false, 'view': 'catalog/readers/_models.html.twig' },
                    ] %}
                    {{ include('tabs.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}