<h2 class="text-center mb-5 mt-0">Преимущества "Антифрод-терминала"</h2>

<div class="row">
    <div class="col-6">
        <h3>Строгая аутентификация терминала на сервере </h3>
        <p>Сервер осуществляет проверку ЭП журнала операций "Антифрод-терминала", что позволяет гарантировать факт подтверждения
            операции на зарегистрированном доверенном устройстве. Тем самым обеспечивается защита от подмены терминала на
            клиентской стороне.
        </p>

        <h3>Контроль полноты подтверждаемых данных </h3>
        <p>Для защиты от недобросовестной (неполной) проверки ключевых реквизитов пользователем в "Антифрод-терминале"
            реализован дополнительный контроль того, что пользователь ознакомился со всеми данными, которые были отображены на
            экране терминала. Если данные не вместились на один экран, то терминал не позволит подтвердить операцию до тех пор,
            пока пользователь не прокрутит их до конца. Это также важно и с точки зрения доказательной базы, так как такая
            реализация позволяет при необходимости доказать, что пользователь собственноручно прокрутил все данные до конца,
            проверив все реквизиты, и подтвердил операцию, ознакомившись со всеми реквизитами.
        </p>

        <h3>Возможность интеграции с любыми типами средств электронной подписи </h3>
        <p>"Антифрод-терминал" в сценариях работы со средствами ЭП может быть интегрирован с любыми типами средств ЭП:
            смарт-картами стандарта ISO 7816, USB-токенами, а также программными СКЗИ. При смене средства ЭП не требуется
            вносить какие-либо изменения в прошивку "Антифрод-терминала", что избавляет от проблем с совместимостью и удешевляет
            эксплуатацию устройства.
        </p>

        <h3>Подписание оригинального документа </h3>
        <p>Благодаря тому, что операция подписания документа с помощью средства ЭП логически отделена от операции подтверждения
            его ключевых реквизитов на "Антифрод-терминале", ЭП документа формируется непосредственно от самого документа, а не
            от некой структуры, содержащей этот документ (или его хэш) и прочие служебные данные. Это позволяет сохранить для
            пользователей возможность открывать подписанные документы в наиболее распространённых форматах (PDF, DOCX, TXT и
            др.) и с помощью любых (в том числе сторонних) средств ЭП убеждаться в том, что они или их контрагенты подписали
            именно этот документ.
        </p>
    </div>
    <div class="col-6">
        <h3>Формирование доказательной базы </h3>
        <p>Журнал операций, формируемый "Антифрод-терминалом" и сохраняемый на сервере, может быть использован в качестве
            доказательной базы при расследовании инцидентов и разборе конфликтных ситуаций.
        </p>

        <h3>Удобная реализация групповых операций в системах ДБО </h3>
        <p>Благодаря тому, что операция подписания платёжных документов на средстве ЭП логически отделена от операции
            подтверждения их ключевых реквизитов на "Антифрод-терминале", возможна реализация гибких сценариев подтверждения
            групповых операций. В частности, вместо того, чтобы заставлять пользователя подтверждать каждый подписываемый
            документ, архитектура "Антифрод-терминала" позволяет реализовать отложенный запрос подтверждения ключевых реквизитов
            только для тех транзакций, которые показались подозрительными серверной антифрод-системе.
        </p>
        <p>При использовании "белых списков" доверенных контрагентов пользователю достаточно подтвердить:</p>
        <ul>
            <li>одно сводное платёжное поручение, содержащее общую сумму платежа в адрес всех получателей, попавших в "белый
                список", а также число получателей, попавших в "белый список";</li>
            <li>те платёжные поручения, получатели которых не попали в "белый список".</li>
        </ul>
        <p>Такая реализация групповых операций позволяет значительно сократить количество платёжных поручений, которые требуется
            подтверждать на "Антифрод-терминале".</p>

        <h3>Быстрое встраивание в прикладные системы </h3>
        <p>Согласно опыту наших партнёров, встраивание "Антифрод-терминала" занимает около 10 рабочих дней. Для интеграции
            "Антифрод-терминала" в прикладное ПО подготовлены два типа комплектов разработчика:</p>
        <ul>
            <li>JaCarta SDK — для интеграции в настольные приложения;</li>
            <li>JC-WebClient SDK — для интеграции в Web-приложения с поддержкой всех популярных браузеров на платформах
                Microsoft Windows, Apple macOS и Linux.</li>
        </ul>
    </div>
</div>





