<h2 class="text-center mb-5 mt-0">
    Пора сделать <span class="text-nowrap">правильный выбор</span>
</h2>

<div class="text-center mt-4">
    <a href="{{ path("partners:search", {"type": "business"}) }}" class="btn btn-primary">Купить "Антифрод-терминал"</a> &nbsp;&nbsp;&nbsp;
    <div class="small mt-5">
        <a class="text-nowrap mx-4" href="{{ path('download', {'uuid': 'c7970906-763e-4581-80b6-836eed9ea921'}) }}">Брошюра "Антифрод-терминал"</a>
        <a class="text-nowrap mx-4" href="http://developer.aladdin-rd.ru/antifraud_terminal/index.html" target="_blank">Руководство по встраиванию</a>
        <a href="{{ path('support') }}" class="text-nowrap mx-4">Техническая поддержка</a>
        <a href="{{ path('support:downloads') }}" class="text-nowrap">Библиотека ресурсов</a>
    </div>
</div>

