<h2 class="text-center mb-5 mt-0">Проблемы работы в недоверенной среде </h2>
<div class="row">
    <div class="col-6">
        <p>Сегодня нельзя гарантировать отсутствие вредоносного ПО на компьютере пользователя, особенно при постоянном подключении к Интернету. По этой причине компьютер пользователя, как правило, является недоверенной средой.</p>
        <p>Вредоносное ПО, внедрённое на компьютер пользователя, может выполнять несанкционированные действия, направленные на:</p>
        <ul>
            <li>получение доступа в личный кабинет электронного сервиса от лица легального пользователя с целью завладеть конфиденциальной информацией;</li>
            <li>выполнение от лица легального пользователя сервиса поддельных финансовых транзакций с целью кражи денежных средств;</li>
            <li>выполнение от лица легального пользователя важных операций, способных привести к несанкционированному распространению конфиденциальной информации, дестабилизации работы системы и иным негативным последствиям;</li>
            <li>подписание на ключах легального пользователя поддельных электронных документов с использованием средств электронной подписи (ЭП), подключенных к ПК.</li>
        </ul>
    </div>
    <div class="col-6">
        <p>Средства ЭП в виде <a href="{{ path('catalog:product', {'product': 'jacarta'}) }}">USB-токенов и смарт-карт</a> (далее — токены) с неизвлекаемым закрытым ключом надёжно защищают ключ ЭП от кражи. Тем не менее, злоумышленники научились подписывать поддельные электронные документы без кражи ключей ЭП. Для этого они применяют:</p>
        <ul>
            <li>вредоносное ПО, способное подменять подписываемые документы. Пользователь видит на экране компьютера один документ, а в момент его подписания вредоносное ПО подменяет его на другой. В результате в токене незаметно для пользователя подписывается подменённый документ, который затем отправляется на исполнение вместо оригинала;</li>
            <li>удалённый перехват управления компьютером пользователя с целью подписания на подключенном к ПК токене поддельных электронных документов.</li>
        </ul>
    </div>
</div>

<h2 class="text-center my-5">Области применения "Антифрод-терминала"</h2>
<div class="row">
    <div class="col-6">
        <ul>
            <li>защита систем дистанционного банковского обслуживания (ДБО) от атак киберпреступников, направленных на кражу денежных средств со счетов клиентов банка;</li>
            <li>защита настольных или Web-приложений от атак киберпреступников, направленных на выполнение от лица легального пользователя несанкционированных им операций, которые могут привести к негативным последствиям (краже денежных средств, краже/распространению конфиденциальной информации, дестабилизации работы системы и т.д.);</li>
            <li>защита систем электронного документооборота и электронных сервисов от атак киберпреступников, направленных на подписание поддельных документов на ключах ЭП легального пользователя и последующее навязывание этих документов системе или сервису.</li>
        </ul>
    </div>
    <div class="col-6">
        <a href="{{ asset('images/catalog/antifraud/Antifraud_Schema_00.png') }}">
            <img class="img-fluid" src="{{ asset('images/catalog/antifraud/Antifraud_Schema_00.png') }}" />
        </a>
    </div>
</div>