<h2 class="text-center mb-5 mt-0">Сценарии использования</h2>

<div class="row">
    <div class="col-6">
        <h3>Работа "Антифрод-терминала" совместно со средством ЭП<br />(USB-токеном, смарт-картой или программным СКЗИ)</h3>
        <a href="{{ asset('images/catalog/antifraud/Antifraud_Schema_01.png') }}" class="d-block my-5">
            <img class="img-fluid" src="{{ asset('images/catalog/antifraud/Antifraud_Schema_01.png') }}" alt="Сценарий работа Антифрод-терминала совместно со средством ЭП (USB-токеном, смарт-картой или программным СКЗИ)" />
        </a>
    </div>
    <div class="col-6">
        <h3>Работа "Антифрод-терминала" в качестве самостоятельного устройства без использования средств ЭП</h3>
        <a href="{{ asset('images/catalog/antifraud/Antifraud_Schema_02.png') }}" class="d-block my-5">
            <img class="img-fluid" src="{{ asset('images/catalog/antifraud/Antifraud_Schema_02.png') }}" alt="Сценарий работы Антифрод-терминала в качестве самостоятельного устройства без использования средств ЭП" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>Исходные данные сценария:</h4>
        <ul>
            <li>пользователь инициировал выполнение операции подписания документа (например, платёжного поручения) на средстве ЭП;</li>
            <li>"Антифрод-терминал" подключен к USB-порту ПК;</li>
            <li>если в качестве средства ЭП используется смарт-карта, она подключается непосредственно к "Антифрод-терминалу". При использовании USB-токена он подключается в свободный USB-порт.</li>
        </ul>
    </div>
    <div class="col-6">
        <h4>Исходные данные сценария:</h4>
        <ul>
            <li>пользователь cынициировал выполнение важной операции или транзакции в системе;</li>
            <li>"Антифрод-терминал" подключен в USB-порт ПК.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>Сценарий</h4>
        <ol>
            <li>Приложение просит пользователя ввести на "Антифрод-терминале" PIN-код для средства ЭП и подтвердить ключевые данные документа, отображённые на экране терминала.</li>
            <li>Пользователь вводит PIN-код на "Антифрод-терминале" и, если данные, отображённые на экране терминала, корректны, подтверждает их на клавиатуре устройства.</li>
            <li>"Антифрод-терминал" фиксирует факт подтверждения ключевых данных во внутреннем журнале, подписывает журнал собственной ЭП на собственном криптографическом чипе и возвращает подписанный журнал приложению.</li>
            <li>Приложение отправляет весь документ пользователя на средство ЭП (смарт-карту или USB-токен) для подписания.</li>
            <li>Средство ЭП подписывает документ и возвращает сформированную ЭП приложению.</li>
            <li>Приложение отправляет подписанный ЭП пользователя документ и подписанный ЭП терминала журнал на сервер.</li>
            <li>Сервер проверяет ЭП документа и ЭП журнала и сверяет данные из журнала с данными из документа.</li>
            <li>В случае совпадения документ принимается на обработку. В случае расхождения сервер блокирует операцию и уведомляет пользователя о возможной атаке со стороны злоумышленников и необходимости проверить рабочее место на наличие вредоносного ПО.</li>
        </ol>
        <p>* PIN-код может быть запрошен один раз для сессии работы пользователя, чтобы не требовалось вводить его при подтверждении каждого документа заново.</p>
    </div>
    <div class="col-6">
        <h4>Сценарий</h4>
        <ol>
            <li>Приложение просит пользователя подтвердить на "Антифрод-терминале" намерение выполнить данную операцию.</li>
            <li>"Антифрод-терминал" отображает на своём экране данные транзакции или описание операции и запрос подтверждения.</li>
            <li>Пользователь подтверждает операцию на клавиатуре "Антифрод-терминала". Дополнительно при необходимости на "Антифрод-терминале" может быть запрошен пароль или код подтверждения операции.</li>
            <li>"Антифрод-терминал" фиксирует факт подтверждения операции во внутреннем журнале, подписывает журнал собственной ЭП на собственном криптографическом чипе и возвращает подписанный журнал приложению.</li>
            <li>Приложение отправляет подписанный журнал терминала на сервер.</li>
            <li>Сервер проверяет ЭП журнала и по данным из доверенного журнала проверяет, что пользователь подтвердил именно ту операцию, выполнение которой он инициировал вначале.</li>
            <li>При совпадении сервер исполняет операцию (транзакцию). В случае расхождения сервер блокирует операцию и уведомляет пользователя о возможной атаке со стороны злоумышленников и необходимости проверить рабочее место на наличие вредоносного ПО.</li>
        </ol>
        <p>Сохранённый на сервере подписанный журнал терминала может в дальнейшем использоваться в качестве доказательной базы при разборах конфликтных ситуаций и для расследования инцидентов.</p>
    </div>
</div>



