<table class="table">
    <tbody>
    <tr>
        <th class="border-top-0">Размеры (Д × Ш × В), мм</th>
        <td class="border-top-0">97 × 61.7 × 11</td>
    </tr>
    <tr>
        <th>Дисплей</th>
        <td>Матричный, 4-х строчный, с возможностью прокрутки до 400 символов</td>
    </tr>
    <tr>
        <th>Цвет экрана</th>
        <td>Зелёный</td>
    </tr>
    <tr>
        <th>Кабель</th>
        <td>1.5 м с интерфейсом USB типа A</td>
    </tr>
    <tr>
        <th>Интерфейс подключаемой смарт-карты</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>8-ми контактный</li>
                <li>Частота до 4 МГц</li>
                <li>Поддержка ISO 7816 смарт-карт класса А и В (5V, 3V)</li>
                <li>До 200,000 подключений смарт-карты</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Клавиатура</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>10 цифровых и 4 функциональных клавиши с эпоксидным нанесением надписей</li>
                <li>Надписи устойчивы к 100 000 нажатиям</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Интерфейс/разъём подключения терминала к рабочей станции</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>USB 2.0 Full-speed (12 Мбит/с)</li>
                <li>USB разъём &mdash; Type A</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Тип электронной подписи</th>
        <td>Усиленная электронная подпись по ГОСТ Р 34.10-2001 (устройство не является средством ЭП. С помощью
            собственной ЭП терминал подписывает собственный журнал операций, а не документ)
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые операционные системы</th>
        <td>
            <div class="d-flex">
                <div class="flex-fill">
                    <p class="font-weight-bold">Microsoft Windows</p>
                    <ul class="list-unstyled list-condensed mb-0">
                        <li>Microsoft Windows 10</li>
                        <li>Microsoft Windows 8 &mdash; 8.1</li>
                        <li>Microsoft Windows 7</li>
                        <li>Microsoft Windows Vista</li>
                        <li>Microsoft Windows ХP</li>
                    </ul>
                </div>
                <div class="flex-fill">
                    <p class="font-weight-bold">Linux</p>
                    <ul class="list-unstyled list-condensed mb-0">
                        <li>CentOS 7 (64-бит)</li>
                        <li>Debian 8.4</li>
                        <li>Debian 7.10 (64-бит)</li>
                        <li>Fedora 23 (64-бит)</li>
                        <li>openSUSE Leap 42.1 (64-бит)</li>
                        <li>openSUSE 13.2</li>
                        <li>Red Hat Enterprise 7.2 (64-бит)</li>
                        <li>Ubuntu 16.04</li>
                        <li>Ubuntu 14.04</li>
                    </ul>
                </div>
                <div class="flex-fill">
                    <p class="font-weight-bold">Apple</p>
                    <ul class="list-unstyled list-condensed mb-0">
                        <li>macOS 10.12 (Sierra)</li>
                        <li>OS X 10.11 (El Capitan)</li>
                        <li>OS X 10.10 (Yosemite)</li>
                        <li>OS X 10.9 (Mavericks)</li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые браузеры</th>
        <td>
            <ul class="list-unstyled list-condensed mb-0">
                <li>Google Chrome</li>
                <li>Mozilla Firefox</li>
                <li>Microsoft Internet Explorer 8 &mdash; 11</li>
                <li>Microsoft Edge</li>
                <li>Apple Safari</li>
                <li>Opera</li>
                <li>Яндекс.Браузер</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>