<h2>Назначение</h2>

<div class="row justify-content-center large">
    <div class="col-8">
        <p>JaCarta-2 PKI/BIO/ГОСТ — сертифицированные USB-токены и смарт-карты с аппаратной реализацией отечественных и зарубежных криптоалгоритмов, а также биометрической аутентификации пользователей. Отечественные криптоалгоритмы <b class="text-nowrap">ГОСТ Р 34.10-2012</b> и <b class="text-nowrap">ГОСТ Р 34.11-2012</b> используются для работы с усиленной квалифицированной ЭП и аутентификации пользователей электронных сервисов, а зарубежные криптоалгоритмы и биометрия — для двух- или трёхфакторной аутентификации пользователей в локальных информационных ресурсах предприятия.</p>
        <p>Устройства JaCarta-2 PKI/BIO/ГОСТ являются комбинированными моделями, совмещающими в себе возможности устройств <a href="{{ path('catalog:product', {'product': 'jacarta_pki-bio'}) }}">JaCarta PKI/BIO</a> и <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a>.</p>
    </div>
</div>

{{ include('catalog/jacarta-2/_shared/_purpose.html.twig') }}