<h2>Назначение</h2>

<div class="row justify-content-center large">
    <div class="col-8">
        <p>JaCarta-2 PRO/ГОСТ — сертифицированные USB-токены и смарт-карты с одновременной поддержкой зарубежных криптоалгоритмов и отечественных криптоалгоритмов <span class="text-nowrap">ГОСТ Р 34.10-2012</span> и <span class="text-nowrap">ГОСТ Р 34.11-2012</span>. Являются кастомизированной моделью, созданной на основе моделей <a class="text-nowrap" href="{{ path('catalog:product', {'product': 'jacarta_pro'}) }}">JaCarta PRO</a> и <a class="text-nowrap" href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a>.</p>
    </div>
</div>

{{ include('catalog/jacarta-2/_shared/_purpose.html.twig') }}