<h2>Применение</h2>

<div class="row justify-content-center large">
    <div class="col-8">
        Устройства JaCarta-2 PRO/ГОСТ имеют более 150 сертификатов совместимости с самыми популярными отечественными и зарубежными продуктами и технологиями, такими как Citrix, Microsoft CA, Microsoft RDP и т.д., что позволяет использовать их в следующих классах систем:
    </div>
</div>

{{ include('catalog/jacarta-2/_shared/_use.html.twig') }}