<table class="table">
    <colgroup>
        <col width="30%" />
        <col />
    </colgroup>
    <tbody>
    <tr>
        <th class="border-top-0">Микроконтроллер</th>
        <td class="border-top-0">Защищённый смарт-карточный чип, имеющий специальную сертифицированную защиту как на аппаратном, так и на программном уровнях (Secure by design), что позволяет успешно противостоять всем известным угрозам безопасности, методам взлома и клонирования.</td>
    </tr>
    <tr>
        <th>Размер EEPROM-памяти на чипе</th>
        <td>80/144 Кбайт</td>
    </tr>
    <tr>
        <th>Срок хранения данных в памяти</th>
        <td>Не менее 10 лет</td>
    </tr>
    <tr>
        <th>Количество циклов перезаписи в одну ячейку EEPROM-памяти</th>
        <td>Не менее 500 000</td>
    </tr>
    <tr>
        <th>Дополнительная Flash-память</th>
        <td>Нет</td>
    </tr>
    <tr>
        <th>Поддерживаемые ОС</th>
        <td>
            <p><b>Microsoft Windows</b></p>
            <ul class="list-condensed">
                <li>Windows 10</li>
                <li>Windows 8.1</li>
                <li>Windows 8</li>
                <li>Windows 7 SP1</li>
                <li>Windows Vista SP2</li>
                <li>Windows XP SP3</li>
                <li>Windows Server 2012 R2</li>
                <li>Windows Server 2012</li>
                <li>Windows Server 2008 R2 SP1</li>
                <li>Windows Server 2008 SP2</li>
                <li>Windows Server 2003 SP2</li>
            </ul>
            <p><b>GNU/Linux</b></p>
            <p><b>Apple macOS/OS X</b></p>
        </td>
    </tr>
    <tr>
        <th>Администрирование</th>
        <td>
            Администрирование токенов JaCarta-2 PRO/ГОСТ осуществляется с помощью АРМ администратора безопасности
            JaCarta-2 ГОСТ (СКЗИ "Криптотокен 2", исполнение 13). Поставка АРМ осуществляется по запросу.
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые криптографические алгоритмы</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>ГОСТ Р 34.10-2012 (генерация ключевых пар, формирование и проверка ЭП);</li>
                <li>ГОСТ Р 34.11-2012 (функция хэширования);</li>
                <li>ГОСТ Р 34.10-2001 (генерация ключевых пар, формирование и проверка ЭП);</li>
                <li>ГОСТ Р 34.11-94 (функция хэширования);</li>
                <li>ГОСТ 28147-89 (симметричное шифрование);</li>
                <li>AES (длины ключей 128, 192, 256 бит);</li>
                <li>DES (длина ключа 56 бит);</li>
                <li>3DES (длины ключей 112 и 168 бит);</li>
                <li>RSA (длины ключей 512, 1024, 2048);</li>
                <li>криптография на эллиптических кривых (длины ключей 160, 192 бит);</li>
                <li>аппаратная генерация ключей для RSA и криптографии на эллиптических кривых;</li>
                <li>алгоритмы согласования ключей: алгоритм Диффи-Хеллмана, алгоритм Диффи-Хеллмана на эллиптических кривых;</li>
                <li>функции хэширования: SHA-1, SHA-224 (эллиптические кривые), SHA-256, SHA-384, SHA-512;</li>
                <li>генератор последовательностей случайных чисел.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Срок хранения закрытого ключа</th>
        <td>До 3-х лет</td>
    </tr>
    <tr>
        <th>Совместимость с программными СКЗИ</th>
        <td>Подтверждённая совместимость с наиболее распространёнными программных СКЗИ. Все модели <span class="text_nowrap">JaCarta-2 PRO/ГОСТ</span> поддерживают хранение ключевых контейнеров программных СКЗИ (например, КриптоПро CSP).</td>
    </tr>
    <tr>
        <th>CCID-совместимость</th>
        <td>Есть. Установка драйвера устройства для современных ОС (Microsoft Windows Vista и выше, GNU/Linux, Apple macOS/OS X) не требуется.</td>
    </tr>
    <tr>
        <th>Доступные программные интерфейсы</th>
        <td>
            <ul class="list-condensed">
                <li>Интерфейсная криптобиблиотека (APDU) <sup>1</sup>;</li>
                <li>PKCS #11.</li>
            </ul>
            <p class="small mb-0">
                <sup>1</sup> Сертифицированный программный интерфейс для работы с токенами JaCarta-2 ГОСТ
            </p>
        </td>
    </tr>
    <tr>
        <th>Аппаратные интерфейсы</th>
        <td>
            <p><b>Для USB-токенов:</b></p>
            <ul class="list-condensed">
                <li>USB 2.0 Full speed (12 Мбит/с), разъём USB Type A </li>
            </ul>
            <p><b>Для смарт-карт:</b></p>
            <ul class="list-condensed mb-0">
                <li>ISO 7816-3:
                    <ul>
                        <li>T=0 (для опции EMV-совместимость);</li>
                        <li>T=1 (используется по умолчанию).</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Материал корпуса</th>
        <td>АБС-пластик (ABS) — прочный, износостойкий, ударопрочный, негорючий пластик, безопасный для здоровья человека</td>
    </tr>
    <tr>
        <th>Материал USB-разъёма</th>
        <td>Металл/пластик</td>
    </tr>
    <tr>
        <th>Ресурс (долговечность)</th>
        <td>
            <ul class="mb-0">
                <li>Для USB-токенов: не менее 5 000 подключений (примерно 5 лет активной эксплуатации — 4 раза в день, 260 рабочих дней в году).</li>
                <li>Для смарт-карт: не менее 50 000 циклов подключений к смарт-карт ридеру/не менее 10 000 часов общей наработки (примерно 5 лет активной эксплуатации).</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Возможность встраивания RFID-метки</th>
        <td>Есть (только для USB-токенов в корпусе XL и смарт-карт)</td>
    </tr>
    <tr>
        <th>Возможность нанесения логотипа Заказчика</th>
        <td>Есть</td>
    </tr>
    <tr>
        <th>Возможность изменения основного цвета корпуса и вставки</th>
        <td>Есть (минимальный заказ — от 5 000 шт.)</td>
    </tr>
    <tr>
        <th>Потребляемый ток</th>
        <td>Не более 50 mA (питание производится от USB-порта)</td>
    </tr>
    <tr>
        <th>Гарантийный срок</th>
        <td>12 месяцев (возможно расширение до 36 месяцев)</td>
    </tr>
    <tr>
        <th>Пыле- и влагозащищённость</th>
        <td>Есть у USB-токенов в корпусе XL и Nano (степень защиты IP57)</td>
    </tr>
    <tr>
        <th>Соответствие стандартам</th>
        <td>
            <ul class="list-condensed mb-0">
                <li>CCID (Circuit Card Interface Device);</li>
                <li>ISO 7816, части 3 и 4;</li>
                <li>Java Card Platform Specification, версия 3.0.1;</li>
                <li>GlobalPlatform 2.2.1;</li>
                <li>USB 2.0:
                    <ul>
                        <li>обратно совместим с USB версии 1.1 (работает с контроллером USB-версии 1.1 на скорости до 12 Мбит/с.);</li>
                        <li>совместим с USB версии 3.0 (работает с контроллером USB-версии 3.0, но контроллер должен поддерживать/быть включен в режиме совместимости с USB версии 2.0).</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Комплект средств разработки (SDK)</th>
        <td>Есть, предоставляется после <a href="{{ path('support:page', {'page': 'sdk', '_fragment': 'jacarta-2_gost'}) }}">обращения</a> к представителям компании "Аладдин Р.Д."</td>
    </tr>
    <tr>
        <th>Территориальные ограничения </th>
        <td>Есть (так как используется сертифицированное СКЗИ) </td>
    </tr>
    <tr>
        <th>Необходимость наличия лицензий на распространение </th>
        <td>Есть (требуется лицензия ФСБ России на распространение СКЗИ) </td>
    </tr>
    <tr>
        <th>PIN-код пользователя (по умолчанию)</th>
        <td>1234567890</td>
    </tr>
    <tr>
        <th>PUK-код (по умолчанию)</th>
        <td>0987654321</td>
    </tr>
    <tr>
        <th>Возможность разблокирования устройства</th>
        <td>Есть, без потери пользовательских данных</td>
    </tr>
    <tr>
        <th>Необходимое ПО</th>
        <td>
            <a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}">ПК "Единый Клиент JaCarta"</a>
        </td>
    </tr>
    </tbody>
</table>