[
    {
        "title": "JaCarta-2 SE",
        "description": "USB-токены с поддержкой российских и зарубежных криптоалгоритмов для работы в специализированных государственных системах, в том числе ЕГАИС",
        "name": "jacarta-2_se",
        "image": "JaCarta-2_SE.png"
    },
    {
        "title": "JaCarta SF/ГОСТ",
        "description": "Средство контроля отчуждения информации со съёмного носителя и защищённый USB-накопитель с объёмом памяти 8 Гб, 16 Гб и 32 Гб",
        "image": "JaCarta_XL_215_Cherry_Opened_Cap.png"
    },
    {
        "title": "JaCarta-2 ГОСТ",
        "description": "Средства ЭП нового поколения с аппаратной поддержкой новых российских криптографических алгоритмов <span class=\"text-nowrap\">ГОСТ Р 34.10-2012</span> и <span class=\"text-nowrap\">ГОСТ Р 34.11-2012</span>",
        "name": "jacarta-2_gost",
        "image": "Group-Card_XL_Nano_Micro_SIM_Chip_Crop.png"
    },
    {
        "title": "JaCarta ГОСТ",
        "description": "Средства ЭП с поддержкой российских криптографических алгоритмов <span class=\"text-nowrap\">ГОСТ Р 34.10-2001</span> и <span class=\"text-nowrap\">ГОСТ Р 34.11-94</span>",
        "name": "jacarta_gost",
        "image": "Group-Card_XL_Nano_Micro_Green_Crop.png"
    },
    {
        "title": "JaCarta PKI",
        "description": "Cтрогая двухфакторная аутентификация с использованием инфраструктуры открытых ключей (PKI) на основе зарубежных криптоалгоритмов",
        "name": "jacarta_pki",
        "image": "Group-Card_XL_Nano_Micro_Crop.png"
    },
    {
        "title": "JaCarta PKI/BIO",
        "description": "Строгая двух- или трёхфакторная аутентификация с применением биометрической идентификации по отпечатку пальца",
        "name": "jacarta_pki-bio",
        "image": "Group-Card_XL_Crop.png"
    },
    {
        "title": "JaCarta PRO",
        "description": "Строгая двухфакторная аутентификация с применением зарубежных криптоалгоритмов в инфраструктуре для устройств <span class=\"text-nowrap\">eToken PRO (Java)</span>",
        "name": "jacarta_pro",
        "image": "Group-Card_XL_Nano_Crop.png"
    },
    {
        "title": "JaCarta WebPass",
        "description": "Усиленная аутентификация по одноразовым (OTP) или сложным многоразовым паролям",
        "name": "jacarta_webpass",
        "image": "JaCarta_WebPass.png"
    },
    {
        "title": "JaCarta U2F",
        "description": "Строгая двухфакторная аутентификация в популярных онлайн-сервисах без использования PKI",
        "name": "jacarta_u2f",
        "image": "JaCarta_WebPass.png"
    },
    {
        "title": "JaCarta LT",
        "description": "Доступное средство для хранения цифровых сертификатов и контейнеров программных СКЗИ",
        "name": "jacarta_lt",
        "image": "Group-XL_Nano.png"
    }
]