<hr class="my-4" />

<h3 class="h2">Доступные интерфейсы</h3>
<div class="row">
    <div class="col-4">
        <b>PKCS&nbsp;#11 — рекомендованный интерфейс</b><br>
        Представлен в виде библиотеки стандарта PKCS&nbsp;#11.
    </div>
    <div class="col-4">
        <b>ИКБ (APDU) — сертифицированный интерфейс</b><br>
        Представлен в виде отдельной библиотеки (интерфейсная криптобиблиотека или ИКБ), использующей в своей работе интерфейс APDU.
    </div>
    <div class="col-4">
        <b>PC/SC (APDU) — интерфейс для встраивания <span class="text-nowrap">в другие СКЗИ</span></b><br>
        Представлен в виде набора APDU-команд для взаимодействия с устройством напрямую из ОС (по аналогии с JaCarta ГОСТ).
    </div>
</div>

<h3 class="h2">Подробная комплектация</h3>

<div class="row">
    <div class="col-6">
        <p><b>Программные компоненты</b></p>
        <p>Библиотека стандарта PKCS&nbsp;#11</p>
        <ul>
            <li>Поддержка Microsoft Windows, GNU/Linux, Apple macOS/OS X</li>
            <li>Поддержка всех моделей устройств в рамках одной библиотеки</li>
            <li>Использование сертифицированного интерфейса ИКБ</li>
            <li>Автоматизация контроля целостности СКЗИ</li>
        </ul>
        <p>Компоненты СКЗИ (ИКБ и утилита контроля целостности)</p>
        <ul>
            <li>Поддержка Microsoft Windows, GNU/Linux, Apple macOS/OS X</li>
            <li>Автоматическое построение защищённого канала между физическим устройством и прикладным ПО</li>
            <li>Быстрая сертифицированная реализация хэш-функции и шифрования</li>
            <li>Контроль целостности компонентов СКЗИ</li>
        </ul>
        <p>АРМ разработчика для администрирования JaCarta-2 ГОСТ в рамках разработки и тестирования</p>
        <ul>
            <li>Позволяет инициализировать устройства, устанавливать PIN-код пользователя, PUK-код для разблокировки и политики PIN-кодов, записывать доверенные объекты и пр.</li>
            <li>Возможность подготовиться к реальной эксплуатации</li>
            <li>Максимально приближено к АРМ администратора безопасности JaCarta-2 ГОСТ</li>
        </ul>
    </div>
    <div class="col-6">
        <p><b>Примеры исходных кодов программ</b></p>
        <ul>
            <li>Типовые сценарии, примеры миграции с JaCarta ГОСТ и новая функциональность</li>
            <li>Языки программирования С/С++</li>
        </ul>
        <p><b>Документация по встраиванию и описания API</b></p>
        <ul>
            <li>Руководство по встраиванию PKCS&nbsp;#11</li>
            <li>Руководство программиста для ИКБ</li>
            <li>Руководства APDU для пользователя и администратора<sup>*</sup></li>
        </ul>
        <p><b>Сертификационные материалы для ознакомления</b></p>
        <ul>
            <li>СКЗИ "Криптотокен 2 ЭП" в составе JaCarta-2 ГОСТ</li>
            <li>АРМ администратора безопасности JaCarta-2 ГОСТ (СКЗИ "Криптотокен 2" в исполнении 13)</li>
        </ul>
    </div>
</div>

