<p>Комплект разработчика JaCarta-2 SDK предназначен для встраивания устройств <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a> и комбинированных моделей на их основе, а также "<a href="{{ path('catalog:product', {'product': 'antifraud'}) }}">Антифрод-терминала</a>", в прикладное ПО.</p>
<p>Для взаимодействия прикладного ПО с перечисленными устройствами могут быть использованы интерфейс PKCS&nbsp;#11 версии 2.30 draft, сертифицированный интерфейс ИКБ (APDU) либо интерфейс PC/SC (APDU), предназначенный для встраивания устройств JaCarta-2 ГОСТ в другие СКЗИ.</p>
<h3>Комплектация</h3>
<ul>
    <li>Программные компоненты, включая библиотеку стандарта PKCS&nbsp;#11 и средство администрирования.</li>
    <li>Примеры исходных кодов программ для работы с PKCS&nbsp;#11.</li>
    <li>Документация для встраивания устройств с помощью различных прикладных интерфейсов.</li>
    <li>Сертификационные материалы для ознакомления.</li>
</ul>
<p>
    <em>Зарегистрировано в Едином реестре российских программ для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/125862/" target="_blank">№ 4299</a>)</em>
</p>