<p>Комплект разработчика JaCarta SDK предназначен для встраивания устройств <a href="{{ path('catalog:product', {'product': 'jacarta-pki'}) }}">JaCarta PKI</a>, <a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">JaCarta ГОСТ</a>, <a href="{{ path('catalog:product', {'product': 'jacarta-lt'}) }}">JaCarta LT</a> и комбинированных моделей на их основе, а также "<a href="{{ path('catalog:product', {'product': 'antifraud'}) }}">Антифрод-терминала</a>", в прикладное ПО.</p>
<p>Для взаимодействия прикладного ПО с перечисленными устройствами могут быть использованы высокоуровневые интерфейсы PKCS&nbsp;#11 версии 2.20 и выше или Microsoft Crypto API, либо низкоуровневый интерфейс PC/SC (APDU-команды).</p>

<h3>Комплектация</h3>
    <ul>
        <li>Программные компоненты (кроссплатформенная библиотека PKCS&nbsp;#11).</li>
        <li>Примеры исходных кодов программ (языки программирования С, С++ и Java).</li>
        <li>Дистрибутив Единого Клиента JaCarta.</li>
    </ul>
<p>
    <em>Зарегистрировано в Едином реестре российских программ для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/125857/" target="_blank">№ 4294</a>)</em>
</p>