<p>Комплект разработчика для встраивания <a href="{{ path('catalog:product', {'product': 'jacarta-pki'}) }}">JaCarta PKI</a>, <a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">JaCarta ГОСТ</a> и комбинированных моделей на их основе в мобильные приложения на платформах Apple iOS и Google Android.</p>
<h3>Комплектация</h3>
<ul>
    <li>Интерфейсные библиотеки и примеры встраивания устройств в мобильные приложения для Google Android и Apple iOS.</li>
    <li>Необходимая документация и справочная информация.</li>
</ul>
<p>
    <em>Зарегистрировано в Едином реестре российских программ для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/125860/" target="_blank">№ 4297</a>)</em>
</p>