<p>Комплект разработчика предназначен для встраивания устройств <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a>, <a href="{{ path('catalog:product', {'product': 'jacarta-gost'}) }}">JaCarta ГОСТ</a>, <a href="{{ path('catalog:product', {'product': 'jacarta-pro'}) }}">JaCarta PRO</a> и комбинированных моделей на их основе, а также "<a href="{{ path('catalog:product', {'product': 'antifraud'}) }}">Антифрод-терминала</a>", в Web-приложения. Поддерживаемые браузеры: Google Chrome, Microsoft Edge, Mozilla Firefox, Microsoft Internet Explorer 8-11, Apple Safari, Яндекс.Браузер, Opera, Спутник.</p>
<h3>Комплектация</h3>
<ul>
    <li>ПО JC-WebClient.</li>
    <li>Пример встраивания (демо-портал на ASP.Net).</li>
    <li>Ссылки на документацию.</li>
</ul>
<p>
    <em>Зарегистрировано в Едином реестре российских программ для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/125859/" target="_blank">№ 4296</a>)</em>
</p>