<p>JMS предоставляет открытые серверный и клиентский API, позволяющие расширить функциональность системы с помощью добавления новых модулей, разрабатывать коннекторы к удостоверяющим центрам и хранилищам данных пользователей, создавать собственное клиентское программное обеспечение, а также интегрировать JMS в существующие корпоративные системы.</p>
<h3>Комплектация</h3>
<ul>
    <li>Примеры исходных кодов коннекторов к УЦ и хранилищам данных пользователей (язык программирования — C#).</li>
    <li>Необходимая документация и справочная информация.</li>
</ul>
<p>
    <em>Зарегистрировано в Едином реестре российских программ для ЭВМ и БД (<a href="https://reestr.minsvyaz.ru/reestr/125873/" target="_blank">№ 4310</a>)</em>
</p>