<h2>Назначение</h2>

<div class="row justify-content-center large">
    <div class="col-8">
        JaCarta-2 PKI/ГОСТ — сертифицированные USB-токены и смарт-карты с одновременной поддержкой зарубежных
        криптоалгоритмов и отечественных криптоалгоритмов <b class="text-nowrap">ГОСТ Р 34.10-2012</b> и
        <b class="text-nowrap">ГОСТ Р 34.11-2012</b>. Являются кастомизированной моделью, созданной на основе
        моделей <a href="{{ path('catalog:product', {'product': 'jacarta_pki'}) }}">JaCarta PKI</a> и
        <a href="{{ path('catalog:product', {'product': 'jacarta-2_gost'}) }}">JaCarta-2 ГОСТ</a>.
    </div>
</div>

{{ include('catalog/jacarta-2/_shared/_purpose.html.twig') }}