<p>Администрирование СКЗИ "Криптотокен 2 ЭП", входящего в состав токенов <span class="text-nowrap">JaCarta-2 PKI/ГОСТ</span>, осуществляется с помощью
    автоматизированного рабочего места (АРМ) администратора безопасности <span class="text-nowrap">JaCarta-2 ГОСТ</span> (<span class="text-nowrap">СКЗИ "Криптотокен 2"</span>,
    исполнение 13, сертификат <a class="text-nowrap" href="{{ path('download', {'uuid': '7d87194d-f668-4ded-a28c-3b0279ac6e4e'}) }}">ФСБ России № СФ/124-2964</a>).</p>
<p>АРМ администратора безопасности <span class="text-nowrap">JaCarta-2 ГОСТ</span> позволяет:</p>
<ul>
    <li>инициализировать и безопасно администрировать <span class="text-nowrap">JaCarta-2 PKI/ГОСТ</span>;</li>
    <li>работать с доверенными объектами;</li>
    <li>осуществлять ввод и вывод токенов из эксплуатации;</li>
    <li>повторно инициализировать устройство с уничтожением пользовательских ключей (без доступа к ним);</li>
    <li>разблокировать устройство (если пользователь забыл свой PIN- и/или PUK-код);</li>
    <li>устанавливать начальные значения PIN- и/или PUK-кода;</li>
    <li>осуществлять доступ к объектам файловой системы (кроме ключей);</li>
    <li>изменять парольную политику.</li>
</ul>
<p>Для использования устройств <span class="text-nowrap">JaCarta-2 PKI/ГОСТ</span> не обязательно приобретать АРМ администратора безопасности
    <span class="text-nowrap">JaCarta-2 ГОСТ</span>. В этом случае Заказчику поставляется заранее инициализированные устройства для работы с ЭП (если стандартные
    параметры не подходят, параметры инициализации USB-токенов и смарт-карт можно согласовать с представителями компании
    "Аладдин Р.Д." или её партнёрами).</p>

