{% set features = [
    {
        'image': 'token_with_smart_card.png',
        'title': 'Организация двухфакторной аутентификации без Active Directory и/или Microsoft CA',
        'description': 'JaCarta SecurLogon является идеальным решением для перехода к более надёжным способам аутентификации без необходимости настройки Active Directory и развёртывания PKI.',
    },
    {
        'image': 'pincode_with_lock.png',
        'title': 'Невозможность подбора пароля',
        'description': 'На подбор сложного пароля в 30-63 символов (пароль содержит буквы верхнего и нижнего регистров, цифры, специальные символы) у злоумышленника уйдут годы. В случае установки в политиках безопасности функции автоматической смены пароля на средстве аутентификации, к примеру, раз в день — задача подбора пароля становится и вовсе невыполнимой.',
    },
    {
        'image': 'spy.png',
        'title': 'Настоящий сложный пароль неизвестен для пользователя',
        'description': 'JaCarta SecurLogon позволяет генерировать пароли заданной длины, сохранять их в памяти средства аутентификации и подставлять в хранилище учётных данных таким образом, что пользователь не знает своего пароля, поэтому не может записать его и скомпрометировать.',
    },
    {
        'image': 'like.png',
        'title': 'Удобство для конечного пользователя',
        'description': 'Пользователю не нужно запоминать сложные пароли. Кроме того, он имеет возможность применять вход по отпечатку пальца вместо ввода PIN-кода.',
    },
    {
        'image': '24_hours.png',
        'title': 'Упрощённая установка и поддержка',
        'description': 'JaCarta SecurLogon является расширением функциональности бесплатного ПК "Единый Клиент JaCarta" и становится доступным сразу после того, как будет приобретена и установлена лицензия.',
    },
    {
        'image': 'medal.png',
        'title': 'Сертифицировано ФСТЭК России',
        'description': 'Решение JaCarta SecurLogon сертифицировано ФСТЭК России (<a href="' ~ path('download', {'uuid': '4fa2d516-359f-4bd0-8882-7b01776dacd3'}) ~ '">сертификат соответствия № 3575</a>), что позволяет использовать его для защиты информации в ИСПДн до 1 уровня включительно, при построении ГИС до 1 класса защиты, а также при создании автоматизированных систем до класса защищённости 1Г включительно.',
    },
] %}

<h2 class="text-center mb-5 mt-0">Преимущества JaCarta SecurLogon</h2>
<div class="row justify-content-center">
    {% for item in features %}
        <div class="col-6 d-flex align-items-start mb-5">
            <img src="{{ asset('icons/' ~ item.image) }}" width="64" height="64" class="mr-4">
            <div>
                <h4>{{ item.title }}</h4>
                <div>{{ item.description | raw }}</div>
            </div>
        </div>
    {% endfor %}
</div>
