<h2 class="text-center mb-5 mt-0">
    Пора сделать <span class="text-nowrap">правильный выбор</span>
</h2>

<div class="text-center mt-4">
    <a href="{{ path('download', {'uuid': '155041e2-c614-4d7a-85f2-91de994bd896'}) }}" class="btn btn-primary">Скачать JaCarta SecurLogon</a> &nbsp;&nbsp;&nbsp;
    <div class="small mt-5">
        <a href="{{ path("partners:search", {"type": "business"}) }}" class="text-nowrap">Купить токены JaCarta</a>
        <a href="{{ path('support') }}" class="text-nowrap mx-4">Техническая поддержка</a>
        <a href="{{ path('support:downloads') }}" class="text-nowrap">Библиотека ресурсов</a>
    </div>
</div>

