{% set features = [
    {
        'image': 'icons/certified_token.png',
        'title': 'Двухфакторная аутентификация пользователей',
        'description': 'Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту <a href="' ~ path('catalog:product', {'product': 'jacarta'}) ~ '">JaCarta</a>. Без средства аутентификации вход в информационную систему невозможен, что гораздо надёжнее входа по логину и паролю.',
    },
    {
        'image': 'icons/locked_pc.png',
        'title': 'Блокировка компьютера при временном отсутствии',
        'description': 'При временном отсутствии сотрудника на рабочем месте JaCarta SecurLogon может блокировать компьютер при отключении USB-токена или смарт-карты. Это позволяет минимизировать риск несанкционированного доступа к компьютеру или его использования недобросовестными третьими лицами.'
    },
    {
        'image': 'icons/fingerprint.png',
        'title': 'Биометрическая аутентификация',
        'description': 'JaCarta SecurLogon позволяет использовать отпечаток пальца для входа в Microsoft Windows, домен или для доступа к сетевым информационным ресурсам, что упрощает жизнь пользователя и обеспечивает более высокий уровень информационной безопасности.'
    },
    {
        'image': 'icons/pincode_in_circle.png',
        'title': 'Автоматические генерация и изменение паролей',
        'description': 'JaCarta SecurLogon может автоматически генерировать и изменять пароли согласно настройкам (например, раз в неделю), что позволяет значительно повысить уровень информационной безопасности организации.'
    },
    {
        'image': 'icons/certificate_2.png',
        'title': 'Использование цифровых сертификатов',
        'description': 'Если в память устройства записан цифровой сертификат пользователя и соответствующий закрытый ключ, JaCarta SecurLogon может работать и с PKI, позволяя использовать их для входа в домен Microsoft Windows или сетевой ресурс вместо логина и пароля. В результате можно обеспечить быстрый и незаметный для пользователей переход от парольной аутентификации к строгой двухфакторной аутентификации с использованием цифровых сертификатов.'
    },
] %}

<h2 class="text-center mb-5 mt-0">Основные возможности JaCarta SecurLogon</h2>
<div class="row justify-content-center">
    {% for item in features %}
        <div class="col-6 d-flex align-items-start mb-5">
            <img src="{{ asset(item.image) }}" width="64" height="64" class="mr-4">
            <div>
                <h4>{{ item.title }}</h4>
                <div>{{ item.description | raw }}</div>
            </div>
        </div>
    {% endfor %}
</div>