<div class="row">
    <div class="col-6">
        <h3>Базовый комплект</h3>
        <p>Стартовый комплект предназначен для индивидуальных пользователей и/или начального ознакомления с возможностями JaCarta SecurLogon и содержит всё необходимое для его установки и полноценного использования. В состав стартового комплекта входят:</p>
        <ul>
            <li>USB-ключ JaCarta PKI — 1 шт.;</li>
            <li>компакт-диск (включает дистрибутив JaCarta SecurLogon, документацию и дополнительные материалы);</li>
            <li>лицензия на использование JaCarta SecurLogon на 1 рабочем месте;</li>
            <li>упаковочный футляр.</li>
        </ul>
        <p><b>Для заказа также доступна сертифицированная версия базового комплекта.</b></p>
    </div>
    <div class="col-6">
        <h3>Корпоративная поставка</h3>
        <p>При корпоративных поставках необходимо приобрести корпоративную лицензию на использование JaCarta SecurLogon. Дополнительно докупается требуемое количество USB-токенов или смарт-карт JaCarta по числу рабочих мест, на которых будет установлен JaCarta SecurLogon. Дистрибутив ПО и комплект документации предоставляются в электронном виде.</p>
        <div class="alert alert-warning alert-lg">
            При использовании смарт-карт необходимо наличие <a href="{{ path('catalog:product', {'product': 'readers'}) }}" target="_blank">смарт-карт ридеров</a>, которые не входят в комплект поставки JaCarta SecurLogon. Их можно приобрести у партнёров компании "Аладдин Р.Д." отдельно.
        </div>
        <p>При необходимости интеграции с системой контроля и управления доступом в помещения в USB-токены и смарт-карты могут быть имплантированы радиометки (RFID).</p>
        <p><b>Для заказа также доступна сертифицированная корпоративная лицензия.</b></p>
    </div>
</div>
