<table class="table">
    <tbody>
    <tr>
        <th class="border-top-0">Требования к процессору рабочего места</th>
        <td class="border-top-0">
            <div class="d-flex">
                <div class="flex-fill">
                    <h4>Минимальные требования</h4>
                    <div>Intel Pentium IV</div>
                </div>
                <div class="flex-fill">
                    <h4>Рекомендованные требования</h4>
                    <div>Intel Core 2 Duo и выше</div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые операционные системы</th>
        <td>
            <div class="d-flex">
                <ul class="list-unstyled flex-fill list-condensed mb-0">
                    <li>Microsoft Windows 10</li>
                    <li>Microsoft Windows 8.1</li>
                    <li>Microsoft Windows 8</li>
                    <li>Microsoft Windows 7 SP1</li>
                    <li>Microsoft Windows Vista SP2</li>
                    <li>Microsoft Windows XP SP3 (32-бит)</li>
                    <li>Microsoft Windows XP SP2 (64-бит)</li>
                </ul>
                <ul class="list-unstyled flex-fill list-condensed mb-0">
                    <li>Microsoft Windows Server 2012 R2</li>
                    <li>Microsoft Windows Server 2012</li>
                    <li>Microsoft Windows Server 2008 R2 SP1</li>
                    <li>Microsoft Windows Server 2008 SP2</li>
                    <li>Microsoft Windows Server 2003 SP2</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th>Необходимые аппаратные средства</th>
        <td>
            <p class="mb-1"><b>Для USB-токенов</b> — USB-порт.</p>
            <p class="mb-1"><b>Для смарт-карт</b> необходимо наличие подключённого <a href="{{ path('catalog:product', {'product': 'readers'}) }}" target="_blank">считывателя смарт-карт</a>.</p>
            <p class="mb-1"><b>Для электронных ключей в форм-факторе microSD</b> можно использовать следующее оборудование:</p>
            <ul class="list-condensed mb-1">
                <li>разъём microSD;</li>
                <li>разъём SD через переходник microSD-to-SD;</li>
                <li>USB-порт через переходник microSD-to-USB.</li>
            </ul>
            <p class="mb-1"><b>Для USB-токенов в форм-факторе microUSB</b> можно использовать USB-порт через переходник microUSB-to-USB.</p>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые модели USB-токенов и смарт-карт</th>
        <td>
            <div class="d-flex">
                <div class="flex-fill">
                    <p><b>USB-токены и смарт-карты JaCarta</b></p>
                    <ul class="list-unstyled list-condensed mb-0">
                        <li>JaCarta PKI</li>
                        <li>JaCarta PKI/BIO</li>
                        <li>JaCarta ГОСТ</li>
                        <li>JaCarta PKI/ГОСТ</li>
                        <li>JaCarta PKI/BIO/ГОСТ</li>
                        <li>JaCarta PRO</li>
                        <li>JaCarta PRO/ГОСТ</li>
                        <li>JaCarta PKI/Flash</li>
                        <li>JaCarta ГОСТ/Flash</li>
                        <li>JaCarta PKI/ГОСТ/Flash</li>
                        <li>JaCarta WebPass</li>
                        <li>JaCarta U2F</li>
                        <li>JaCarta U2F/WebPass</li>
                        <li>JaCarta LT</li>
                        <li>JaCarta CryptoPro</li>
                    </ul>
                </div>
                <div class="flex-fill">
                    <p><b>USB-токены и смарт-карты JaCarta-2</b></p>
                    <ul class="list-unstyled list-condensed">
                        <li>JaCarta-2 ГОСТ</li>
                        <li>JaCarta-2 PKI/ГОСТ</li>
                        <li>JaCarta-2 PKI/BIO/ГОСТ</li>
                        <li>JaCarta-2 PRO/ГОСТ</li>
                    </ul>
                    <p><b>Устаревшие токены eToken</b></p>
                    <ul class="list-unstyled list-condensed">
                        <li>eToken ГОСТ</li>
                        <li>eToken Anywhere</li>
                        <li>eToken PRO (Java)</li>
                        <li>eToken NG-Flash (Java)</li>
                        <li>eToken NG-OTP (Java)<sup>*</sup></li>
                        <li>eToken CryptoPro</li>
                    </ul>
                    <p><sup>*</sup> без поддержки функциональности OTP</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Требуемый объём дискового пространства</th>
        <td>Не менее 100 Мбайт </td>
    </tr>
    <tr>
        <th>Необходимое программное обеспечение</th>
        <td>
            <a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}">ПК "Единый Клиент JaCarta"</a>
        </td>
    </tr>
    <tr>
        <th>Состав программного комплекса</th>
        <td>
            <ul class="list-unstyled list-condensed mb-0">
                <li>Единый Клиент JaCarta</li>
                <li>JaCarta SecurLogon</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>