<h2>Назначение Secret Disk Server NG</h2>
<p>Secret Disk Server NG — комплекс <b>защиты конфиденциальной информации</b> и корпоративных баз данных на серверах от несанкционированного доступа, копирования, повреждения, кражи или неправомерного изъятия. Система Secret Disk Server NG надёжно защищает данные и скрывает сам факт их наличия на сервере. При записи данных на диск происходит их зашифрование, при чтении — расшифрование. Находящиеся на диске данные всегда зашифрованы, что делает доступ к ним невозможным для злоумышленника, даже если он получит физический доступ к серверу или жёсткому диску.</p>
<p>Secret Disk Server NG может быть использован как самостоятельное решение, а также как элемент комплексной системы защиты конфиденциальной информации для решения следующих задач:</p>
<ul>
    <li><b>разграничение доступа к данным</b>, хранящимся и обрабатывающимся на серверах приложений, например, файлам баз данных, почтовым хранилищам и др. Управление доступом к данным позволяет гибко разграничить работу сотрудников организации с защищённой информацией;</li>
    <li><b>сокрытие конфиденциальной информации</b> на сервере обеспечит дополнительный уровень защиты, так как зашифрованные разделы дисков выглядят вне Secret Disk Server NG как неразмеченное пространство;</li>
    <li><b>защита баз данных "1С".</b> Использование Secret Disk Server NG совместно с решениями на платформе "1С:Предприятие" позволяет предотвратить несанкционированный доступ к данным со стороны своих сотрудников и внешних лиц. Продукт прошёл сертификацию по программе "<a href="http://www.aladdin-rd.ru/company/pressroom/news/30870/">Совместимо! Система программ 1С: Предприятие</a>".</li>
</ul>

<h2>Когда необходим Secret Disk Server NG</h2>
<ul>
    <li><b>Для защиты серверов</b> в случае централизованного хранения и обработки ценной корпоративной информации от таких угроз как:
        <ul>
            <li>несанкционированный доступ к конфиденциальным данным на защищаемом сервере или хранилище данных;</li>
            <li>копирование данных нелояльным или подкупленным сотрудником, который может иметь физический доступ к серверу;</li>
            <li>несанкционированное копирование данных по сети предприятия ИТ-специалистом, имеющим расширенные права администратора.</li>
        </ul>
    </li>
    <li><b>Для экстренной блокировки доступа к конфиденциальной информации</b> в чрезвычайных ситуациях в случае физического захвата сервера.</li>
    <li><b>Для реализации защиты высоконагруженных, отказоустойчивых решений.</b> Secret Disk Server NG поддерживает технологию многопоточного шифрования, максимально оптимизируя вычислительные ресурсы современных многопроцессорных систем. Продукт позволяет выполнять резервное копирование зашифрованных разделов и открытых в эксклюзивном режиме файлов без остановки работающих сервисов и приложений (Microsoft Exchange, Microsoft SQL Server и др.).</li>
</ul>

<h2>Ключевые преимущества Secret Disk Server NG </h2>

<h3>Безопасность</h3>
<p>Данные на носителях остаются всегда зашифрованными, что делает доступ к ним невозможным, даже если злоумышленник получит физический доступ к серверу или жёстким дискам.</p>
<ul>
    <li>Используется встроенная в ядро ОС Windows криптография или быстрые и надёжные криптоалгоритмы из пакета расширения Secret Disk Crypto Extension Pack. </li>
    <li>Доступна установка дополнительных пакетов от сторонних поставщиков криптографии (криптопровайдеров), включая КриптоПро CSP, Signal-COM CSP, Infotecs CSP, которые реализуют российские стандарты алгоритмов шифрования и сертифицированы ФСБ России.</li>
    <li>Используется метод двухфакторной аутентификации администратора Secret Disk Server NG при помощи электронного ключа и пароля.</li>
    <li>Экстренное блокирование доступа к данным по сигналу "тревога". Сигнал может быть подан как внешним устройством (например, "красной кнопкой", радио-брелоком, охранной сигнализацией или по GSM-каналу<sup>*</sup>), так и с клавиатуры компьютера или мышью. Реакцию на сигнал "тревога" можно настроить как для сервера в целом, так и для каждого зашифрованного диска в отдельности. Перед отключением диска по сигналу "тревога" может быть выполнена остановка сервисов и служб (например, MS SQL Server, MS Exchange Server и т.п.).</li>
    <li>Имеется возможность запрета сетевого доступа к защищаемым данным, что предотвращает копирование важных данных злоумышленником с расширенными правами администратора сети.</li>
</ul>
<p>
    <sup>*</sup> <em>GSM-сигнализация не входит в комплектацию продукта и приобретается отдельно у партнёров компании</em>.
</p>

<h3>Надёжность</h3>
<ul>
    <li>Решение устойчиво к возможным сбоям операционной системы или отключениям электропитания, что исключает повреждение данных. </li>
    <li>Поддерживаются отказоустойчивые кластерные конфигурации защищаемого сервера.</li>
    <li>Поддерживается резервное копирование и восстановление ключей шифрования на случай утери электронного ключа.</li>
    <li>Предусмотрена защита от случайного форматирования отключённого зашифрованного диска.</li>
</ul>

<h3>Удобство</h3>
<p>Гибкое и удобное администрирование позволяет упростить работу администраторов.</p>
<ul>
    <li>Поддержка широкого спектра накопителей позволяет защищать отдельные жёсткие диски сервера, любые дисковые массивы (SAN, программные и аппаратные RAID-массивы), а также съёмные диски.</li>
    <li>Решение допускает неограниченное количество зарегистрированных администраторов. </li>
    <li>Поддерживается управление через консоль Microsoft Windows (MMC) или удалённый рабочий стол (RDP). </li>
    <li>Поддерживается централизованное администрирование нескольких серверов из единого центра управления Secret Disk Server NG.</li>
    <li>Поддерживаются индивидуальные сценарии для каждого зашифрованного диска. Индивидуальные сценарии могут выполняться перед подключением диска, после подключения, перед отключением, после отключения, что позволит добиться необходимой реакции от системы.</li>
    <li>Использование метода прозрачного шифрования информации позволяет не останавливать работу сервера во время первоначального зашифрования данных.</li>
</ul>