<p>Корпоративные поставки продукта осуществляются в организацию, где необходимо защитить несколько серверов. В этом случае заказчик имеет возможность сократить затраты на приобретение нескольких копий Secret Disk Server NG за счёт: </p>
<ul>
    <li>приобретения только одного комплекта Media Kit;</li>
    <li>сокращения числа приобретаемых лицензий администратора Secret Disk Server NG (один администратор со своего рабочего места может администрировать несколько серверов Secret Disk Server NG).</li>
</ul>
<p>Корпоративный комплект поставки включает: </p>
<ul>
    <li>Media Kit:
        <ul>
            <li>компакт-диск (содержит дистрибутив продукта, эксплуатационную документацию и описания в электронной форме);</li>
            <li>упаковочная коробка.</li>
        </ul>
    </li>
    <li>Электронные ключи с лицензиями Secret Disk Server NG (по числу серверов, на которых будет установлен Secret Disk Server NG). При использовании смарт-карт необходимо наличие устройств чтения смарт-карт. Рекомендуется <a href="{{ path('catalog:product', {'product': 'readers'}) }}">ASEDrive III</a>. Эти считыватели не входят в комплект поставки Secret Disk Server NG. Их можно приобрести в компании "Аладдин Р.Д." отдельно.</li>
    <li>Электронные ключи с лицензиями администратора Secret Disk Server NG (по числу администраторов Secret Disk Server NG).</li>
    <li>Требуемое количество устройств для подачи сигнала "тревога" &mdash; радиоприёмников с радио-брелоками и "красных кнопок".</li>
</ul>

<h2>Пример корпоративной поставки</h2>
<h3>Постановка задачи</h3>
<p>Необходимо защитить 3 сервера: </p>
<ul>
    <li>2 файл-сервера с количеством одновременно работающих пользователей до 50 чел. каждый;</li>
    <li>1 файл-сервер – до 25 пользователей и сервер приложений.</li>
</ul>
<p>Предприятие использует на одном из серверов продукт Secret Disk Server NG на 10 пользователей. </p>
<p>Необходимо защитить базу данных предприятия от кражи и несанкционированного доступа (используется "1С-Предприятие", SQL-сервер). </p>
<p>Необходимо обеспечить возможность безопасного удалённого администрирования серверов: </p>
<ul>
    <li>1 администратор;</li>
    <li>1 технический директор.</li>
</ul>
<p>Необходимо оснастить 5 рабочих мест устройством подачи сигнала "тревога" ("красными кнопками"). </p>
<p>Гарантийный срок на все продукты должен составлять 2 года. </p>

<h3>Пример составления заказа на поставку Secret Disk Server NG</h3>
<table class="table">
    <colgroup>
        <col width="30%">
        <col width="10%">
        <col width="60%">
    </colgroup>
    <thead>
    <tr>
        <th class="table-head__cell">Наименование</th>
        <th class="table-head__cell text_center">Кол-во</th>
        <th class="table-head__cell">Комментарии</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table-row__cell">Secret Disk Server NG для файл-сервера для 50 пользователей. Базовый комплект.</td>
        <td class="table-row__cell text_center">2</td>
        <td class="table-row__cell">2 комплекта Secret Disk Server NG для файл-сервера с количеством одновременных подключений к защищенным дискам &mdash; до 50 каждый.</td>
    </tr>
    <tr>
        <td class="table-row__cell">Secret Disk Server NG для файл-сервера. Обновление с Secret Disk Server NG 1.х. N = 10.</td>
        <td class="table-row__cell text_center">1</td>
        <td class="table-row__cell">Обновление (с заменой) старой версии Secret Disk Server на новую, количество одновременных подключений &mdash; 10.</td>
    </tr>
    <tr>
        <td class="table-row__cell">Secret Disk Server NG. Лицензия сервера приложений.</td>
        <td class="table-row__cell text_center">1</td>
        <td class="table-row__cell">Разрешён доступ к защищённому диску с базой данных предприятия только серверным приложениям (SQL-сервер).</td>
    </tr>
    <tr>
        <td class="table-row__cell">Secret Disk Server NG для файл-сервера. Лицензия на использование на 15 пользователей.</td>
        <td class="table-row__cell text_center">15</td>
        <td class="table-row__cell">
            <p>Дополнительные лицензии для обновляемого сервера, увеличивающие количество одновременных подключений до 25:</p>
            <pre>10 + 15</pre>
            <p>(стоимость лицензии на 15 пользователей вычисляется как разность между стоимостью сервера на 25 и на 10, т.е. 37,990 - 22,990 = 15,000).</p>
        </td>
    </tr>
    <tr>
        <td class="table-row__cell">Устройство "Красная кнопка" для подачи сигнала "тревога"</td>
        <td class="table-row__cell text_center">2</td>
        <td class="table-row__cell">Всего требуется 5 кнопок, 2 из них входят в базовые комплекты, одна &mdash; в комплект обновления, надо докупить 2 дополнительные кнопки.</td>
    </tr>
    <tr>
        <td class="table-row__cell">Дополнительный USB-ключ eToken PRO/32К для администратора.</td>
        <td class="table-row__cell text_center">1</td>
        <td class="table-row__cell"></td>
    </tr>
    <tr>
        <td class="table-row__cell">Secret Disk Server NG. Лицензия администратора.</td>
        <td class="table-row__cell text_center">1</td>
        <td class="table-row__cell">Прописывается в дополнительный USB-ключ eToken PRO/32К.</td>
    </tr>
    <tr>
        <td class="table-row__cell">Гарантийный срок</td>
        <td class="table-row__cell text_center">2</td>
        <td class="table-row__cell">Первый год гарантийного срока &mdash; бесплатно, доплата за второй год &mdash; 12%.</td>
    </tr>
    </tbody>
</table>