<p>Заказная конфигурация Secret Disk Server NG позволяет сформировать комплект поставки продукта, максимально учитывающий требования конкретного заказчика.</p>
<p>В состав каждой заказной конфигурации Secret Disk Server NG входят обязательные и опциональные компоненты.</p>
<ul>
    <li><b>Обязательные компоненты</b> необходимы для работоспособности продукта, и, как следует из названия, должны присутствовать в каждой заказной конфигурации Secret Disk Server NG.</li>
    <li><b>Опциональные компоненты</b> позволяют заказчику максимально использовать все заложенные в продукт возможности, увеличивают эффективность и надёжность создаваемой с использованием Secret Disk Server NG системы защиты информации, повышают удобство эксплуатации продукта.</li>
</ul>

<h2>Обязательные компоненты</h2>
<ul>
    <li><b>Media Kit</b> (включает коробку, компакт-диск с программным обеспечением, печатную версию эксплуатационной документации, гарантийный талон, лист комплектации).</li>
    <li>Один электронный ключ с <b>лицензией файл-сервера и/или сервера приложений</b> Secret Disk Server NG.</li>
    <li>Один электронный ключ с <b>лицензией администратора</b> Secret Disk Server NG (для администратора SDS NG).</li>
</ul>

<h2>Опциональные компоненты</h2>
<ul>
    <li>Дополнительные электронные ключи с лицензиями администратора Secret Disk Server NG (для администраторов SDS NG):
        <ul>
            <li>для увеличения числа администраторов Secret Disk Server NG;</li>
            <li>резервный электронный ключ для обеспечения доступности данных (в случае утери или выхода из строя основного ключа).</li>
        </ul>
    </li>
    <li>Устройства для подачи сигнала "тревога":
        <ul>
            <li>"красная кнопка";</li>
            <li>радиоприёмник и радио-брелок;</li>
            <li>дополнительные радио-брелоки (с одним радиоприёмником могут работать до 12 радио-брелоков).</li>
        </ul>
    </li>
    <li>Удлинительные USB-кабели (по числу входящих в состав заказной конфигурации электронных USB-ключей).</li>
</ul>
<p>Полный перечень опциональных компонентов (устройства чтения смарт-карт, защитные чехлы для USB-ключей, клавиатуры со встроенным устройством для чтения смарт-карт и др.) приведён в <a href="http://www.aladdin-rd.ru/order/create">прайс-листе</a> по продуктам компании "Аладдин Р.Д.".</p>

<h2>Правила формирования заказной конфигурации</h2>

<h3>1. Определение требуемого числа рабочих мест администраторов Secret Disk Server NG.</h3>
<p>Для каждого рабочего места необходим один электронный ключ с лицензией администратора Secret Disk Server NG. При выборе смарт-карт не забудьте приобрести устройства для чтения смарт-карт.</p>

<h3>2. Уточнение типа и характера использования данных.</h3>
<p>Для определения необходимых лицензий сервера Secret Disk Server NG уточните тип и характер использования данных, которые необходимо защитить на сервере (это могут быть база данных, почтовый сервер, сервер приложений, файловый архив). </p>
<p><b>Лицензия файл-сервера на фиксированное число пользователей</b> позволяет предоставлять созданные на сервере защищённые диски в общее пользование. Максимальное количество одновременных подключений по сети ко всем защищённым дискам одного сервера может быть 5, 10, 25, 50, 100 или неограниченным. Уточните число пользователей, которые будут работать по сети с файлами на защищённых дисках. </p>
<p><b>Лицензия сервера приложений</b> позволяет создавать на сервере защищённые диски, недоступные по сети. Эта лицензия необходима, если с помощью Secret Disk Server NG планируется защитить базу данных, почтовый сервер или любой другой сервер приложений. </p>
<p>При необходимости лицензии файл-сервера и сервера приложений могут быть записаны в память одного электронного ключа и использоваться на одном сервере одновременно. </p>

<h3>3. Использование устройств для подачи серверу сигнала "тревога".</h3>
<p><b>"Красная кнопка"</b> подключается к USB- или COM-порту сервера или любой рабочей станции в сети. При нажатии на кнопку контакты замыкаются, и серверу подаётся сигнал "тревога". Для замыкания контактов также можно использовать любое другое исполнительное устройство, например, датчик охранной или пожарной сигнализации. </p>
<p><b>Радиоприёмник</b>, подключаемый к порту USB- или COM-сервера или любой рабочей станции в сети, обеспечивает возможность дистанционной подачи серверу сигнала "тревога" с помощью радио-брелока. Радиус действия радио-брелока составляет порядка 50 метров, но зависит от особенностей помещения (наличие стен, перегородок из различных материалов). <p>
<p>В комплекте с радиоприёмником поставляется один радио-брелок. Один радиоприёмник может работать с 12 радио-брелоками. </p>
<p><b>Удлинительный USB-кабель</b> повышает удобство работы с электронными USB-ключами и просто необходим, если USB-порт компьютера расположен в труднодоступном месте (например, на задней стороне корпуса компьютера). </p>