<h3>Базовый комплект Secret Disk Server NG для файл-сервера</h3>
<p>Состав комплекта: <p>
<ul><li>компакт-диск (включает дистрибутив продукта, эксплуатационную документацию и описания в электронной форме);</li>
    <li>электронный ключ для сервера — JaCarta с лицензией Secret Disk Server NG для файл-сервера на 5, 10, 25, 50, 100 одновременных сетевых подключений или без ограничения их числа;</li>
    <li>электронный ключ для администрирования Secret Disk Server NG — JaCarta с лицензией администратора;</li>
    <li>удлинительный USB-кабель (для рабочего места администратора);</li>
    <li>устройство "красная кнопка" для подачи серверу сигнала "тревога";</li>
    <li>упаковочная коробка.</li></ul>
<h3>Базовый комплект Secret Disk Server NG для сервера приложений</h3>
<p>Состав комплекта: </p>
<ul><li>компакт-диск (включает дистрибутив продукта, эксплуатационную документацию и описания в электронной форме);</li>
    <li>электронный ключ для сервера — JaCarta с лицензией Secret Disk Server NG для сервера приложений;</li>
    <li>электронный ключ для администрирования Secret Disk Server NG — JaCarta с лицензией администратора;</li>
    <li>удлинительный USB-кабель (для рабочего места администратора);</li>
    <li>устройство "красная кнопка" для подачи серверу сигнала "тревога";</li>
    <li>упаковочная коробка.</li></ul>