<h2>Как работает Secret Disk Server NG?</h2>
<p class="text-center">
    <img width="500" alt="Secret Disk Server NG" src="{{ asset('images/catalog/secret_disk/Secret_Disk_Server_NG.jpg') }}" />
</p>
<p><b>Secret Disk Server NG</b> – это программно-аппаратный комплекс защиты корпоративной информации (баз данных, файловых архивов, бизнес-приложений и их данных), хранящейся на серверах под управлением серверных операционных систем Microsoft Windows.</p>
<p>Защита информации обеспечивается шифрованием данных "на лету" с помощью стойких алгоритмов шифрования. При записи данных на диск происходит их зашифрование, при чтении — расшифрование. Находящиеся на диске данные всегда зашифрованы.</p>
<p>Подключённый защищённый диск используется точно так же, как и обычный диск. Отключённый защищённый диск представляется системе как неформатированный.</p>
<p>Для выполнения задач администрирования сервера используются электронный ключ или смарт-карта. Шифрование и подключение защищённых дисков, резервное копирование и восстановление мастер-ключей осуществляются лишь после предъявления электронного ключа зарегистрированного администратора и ввода соответствующего пароля. В системе Secret Disk Server NG может быть несколько зарегистрированных администраторов. </p>
<p>В Secret Disk Server NG имеется инструмент резервного копирования защищённого хранилища, в котором содержатся зашифрованные копии мастер-ключей и информация об администраторах Secret Disk Server NG. </p>
<p>Для чрезвычайных ситуаций предусмотрен инструмент "красная кнопка". Он позволяет удалённо отключать защищённые диски. При определённых настройках нажатие "красной кнопки" приводит также к удалению с сервера ключевой информации. В результате, даже если злоумышленники завладеют нужными электронным ключом или смарт-картой, узнают пароль и будут обладать полным доступом к серверу, они не смогут прочесть информацию, не располагая резервной копией защищённого хранилища. </p>
<p>Secret Disk Server NG не имеет встроенных средств шифрования. По умолчанию он использует стандартные средства, входящие в состав Microsoft Windows: криптографический драйвер режима ядра (реализующий алгоритмы DES и Triple DES) и Microsoft Enhanced CSP для защиты мастер-ключей. </p>
<p>Кроме того, Secret Disk Server NG совместим с внешними криптопровайдерами:  Signal-COM CSP, КриптоПро CSP и Infotecs CSP, использование которых позволяет шифровать диски в соответствии с ГОСТ 28147-89 "Система обработки информации. Защита криптографическая", и защищать мастер-ключи с использованием сертифицированных российских криптографических средств. </p>
<p>С Web-сайта компании "Аладдин Р.Д." можно также бесплатно загрузить пакет расширения Secret Disk Crypto Extension Pack AES и Twofish, дополняющий стандартную поставку криптографии Secret Disk Server NG. </p>

<h2>Сертификаты открытого ключа</h2>
<p>Для выполнения любого действия по администрированию Secret Disk Server NG необходимо иметь смарт-карту или USB-ключ с электронной лицензией администратора. Кроме того, в памяти электронного ключа должен находиться сертификат открытого ключа администратора Secret Disk Server NG и соответствующий ему закрытый ключ. Можно использовать уже имеющиеся сертификаты (например, сертификат для входа в сеть или ЭП и шифрования почты). Если у администратора нет цифрового сертификата, Secret Disk Server NG сгенерирует закрытый ключ и сертификат. </p>
<p>При работе с КриптоПро CSP, Signal-COM CSP или Infotecs CSP используются сертификаты открытого ключа, совместимые с этими поставщиками службы криптографии. В остальных случаях в Secret Disk Server NG применяются сертификаты на основе ключей RSA. Таким образом, у администратора может быть не один, а два или даже три сертификата — по одному для каждого стандарта. </p>
<p>Как правило, если в организации используются сертифицированные российские средства шифрования, то администратору достаточно иметь сертификат с закрытым ключом, созданный с помощью Signal-COM CSP, КриптоПро CSP или Infotecs CSP. Диски при этом шифруются только по алгоритму, соответствующему ГОСТ 28147-89. Если же использование именно российских криптографических средств является необязательным, то применяется сертификат, связанный с ключевой парой RSA, а диски шифруются по алгоритмам AES, DES, Triple DES или Twofish. Таким образом, в большинстве практических случаев администратор использует единственный сертификат. </p>

<h2>Шифрование дисков</h2>
<p>Так как Secret Disk Server NG не имеет встроенных средств шифрования, он использует Microsoft Enhanced CSP или/и отдельно устанавливаемые криптопровайдеры, а также пакет расширения Secret Disk Crypto Extension Pack шифрования Secret Disk. </p>
<p>Алгоритмы, реализуемые криптографическим драйвером режима ядра, входящим в состав Windows (DES и Triple DES), всегда доступны для использования. Алгоритм, соответствующий ГОСТ-28147-89, можно использовать при наличии на сервере и рабочей станции администратора поставщиков службы криптографии КриптоПро CSP, Signal-COM CSP или Infotecs CSP. Кроме того, если на сервере установлен пакет расширения Secret Disk Crypto Extension Pack, то возможно применение алгоритмов AES и Twofish. </p>
<p>После выбора алгоритма шифрования выполняется генерация уникального ключа шифрования диска. Для каждого администратора Secret Disk Server NG сгенерированный ключ шифрования диска зашифровывается с применением открытого ключа соответствующего сертификата и сохраняется в зашифрованном виде на системном диске сервера в так называемом защищённом хранилище. </p>
<p>Содержимое диска шифруется посекторно с использованием выбранного алгоритма шифрования и сгенерированного ключа шифрования диска. Процесс шифрования диска может быть приостановлен администратором или даже прерван (например, из-за перебоев электропитания), однако это не повлечёт за собой потери данных. Приостановленный или прерванный процесс шифрования может быть возобновлён в любой удобный момент. </p>
<p>После завершения процесса шифрования всё содержимое диска становится зашифрованным, что обеспечивает надёжную криптографическую защиту хранящихся на нём данных. При прямом просмотре содержимое отключенного защищённого диска выглядит как случайная последовательность битов или, иначе говоря, "белый шум", поскольку все данные зашифрованы. По содержимому раздела диска невозможно определить, является ли данный раздел просто неформатированным, или же на нём имеется какая-то информация. </p>

<h2>Подключение диска</h2>
<p>Для того чтобы открыть доступ к данным на защищённом диске, администратор Secret Disk Server NG должен подключить диск. Для этого хранящийся в памяти электронного ключа закрытый ключ, доступ к которому возможен только после ввода пароля, будет использован для расшифрования ключа шифрования диска. Расшифрованный таким образом ключ шифрования диска загружается в драйвер Secret Disk Server NG (при использовании драйверов режима ядра) или передаётся поставщику службы криптографии (CSP). </p>

<h2>Администрирование и ключевая схема</h2>
<p>При обращении к любым инструментам управления Secret Disk Server NG администратор должен подключить к компьютеру свой электронный ключ, указать свой сертификат и ввести пароль. Таким образом, реализуется двухфакторная аутентификация администратора при обращении к элементам управления. </p>
<p>На сервере может быть зарегистрировано произвольное число администраторов Secret Disk Server NG. Любой администратор может добавить нового администратора или удалить существующего из списка зарегистрированных администраторов Secret Disk Server NG. </p>
<p>По умолчанию все администраторы равноправны по отношению ко всем защищённым дискам сервера. Вместе с тем в Secret Disk Server NG предусмотрена возможность коллективной работы администраторов с разграничением доступа: каждому защищённому диску можно сопоставить свой уникальный список администраторов. При добавлении нового администратора указывается сертификат открытого ключа, который добавляемый администратор будет использовать. При этом ключи шифрования тех защищённых дисков, управлять которыми имеет полномочия добавляющий администратор, считываются из защищённого хранилища, расшифровываются с применением закрытого ключа добавляющего администратора, зашифровываются с использованием открытого ключа добавляемого администратора и записываются в защищённое хранилище. Таким образом, добавляемый администратор будет иметь полномочия управлять теми же защищёнными дискам, что и добавляющий администратор. </p>

<h2>Контроль доступа к защищённым дискам</h2>
<p>После подключения зашифрованных дисков хранящиеся на них данные становятся доступны пользователям и приложениям. Доступ по сети к зашифрованным дискам контролирует Secret Disk Server NG, а права отдельных пользователей или групп пользователей устанавливаются стандартными средствами операционной системы. </p>
<p>Secret Disk Server NG может разрешать или запрещать доступ по сети к зашифрованным дискам. </p>
<p>Secret Disk Server NG шифрует диски сервера, с которыми пользователи работают по сети. Поэтому Secret Disk Server NG для файл-сервера всегда разрешает доступ по сети к зашифрованным дискам. В этом случае права доступа пользователей или групп на уровне сетевого ресурса устанавливаются стандартными средствами операционной и файловой системы сервера. Системный администратор всегда может получить доступ к таким дискам через административные сетевые ресурсы. </p>
<p>Для защиты сервера приложений (сервера баз данных, почтового сервера, сервера "1С", Lotus Domino и др.) используется Secret Disk Server NG для сервера приложений. На дисках сервера приложений размещаются данные, которые обрабатываются только самим сервером, и прямой доступ пользователей по сети не нужен (например, файлы базы данных, обрабатываемые экземпляром СУБД Microsoft SQL Server, исполняющимся на этом же сервере, или хранилище писем почтового сервера, с которым работает установленный на этом же сервере Microsoft Exchange). </p>
<p>Secret Disk Server NG для сервера приложений не только шифрует диски сервера, но и позволяет установить полный запрет на доступ к ним по сети. В этом случае непосредственно обращаться к данным на таком диске будут только приложения, установленные на сервере. Доступ по сети к содержимому такого подключенного диска невозможно будет получить никому, даже системному администратору домена Windows через административные сетевые ресурсы (ресурсы вида <code>\\&laquo;имя_сервера&raquo;\&laquo;буква_диска&raquo;$</code>). Никто, даже системный администратор, не сможет скачать по сети с сервера базу данных, базу "1С" или почтовую базу. </p>
<p>Secret Disk Server NG для файл-сервера и Secret Disk Server NG для сервера приложений различаются только на уровне лицензирования. Наличие лицензии Secret Disk Server NG для сервера приложений позволяет задействовать функционал Secret Disk Server NG, запрещающий доступ по сети к зашифрованным дискам. </p>
<p>Эта возможность может оказаться полезной для небольших организаций, в которых часто один сервер выполняет сразу две функции: файл-сервера и сервера приложений (т.е. на одном сервере есть диски, доступ к которым по сети должен быть разрешён, и есть диски, доступ к которым по сети не должен быть разрешён). </p>
<p>В этом случае можно приобрести сразу две лицензии: лицензию Secret Disk Server NG для файл-сервера (на требуемое число пользователей сетевых дисков сервера, например, 10) и лицензию Secret Disk Server NG для сервера приложений. Тогда на сервере для одного зашифрованного диска доступ по сети может быть разрешён, а для другого – запрещён средствами Secret Disk Server NG. </p>

<h2>Сценарии управления защищёнными дисками</h2>
<p>Система предоставляет возможность создания собственных сценариев (командных файлов), выполняемых на сервере для каждого из защищённых дисков в отдельности: </p>
<ul>
    <li>до подключения диска;</li>
    <li>после подключения диска;</li>
    <li>до отключения диска;</li>
    <li>после отключения диска.</li>
</ul>
<p>Для написания сценария может быть использован любой из имеющихся в системе язык сценариев (командный файл, JavaScript, VBScript, Perl, Monad). На языке описания сценариев самостоятельно может быть написан требуемый сценарий работы при наступлении того или иного события. </p>
<p>Например, после подключения диска могут производиться: </p>
<ul>
    <li>проверка содержимого диска программой Chkdsk;</li>
    <li>запуск служб, работающих с данными на этом диске (например, запуск экземпляра Microsoft SQL Server, работающего с базой данных, расположенной на этом диске).</li>
</ul>
<p>Например, до отключения диска могут производиться: </p>
<ul>
    <li>остановка служб, работающих с данными на этом диске (например, остановка экземпляра Microsoft SQL Server, работающего с базой данных, расположенной на этом диске);</li>
    <li>закрытие сетевых сессий и файлов, открытых удалёнными пользователями.</li>
</ul>

<h2>Сигнал "тревога" и экстренное блокирование доступа</h2>
<p>Для чрезвычайных ситуаций в Secret Disk Server NG предусмотрен механизм подачи сигнала "тревога". В случае опасности подача сигнала "тревога" приведёт к выполнению на сервере команд, экстренно предотвращающих несанкционированный доступ. </p>
<p>Реализованный в Secret Disk Server NG механизм реакции на сигнал "тревога" позволяет отключать защищённые диски, а при определённых настройках на стороне сервера – также удалять с сервера ключевую информацию (защищённое хранилище). В результате, даже если злоумышленники завладеют нужным электронным ключом или смарт-картой, узнают пароль и будут обладать полным доступом к серверу, они не смогут прочесть информацию, не располагая резервной копией защищённого хранилища. </p>
<p>В состав штатной поставки Secret Disk Server NG входит программно-аппаратный комплекс Secret Disk Alarm, состоящий из программного обеспечения и "красной кнопки".</p>
<p>Сигнал "тревога" может быть подан: </p>
<ul>
    <li>с использованием программного обеспечения &mdash; клавиатуры компьютера или мыши;</li>
    <li>при нажатии "красной кнопки", входящей в комплект штатной поставки, подключённой к одному из компьютеров локальной сети;</li>
    <li>от радио-брелока (приобретается дополнительно: в комплект входят радиоприемник  и до 12 радио-брелоков);</li>
    <li>от различных датчиков, обнаруживших несанкционированное проникновение в серверную комнату или открывание серверной стойки: датчики открывания дверей, движения, изменения объёма;</li>
    <li>от кодового замка, используемого для защиты при входе в помещение и имеющего код входа под принуждением;</li>
    <li>с сотового телефона путём звонка на заданный номер и ввода требуемой комбинации цифр и пр.</li>
</ul>
<p>Интерфейс подключения внешних устройств (кнопок, датчиков и пр.) открыт и документирован в эксплуатационной документации, что позволяет подключать к системе практически любые устройства. </p>
<p>Система контролирует не только нажатие "красной кнопки", но и постоянно диагностирует её состояние так, чтобы кнопка не могла быть случайно или умышленно отключена и не сработала в нужный момент. </p>
<p>Реакция на сигнал "тревога" настраивается как для каждого из защищённых дисков в отдельности, так и для всего сервера. </p>
<p>Отработка сервером сигнала "тревога" происходит в два этапа. Вначале для каждого из защищённых дисков выполняются: </p>
<ul>
    <li>сценарий, предусмотренный для выполнения перед отключением диска (он может быть пропущен для сокращения времени реакции данного диска на сигнал "тревога");</li>
    <li>удаление ключей шифрования диска из памяти сервера;</li>
    <li>сценарий, предусмотренный для выполнения после отключения диска (он может быть пропущен для сокращения времени реакции данного диска на сигнал "тревога").</li>
</ul>
<p>После отработки "тревоги" каждым из защищённых дисков происходит отработка сигнала "тревога" для сервера целиком – это может быть удаление с диска сервера защищённого хранилища (если это задано настройками). <p>
<p>Для восстановления доступа к защищённой информации достаточно подключить заново зашифрованные диски с консоли администратора, подключив электронный ключ администратора Secret Disk Server NG и введя его правильный пароль. Если же реакцией сервера на сигнал "тревога" было предусмотрено удаление с диска сервера защищённого хранилища, то для восстановления доступа к защищённым данным вначале потребуется восстановление защищённого хранилища из его резервной копии. <p>