<p>Гарантийный срок на продукты семейства Secret Disk Server NG составляет по умолчанию 1 год со дня продажи.</p>
<p>В период гарантийного обслуживания бесплатно производятся:</p>
<ul>
    <li>техническая поддержка (консультирование по продукту, моделирование и решение возникших проблем);</li>
    <li>замена вышедших из строя ключевых носителей (при условии соблюдения требований эксплуатационной документации и отсутствия механических повреждений).</li>
</ul>
<p>Период <a href="/support/rules/">гарантийного обслуживания</a> продукта может быть продлён за дополнительную плату.</p>

<table class="table">
    <colgroup>
        <col width="40%">
        <col width="60%">
    </colgroup>
    <thead>
    <tr>
        <th class="table-head__cell">Гарантийный срок</th>
        <th class="table-head__cell">Доп. оплата (от стоимости продукта)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table-row__cell">1 год</td>
        <td class="table-row__cell">0%</td>
    </tr>
    <tr>
        <td class="table-row__cell">2 года</td>
        <td class="table-row__cell">+12%</td>
    </tr>
    <tr>
        <td class="table-row__cell">3 года</td>
        <td class="table-row__cell">+22%</td>
    </tr>
    <tr>
        <td class="table-row__cell">4 года</td>
        <td class="table-row__cell">+30%</td>
    </tr>
    <tr>
        <td class="table-row__cell">5 лет</td>
        <td class="table-row__cell">+35%</td>
    </tr>
    </tbody>
</table>