{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Инженер по автоматизации
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>автоматизация процесса тестирования;</li>
        <li>разработка автоматических тестов, тестовой модели и процесса интеграционного тестирования;</li>
        <li>поддержка автоматизированных тестов и тестовых сценариев;</li>
        <li>развитие инструментов автоматизации тестирования продуктов компании;</li>
        <li>подготовка тестовых данных для автоматизированного тестирования;</li>
        <li>техническое оформление найденных дефектов и сопровождение их на протяжении всего
            жизненного цикла разработки;</li>
        <li>взаимодействие с разработчиками и аналитиками в рамках автоматизации тестирования и найденных дефектов.</li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>опыт программирования или автоматизации процесса тестирования на Python;</li>
        <li>знание методов и методик тестирования;</li>
        <li>опыт работы с системами контроля версий;</li>
        <li>опыт работы с системами учёта дефектов;</li>
        <li>опыт работы в командной строке linux-подобных операционных систем;</li>
        <li>опыт администрирования и установки пользовательских ОС;</li>
        <li>способность взаимодействовать с разработчиками, находить общий язык;</li>
        <li>английский язык на уровне - чтение технической литературы.</li>
    </ul>

    <h3>Приветствуются любые из следующих знаний и навыков:</h3>
    <ul>
        <li>опыт программирования или автоматизации процесса тестирования на C++, Java;</li>
        <li>опыт работы с системами интеграционного тестирования;</li>
        <li>знание теории проектирования и разработки ПО, принципов создания информационных систем;</li>
        <li>готовность осваивать новые языки программирования.</li>
    </ul>

{% endblock %}