{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Программист C++
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>разработка, реализация и тестирование:
            <ul>
                <li>апплетов для смарт-карт и SIM-карт;</li>
                <li>кроссплатформенных библиотек для работы со смарт-картами.</li>
            </ul>
        </li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>опыт работы более 3 лет;</li>
        <li>знание языков C++ и/или C;</li>
        <li>умение писать портируемый код;</li>
        <li>понимание документаций на английском языке;</li>
        <li>одно из следующих качеств:
        <ul>
            <li>опыт разработки в сфере ИБ: реализация криптографических алгоритмов (ГОСТ 28147-89, ГОСТ Р 34.11-94,
                ГОСТ Р 34.11-2012, ГОСТ Р 34.10-2001, ГОСТ Р 34.12-2015 и т.п.), разработка СКЗИ, работы с
                криптопровайдерами и т.д или</li>
            <li>опыт разработки javacard апплетов.</li>
        </ul>
        </li>
    </ul>
    <h3>Желательно:</h3>
    <ul>
        <li>знание языка Java;</li>
        <li>опыт работы в среде Microsoft Visual Studio 2015 и IntelliJ IDEA.</li>
    </ul>
    <h3>Плюсом будет:</h3>
    <ul>
        <li>опыт работы со смарт-картами (ISO 7816, Global Platform, PKCS#11);</li>
        <li>опыт написания java-card апплетов;</li>
        <li>использование Microsoft CryptoAPI, компилятора GCC;</li>
        <li>знание инструментов командной разработки, автоматизации сборки и тестирования: Jenkins, Apache Ant,
            CMake, JUnit.</li>
    </ul>

{% endblock %}