{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Старший программист
{% endblock %}

{% block vacancy %}

    <h3>О задачах</h3>
    <p>Команда занимается развитием собственных программных продуктов, предназначенных для унифицированной поддержкой
        криптографических операций с использованием средств криптографической защиты информации - токенов,
        специализированных устройств и крипто-провайдеров. Разрабатываемые программные компоненты используются как в
        продуктах собственной разработки, так и для построения решений силами технологических партнёров.</p>

    <h3>Обязанности:</h3>
    <ul>
        <li>разработка новой версии продукта согласно дорожной карте выпусков релизов;</li>
        <li>исправление ошибок в выпущенных версиях продукта и их поддержка;</li>
        <li>участие в разработке новых версий продукта под новые аппаратные платформы и операционных системы.</li>
    </ul>

    <h3>Обязательные требования:</h3>
    <ul>
        <li>знание C/C++ (версия 11);</li>
        <li>опыт кроссплатформенной разработки (win, linux, mac os) не менее 2лет;</li>
        <li>знание основ криптографии;</li>
        <li>опыт использования Microsoft Visual Studio (2012 или выше);</li>
        <li>опыт использования Qt (4.8 или выше).</li>
    </ul>

    <h3>Желательные требования:</h3>
    <ul>
        <li>опыт работы со смарт-картами;</li>
        <li>знание стандартов PKCS #11, ASN.1;</li>
        <li>знание STL, cmake, опыт применения паттернов проектирования;</li>
        <li>опыт использования авто-тестирования/юнит-тестирования.</li>
    </ul>

{% endblock %}