{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Ведущий системный программист (Senior Kernel Developer - UEFI)
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>участие в разработке загрузчиков UEFI, драйверов томов под Windows.</li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>отличные знания языков C и C++;</li>
        <li>опыт дизасемблирования, работы с ASM x86-64;</li>
        <li>глубокое понимание архитектуры ПК;</li>
        <li>опыт реверс-инжиниринга.</li>
    </ul>

    <h3>Желательно:</h3>
    <ul>
        <li>навыки разработки под UEFI;</li>
        <li>глубокое понимание архитектуры Windows, знание WDK API;</li>
        <li>владение навыками отладки в WinDBG.</li>
    </ul>

{% endblock %}