{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Технический лидер команды разработки (Team Lead)
{% endblock %}

{% block vacancy %}

    <h3>О задачах</h3>
    <p>Разработка компонент, связанных с унифицированной поддержкой средств криптографической защиты информации -
        токенов, специализированных устройств и крипто-провайдеров. Разрабатываемые компоненты используются как в
        продуктах собственной разработки, так и для построения решений силами технологических партнёров, в том числе для
        встраиваемых решений.</p>

    <h3>Обязанности:</h3>
    <ul>
        <li>руководство командой разработки, состоящей из 3-5 человек;</li>
        <li>планирование и контроль выполнения поставленных задач;</li>
        <li>участие в организации взаимодействия со смежными отделами (отделом тестирования, техническими писателями,
            аналитиками, технической поддержкой);
        </li>
        <li>участие в выработке архитектуры решений и оценка их трудоёмкости;</li>
        <li>разработка кода и внутренней технической документации в необходимом объёме;</li>
        <li>поддержка выпущенных версий компонент.</li>
    </ul>

    <h3>Не технические требования:</h3>
    <ul>
        <li>опыт работы ведущим разработчиком/руководителем группы разработки не менее двух лет;</li>
        <li>умение декомпозировать задачу, назначать подходящих исполнителей и контролировать выполнение работ;</li>
        <li>понимание, что такое deadline, и умение управлять своим временем и временем своей команды для успешной его
            встречи;
        </li>
        <li>готовность осваивать новые технологии и повышать уровень членов команды;</li>
        <li>готовность работать с унаследованным кодом;</li>
        <li>ответственность за качество выполняемых работ;</li>
        <li>умение структурировано излагать мысли в письменном виде;</li>
        <li>английский язык (технический).</li>
    </ul>

    <h3>Обязательные требования:</h3>
    <ul>
        <li>знание C++ (версия 11);</li>
        <li>опыт кроссплатформенной разработки (win, linux и/или mac os) не менее 5 лет;</li>
        <li>опыт использования Qt (4.8 или выше);</li>
        <li>опыт работы с bash, gcc, make, autotools, cmake;</li>
        <li>знание основ криптографии;</li>
        <li>опыт использования авто-тестирования/юнит-тестирования;</li>
        <li>опыт разработки многопоточных приложений;</li>
        <li>опыт работы с Git и другими системами управления версиями.</li>
    </ul>

    <h3>Желательные требования:</h3>
    <ul>
        <li>опыт участия в разработке дизайна пользовательского интерфейса в Qt Creator;</li>
        <li>опыт использования Microsoft Visual Studio (2012 или выше);</li>
        <li>знание стандартов PKCS #11, ASN.1;</li>
        <li>опыт работы со смарт-картами (ISO 7816, APDU).</li>
    </ul>

{% endblock %}