{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Менеджер по маркетингу продуктов
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>разработка комплекта маркетинговых материалов (презентации, листовки, брошюры и т.д.);</li>
        <li>подготовка статей и публикаций по продуктам компании, статей об опыте внедрения решений компании у заказчиков;</li>
        <li>анализ рынка аутентификации и защиты конфиденциальной информации, проведение исследований, подготовка соответствующих дайджестов и рекомендаций, формализация преимуществ продуктов по сравнению с конкурентами;</li>
        <li>актуализация информации о продуктах на Web-ресурсах компании;</li>
        <li>поддержание в актуальном состоянии обязательного набора маркетинговых материалов по продуктам (в соответствии с утверждённым в Компании перечнем);</li>
        <li>представление продуктов компании на ведущих отраслевых форумах и конференциях, выставках, а также участие в собственных мероприятиях;</li>
        <li>общение с российскими и зарубежными партнёрами и заказчиками для получения оценок продуктов компании при составлении аналитических обзоров.</li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>опыт работы в сфере ИБ/ИТ от 3 лет на должностях менеджера по маркетингу, PR-менеджера, Solution marketing manager;</li>
        <li>навыки ведения презентаций и публичных выступлений, грамотная устная и письменная речь;</li>
        <li>обязательно (свободный устный и письменный английский язык по тематике ИТ);</li>
        <li>знание ИТ на уровне продвинутого пользователя;</li>
        <li>организаторские способности, инициативность, ответственность, аккуратность.</li>
    </ul>

{% endblock %}