{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Аналитик
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>концептуальное, функциональное и логическое проектирование систем малого
            и среднего масштаба и сложности;
        </li>
        <li>формализация и документирование требований к продукту;</li>
        <li>разработка и сопровождение технической документации на продукт, в том числе:
            <ul>
                <li>технического задания;</li>
                <li>документации, описывающей работу функций системы/продукта;</li>
                <li>программы и методики испытаний;</li>
                <li>модели нарушителя и модели угроз;</li>
                <li>отчётов по проведённым исследованиям применяемых технологий, требований, сравнительных характеристик
                    изделия, в том числе с изделиями компаний-конкурентов.
                </li>
            </ul>
        </li>
        <li>сопровождение разработки пользовательской документации на продукт;</li>
        <li>сопровождение приемочных испытаний и ввода в эксплуатацию продукта;</li>
        <li>участие в передаче результатов разработки продукта заинтересованным лицам/заказчику;</li>
        <li>обработка запросов на изменение требований к системе;</li>
        <li>анализ проблемной ситуации заинтересованных лиц;</li>
        <li>выявление рисков и сообщение о них руководителю продукта;</li>
        <li>подготовка обучающих материалов;</li>
        <li>подготовка материалов, которые могут быть использованы в статьях по документируемым продуктам и технологиям,
            для IT-изданий;
        </li>
        <li>выполнение служебных поручений непосредственного руководителя, связанных с оперативной работой.</li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>понимание принципов разработки программного обеспечения, не обязательно иметь продуктовый опыт, но
            необходимо знать основы одного из языков (С, С++, Java);
        </li>
        <li>понимание принципов работы средств криптографической защиты информации; наличие представления о стандартах
            PKCS#11, PKCS#7, CMS, PKCS#10);
        </li>
        <li>владение Windows и Unix-подобными операционными системами на уровне администратора;</li>
        <li>наличие начальных навыков веб-разработки, достаточных для создания простой веб-страницы, вызова на ней
            методов на языке JavaScript, проверки через Console корректности выполнения методов, локализации возникающих
            ошибок;
        </li>
        <li>понимание архитектуры и особенностей клиент-серверных приложений;</li>
        <li>умение или готовность научиться использовать Wireshark (или аналог) для решения исследовательских задач и
            локализации проблем; понимание протоколов TCP/IP, TLS;
        </li>
        <li>дотошность в мелочах и в то же время умение видеть картину целиком;</li>
        <li>умение работать в команде и слушать других людей;</li>
        <li>умение отстаивать свою точку зрения даже среди “авторитетов”;</li>
        <li>готовность и способность к изучению новых технологий.</li>
    </ul>

{% endblock %}