{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Менеджер по продукту
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>определение маркетинговой стратегии продукта (сегмент, позиционирование, отстройки от конкурентов, roadmap и
            т.д.);
        </li>
        <li>формирование бизнес-требований (потребности пользователей, ключевые преимущества, use case);
        </li>
        <li>управление всем жизненным циклом продукта (идея, прототип, тиражируемый продукт, версии и т.д.);
        </li>
        <li>обеспечение подразделений компании всем необходимым для реализации продукта (sales kit, обучение,
            сертификаты и лицензии, производство и т.д.);
        </li>
        <li> коммуникация с партнёрами\клиентами (демонстрация возможностей продукта, сбор обратной связи, поиск
            возможностей для сотрудничества и т.д.);
        </li>
        <li>управление командой продукта (менеджер по продуктовому маркетингу, технический писатель, аналитик, менеджер
            по сертификации);
        </li>
        <li>управление бюджетом продукта (ROI).

        </li>
    </ul>

    <h3>Ожидаемые результаты:</h3>
    <p><b>Продукт является лучшим в своём классе с точки зрения:</b></p>
    <ul>
        <li>функциональности (умеет решать поставленные задачи лучше конкурентов) и удобства использования;
        </li>
        <li>качества и количества сопроводительных материалов;
        </li>
        <li>перспектив развития (инновационный roadmap);
        </li>
        <li>рентабельности (соотношения расходов на производство и приходов от клиентов);
        </li>
        <li>известности целевой аудитории (продукт признан стандартом de-facto).
        </li>
    </ul>

    <h3>Показатели эффективности:</h3>
    <ul>
        <li>рентабельность продукта (выполнение коммерческим департаментом плана продаж по продукту);
        </li>
        <li>степень удовлетворённости партнёров компании и менеджеров по продажам сопроводительными материалами по
            продукту (качество эксплуатационной документации, маркетинговых материалов, учебных материалов,
            демонстрационных стендов, высокий уровень проводимых по продуктам мероприятий);
        </li>
        <li>показатель известности\узнаваемости продукта.
        </li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li> опыт работы в сфере ИТ/ИБ в течение 2-3 лет на должностях менеджера продукта (программное обеспечение,
            системная интеграция), менеджера по решениям (solution marketing);
        </li>
        <li>отличные презентационные навыки;
        </li>
        <li>понимание особенностей работы в B2B;
        </li>
        <li>знание предметной области информационной безопасности (PKI и всё что с ним связано).
        </li>
    </ul>

{% endblock %}