{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Технический писатель
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>Разработка и сопровождение различных видов программных, проектных, эксплуатационных и нормативных технических документов, а также создание шаблонов таких документов.</li>
        <li>Подготовка материалов, которые могут быть использованы в статьях по документируемым продуктам и технологиям, для  IT-изданий.</li>
        <li>Перевод материалов с английского языка.</li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>Опыт разработки и сопровождения программных, проектных, эксплуатационных и нормативных технических документов.</li>
        <li>Аккуратность, внимание к деталям, ответственность.</li>
        <li>Высокая грамотность.</li>
        <li>Готовность и способность к изучению новых технологий — как предметов, так и средств документирования.</li>
        <li>Практическое знакомство с требованиями стандартов на автоматизированные системы, изделия, конструкторскую, программную документацию, стандартов по информации, библиотечному и издательскому делу.</li>
        <li>Опыт написания и/или редактирования документов на английском языке и/или перевода на английский язык и/или с английского языка.</li>
        <li>Владение операционными системами Windows и Unix-подобными операционными системами на уровне администратора.</li>
    </ul>

{% endblock %}