{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Аналитик
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>Выявление, документирование и сопровождение требований к программному обеспечению, продукту,  программно-аппаратному комплексу, информационной системе или автоматизированной системе управления  на протяжении их жизненного цикла (далее – требования к системе).</li>
        <li>Изучение предметной и технологической областей в рамках выявления, восстановления и сопровождения требований к системе.</li>
        <li>Функциональное проектирование систем среднего и крупного масштаба и сложности.</li>
        <li>Разработка и сопровождение различных видов программных, проектных и др. технических документов на системы.</li>
        <li>Выполнение исследовательских работ по теме обеспечения безопасности информации, направленных на поиск, систематизацию, обобщение и представление результатов исследований.</li>
        <li>Участие в проведении приёмки макета системы или системы, разработанной по сопровождаемым требованиям к системе.</li>
        <li>Подготовка материалов, которые могут быть использованы в статьях по документируемым продуктам и технологиям, для  IT-изданий.</li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>Опыт управления требованиями, документами: технических заданий, концепций для систем среднего и крупного масштаба и сложности.</li>
        <li>Опыт участия в разработке систем (программного обеспечения, продукта, программно-аппаратного комплекса, информационной системы или автоматизированной системы управления).</li>
        <li>Опыт разработки программных, проектных и др. технических документов.</li>
        <li>Желательно практическое знакомство с требованиями стандартов на автоматизированные системы, изделия, конструкторскую, программную документацию.</li>
        <li>Желательно владение операционными системами Windows и Unix-подобными операционными системами на уровне администратора.</li>
    </ul>

{% endblock %}