{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Инженер отдела по работе с технологическими партнёрами
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>Консультации по встраиванию решений и технологий компании в решения партнёров, техническая поддержка
            (в рамках работы с SDK) партнёров по решениям компании:
            <ul>
                <li>JC-Mobile SDK;</li>
                <li>JaCarta SDK;</li>
                <li>JaCarta 2 ГОСТ SDK;</li>
                <li>JMS SDK;</li>
                <li>JC-WebClient SDK.</li>
            </ul>
        </li>
        <li>Предоставление и учёт SDK технологическим партнёрам.</li>
        <li>Сбор и формализация требований по доработке\исправлению решений к департаменту разработки с созданием
            заявок в системе управления задачами и дальнейшим отслеживанием их выполнения.</li>
        <li>Поддержка в актуальном состоянии базы знаний по совместным решениям и базы партнёров на сайте компании.</li>
        <li>Тестирование совместных решений, формирование сертификатов совместимости.</li>
        <li>Участие в проектах коммерческого департамента в качестве технического эксперта.</li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>Законченное высшее техническое образование.</li>
        <li>Базовые знания в области криптографии.</li>
        <li>Уверенное владение языками программирования С/C++, C#, Java</li>
        <li>Знание технологий Web-разработки.</li>
    </ul>

    <h3>Желательные навыки:</h3>
    <ul>
        <li>Знание и практический опыт использования/построения различных реализаций PKI (MS CA, УЦ КриптоПро,
            УЦ VipNet, Open Source реализаций PKI).</li>
        <li>Знание ОС Linux.</li>
        <li>Опыт работы в ИТ- компаниях на позиции инженера технической поддержки или разработчика.</li>
    </ul>

{% endblock %}