{% extends "company/employment/vacancy.html.twig" %}

{% block vacancy_title %}
    Специалист по тестированию
{% endblock %}

{% block vacancy %}

    <h3>Обязанности:</h3>
    <ul>
        <li>участие в планировании, подготовке, проведении и предоставлении результатов тестирования разрабатываемых
            компанией программных продуктов на всех этапах;
        </li>
        <li>разработка тестовых моделей;</li>
        <li>проведение различных видов тестирования: функциональное, интеграционное, тестирование аппаратной
            совместимости, тестирование документации и другие виды;
        </li>
        <li>формирование, конфигурирование и обслуживание тестовых сред с использованием аппаратных средств и технологий
            виртуализации.
        </li>
    </ul>

    <h3>Требования:</h3>
    <ul>
        <li>желателен опыт тестирования от 1 года;</li>
        <li>знание ОС Windows на уровне опытного пользователя;</li>
        <li>навыки работы со средствами виртуализации VMware (Workstation, ESXi), VirtualBox;</li>
        <li>понимание методологий разработки ПО и места тестирования в них;</li>
        <li>умение разрабатывать тестовые модели;</li>
        <li>умение работать с системами учета и сопровождения ошибок.</li>
    </ul>

    <h3>Приветствуются любые из следующих знаний и навыков:</h3>
    <ul>
        <li>опыт администрирования семейств ОС Linux, macOS;</li>
        <li>опыт настройки и понимание принципа работы контроллера домена, Active Directory;</li>
        <li>базовые знания PKI (Public Key Infrastructure);</li>
        <li>опыт автоматизации процесса тестирования.</li>
    </ul>

{% endblock %}