<table class="table">
    <colgroup>
        <col width="20%">
        <col/>
    </colgroup>
    <tbody>
    <tr>
        <th>Наименование</th>
        <td>ЗАО "Аладдин Р.Д."</td>
    </tr>
    <tr>
        <th>ИНН / КПП</th>
        <td>7719165935 / 771601001</td>
    </tr>
    <tr>
        <th>Расчётный счёт</th>
        <td>40702810400021087822</td>
    </tr>
    <tr>
        <th>Банк</th>
        <td>ПАО "БАНК УРАЛСИБ"</td>
    </tr>
    <tr>
        <th>Корр. счёт</th>
        <td>30101810100000000787</td>
    </tr>
    <tr>
        <th>БИК</th>
        <td>044525787</td>
    </tr>
    <tr>
        <th>Адрес</th>
        <td>129226, Москва, ул. Докукина, 16</td>
    </tr>
    </tbody>
</table>
