<div class="row">
    <div class="col-6">
        <h4>Электронное удостоверение сотрудника</h4>
        <p>В одной карте возможно совмещение нескольких важных и часто используемых функций:</p>
        <ul>
            <li>пропуск на территорию предприятия, электронный ключ для прохода в помещения (визуальная идентификация и встроенная RFID-метка для интеграции со СКУД);</li>
            <li>средство аутентификации при доступе к корпоративным (служебным) системам;</li>
            <li>средство ЭП сотрудника.</li>
        </ul>
    </div>
    <div class="col-6 text-center">
        <img src="{{ asset('images/catalog/jacarta/Laying-Card-op_Black-New-Logo.png') }}" class="img-fluid" width="350" alt="Электронное удостоверение сотрудника" />
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <h4>Платёжная карта НСПК "Мир"</h4>
        <p>В одной карте НСПК "Мир" со встроенным NFC-модулем можно совместить функции:</p>
        <ul>
            <li>платёжной (зарплатной) карты;</li>
            <li>средства ЭП (для ДБО, для работы с порталами госуслуг и другими электронными сервисами);</li>
            <li>транспортного приложения, например, "Тройка".</li>
        </ul>
    </div>
    <div class="col-6 text-center">
        <img src="{{ asset('images/catalog/jacarta/Laying-Card-Mir.png') }}" class="img-fluid" width="350" alt="Платежная карта НСПК Мир" />
    </div>
</div>