<div class="row">
    <div class="col-md-6">
        <p>SIM-модули и микросхемы предназначены для встраивания в различное электронное оборудование в качестве сертифицированного модуля безопасности, обеспечивающего конфиденциальность, некорректируемость, юридическую значимость и подтверждение подлинности источников данных и команд.</p>
        <ul>
            <li><b>SIM</b> &mdash; отчуждаемый модуль для готовых устройств, имеющих свободный слот для SIM-карты.</li>
            <li><b>Микросхемы</b> в различных исполнениях и корпусах &mdash; для монтажа на печатную плату в новых устройствах.</li>
        </ul>
        <p>Кроме того, SIM-модули и микросхемы могут применяться:</p>
        <ul>
            <li>в различном терминальном, навигационном, телематическом и прочем оборудовании;</li>
            <li>для Интернета вещей (IoT);</li>
            <li>для межмашинного взаимодействия (M2M);</li>
            <li>в автоматизированных системах управления технологическими процессами (АСУ ТП).</li>
        </ul>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ asset('images/catalog/jacarta/Embedding_Sim_and_Chip.png') }}" class="img-fluid" alt="SIM-модули и микросхемы JaCarta-2 ГОСТ" />
    </div>
</div>