<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Системы дистанционного банковского обслуживания (ДБО)</li>
            <li>Системы электронного документооборота (ЭДО)</li>
            <li>Электронные торговые площадки (ЭТП)</li>
            <li>Системы сдачи электронной&nbsp;отчётности <span class="text-nowrap">(ФНС, ЕГАИС, ПФР и др.)</span></li>
            <li>Системы таможенного декларирования</li>
            <li>Порталы государственных услуг</li>
            <li>Web-приложения, корпоративные порталы и облачные сервисы</li>
        </ul>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ asset('images/catalog/jacarta/Group-Card_XL_Nano_Micro.png') }}" class="img-fluid" alt="USB-токены и смарт-карты JaCarta-2 ГОСТ" />
    </div>
</div>