<p>Команды для встраивания криптографических функций в прикладное программное обеспечение (ПО) описаны, проверены и включены в разрешённый "белый" список безопасных (сертифицированных) команд, не допускающих криптографически опасных последствий при неправильном встраивании и использовании.</p>
<p>Сертификат ФСБ России № СФ/124-3112 (различные варианты исполнений по классам КС1 и КС2 на соответствие требованиям к СКЗИ и к средствам ЭП) действует до 31 декабря 2018 г., после чего будет продлён, но уже без указания выводимых из обращения старых криптографических алгоритмов ГОСТ Р 34.11-94 и ГОСТ Р 34.10-2001.</p>
<hr>
<div style="font-style: italic">
    <p>Большинство конкурирующих продуктов не имеет "белых" списков криптографических функций и программных интерфейсов, разрешенных для встраивания в прикладное ПО.</p>
    <p>Встраивание таких средств (не имеющих "белых" списков), фактически является созданием нового СКЗИ из компонентов другого (сертифицированного как законченное изделие).</p>
    <p>Такая деятельность требует наличия лицензии ФСБ России на разработку шифросредств, а "сертифицированное" СКЗИ при использовании лишь части его компонентов с нарушением правил пользования сертифицированными не являются.</p>
</div>