{% extends 'base.print.html.twig' %}

{% block body %}
    <div id="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="container footer-links">
            <div class="row">
                <div class="col-9">
                    <p><b>О компании "Аладдин Р.Д."</b></p>
                    <p>"Аладдин Р.Д." — ведущий российский разработчик продуктов и решений для обеспечения информационной безопасности. Компания является экспертом в области аутентификации, электронной подписи и защиты конфиденциальной информации на дисках и в системах управления базами данных.</p>
                    <p>"Аладдин Р.Д." признана лидером российского рынка аппаратных средств аутентификации и электронной подписи и входит в ТОП-10 крупнейших российских ИБ-компаний (CNews Analytics, 2017). Продукты "Аладдин Р.Д." и комплексные решения на их основе используются в банковском, государственно-административном, топливно-энергетическом и других секторах отечественной экономики.</p>
                    <p>Компания имеет все необходимые лицензии ФСТЭК России и ФСБ России и прошла сертификацию менеджмента качества на соответствие российским стандартам ГОСТ Р ИСО 9001-2015.</p>
                    <p>Лидерские позиции "Аладдин Р.Д." подкреплены прочными партнёрскими отношениями с ведущими российскими разработчиками средств защиты информации, а также системными интеграторами и дистрибьюторами.</p>
                </div>
                <div class="col-3">
                    <address>
                        <span class="contact-address">Москва, ул. Докукина, д. 16, стр. 1</span>
                        <span class="contact-email">aladdin@aladdin-rd.ru</span>
                        <span class="contact-phone">+7 (495) 2230001</span>
                    </address>
                </div>
            </div>
        </div>
        <div class="copyright-links">
            <div class="container">
                <span>
                    © 1995 &ndash; {{ "now"|date("Y") }},
                    <a href="http://www.aladdin-rd.ru/" target="_blank">Компания "Аладдин Р.Д."</a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}