<h2>Назначение решения "Крипто БД"</h2>

<p>"Крипто БД" — первая сертифицированная в России система предотвращения утечек информации из высокопроизводительных СУБД Oracle, Microsoft SQL Server, PostgreSQL или Tibero.</p>
<p>"Крипто БД" сертифицирована ФСБ России как средство криптографической защиты информации класса КС1/КС2 (<a href="{{ path('download', {'uuid': '8694e8c3-52b4-49ab-9a20-0afc5cbb4ca9'}) }}">сертификат соответствия № СФ/124-3249</a>) и КС3 (<a href="{{ path('download', {'uuid': '9f9f61ce-04ca-44b4-870f-602c9e52bf4d'}) }}">сертификат соответствия № СФ/124-3472</a>), что позволяет использовать её для защиты информации, не содержащей сведений, составляющих государственную тайну.</p>
<p>Для предотвращения утечек информации в "Крипто БД" используется композитный метод защиты: шифрование таблиц баз данных с применением российских криптографических алгоритмов ГОСТ 28147-89 или ГОСТ Р 34.12-2015 дополняется использованием строгой двухфакторной аутентификации пользователей с помощью USB-токенов или смарт-карт JaCarta. Для неавторизованных пользователей защищаемые данные маскируются (представлены в виде произвольных символов), а действия всех авторизованных пользователей персонализируются и протоколируются, что позволяет проводить аудиты и расследовать инциденты безопасности.</p>
<p>Продвинутая ролевая модель и надёжное разграничение прав доступа исключают возможность компрометации защищаемой информации администраторами СУБД. В "Крипто БД" также предусмотрен контроль целостности собственных библиотек, а также модулей СУБД и операционной системы, что позволяет гарантировать невозможность подмены исполняемого кода (как в оперативной памяти, так и на запоминающих устройствах) администратором СУБД.</p>
<p>Внедрение "Крипто БД" решает проблему защиты конфиденциальной информации как в коммерческих, так и в государственных структурах, применяющих СУБД для работы высоконагруженных систем (инфраструктуры виртуальных рабочих столов, биллинговых систем, систем электронного документооборота, систем бухгалтерского учёта, систем поддержки пользователей, CRM-, ERP-, HR-систем и т.д.). При этом возможность выборочного шифрования столбцов таблиц данных позволяет отказаться от тотального шифрования, экономя вычислительные ресурсы серверов и снижая издержки.</p>
<p>Развёртывание "Крипто БД" не требует доработки или значительных изменений в существующих информационных системах за счёт применения принципа прозрачного встраивания. Приложения, работавшие с незашифрованными данными, после зашифрования таблиц с помощью "Крипто БД" не требуют какой-либо доработки ни на стороне клиентского программного обеспечения, ни на сервере базы данных.</p>
<p>"Крипто БД" включена в Единый реестр российских программ для ЭВМ и БД (
    <a href="https://reestr.minsvyaz.ru/reestr/73523/" target="_blank">№ 509</a>,
    <a href="https://reestr.minsvyaz.ru/reestr/73532/" target="_blank">№ 518</a>,
    <a href="https://reestr.minsvyaz.ru/reestr/125855/" target="_blank">№ 4292</a>,
    <a href="https://reestr.minsvyaz.ru/reestr/125856/" target="_blank">№ 4293</a>
    ) и рекомендуется к закупкам государственными предприятиями и органами власти.</p>

<h2>Общие характеристики и решаемые задачи</h2>

<p>"Крипто БД" — наложенное средство защиты информации, представляющее собой программно-аппаратный комплекс для
    обеспечения конфиденциальности и целостности информации в СУБД посредством криптографической защиты данных. С
    помощью системы "Крипто БД" можно осуществлять селективное (выборочное) шифрование информации, хранящейся в
    логической структуре таблиц СУБД, что существенно снижает нагрузку на аппаратные ресурсы по сравнению, например, с
    шифрованием всех файлов базы данных.
</p>
<p>Являясь наложенным средством защиты информации, система "Крипто БД" не затрагивает штатных механизмов обработки
    информации СУБД. При этом обеспечивается дополнительный контроль доступа к защищённым данным, а также регистрация
    всех операций с ними, независимо от уровня привилегий пользователей СУБД.</p>

<h2>Состав и совместимость системы "Крипто БД"</h2>

<p>Система "Крипто БД" состоит из следующих компонент:</p>
<ul>
    <li>компоненты сервера "Крипто БД";</li>
    <li>консоль управления администратора безопасности;</li>
    <li>коллекторы аудита (опционально).</li>
</ul>

<p>Система "Крипто БД" функционирует на различных платформах распространённых СУБД:</p>
<ul>
    <li>Oracle;</li>
    <li>Microsoft SQL Server;</li>
    <li>PostgreSQL;</li>
    <li>Tibero.</li>
</ul>
<p>Клиентское ПО системы работает под управлением операционной системы Microsoft Windows XP/Vista/7/8/8.1 (32- и
    64-бит).</p>

<h2>Преимущества использования системы "Крипто БД"</h2>

<p>По сравнению со средствами защиты информации, встроенными в СУБД, система "Крипто БД" имеет следующие
    преимущества:</p>
<ul>
    <li>возможность выборочного шифрования отдельных столбцов в таблицах СУБД, что позволяет не снижать
        производительность всей базы данных;
    </li>
    <li>возможность реализации усиленной аутентификации пользователей для доступа к защищённым данным с использованием
        USB-токенов или смарт-карт;
    </li>
    <li>возможность ведения аудита и мониторинга событий доступа к зашифрованным данным;</li>
    <li>наличие средств гибкого централизованного управления ключами шифрования, исключающих возможные
        несанкционированные действия администраторов БД;
    </li>
    <li>простота внедрения в существующие информационные системы без необходимости внесения изменений в программный код.
    </li>
</ul>

<h2 id="cloud-services">Использование "Крипто БД" в облачных средах</h2>

<p>Для защиты персональных данных в системах, предоставляющих "облачные" сервисы, использование функциональности системы
    "Крипто БД" также возможно. Для облачной инфраструктуры (IaaS), такой как хостинг СУБД, применение "Крипто БД" не
    отличается от традиционного. Для сервисов SaaS требуется применение дополнительного компонента &mdash; шифрующего
    прокси.</p>

<p>Подробнее: <a href="{{ path('download', {'uuid': '3aeaac1c-cc17-4b7f-b45f-6d7e39189717'}) }}"
                 title="Скачать справочную информацию" target="_blank">"Крипто БД" в облачных средах</a></p>

<h2>Значение решения "Крипто БД" для российских информационных технологий</h2>

<p>На сегодняшний день платформы СУБД Oracle, Microsoft SQL Server, PostgreSQL и Tibero являются признанными лидерами на российском рынке.
    Обеспечение конфиденциальности информации, хранящейся в этих СУБД, становится одной из приоритетных задач
    большинства российских компаний. Это в полной мере относится и к государственным организациям, которым необходимо
    выполнять требования законодательства по защите персональных данных и конфиденциальной информации.</p>
<p>Компания "Аладдин Р.Д." более семи лет занимается разработкой решений для защиты баз данных. Результатом накопленной
    экспертизы стало предложение рынку уникального продукта &mdash; "Крипто БД". Внедряя данное решение, российские заказчики
    имеют возможность обеспечить надёжное предотвращение утечек информации из СУБД, легко интегрировать
    решение в свою инфраструктуру и при этом выполнять нормы законодательства РФ.</p>

<h2>Порядок лицензирования и стоимость решения</h2>

<p>Порядок лицензирования и стоимость решения зависят от особенностей построения информационной системы заказчика.
    Возможны два основных варианта: лицензирование в клиент-серверных и терминальных приложениях и лицензирование в
    многозвенных приложениях (в качестве тонкого клиента &mdash; браузер).</p>

<p>За подробной информацией и предварительным расчётом стоимости обращайтесь к специалистам "Аладдин Р.Д." по телефону
    +7 (495) 223-0001 или электронной почте <a href="mailto:dealer@aladdin-rd.ru">dealer@aladdin-rd.ru</a>.</p>
