<div class="row mt-4">
    <div class="col-6 mb-4">
        {{ include('catalog/_certificates/sf_124-3249.html.twig') }}
    </div>
    <div class="col-6 mb-4">
        {{ include('catalog/_certificates/sf_124-3472.html.twig') }}
    </div>
</div>