
<ul>
    <li><a href="#faq-01">Работу с какими СУБД поддерживает "Крипто БД"?</a></li>
    <li><a href="#faq-02">Возможно ли применение сертифицированных СКЗИ российских разработчиков (ГОСТовые сертификаты)
            для аутентификации по протоколу SSL в приложениях трёхзвенной архитектуры? </a></li>
    <li><a href="#faq-03">В чём отличие системы "Крипто БД" от зарубежных аналогов? </a></li>
    <li><a href="#faq-04">Какие алгоритмы используются в "Крипто БД" для шифрования данных? </a></li>
    <li><a href="#faq-05">Для каких типов приложений предназначено ПО "Крипто БД"?</a></li>
    <li><a href="#faq-06">Можно ли использовать "Крипто БД" для защиты информации в системах, построенных по трёхзвенной
            архитектуре? </a></li>
    <li><a href="#faq-07">Какие типы данных могут быть защищены при помощи "Крипто БД"? </a></li>
</ul>

<h3 id="faq-01">Работу с какими СУБД поддерживает "Крипто БД"?</h3>
<p>"Крипто БД" поддерживает работу с наиболее распространёнными высокопроизводительными СУБД: Oracle, Microsoft SQL
    Server, PostgreSQL, Tibero.</p>

<h3 id="faq-02">Возможно ли применение сертифицированных СКЗИ российских разработчиков (ГОСТовые сертификаты) для
    аутентификации по протоколу SSL в приложениях трёхзвенной архитектуры?</h3>
<p>Да.</p>

<h3 id="faq-03">В чём отличие системы "Крипто БД" от зарубежных аналогов?</h3>
<p>Система "Крипто БД" является отечественной разработкой и использует российские стандарты криптографической защиты
    данных, что недоступно иностранным разработкам.</p>

<h3 id="faq-04">Какие алгоритмы используются в "Крипто БД" для шифрования данных?</h3>
<p>"Крипто БД" реализует алгоритм шифрования ГОСТ 28147-89 в следующих режимах:</p>
<ul>
    <li>режим простой замены (ECB);</li>
    <li>режим гаммирования (OFM);</li>
    <li>режим гаммирования с обратной связью (CFB);</li>
    <li>режим сцепления блоков (CBC);</li>
    <li>режим простой замены c диверсификацией ключа шифрования (ECB-UKM);</li>
    <li>режим гаммирования c диверсификацией ключа шифрования (OFB-UKM);</li>
    <li>режим гаммирования с обратной связью c диверсификацией ключа шифрования (CFBUKM);</li>
    <li>режим сцепления блоков c диверсификацией ключа шифрования (CBC-UKM);</li>
    <li>режим простой замены с выработкой имитовставки (ECB-MAC);</li>
    <li>режим гаммирования с выработкой имитовставки (Counter mode-MAC);</li>
    <li>режим гаммирования с обратной связью и выработкой имитовставки (CFB-MAC);</li>
    <li>режим сцепления блоков с выработкой имитовставки (CBC-MAC);</li>
    <li>режим простой замены с диверсификацией ключа шифрования и выработкой имитовставки (ECB-MAC-UKM);</li>
    <li>режим гаммирования с диверсификацией ключа шифрования и выработкой имитовставки (OFB-MAC-UKM);</li>
    <li>режим гаммирования с обратной связью, с диверсификацией ключа шифрования и выработкой имитовставки
        (CFB-MAC-UKM);
    </li>
    <li>режим сцепления блоков с диверсификацией ключа шифрования и выработкой имитовставки (CBC-MAC-UKM).</li>
</ul>

<h3 id="faq-05">Для каких типов приложений предназначено ПО "Крипто БД"?</h3>
<p>Система "Крипто БД" может быть использована для защиты информации:</p>
<ul>
    <li>в клиент-серверных приложениях;</li>
    <li>в многозвенных приложениях;</li>
    <li>в системах, использующих терминальный доступ;</li>
    <li>в системах, использующих автоматические процессы для доступа к данным.</li>
</ul>

<h3 id="faq-06">Можно ли использовать "Крипто БД" для защиты информации в системах, построенных по трёхзвенной архитектуре?</h3>
<p>Можно. В ряде случаев следует учитывать, что данный вариант может потребовать доработки ПО приложения.</p>

<h3 id="faq-07">Какие типы данных могут быть защищены при помощи "Крипто БД"?</h3>
<p>"Крипто БД" позволяет шифровать колонки таблиц, содержащие следующие типы данных:</p>
<ul>
    <li>символьные — CHAR, VARCHAR2, NVARCHAR2;</li>
    <li>числовые — NUMBER;</li>
    <li>время/дата — DATE;</li>
    <li>бинарные — RAW;</li>
    <li>большие символьные и бинарные — CLOB, BLOB.</li>
</ul>
