
<p class="text-center lead">Какой смысл иметь множество карт и пропусков,<br>если можно использовать одну &mdash; карту "Электронное удостоверение"?</p>
<p class="text-center"><img src="{{ asset('images/catalog/jacarta_id/WhyID.png') }}" width="600" alt="Электронное удостоверение JaCarta" /></p>
<br>
<p><strong>Электронное удостоверение</strong> – это одна универсальная смарт-карта JaСarta, объединяющая в себе функциональность нескольких карт и пропусков:</p>
<ul>
    <li>пропуск на территорию организации или в помещения; </li>
    <li>средство доступа в информационные системы компании; </li>
    <li>персональное средстве ЭП; </li>
    <li>платёжная или зарплатная карта.</li>
</ul>
<p>Решение предназначено для корпоративных и социальных проектов.</p>

<p>Электронное удостоверение решает следующие задачи:</p>
<ul>
    <li>повышение уровня безопасности (в т.ч. при доступе к строго конфиденциальной информации);</li>
    <li>юридическая значимость электронного документооборота;</li>
    <li>снижение стоимости систем безопасности;</li>
    <li>удобство в использовании и управлении картами;</li>
    <li>соответствие требованиям законодательства.</li>
</ul>

<h3>Функциональность</h3>
<ul>
    <li>Строгая двух- и трёхфакторная аутентификация</li>
    <li>Формирование усиленной квалифицированной ЭП</li>
    <li>Организация доступа в помещения и интеграция со СКУД (возможность интеграции до двух RFID-меток)</li>
    <li>Биометрическая идентификация</li>
    <li>Визуальная идентификация</li>
    <li>Получение заработной платы, оплата транспорта и т.д. (платёжное приложение MasterCard/VISA)</li>
    <li>Хранение ключевой информации и сертификатов</li>
</ul>