
<table class="table">
    <thead>
    <tr>
        <th>Параметр</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Реализованные в чипе российские криптографические алгоритмы и протоколы</td>
        <td><ul>
                <li>ГОСТ Р 34.10-2001 (генерация ключевых пар, формирование и проверка электронной подписи)</li>
                <li>ГОСТ Р 34.11-94 (вычисление значения хэш-функции)</li>
                <li>ГОСТ 28147-89 (только для выработки ключа шифрования и вычисления имитовставки)</li>
                <li>Генерация последовательности случайных чисел</li>
                <li>Выработка ключа парной связи по алгоритму Диффи-Хеллмана согласно RFC 4357</li>
            </ul></td>
    </tr>
    <tr>
        <td>Реализованные западные криптографические алгоритмы</td>
        <td><ul>
                <li>AES</li>
                <li>DES</li>
                <li>3DES</li>
                <li>RSA</li>
                <li>Криптография на эллиптических кривых</li>
            </ul></td>
    </tr>
    <tr>
        <td>Объём защищённой EEPROM-памяти для апплетов и данных</td>
        <td>72 КБ</td>
    </tr>
    <tr>
        <td>Операционная система</td>
        <td>Соответствует открытым спецификациям для смарт-карт Java Card Platform Specification 2.2.1 и Global Platform 2.2.1</td>
    </tr>
    <tr>
        <td>Защищённость микроконтроллера </td>
        <td><ul>
                <li>Микроконтроллер выполнен на базе SecureAVR RISC-архитектуры и имеет эффективные встроенные средства противодействия известным физическим, логическим, переборным, стрессовым и другим атакам в соответствии с требованиями профиля защиты для защиты смарт-карт (Smart Card Protection Profile – SCSUG-SCPP)</li>
                <li>Международные сертификаты соответствия Common Critera EAL4+, CAST</li>
                <li>Является безопасным устройством класса Secure signature creation device и полностью соответствует международным требованиям к устройствам для создания подписи (Директива 1999/93/ЕС - о порядке использования электронных подписей в Европейском Сообществе)</li>
            </ul></td>
    </tr>
    <tr>
        <td>Возможность размещения платёжных приложений</td>
        <td><ul>
                <li>MasterCard (MChip4)</li>
                <li>VISA (VSDC 2.7.1, VSDC 2.8.1)</li>
            </ul></td>
    </tr>
    <tr>
        <td>Поддержка Windows</td>
        <td>Персональные компьютеры, ноутбуки, терминальные станции, серверы с ОС Windows (32/64 бит) – 2000, Vista, Windows 7, 8, Server 2003, 2008, 2012, CE, XP</td>
    </tr>
    <tr>
        <td>Поддержка Mac OS</td>
        <td>Персональные компьютеры, ноутбуки Apple с Mac OS X (Intel 32/64 бит) с версией ОС 10.6+</td>
    </tr>
    <tr>
        <td>Поддержка Linux</td>
        <td>Персональные компьютеры, ноутбуки, терминальные станции с ОС Linux (LSB 3.1, PC 32/64 бит). А также телевизионные приставки, медиаплееры и пр. (архитектура MIPS, например, Dune HD)</td>
    </tr>
    <tr>
        <td>Поддержка Apple iOS </td>
        <td>Мобильные устройства iPhone, iPad, iPod touch c версией ОС не ниже 5.1</td>
    </tr>
    <tr>
        <td>Поддержка Google Android</td>
        <td>Мобильные устройства и терминалы на базе ОС Android с версией ОС не ниже 2.3</td>
    </tr>
    </tbody>
</table>