<h2>Преимущества JaCarta Authentication Server</h2>
<div class="row">
    <div class="col-6">
        <h4>Поддержка аппаратных и программных токенов</h4>
        <p>JAS позволяет использовать для аутентификации как аппаратные, так и программные токены, что даёт возможность применять разные способы аутентификации для разных устройств: OTP- и U2F-токены — для десктопов и ноутбуков, программные токены — для смартфонов и планшетов.</p>
    </div>
    <div class="col-6">
        <h4>Отечественное ПО</h4>
        <p>JAS зарегистрирован в <a href="{{ path('catalog:product', {'product': 'registry'}) }}">Едином реестре российских программ</a> для электронных вычислительных машин и баз данных (№ 2128) и обладает всеми необходимыми функциями для импортозамещения аналогичных разработок иностранных вендоров (например, SAM и SAS).</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <h4>Совместимость</h4>
        <p>JAS совместим с любыми аппаратными и программными токенами, генерирующими OTP по событию (HOTP, согласно RFC 4226), а также любыми U2F-токенами. Для интеграции с прикладным ПО реализована поддержка протоколов RADIUS, REST, WCF и WS-Federation, с SMS-шлюзами — HTTP и SMPP.</p>
    </div>
    <div class="col-6">
        <h4>Поддержка мобильных устройств</h4>
        <p>JAS поддерживает бесплатные приложения для генерации OTP по событию, в том числе Google Authenticator, которое доступно для мобильных устройств на базе операционных систем Google Android, Apple iOS, Microsoft Windows, BlackBerry OS и др. Поддержка SMS-шлюзов позволяет отправлять OTP на мобильные устройства в виде SMS-сообщений.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <h4>Доступные цены</h4>
        <p>Цены на JAS фиксированы в рублях, не зависят от колебаний на валютном рынке и выгодно отличаются от цен на иностранные аналоги. После внедрения JAS оплачивается только техническая поддержка (опционально), позволяющая получать консультации технических специалистов компании "Аладдин Р.Д." и все обновления.</p>
    </div>
    <div class="col-6">
        <h4>Автономность</h4>
        <p>Для полноценной работы JAS не требуется дополнительное ПО, так как в комплект поставки уже включены сервис аутентификации, средства мониторинга, плагины для Microsoft Network Policy Server (NPS) и Microsoft Active Directory Federation Services (AD FS), а также средства управления токенами и пользователями.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <h4>Строгая аутентификация без PKI</h4>
        <p>Поддержка международного стандарта FIDO U2F позволяет построить систему строгой аутентификации без разворачивания инфраструктуры открытых ключей (PKI).</p>
    </div>
    <div class="col-6">
        <h4>Производительность</h4>
        <p>JAS выдерживает значительные нагрузки (свыше 1 000 аутентификаций в секунду на одном сервере), что позволяет использовать его в организациях любого масштаба.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <h4>Масштабируемость</h4>
        <p>Производительность сервера JAS напрямую зависит от производительности процессора (вертикальная масштабируемость). Доступна работа нескольких серверов JAS в одном кластере.</p>
    </div>
    <div class="col-6">
        <h4>Надёжность</h4>
        <p>В JAS реализована поддержка службы кластеров Microsoft Failover Cluster (режим Active/Standby) и репликации базы данных средствами Microsoft SQL Server, что позволяет гарантировать бесперебойность аутентификации.</p>
    </div>
</div>