<p><b>JaCarta Authentication Server (JAS)</b> — автономный высокопроизводительный сервер аутентификации, поддерживающий
    работу как c аппаратными OTP- и U2F-токенами, так и с программными токенами для мобильных устройств, например, с
    Google Authenticator.</p>
<p>Применение JAS позволяет обеспечить надёжную защиту доступа к информационным системам и электронным сервисам, а также
    повысить удовлетворённость и лояльность пользователей из-за упрощения процесса аутентификации. В зависимости от типа
    используемых токенов (OTP, U2F, программные) JAS обеспечивает безопасный доступ к следующим системам и сервисам:</p>
<ul>
    <li>корпоративные системы (CRM, порталы, электронная почта и т.д.), в том числе Microsoft SharePoint и Microsoft
        Outlook Web App;
    </li>
    <li>Web-приложения, сайты и облачные сервисы;</li>
    <li>системы дистанционного банковского обслуживания (ДБО);</li>
    <li>удалённые рабочие столы: Microsoft Remote Desktop Gateway, VMware Horizon View, Citrix XenApp/XenDesktop.</li>
</ul>
<p>
    Встроенные инструменты управления аппаратными и программными токенами значительно упрощают и ускоряют работу
    системных администраторов и офицеров безопасности.
</p>

<div style="background-color: beige;padding: 30px;margin:30px 0">
    <p>OTP — одноразовый пароль (One Time Password). Главное преимущество OTP при его сравнении с обычным статическим
        паролем — невозможность повторного использования.</p>
    <p>По этой причине, даже если злоумышленник перехватит данные сессии аутентификации, он не сможет использовать
        скопированный OTP для получения доступа к защищаемой информационной системе.</p>
    <p>Кроме того, применение OTP избавляет от необходимости запоминать сложные и длинные пароли, что значительно
        облегчает аутентификацию для пользователей корпоративных систем.</p>
    <p>U2F (Universal 2nd Factor) — открытый протокол двухфакторной аутентификации конечных пользователей
        онлайн-сервисов, разработанный ведущими мировыми ИТ-компаниями в рамках организации FIDO Alliance.</p>
    <p>Применение протокола U2F позволяет организовать строгую двухфакторную аутентификацию по U2F-токену без
        разворачивания инфраструктуры открытых ключей (PKI). Пользователь может самостоятельно зарегистрировать свой
        U2F-токен на желаемом Web-ресурсе. При этом один U2F-токен может использоваться для доступа к множеству
        различных Web-ресурсов.</p>
</div>

<p><b>JAS может использоваться:</b></p>
<ul>
    <li>в государственных и коммерческих организациях, нуждающихся в усилении аутентификации пользователей при доступе к
        внешним или внутрикорпоративным системам;
    </li>
    <li>разработчиками систем дистанционного банковского обслуживания (ДБО), корпоративного программного обеспечения
        (ПО) и онлайн-сервисов;
    </li>
    <li>организациями, заинтересованными в импортозамещении аналогичных продуктов иностранных вендоров (например,
        SafeNet Authentication Manager (SAM) и SafeNet Authentication Service (SAS)).
    </li>
</ul>