<h3>Лицензирование</h3>
<ul>
    <li>JAS лицензируется только <b>по количеству токенов</b> (как аппаратных, так и программных).</li>
    <li>Цены на лицензии <b>фиксированы в рублях</b>.</li>
    <li>В рамках одной мажорной версии (1.x) срок действия лицензии <b>не ограничен</b>.</li>
</ul>

<h3>Техническая поддержка</h3>
<ul>
    <li>При покупке JAS предоставляется 12 месяцев базовой технической поддержки.</li>
    <li>Сертификат базовой технической поддержки даёт право на:
        <ul>
            <li>получение обновлений продукта;</li>
            <li>получение консультаций по установке и использованию системы;</li>
            <li>доступ к <a href="https://kbp.aladdin-rd.ru/" target="_blank">Базе знаний</a> по JAS и токенам
                (JaCarta и eToken).</li>
        </ul>
    </li>
    <li>Доступны пакеты технической поддержки на 12, 24 и 36 месяцев.</li>
    <li>Существует возможность приобретения расширенного пакета поддержки, включающего индивидуализированный набор
        дополнительных услуг.</li>
</ul>

<h3>Внедрение</h3>
<ul>
    <li>Для знакомства с JAS доступны демо-версия на 3 месяца и виртуальный демо-стенд.</li>
    <li>Установка и настройка JAS максимально автоматизированы.</li>
    <li>Внедрение и сопровождение JAS могут осуществляться как инженерами компании "Аладдин Р.Д.", так и силами
        сертифицированных специалистов <a href="https://www.aladdin-rd.ru/partners/business" target="_blank">компаний-партнёров</a>.
    </li>
</ul>