<h5>Apple iOS</h5>
<p>Для работы с мобильными устройствами компании Apple необходимо использовать смарт-карты JaCarta PKI и специализированный смарт-карт ридер с разъёмом 30-pin или Lightning, либо беспроводной смарт-карт ридер.</p>
<p>При этом не нужно делать Jailbreak устройства (открывать доступ к файловой системе Apple iOS), нарушающий лицензионное соглашение с компанией Apple и тем самым лишающий пользователя права на техническую поддержку и гарантийные обязательства производителя.</p>

<h5>Google Android</h5>
<p>Для работы с мобильными устройствами с операционной системой Google Android можно использовать любыми устройствами JaCarta PKI. При этом MicroUSB-токены JaCarta PKI можно использовать без каких-либо дополнительных аксессуаров, тогда как для устройств со стандартным USB-разъёмом необходимо использовать переходники MicroUSB-USB, а для смарт-карт — беспроводной смарт-карт ридер с подключением по Bluetooth-интерфейсу.</p>

<h5>Встраивание устройств JaCarta PKI в мобильные приложения</h5>
<p>Разработчикам мобильных приложений доступно бесплатное решение <a href="{{ path('catalog:product', {'product': 'jc-mobile'}) }}">JC-Mobile</a>, позволяющее интегрировать их разработку с устройствами JaCarta PKI. Это позволяет организовать безопасный доступ сотрудников, партнёров и клиентов к сервисам организации со смартфонов и планшетных компьютеров, обеспечить юридическую значимость подписываемых электронных документов и производимых операций, а также гарантировать безопасное хранение ключей и цифровых сертификатов на отчуждаемом модуле безопасности (устройстве JaCarta PKI).</p>
