<h5>Защищённый микроконтроллер</h5>
<p>В отличие от ряда конкурирующих решений, в которых используются микроконтроллеры общего назначения, в JaCarta PKI применяются защищённые смарт-карточные микроконтроллеры (Secure By Design), имеющие встроенные средства защиты от всех известных атак, методов взлома и клонирования, и прошедшие сертификацию в международных лабораториях по CAST и EMV (по требованиям для платёжных систем).</p>
<h5>Аппаратная реализация криптоалгоритмов</h5>
<p>Закрытый ключ, используемый для аутентификации, генерируется и хранится в защищённом микроконтроллере и никогда не покидает его. Это позволяет защитить закрытый ключ от злоумышленников и вредоносного ПО, пытающихся извлечь или перехватить его во время сеанса аутентификации.</p>
<h5>Соответствие международным стандартам</h5>
<p>Используемые в устройствах JaCarta PKI микроконтроллеры и операционная система соответствуют профилям защиты Security IC Platform Protection Profile, версия 1.0, и Java Card™ System Protection Profile. Оценка соответствия выполнена по методике Common Criteria (версия 3.1, ревизия 3). Достигнутый уровень доверия — EAL 5+ (усиленный).</p>