<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="icon icon-64 mr-4" alt="Сертификат соответствия ФСТЭК России № 3449" />
    <b>Сертификат соответствия<br/><a href="{{ path('download', {'uuid': 'ca2e6a34-b1fc-4d67-b5ed-ea384ffca263'}) }}" class="text-nowrap">ФСТЭК России № 3449</a></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выдан на ПК JaCarta 1.5</li>
        <li>Действует до 7 сентября 2021 г.</li>
        <li>Может применяться в АС до класса защищённости 1Г, в ГИС до 1 класса защищённости, в ИСПДн до 1 уровня
            защищённости.
        </li>
    </ul>
</div>