<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="mr-4" />
    <b>Сертификат соответствия<br/><a href="{{ path('download', {'uuid': 'aa71abfa-e060-46e2-9bb3-f1f2e9e7e2f0'}) }}" class="text-nowrap">ФСТЭК России № 2799</a></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выдан на ПАК JaCarta</li>
        <li>Действует до 28 декабря 2018 г.</li>
        <li>Уровень контроля недекларированных возможностей — 4 (НДВ&nbsp;4)</li>
    </ul>
</div>