<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="mr-4" />
    <b>Сертификат соответствия<br/>ФСТЭК России № 3575</b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="list-condensed">
        <li>Выдан на программно-аппаратный комплекс JaCarta SecurLogon</li>
        <li>Действует до 3 июня 2019 г.</li>
        <li>Уровень контроля недекларированных возможностей — 4 (НДВ 4)</li>
        <li>Позволяет применять JaCarta SecurLogon:
            <ul class="list-condensed">
                <li>в ИСПДн до 1 уровня защищённости (УЗ-1);</li>
                <li>в ГИС до 1 класса защищённости;</li>
                <li>в АИС до класса защищённости 1Г.</li>
            </ul>
        </li>
    </ul>
</div>
<div class="text-center">
    <a href="{{ path('download', {'uuid': '4fa2d516-359f-4bd0-8882-7b01776dacd3'}) }}" class="btn btn-outline-primary">Скачать</a>
</div>