<h3 class="text-center mb-4">Международные сертификаты безопасности</h3>
<div class="row small">
    <div class="col-6">
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/cc_logo.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="Common Criteria" />
            Продукция компании "Аладдин Р.Д." имеет международный сертификат на используемые в устройствах JaCarta микроконтроллер (чип) и операционную систему на соответствие профилю защиты Security IC Platform Protection Profile, версия 1.0, и Java Card™ System Protection Profile. Оценка соответствия выполнена по методике Common Criteria (версия 3.1, ревизия 3). Достигнутый уровень доверия — EAL 5+ (усиленный).
        </div>
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/rohs-compliant.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="RoHS" />
            Продукция компании "Аладдин Р.Д." соответствует директиве RoHS (Restriction of Hazardous Substances) Европейского Союза, ограничивающей использование шести опасных для здоровья и окружающей среды веществ в электрическом и электронном оборудовании — свинца, кадмия, ртути, шестивалентного хрома и бромидных соединений.
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/ce-mark-official.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="CE" />
            Продукция компании "Аладдин Р.Д." соответствует требованиям стран Европейского Союза и разрешена для ввоза и применения на их территории.
        </div>
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/fcc-mark-official.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="FCC" />
            Продукция компании "Аладдин Р.Д." не является источником электромагнитных помех, которые могут повлиять на работу другого электронного оборудования, и полностью соответствует международным требованиям в части уровня электромагнитных помех радиоустройствам.
        </div>
    </div>
</div>