<h3 class="text-center mb-4">Прочие сертификаты</h3>
<div class="row small">
    <div class="col-6">
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/rst-mark-official.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="Сертификат Федерального агентства по техническому регулированию и метрологии" />
            <div>
                <p><b>Сертификат Федерального агентства по техническому регулированию и метрологии</b> РОСС RU МЛ04.Н01165 (стойкость ко внешним воздействиям): подтверждает, что аппаратная платформа устройств JaCarta-3:</p>
                <ul>
                    <li>защищена от проникновения в неё влаги при длительном погружении в воду и от пыли (степень защиты IP57 по ГОСТ 14254).</li>
                    <li>сохраняет работоспособность в условиях воздействия температуры окружающей среды от –0 до +70 °C согласно ГОСТ 30630.2.1-2013.</li>
                    <li>защищена от воздействия широкополосной случайной вибрации (степень жёсткости — 4с по ГОСТ 30631-99), а её конструкция и механическая прочность не создают опасностей для человека даже при возможном неосторожном обращении.</li>
                </ul>
            </div>
        </div>
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/eac-mark-official.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="Декларация соответствия" />
            <div><b>Декларация соответствия</b> ЕАЭС № RU Д-RU.МЛ04.В.01073 Требованиям Таможенного союза ТР ТС 020/2011 (электромагнитная безопасность) подтверждает, что аппаратная платформа устройств JaCarta-3 в части собственной помехоустойчивости устройств (ГОСТ CISPR 24-2013) и уровней индустриальных помех от устройств (ГОСТ 30805.22-2013) соответствует требованиям Технического регламента Таможенного союза ТР ТС 020/2011 "Электромагнитная совместимость технических средств".</div>
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/rpn-mark-official.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="Сертификат Роспотребнадзора" />
            <div><b>Сертификат Роспотребнадзора</b> — подтверждает, что аппаратная платформа устройств JaCarta-3 по санитарно-гигиеническим показателям соответствует требованиям и нормам раздела 7 "Требования к продукции машиностроения, приборостроения и электротехники" главы II Единых санитарно-эпидемиологических и гигиенических требований к товарам, подлежащим санитарно-эпидемиологическому надзору (контролю), утверждённых решением Комиссии Таможенного союза от 28.05.2010 г. № 299, и является безопасной для здоровья человека.</div>
        </div>
        <div class="d-flex mb-4">
            <img src="{{ asset('images/certificates/iso-9001.png') }}" style="flex: 0 0 50px;" width="50" height="50" class="mr-4" alt="Система менеджмента качества" />
            <div>
                <p><b>Система менеджмента качества</b> компании "Аладдин Р.Д." соответствует требованиям стандарта <b class="text_nowrap">ГОСТ ISO 9001-2011</b>.</p>
                <p>Завод, осуществляющий контрактное производство печатных плат (комплектующих) и сборку USB-токенов, сертифицирован на соответствие международному стандарту <b class="text_nowrap">ISO 9001:2008</b> и <b class="text_nowrap">ISO 14001:2004</b>.</p>
            </div>
        </div>
    </div>
</div>