<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="icon icon-64 mr-4" alt="Скачать сертификат соответствия ФСБ России № СФ/124-3472" />
    <b>Сертификат соответствия<br /><a href="{{ path('download', {'uuid': '9f9f61ce-04ca-44b4-870f-602c9e52bf4d'}) }}" class="text-nowrap">ФСБ России № СФ/124-3472</a></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выдан на СКЗИ "Крипто БД 2.0" (исполнение 3).</li>
        <li>Действует до 15 августа 2021 г.</li>
        <li>Класс: КС3.</li>
        <li>Может использоваться для криптографической защиты информации, не содержащей сведений, составляющих государственную тайну.</li>
    </ul>
</div>