<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="icon icon-64 mr-4" alt="Скачать сертификат соответствия ФСБ России № СФ/124-2964" />
    <b>Сертификат соответствия<br /><a href="{{ path('download', {'uuid': '7d87194d-f668-4ded-a28c-3b0279ac6e4e'}) }}" class="text-nowrap">ФСБ России № СФ/124-2964</a></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выдан на СКЗИ "Криптотокен 2 ЭП" в составе изделия JaCarta ГОСТ (вариант исполнения 13).</li>
        <li>Действует до 31 декабря 2018 г.</li>
        <li>Класс: КС2.</li>
        <li>Может использоваться для криптографической защиты информации, не содержащей сведений, составляющих государственную тайну.</li>
    </ul>
</div>