<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="icon icon-64 mr-4" alt="Скачать сертификат соответствия ФСБ России № СФ/124-3249" />
    <b>Сертификат соответствия<br /><a href="{{ path('download', {'uuid': '8694e8c3-52b4-49ab-9a20-0afc5cbb4ca9'}) }}" class="text-nowrap">ФСБ России № СФ/124-3249</a></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выдан на СКЗИ "Крипто БД 2.0" (исполнения 1 и 2).</li>
        <li>Действует до 12 декабря 2020 г.</li>
        <li>Класс: КС1/КС2.</li>
        <li>Может использоваться для криптографической защиты информации, не содержащей сведений, составляющих государственную тайну.</li>
    </ul>
</div>