<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="mr-4">
    <b>Сертификат соответствия<br /><a href="{{ path('download', {'uuid': '722f4cc1-71db-4af0-b40c-40a82c5a370c'}) }}" class="text-nowrap">ФСБ России № СФ/111-2750</a></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выдан на средство ЭП и СКЗИ (СКЗИ "Криптотокен ЭП" в составе изделия JaCarta ГОСТ (eToken ГОСТ).</li>
        <li>Действует до 1 декабря 2018 г.</li>
        <li>Классы: КС1, КС2</li>
        <li>Соответствует требованиям 63-ФЗ "Об электронной подписи".</li>
        <li>Может использоваться для реализации функций электронной подписи.</li>
    </ul>
    <p class="small">
        <em>
            В настоящее время проводятся работы по продлению срока действия данного сертификата. Работы по продлению
            планируется завершить до 1 декабря 2018 г. Продлённый сертификат будет действовать как минимум до конца 2019
            г.
        </em>
    </p>
</div>