<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="icon icon-64 mr-4" alt="Сертификаты соответствия ФСБ России № СФ/124-3502 и № СФ/124-3473" />
    <b>Сертификаты соответствия<br/><span class="text-nowrap">ФСБ России <a href="{{ path('download', {'uuid': '3fc62e2e-d983-41b2-8852-c41c3f588448'}) }}">№ СФ/124-3502</a></span> и <a href="{{ path('download', {'uuid': 'fcdeddee-8173-479e-8a55-384061863d81'}) }}" class="text-nowrap">№ СФ/124-3473</a><sup>1</sup></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выданы на средство ЭП и СКЗИ (СКЗИ "Криптотокен 2 ЭП" в составе изделия JaCarta-2 ГОСТ и JaCarta ГОСТ<sup>2</sup> соответственно).</li>
        <li>Действуют до 16 ноября 2020 г.</li>
        <li>Классы: КС1, КС2 (автоматически обеспечивается при использовании АПМДЗ)</li>
        <li>Соответствует требованиям 63-ФЗ и <span class="text-nowrap">Приказа ФСБ России №&nbsp;796</span> к средствам ЭП.</li>
        <li>Может использоваться для формирования усиленной квалифицированной подписи.</li>
    </ul>
    <div class="small">
        <p class="d-flex">
            <sup class="mr-2" style="line-height:1rem;">1</sup>
            <span>Сертификат <span class="text-nowrap">СФ/124-3473</span> выдан в качестве продления для сертификата <span class="text-nowrap">СФ/124-3112</span> с новым номером.</span>
        </p>
        <p class="d-flex">
            <sup class="mr-2" style="line-height:1rem;">2</sup>
            <span>Коммерческое название &mdash; <span class="text-nowrap">JaCarta-2 ГОСТ</span></span>
        </p>
    </div>
</div>