<div class="d-flex align-items-center mb-3">
    <img src="{{ asset('icons/JC-2-07.png') }}" width="64" height="64" class="icon icon-64 mr-4" alt="Скачать сертификат соответствия ФСБ России № СФ/124-2964" />
    <b>Сертификаты соответствия<br />ФСБ России <a href="{{ path('download', {'uuid': '7d87194d-f668-4ded-a28c-3b0279ac6e4e'}) }}" class="text-nowrap">№ СФ/124-2964</a> и <a href="{{ path('download', {'uuid': '75ecdee6-29bd-45c9-aa70-b451327782c2'}) }}" class="text-nowrap">№ СФ/124-3504</a></b>
</div>
<div style="margin-left:5.5rem;" class="mb-4">
    <ul class="small">
        <li>Выданы на СКЗИ "Криптотокен 2" в составе изделия JaCarta ГОСТ (вариант исполнения 13) и на СКЗИ "Криптотокен 2 ЭП" (вариант исполнения 13) соответственно.</li>
        <li>Сроки действия:
            <ul class="list-condensed">
                <li>№ СФ/124-2964 до 31 декабря 2018 г,</li>
                <li>№ СФ/124-3504 до 16 ноября 2020 г.</li>
            </ul>
        </li>
        <li>Класс: КС2.</li>
        <li>Может использоваться для криптографической защиты информации, не содержащей сведений, составляющих государственную тайну.</li>
    </ul>
</div>