<div class="bg-russia section">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Настоящее отечественное&nbsp;ПО</h2>
                <div class="large">
                    <p>JMS&nbsp;SE создана в России, учитывает специфику нашей страны и включена в Единый реестр отечественного ПО (№ 311). Ориентация на российского потребителя позволяет в полной мере удовлетворить его требования, такие, как учёт СКЗИ в соответствии с требованиями ФСБ России.</p>
                    <p>Для клиентов, использующих иностранные системы SafeNet Authentication Manager (SAM) или Token Management System (TMS), доступна простая миграция на JMS&nbsp;SE с сохранением всех настроек и данных.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container position-relative">
    <div class="collapse" id="collapse-block-9" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'made-for-russia'}) }}"></div>
    <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'made-for-russia'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-9">
        <span class="collapse-toggle__label">Узнать больше</span>
        <span class="collapse-toggle__btn"></span>
    </a>
</div>