    <div class="row content-block__container align-items-center">
        <div class="col-6">
            <img src="{{ asset('images/catalog/jms/b7.png') }}" class="img-fluid">
        </div>
        <div class="col-6">
            <h2 class="text-left">Всё тайное станет явным</h2>
            <div class="large">
                <p>JMS&nbsp;SE позволит узнать, что в действительности происходит при эксплуатации инфраструктуры токенов: что делают пользователи и администраторы, к каким ПК подключаются токены и т.д. Система ведёт собственный служебный журнал, что облегчает диагностику неисправностей и разбор конфликтных ситуаций.</p>
                <p>Настраиваемая подсистема отчётов позволит в любой момент получить информацию о всех событиях в системе.</p>
            </div>
        </div>
    </div>
    <div class="row hidden_xs">
        <div class="col-12 collapse" id="collapse-block-7" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'reporting-system'}) }}"></div>

        <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'reporting-system'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-7">
            <span class="collapse-toggle__label">Узнать подробнее про систему</span>
            <span class="collapse-toggle__btn"></span>
        </a>
    </div>