    <div class="row content-block__container align-items-center">
        <div class="col-6">
            <h2 class="text-left">Безопасно и надёжно</h2>
            <div class="large">
                <p>В JMS&nbsp;SE на архитектурном уровне реализованы механизмы безопасности, гарантирующие надёжную защиту инфраструктуры аутентификации и электронной подписи.</p>
                <p>Все значимые данные хранятся в защищённом криптохранилище. Каналы передачи данных шифруются с помощью HTTPS (SSL). Отказоустойчивость обеспечивается технологиями Microsoft Windows Server и резервным копированием базы данных.</p>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="{{ asset('images/catalog/jms/high-security.png') }}" class="img-fluid">
        </div>
    </div>
    <div class="row hidden_xs">
        <div class="col-12 collapse" id="collapse-block-8" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'safety-and-cryptography'}) }}"></div>

        <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'safety-and-cryptography'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-8">
            <span class="collapse-toggle__label">Узнать больше о безопасности</span>
            <span class="collapse-toggle__btn"></span>
        </a>
    </div>