<div class="bg-inverse section">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Соблюдение политик безопасности. Всегда</h2>
                <div class="large">В JMS&nbsp;SE реализовано централизованное управление политиками безопасности в отношении токенов. Для этой цели используется специальная сущность — профили. Профили представляют собой набор правил (политик), применяемых к токенам, пользователям или рабочим станциям. Этот метод позволяет быстро изменять политики безопасности, а также легко применять их ко всем управляемым объектам.</div>
            </div>
        </div>
    </div>
</div>
<div class="container position-relative">
    <div class="collapse" id="collapse-block-4" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'security-compliance'}) }}"></div>
    <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'security-compliance'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-4">
        <span class="collapse-toggle__label text-light">Узнать больше о безопасности</span>
        <span class="collapse-toggle__btn"></span>
    </a>
</div>