    <div class="row content-block__container">
        <div class="col-8 offset-2">
            <h2>Пользователи позаботятся о себе сами</h2>
            <div class="text-large">
                <p>В JMS&nbsp;SE реализован сервис самообслуживания пользователей, который позволяет сотруднику самостоятельно совершать операции с токенами, осуществляя их выпуск, отключение, синхронизацию, блокирование, разблокирование и замену без обращения в ИТ- или ИБ-отдел.</p>
                <p>Это значительно ускоряет время решения возможных проблем и значительно снижает затраты на администрирование инфраструктуры аутентификации и электронной подписи.</p>
            </div>
        </div>
    </div>
    <div class="row hidden_xs">
        <div class="col-12 collapse" id="collapse-block-5" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'self-service'}) }}"></div>

        <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'self-service'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-5">
            <span class="collapse-toggle__label">Узнать больше</span>
            <span class="collapse-toggle__btn"></span>
        </a>
    </div>