    <div class="row content-block__container align-items-center">
        <div class="col-6">
            <h2 class="text-left">100 000 токенов? Легко!</h2>
            <div class="content-block__title large">
                Производительность сервера JMS&nbsp;SE обеспечивает работу более чем с 1&nbsp;000&nbsp;000 токенов. Поддержка филиальной структуры
                позволяет отслеживать перемещение токенов между филиалами и распределять права по администрированию серверов JMS&nbsp;SE между администраторами головного офиса и территориально-удалённых подразделений.
            </div>
        </div>
        <div class="col-6">
            <img src="{{ asset('images/catalog/jms/b6.png') }}" class="img-fluid">
        </div>
    </div>
    <div class="row hidden_xs">
        <div class="col-12 collapse" id="collapse-block-6" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'server-performance'}) }}"></div>

        <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'server-performance'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-6">
            <span class="collapse-toggle__label">Узнать больше о лёгкости</span>
            <span class="collapse-toggle__btn"></span>
        </a>
    </div>