<div class="bg-token-registration section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
                <h2>Все токены на учёте</h2>
                <div class="text-large">
                    <p>JMS&nbsp;SE позволяет автоматизировать учёт токенов JaCarta, eToken и Рутокен, в том числе сертифицированных ФСБ России как СКЗИ или обладающих несколькими функциями. Учитываются владелец, номер, модель, а также объекты на токене и рабочие станции, использующие токены.</p>
                    <p>Для оформления бумажных документов, таких как отчёты и заявки на выдачу токена, в JMS&nbsp;SE реализована встроенная подсистема печати.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container position-relative">
    <div class="collapse" id="collapse-block-2" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'token-registration'}) }}"></div>
    <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'token-registration'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-2">
        <span class="collapse-toggle__label">Узнать больше подробностей</span>
        <span class="collapse-toggle__btn"></span>
    </a>
</div>