<div class="row">
    <div class="col-sm-6">
        <h2 class="text-left">Полный контроль<br>от выпуска до отзыва</h2>
        <div class="large">JMS&nbsp;SE позволяет полностью управлять всем жизненным циклом токенов, включая выдачу, перевыпуск и отзыв токенов и всех связанных с ними объектов (сертификатов, ключей, меток АПМДЗ и т.д.). Автоматическая синхронизация токенов и поддержка популярных Удостоверяющих центров позволяют мгновенно приводить текущий парк токенов в актуальное состояние.</div>
    </div>

    <div class="col-sm-6">
        <img src="{{ asset('images/catalog/jms/screenshots/registry.png') }}" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12 collapse" id="collapse-block-3" data-remote="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'total-control'}) }}"></div>

    <a href="{{ path('catalog:product:page', {'product': 'jms_se', 'page': 'total-control'}) }}" class="collapse-toggle" data-toggle="collapse" data-target="#collapse-block-3">
        <span class="collapse-toggle__label">Узнать больше о контроле</span>
        <span class="collapse-toggle__btn"></span>
    </a>
</div>