<div class="row py-4">
    <div class="col-6">
        <h3>Участник Реестра отечественного ПО</h3>
        <p>JMS&nbsp;SE — первая система управления жизненным циклом токенов, зарегистрированная в <a href="https://reestr.minsvyaz.ru/reestr/69445/" target="_blank">Едином реестре отечественного ПО (№ 311)</a> и рекомендуемая к закупкам государственными предприятиями и органами власти (при наличии отечественного решения структуры, финансируемые из российского бюджета, не могут приобретать аналогичное по функциям импортное ПО).</p>
    </div>
    <div class="col-6">
        <h3>Развитие под требования заказчика</h3>
        <p>"Аладдин Р.Д." — единственный российский вендор, производящий как собственные токены (JaCarta), так и систему управления ими (JMS&nbsp;SE). Это обеспечивает гарантированную совместимость этих продуктов, а также позволяет Заказчику предлагать новые функции и влиять на дальнейшее развитие JMS&nbsp;SE и токенов JaCarta.</p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Учёт российской специфики</h3>
        <p>JMS&nbsp;SE разработана российскими программистами для решения задач и проблем российских заказчиков, внесена в Единый реестр отечественного ПО и сертифицирована ФСТЭК России.</p>
        <p>Уникальные возможности системы по автоматическому учёту всех СКЗИ (как аппаратных, так и программных) и ключевых документов позволяют соблюсти все требования ФСБ России по учёту СКЗИ и выгодно отличают JMS&nbsp;SE от иностранных аналогов.</p>
    </div>
    <div class="col-6">
        <h3>Поддержка миграции с SAM и TMS</h3>
        <p>Для организаций, столкнувшихся с запретом на использование иностранного ПО или техническими ограничениями, присущими западным решениям, в JMS&nbsp;SE предусмотрен механизм простой и быстрой миграции с SAM/TMS с сохранением всех ранее введённых данных и настроек. При этом не требуется менять уже работающую инфраструктуру, вносить изменения в AD и перестраивать налаженные бизнес-процессы.</p>
        <p>Перенос данных пользователей и информации о выпущенных токенах и сертификатах может осуществляться поэтапно, а обе системы (JMS&nbsp;SE и SAM/TMS) могут работать одновременно.</p>
    </div>
</div>