<div class="row py-4">
    <div class="col-6">
        <h3>Бессрочные лицензии</h3>
        <p>JMS&nbsp;SE лицензируется только по количеству пользователей, токенами которых управляет система. В рамках одной версии срок действия лицензии не ограничен. Лицензия даёт право использовать стандартные функции продукта и добавлять в JMS&nbsp;SE новых пользователей, пока их число не превысит лимит лицензии.</p>
        <p>Такие условия выгодно отличают JMS&nbsp;SE от конкурирующих решений и позволяют значительно снизить стоимость внедрения и эксплуатации системы.</p>
    </div>
    <div class="col-6">
        <h3>Быстрые установка и настройка</h3>
        <p>Внедрение JMS&nbsp;SE максимально сжато во времени. Это достигается за счёт автоматизации процесса установки и настройки, а также ряда уникальных возможностей, таких, как пакетная регистрация и взятие под управление выпущенных ранее токенов.</p>
        <p>По опыту Пенсионного фонда России после тестирования и настройки JMS&nbsp;SE в пилотной зоне процесс внедрения системы в каждом из филиалов ПФР в среднем занимал всего 3 рабочих дня.</p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Фиксированные рублёвые цены</h3>
        <p>В отличие от зарубежных систем управления жизненным циклом токенов цены на лицензии JMS&nbsp;SE фиксированы в рублях и не зависят от изменений на валютном рынке. Лицензии можно докупать поштучно, что позволяет гибко планировать развитие JMS&nbsp;SE. Дополнительные возможности лицензируются отдельно, что позволяет оптимизировать затраты и спланировать постепенное развитие системы.</p>
    </div>
    <div class="col-6">
        <h3>Год техподдержки включен в стоимость</h3>
        <p>При приобретении JMS&nbsp;SE Заказчику бесплатно предоставляется сертификат на 12 месяцев базовой технической поддержки. Сертификат даёт право на получение всех обновлений продукта, получение консультаций по установке и использованию системы, а также доступ к Базе знаний по JMS&nbsp;SE и токенам JaCarta.</p>
    </div>
</div>