<div class="row py-4">
    <div class="col-6">
        <h3>Криптохранилище для важных данных</h3>
        <p>Для безопасного хранения критически важных данных, таких, как закрытые ключи и PIN-коды, в JMS&nbsp;SE реализован специальный виртуальный объект — Криптохранилище. Оно создаётся в процессе первоначальной настройки системы и является областью базы данных JMS&nbsp;SE. Информация, хранящаяся в Криптохранилище, зашифрована и недоступна для администраторов и пользователей.</p>
    </div>
    <div class="col-6">
        <h3>Отказоустойчивость и резервное копирование</h3>
        <p>В JMS&nbsp;SE поддерживаются кластерные технологии Microsoft Windows Server и резервное копирование выпущенных объектов, общих настроек системы и профилей выпуска объектов, что позволяет обеспечить высокий уровень надёжности и катастрофоустойчивости. Функция резервного копирования также даёт возможность перевыпускать токены со старыми сертификатами.</p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Использование защищённых каналов</h3>
        <p>Для обеспечения защиты от перехвата информации передача данных между Сервером JMS&nbsp;SE и Консолью управления JMS&nbsp;SE, а также Сервером JMS&nbsp;SE и Клиентом JMS&nbsp;SE, осуществляется в зашифрованном виде с помощью протокола HTTPS (SSL). Это позволяет надёжно защитить передаваемую информацию от изменения или перехвата.</p>
    </div>
    <div class="col-6"></div>
</div>