<div class="row py-4">
    <div class="col-6">
        <h3>Централизованное управление политиками</h3>
        <p>JMS&nbsp;SE позволяет централизованно управлять политиками информационной безопасности в отношении токенов. Для этого в системе реализованы "профили" — наборы политик, применяемых к токену, рабочему месту, пользователю или к их группе (например, отделу). При изменении профилей JMS&nbsp;SE автоматически приведёт токены в соответствии с новыми параметрами профиля.</p>
        <p>Таким образом, при использовании JMS&nbsp;SE к токенам всегда применяются актуальные политики, а офицеры безопасности освобождаются от рутинной работы и могут заняться более важными делами.</p>
    </div>
    <div class="col-6">
        <h3>Исключение "человеческого фактора"</h3>
        <p>Применение JMS&nbsp;SE позволяет исключить риск человеческой ошибки за счёт автоматизации рутинных операций по администрированию токенов. Для этого используются система профилей, автоматическая синхронизация токенов и интеграция с Удостоверяющими центрами.</p>
        <p>В результате можно быть уверенным в том, что при изменении политик безопасности все действия по актуализации токенов были произведены безупречно.</p>
    </div>
</div>
<div class="row pb-4">
    <div class="col-6">
        <h3>Снижение затрат на администрирование</h3>
        <p>Благодаря своим возможностям JMS&nbsp;SE повышает качество и скорость работы ИТ- и ИБ-служб организации, сокращая временные и эксплуатационные затраты на внедрение и поддержку инфраструктуры токенов.</p>
        <p>Для получения методики расчёта экономического эффекта от внедрения JMS&nbsp;SE обращайтесь к партнёрам компании "Аладдин Р.Д." или её представителям.</p>
    </div>
    <div class="col-6">
        <h3>Исключение простоя в работе пользователей</h3>
        <p>Автоматическая синхронизация токенов с помощью JMS&nbsp;SE позволяет максимально сократить время простоя пользователей из-за периодического изменения политик информационной безопасности. Пользователю достаточно подключить токен к рабочему месту, на котором установлен Клиент JMS&nbsp;SE, после чего токен автоматически синхронизируется с базой данных JMS&nbsp;SE и будет готов к работе.</p>
    </div>
</div>