<div class="row py-4">
    <div class="col-6">
        <h3>Меньше администрирования</h3>
        <p>Сервис самообслуживания позволяет кардинально сократить время, затрачиваемое ИТ-персоналом на администрирование парка токенов, так как у пользователя появляется инструмент для самостоятельного решения простых рутинных вопросов, не требующих высокой квалификации, но отнимающих значительное время на их решение.</p>
        <p>Теперь администратору не нужно забирать токены для обновления сертификатов или разблокирования — всё это легко может сделать пользователь непосредственно на своём рабочем месте.</p>
    </div>
    <div class="col-6">
        <h3>Повышение комфорта пользователей</h3>
        <p>Сервис самообслуживания JMS&nbsp;SE значительно улучшает пользовательский опыт использования токенов, так как упрощает проведение операций и позволяет существенно снизить время простоя сотрудника в ожидании необходимых действий ИТ-специалиста.</p>
        <p>Токен перестаёт быть обузой, эксплуатация которого связана с потерей рабочего времени пользователя, и превращается в реальный инструмент повышения уровня информационной безопасности.</p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Больше времени для работы</h3>
        <p>Благодаря сервису самообслуживания JMS&nbsp;SE пользователи могут избежать простоев в своей работе, так как могут быстро решить большинство вопросов, связанных с эксплуатацией токенов. К ним относятся выпуск, отключение, блокирование и разблокирование токена, актуализация сертификатов и смена PIN-кода.</p>
    </div>
    <div class="col-6">
        <h3>Самостоятельный выпуск токенов</h3>
        <p>JMS&nbsp;SE позволяет сотрудникам осуществлять самостоятельный выпуск токенов. При этом в момент выпуска на токен автоматически будут записаны все необходимые объекты в соответствии с актуальной политикой информационной безопасности, утверждённой в организации.</p>
        <p>Самостоятельный выпуск токенов позволяет сэкономить значительное количество времени как сотруднику, так и офицерам безопасности, тем самым сокращая непроизводственные затраты и увеличивая производительность труда.</p>
    </div>
</div>