<div class="row py-4">
    <div class="col-6">
        <h3>Пакетная регистрация токенов</h3>
        <p>В JMS&nbsp;SE реализована уникальная функция — пакетная регистрация токенов JaCarta. С каждой партией токенов JaCarta предоставляется специальный файл, позволяющий за несколько минут автоматически внести в систему всю необходимую информацию (номера чипов, СКЗИ и корпусов). При этом сами токены даже не нужно вынимать из коробки.</p>
        <p>Имеется возможность самостоятельного создания файла пакетной регистрации для ранее закупленных токенов.</p>
    </div>
    <div class="col-6">
        <h3>Дружелюбный графический интерфейс</h3>
        <p>Консоль управления JMS&nbsp;SE предоставляет удобный и интуитивно-понятный графический интерфейс для администрирования пользователей, токенов, сертификатов, СКЗИ, политик безопасности и планов обслуживания. Все функции по управлению и учёту токенов сосредоточены в одном месте, что избавляет от необходимости работы в нескольких не связанных между собой приложениях.</p>
        <p>Для большего удобства администрирования JMS&nbsp;SE может использоваться упрощённый режим Консоли управления JMS&nbsp;SE, скрывающий все объекты и элементы управления, на которые у администратора нет прав. </p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Работа с ранее выпущенными токенами</h3>
        <p>JMS&nbsp;SE позволяет автоматически включить в работу ранее выпущенные токены и избежать проблем, связанных с их повторной инициализацией (например, когда невозможно читать старые почтовые сообщения из-за удаления ключей шифрования на токене). При этом все выпущенные объекты сохраняются на токене. </p>
    </div>
    <div class="col-6">
        <h3>Сертифицированный обучающий курс</h3>
        <p>Для изучения возможностей JMS&nbsp;SE в Учебном Центре "Информзащита" организован специализированный курс, ориентированный на системных архитекторов, системных администраторов, администраторов информационной безопасности и специалистов служб технической поддержки. По результатам тестирования слушателям могут быть выданы сертификаты "Инженер по внедрению JMS&nbsp;SE" и "Специалист по эксплуатации JMS&nbsp;SE".</p>
    </div>
</div>
<div class="row py-4">
    <div class="col-6">
        <h3>Простая установка и настройка</h3>
        <p>В отличие от остальных систем управления жизненным циклом токенов установка и настройка JMS&nbsp;SE максимально автоматизированы и осуществляются с помощью Мастера. Это позволяет значительно сократить время развёртывания системы и осуществить его за несколько рабочих дней.</p>
    </div>
    <div class="col-6">
        <h3>Гибкость в настройке и модификации</h3>
        <p>Вместе с JMS&nbsp;SE предоставляется открытый API, позволяющий интегрировать её с другими информационными системами. Например, обеспечить управление пользователями JMS&nbsp;SE из другой системы, организовать экспорт списка пользователей и рабочих станций в JMS&nbsp;SE, создавать собственное клиентское ПО и так далее.</p>
    </div>
</div>