<div class="row">
    <div class="col-4">
        <h3>Автоматическая синхронизация токенов</h3>
        <p>JMS&nbsp;SE позволяет освободить персонал от рутинных сервисных операций с токенами за счёт их автоматизации. В случае обновления политик ИБ или истечения срока действия сертификатов JMS&nbsp;SE сама перевыпустит сертификаты и применит все совершённые изменения к токену.</p>
        <p>В результате пользователи избавляются от составления заявок и простоев в работе, а офицеры безопасности могут уделить освободившееся время решению других задач.</p>
    </div>
    <div class="col-4">
        <h3>Поддержка популярных Удостоверяющих центров</h3>
        <p>JMS&nbsp;SE поддерживает работу с популярными Удостоверяющими центрами, такими, как Microsoft CA, ViPNet 4.6, КриптоПро 1.5 и 2.0, Валидата 1.0.</p>
        <p>Это позволяет совершать выпуск, перевыпуск и отзыв сертификатов для токенов в автоматическом режиме, что значительно сокращает временные и финансовые затраты на администрирование инфраструктуры токенов.</p>
    </div>
    <div class="col-4">
        <h3>Резервное копирование сертификатов</h3>
        <p>JMS&nbsp;SE может сохранять профили выпуска объектов, копии выпущенных объектов, а также общие настройки системы. Это позволяет гарантировать их сохранность и записывать старые сертификаты из резервной копии на новые токены.</p>
        <p>JMS&nbsp;SE также даёт возможность импортировать резервные копии закрытых ключей и сертификатов из внешних ресурсов (например, из Microsoft CA Key Recovery Agent).</p>
    </div>
</div>