<h2>Кастомизация</h2>

<div class="row">
    <div class="col-4">
        <h3>Интеграция со СКУД</h3>
        <p>В смарт-карты и USB-токены {{ title }} в корпусе XL могут быть встроены пассивные радиометки (RFID-метки) для
            контроля физического доступа в помещения, что позволяет использовать их совместно с системами контроля и
            управления доступом (СКУД), бесконтактными "электронными проходными", системами учёта рабочего времени
            персонала и другими системами, поддерживающими RFID-метки. Для USB-токенов также можно использовать навесной
            брелок с RFID-меткой.</p>
    </div>
    <div class="col-4">
        <h3>Нанесение логотипа Заказчика</h3>
        <p>На токены {{ title }} можно нанести логотип Заказчика. Рекомендуемый способ нанесения логотипа — тампопечать.
            Альтернативный метод — лазерная гравировка (цвет логотипа на корпусе — серый на чёрном фоне). </p>
    </div>
    <div class="col-4">
        <h3>Различные цвета корпуса</h3>
        <p>Для USB-токенов {{ title }} существует возможность изменить основной цвет корпуса и вставки. Рекомендуемые
            цвета для корпуса токена — тёмные, для вставки — белый (или светлые цвета). Колпачок на разъём рекомендуется
            делать в цвет корпуса. Минимальный заказ — <span class="text-nowrap">от 5 000 шт.</span></p>
    </div>
</div>