{% set items = [
    {
        'image': 'Mobile-Sign.svg',
        'alt': 'Формирование и проверка усиленной квалифицированной ЭП',
        'description': 'Формирование и проверка усиленной квалифицированной ЭП с неизвлекаемым ключом для прикладных систем (ЭДО, ДБО, и т.д.), Web-приложений и облачных сервисов'
    },
    {
        'image': 'Computer-Lock-Pin.svg',
        'alt': 'Строгая двухфакторная аутентификация пользователей',
        'description': 'Строгая двухфакторная аутентификация пользователей в защищённых информационных системах (с применением зарубежных криптоалгоритмов)'
    },
    {
        'image': 'Integrity-Lock.svg',
        'alt': 'Обеспечение целостности и конфиденциальности данных',
        'description': 'Обеспечение целостности и конфиденциальности передаваемых данных с помощью шифрования и имитовставки по ГОСТ 28147-89'
    },
    {
        'image': 'Safe-Box.svg',
        'alt': 'Безопасное хранение пользовательских данных',
        'description': 'Безопасное хранение пользовательских данных и объектов (паролей, цифровых сертификатов, ключевых контейнеров популярных программных СКЗИ) в собственной защищённой энергонезависимой памяти (EEPROM).'
    }
] %}
<div class="row mt-4">
    {% for item in items %}
        <div class="col-6 mb-4">
            <div class="d-flex">
                <img src="{{ asset('icons/' ~ item.image) }}" class="icon icon-64 mr-4" width="64" height="64" alt="{{ item.alt }}" />
                <div>{{ item.description }}</div>
            </div>
        </div>
    {% endfor %}
</div>