<p>iButton &mdash; это семейство микроэлектронных устройств, разработанных фирмой Dallas Semiconductor, USA (в настоящее время выпускаемых фирмой Maxim).</p>

<p>Каждое устройство iButton заключено в стальной герметичный цилиндрический корпус и имеет уникальный номер (ID), записываемый в процессе изготовления.</p>

<p>Все устройства iButton помещаются в стальной цилиндрический корпус <b>MicroCan</b>, выполнены по жестким стандартам и выдерживают серьезные механические и температурные нагрузки. </p>

<p><b>Обмен данными</b> с iButton производится через интерфейс 1-Wire. Информация в этом интерфейсе передается по единственному проводнику. Питание iButton получают из этого же проводника, заряжая внутренний конденсатор в моменты, когда на шине нет обмена данными.</p>

<p>Скорость обмена достаточна для обеспечения передачи данных в момент касания контактного устройства.</p>

<p><b>Для подключения</b> iButton к компьютеру компанией "Аладдин Р.Д." выпускаются <a href="{{ path('catalog:product:page', {'product': 'ibutton', 'page': 'readers'}) }}" title="Считыватели для iButton">считыватели</a> (адаптеры), преобразующие сигналы стандартных портов компьютера (RS232, USB) в сигналы 1-Wire.</p>

<p><a href="{{ path('catalog:product:page', {'product': 'ibutton', 'page': 'holders'}) }}" title="Брелки-держатели для iButton">Брелки-держатели</a> позволяют надежно закрепить "таблетку" iButton.</p>