<table width="99%" cellspacing="0" cellpadding="5" border="1">
    <colgroup>
        <col width="60" />
        <col span="3" />
    </colgroup>
    <thead>
    <tr>
        <th>Тип</th>
        <th>Наименование</th>
        <th>Объем памяти</th>
        <th>Особенности</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>DS-1990</td>
        <td>Электронный идентификатор Touch Serial Number</td>
        <td>0</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>DS-1991</td>
        <td>Электронный ключ с защищенной памятью Touch MultiKey</td>
        <td>4 страницы по 48 байт</td>
        <td>Первые три страницы имеют защиту от доступа<br /><em>Снята с производства, рекомендуем заменять на DS-1977</em></td>
    </tr>
    <tr>
        <td>DS-1992</td>
        <td>Электронный ключ с памятью 1К-бит Touch Memory 1K-bit</td>
        <td>4 страницы по 32 байта</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>DS-1993</td>
        <td>Электронный ключ с памятью 1К-бит Touch Memory 4K-bit</td>
        <td>16 страниц по 32 байта</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>DS-1994</td>
        <td>Электронный ключ с памятью 1К-бит Touch Memory 4K-bit</td>
        <td>16 страниц по 32 байта</td>
        <td>Дополнительно часы/календарь реального времени</td>
    </tr>
    <tr>
        <td>DS-1995</td>
        <td>Электронный ключ с памятью 1К-бит Touch Memory 16K-bit</td>
        <td>64 страницы по 32 байта</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>DS-1996</td>
        <td>Электронный ключ с памятью 1К-бит Touch Memory 64K-bit</td>
        <td>256 страниц по 32 байта</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>DS-1977</td>
        <td>Электронный ключ с защищенной памятью Touch MultiKey</td>
        <td>4 страницы по 48 байт</td>
        <td>Первые три страницы имеют защиту от доступа<br /><em>Рекомедуется для замены устаревшей модели DS-1991</em></td>
    </tr>
    </tbody>
</table>

<p>48-битный уникальный серийный номер, присваиваемый методом &quot;прожигания&quot; лазером при изготовлении чипа. Первый байт ROM-памяти содержит код семейства, восьмой байт &ndash; CRC первых семи байт.</p>
