<table width="100%" cellspacing="0" cellpadding="5" border="1">
    <tbody>
    <tr>
        <td><b>Размер EEPROM-памяти</b></td>
        <td>0 - 8192 байт (в зависимости от модели)</td>
    </tr>
    <tr>
        <td><b>Рабочий диапазон температур</b></td>
        <td>От -40&deg;С до +70&deg;C</td>
    </tr>
    <tr>
        <td><b>Температура хранения</b></td>
        <td>От -55&deg;C до +85&deg;C</td>
    </tr>
    <tr>
        <td><b>Используемый интерфейс</b></td>
        <td>1-Wire</td>
    </tr>
    <tr>
        <td><b>Мин. время записи/стирания</b></td>
        <td>5 мс</td>
    </tr>
    <tr>
        <td><b>Рабочее напряжение питания</b></td>
        <td>0,5 В - 7 В</td>
    </tr>
    <tr>
        <td><b>Долговечность</b></td>
        <td>1 000 000 циклов</td>
    </tr>
    <tr>
        <td><b>Срок хранения данных в памяти</b></td>
        <td>10 лет</td>
    </tr>
    <tr>
        <td><b>Макс. потребляемый ток</b></td>
        <td>5 мкА</td>
    </tr>
    <tr>
        <td><b>Устройства чтения</b></td>
        <td><a href="{{ path('catalog:product:page', {'product': 'ibutton', 'page': 'readers'}) }}">Считыватели iButton</a></td>
    </tr>
    <tr>
        <td><b>Назначение</b></td>
        <td>Системы идентификации</td>
    </tr>
    </tbody>
</table>