<h2>Назначение</h2>

<p>ПК JaCarta 1.5 — сертифицированный ФСТЭК России программный комплекс (ПК) аутентификации и безопасного хранения
    информации пользователей. Является программным средством защиты информации от несанкционированного доступа.</p>
<p>ПК JaCarta 1.5 выполняет следующие функции:</p>
<ul>
    <li>многофакторная аутентификация пользователей и администраторов в информационных системах;</li>
    <li>управление средствами аутентификации;</li>
    <li>управление доступом субъектов доступа к объектам доступа.</li>
</ul>
<p>ПК JaCarta 1.5 предназначен для защиты информации, не содержащей сведений, составляющих государственную тайну, и
    может применяться:</p>
<ul>
    <li>в автоматизированных системах до класса защищенности 1Г включительно;</li>
    <li>в государственных информационных системах до 1 класса включительно;</li>
    <li>в информационных системах персональных данных до 1 уровня защищённости включительно.</li>
</ul>

<h2>Состав</h2>
<ul>
    <li><a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}">ПК "Единый Клиент JaCarta"</a></li>
    <li>ПО в составе электронных ключей:
        <ul>
            <li>JaCarta PKI;</li>
            <li>JaCarta PKI/Flash;</li>
            <li>JaCarta ГОСТ;</li>
            <li>JaCarta ГОСТ/Flash;</li>
            <li>JaCarta PKI/ГОСТ;</li>
            <li>JaCarta PKI/ГОСТ/Flash;</li>
            <li>JaCarta PKI/BIO;</li>
            <li>JaCarta LT;</li>
            <li>JaCarta WebPass.</li>
        </ul>
    </li>
</ul>