<h5>Защита от атак на PIN-код</h5>
<p>В первом поколении устройств (JaCarta ГОСТ, eToken ГОСТ) если Администратор забывал, не устанавливал или случайно блокировал свой PIN-код, сбросить забытый PIN-код пользователя было нельзя, и такое заблокированное устройство можно было выбрасывать.</p>
<p>В новом поколении устройств (JaCarta-2 SE) PIN-код администратора <b>заменён ключом администратора безопасности</b> — случайно или умышленно заблокировать токен теперь нельзя.</p>
<p>Забытый PIN-код пользователя Администратор теперь всегда может сбросить с использованием сертифицированного АРМа администратора безопасности JaCarta-2 SE. При этом все данные (объекты, файлы, PIN- и PUK-коды и др.) будут удалены, а устройство JaCarta-2 SE можно будет вернуть в эксплуатацию.</p>

<h5>Защита от блокирования устройства</h5>
<p>Обычно все токены и смарт-карты блокируются после ввода заданного количества неверных значений PIN-кода – это их нормальное поведение для защиты от атак на PIN-код методом перебора.</p>
<p>Для защиты от DoS-атак на PIN-коды в новом устройстве JaCarta-2 SE реализован <b>автоматический сброс</b> счётчиков попыток ввода неверного PIN- и PUK-кодов <b>через установленный промежуток времени</b>, после которого пользователю будет достаточно просто ввести правильное значение PIN-кода.</p>
<p>Эти механизмы кардинально решают проблему разблокирования устройств и атак на PIN-коды.</p>

<hr>

<div style="font-style: italic">
    <p>Все конкурирующие аналоги подвержены атаке со сменой PIN-кода на случайное значение, приводящей к блокированию устройства и выводу его из строя.</p>
</div>
