[
    {
        "image": "icons/JC-2-07.png",
        "title": "Сертифицировано по новым требованиям ФСБ России",
        "description": "<p>СКЗИ в составе <span class=\"text-nowrap\">JaCarta-2 SE</span> сертифицировано по новым требованиям ФСБ России и является функционально законченным и криптографически безопасным.</p>",
        "name": "certified"
    },
    {
        "image": "icons/JC-2-28.png",
        "title": "Надёжность и качество",
        "description": "<p>При проектировании и производстве новых устройств <span class=\"text-nowrap\">JaCarta-2 SE</span> инженеры компании учли весь накопленный 20-ти летний опыт и сделали их ещё лучше и надёжнее.</p>",
        "name": "quality"
    },
    {
        "image": "icons/JC-2-13.png",
        "title": "Дополнительный PIN-код на операцию формирования ЭП",
        "description": "<p><span class=\"text-nowrap\">JaCarta-2 SE</span> позволяет установить два разных PIN-кода: PIN-код пользователя &mdash; для аутентификации пользователя и PIN-код подписи &mdash; для формирования ЭП (опционально).</p>",
        "name": "pin"
    },
    {
        "image": "icons/JC-2-16.png",
        "title": "Новые механизмы разблокирования устройств",
        "description": "<p><span class=\"text-nowrap\">JaCarta-2 SE</span> предоставляет новые механизмы восстановления работоспособности: самостоятельное (PUK-код) и удалённое разблокирования устройства с помощью Администратора.</p>",
        "name": "puk"
    },
    {
        "image": "icons/JC-2-09.png",
        "title": "Новые механизмы защиты от атак и блокирования",
        "description": "<p>В новом устройстве <span class=\"text-nowrap\">JaCarta-2 SE</span> реализованы защита от атак на PIN-код и от блокирования устройства, a PIN-код Администратора заменён ключом администратора безопасности.</p>",
        "name": "blocking"
    },
    {
        "image": "icons/JC-2-01.png",
        "title": "Больше доступной памяти",
        "description": "<p>В новой линейке <span class=\"text-nowrap\">JaCarta-2 SE</span> появилась модель с увеличенным объёмом защищённой памяти &mdash; теперь для безопасного хранения ключей, кодов авторизации, сертификатов и других объектов доступно до 114 КБайт энергонезависимой памяти (EEPROM).</p>"
    },
    {
        "image": "icons/1-16.png",
        "title": "Повышенный ресурс и живучесть",
        "description": "<p>Устройства <span class=\"text-nowrap\">JaCarta-2 SE</span> проектировались с учётом возможностей применения в различных автоматизированных системах (ЕГАИС), а также АСУ ТП, М2М, IoT и прочие, и имеют повышенный ресурс по количеству циклов записи в EEPROM-память и выполняемых операций ЭП.</p><p>В частности, <b>количество операций формирования ЭП составляет не менее 10 млн</b>.</p>"
    },
    {
        "image": "icons/JC-2-10.png",
        "title": "Защита от взлома и клонирования",
        "description": "<p><b>Secure By Design</b> — устройства <span class=\"text-nowrap\">JaCarta-2 SE</span> сконструированы как безопасные и для целей обеспечения безопасности, выполнены на базе защищённых смарт-карточных чипов  (<b>Secure Element</b>).</p><p>Ключи шифрования не хранятся в памяти устройства &mdash; взламывать его бесполезно.</p>",
        "name": "protection"
    }
]