<p>Все устройства JaCarta-2 SE:</p>
<ul>
    <li>выполнены на базе <b>защищённых смарт-карточных чипов</b>, имеющих встроенные средства защиты от всех известных атак, методов взлома и клонирования, прошедших сертификацию в международных лабораториях по CAST и EMV (по требованиям для платёжных систем);</li>
    <li>полностью <b>соответствуют международным требованиям</b> к устройствам для создания усиленной квалифицированной ЭП (Qualified Signature Creation Device в соответствии с документом "Положение и регламент электронной идентификации и доверенных служб для электронных транзакций на внутреннем рынке ЕС №910/2014").</li>
</ul>
<hr>
<div style="font-style: italic">
    <p>Многие конкурирующие российские продукты выполнены на базе микроконтроллеров общего назначения, не имеющих специальных средств противодействия взлому и клонированию, поэтому пользователи таких устройств подвержены серьёзным рискам.</p>
</div>
