<h5>Менеджмент качества</h5>
<p>Система управления качеством продукции компании сертифицирована по требованиям российского и международного стандарта менеджмента качества ГОСТ Р ИСО 9001 2011 (ISO 9001:2011) и с 2012 г. имеет соответствующие сертификаты.</p>
<p>Разработка и производство осуществляется в соответствии с требованиями российского военного стандарта ГОСТ РВ 15.002-2012, необходимого для участия в реализации гособоронзаказа.</p>
