<div class="widget-placeholder mb-4" style="width:100%">
    <div style="width:100%;height:150px;border:solid 2px" class="bg-light border-secondary mb-4"></div>
    <div style="height:1.5rem;" class="bg-light mb-2 w-75"></div>
    <div style="height:1.5rem;" class="bg-light mb-2 w-100"></div>
    <div style="height:1.5rem;" class="bg-light mb-2 w-100"></div>
    <div style="height:1.5rem;" class="bg-light mb-2 w-75"></div>
</div>