<div class="widget-placeholder mb-4" style="width:100%">
    <div style="height:1.5rem;" class="bg-light mb-2 w-75"></div>
    <div style="height:1.5rem;" class="bg-light mb-2 w-100"></div>
    <div style="height:1.5rem;" class="bg-light mb-2 w-100"></div>
    <div style="height:1.5rem;" class="bg-light mb-2 w-75"></div>
</div>