<h2>Структура </h2>
<p>JaCarta OS USB-токена JaCarta SF/ГОСТ включает в себя следующие компоненты: </p>
<ul>
    <li>ядро;</li>
    <li>библиотеку драйверов LPC Lib;</li>
    <li>библиотеку уровня аппаратной абстракции, включающую в себя библиотеки для управления
        <ul>
            <li>USB-интерфейсом;</li>
            <li>микроконтроллером смарт-карты;</li>
            <li>периферийными устройствами;</li>
        </ul>
    </li>
    <li>специальный процесс JaCarta OS.</li>
</ul>

<p>Ядро и библиотеки драйверов и уровня аппаратной абстракции составляют базовую часть JaCarta OS. Специальный процесс
    JaCarta OS (App) при своей работе взаимодействует с базовой частью JaCarta OS, а именно с библиотекой уровня
    аппаратной абстракции. </p>

<p class="text_center">
    <img align="center" hspace="5" src="{{ asset('images/catalog/jacarta_os/1.jpg') }}"/>
</p>


<h3>Специальный процесс JaCarta OS</h3>
<p>Специальный процесс содержит логику реализации функционального назначения JaCarta OS. </p>
<p>В состав специального процесса JaCarta OS входят следующие модули: </p>
<ol>
    <li>фильтр APDU-команд (Firewall);</li>
    <li>диспетчер APDU-команд;</li>
    <li>служебный апплет;</li>
    <li>виртуальный апплет;</li>
    <li>авторизационный апплет;</li>
    <li>блок служебных функций специального процесса.</li>
</ol>
<p class="text_center">
    <img align="center" hspace="5" src="{{ asset('images/catalog/jacarta_os/2.jpg') }}"/>
</p>


<h4>Фильтр APDU-команд</h4>
<p>Фильтр APDU-команд (Firewall) выполняет блокировку APDU-команд, не отвечающих критериям, которые задаются
    специальными масками. </p>
<h4>Диспетчер APDU-команд</h4>
<p>Диспетчер APDU-команд осуществляет маршрутизацию APDU-команд к апплету, функционирующему в рамках специального
    процесса JaCarta, либо в составе СКЗИ "Криптотокен 2 ЭП".</p>
<p>Маршрутизация APDU-команд осуществляется по принципу триггера с множеством устойчивых состояний. </p>
<h4>Служебный апплет</h4>
<p>Служебный апплет выполняет следующие функции: </p>
<ul>
    <li>запись блока конфигурационных данных о USB-токене в процессе его производства;</li>
    <li>получение конфигурационных данных о USB-токене в процессе его эксплуатации;</li>
    <li>получение дополнительной служебной и эксплуатационной информации о USB-токене:
        <ul>
            <li>номера версии апплета;</li>
            <li>размера блока конфигурационных данных;</li>
            <li>объёма свободной памяти ЭСППЗУ на микроконтроллере смарт-карты USB-токена;</li>
        </ul></li>
    <li>получение значений эксплуатационных параметров JaCarta SF/ГОСТ:
        <ul>
            <li>номера этапа жизненного цикла карты памяти;</li>
            <li>счётчика подключений JaCarta SF/ГОСТ к порту USB;</li>
            <li>счётчика прерванных APDU-команд;</li>
            <li>счётчика невыполненных APDU-команд "Отключить скрытые разделы";</li>
            <li>счётчика общего времени работы JaCarta SF/ГОСТ;</li>
            <li>версии JaCarta OS;</li>
            <li>кода последней ошибки, сохранённого в оперативной памяти JaCarta SF/ГОСТ;</li>
        </ul></li>
    <li>получение информации об ЭСППЗУ ведущего микроконтроллера, в частности следующих значений
        <ul>
            <li>полного размера доступного ЭСППЗУ;</li>
            <li>текущего смещения используемой на данный момент ячейки памяти относительно начала ЭСППЗУ;</li>
            <li>размера ячейки хранения служебных счётчиков;</li>
            <li>счётчика фактов записи в текущую ячейку хранения служебных счётчиков;</li>
            <li>счётчика подключений JaCarta SF/ГОСТ к порту USB;</li>
            <li>счётчика прерванных APDU-команд;</li>
            <li>счётчика невыполненных APDU-команд "Отключить скрытые разделы" из состояния подключённых скрытых
                разделов;</li>
            <li>счётчика общего времени работы JaCarta SF/ГОСТ (с начала эксплуатации) в минутах;</li>
        </ul></li>
    <li>получение комплекса данных для аудита JaCarta SF/ГОСТ.</li>
</ul>
<p>Приведённые выше функции реализуются в процессе обработки набора APDU-команд служебного апплета. </p>
<h4>Виртуальный апплет</h4>
<p>Виртуальный апплет выполняет следующие функции: </p>
<ul>
    <li>получение серийного номера ведущего микроконтроллера;</li>
    <li>получение данных о виртуальном апплете, в частности:
        <ul>
            <li>версии виртуального апплета;</li>
            <li>признак возможности инвалидации контрольной суммы векторов прерываний;</li>
            <li>контрольной суммы параметров виртуального апплета;</li>
        </ul></li>
    <li>получение сведений о конфигурации USB-токена JaCarta SF/ГОСТ, в частности
        <ul>
            <li>кода последней ошибки, сохранённого в оперативной памяти;</li>
            <li>серийного номера смарт-карты;</li>
            <li>счётчика включений JaCarta SF/ГОСТ;</li>
            <li>версии JaCarta OS;</li>
            <li>поля "Служебная информация производства" (mdata);</li>
        </ul></li>
    <li>получение параметров загрузчика JC SF GOST Booter;</li>
    <li>управление прошивкой средствами загрузчика JC SF GOST Booter.</li>
</ul>
<p>Приведённые выше функции реализуются в процессе обработки набора APDU-команд виртуального апплета. </p>
<h4>Авторизационный апплет</h4>
<p>Авторизационный апплет содержит основную логику поддержки карты памяти (управления её жизненными циклами),
    обеспечения аутентификации и авторизации пользователя для работы с картой памяти, а также защищённую запись и чтение
    информации с карты памяти USB-токена JaCarta SF/ГОСТ. В частности, авторизационный апплет выполняет следующие
    функции: </p>
<ul>
    <li>разметку и переразметку карты памяти на разделы (открытые и скрытые разделы RW и CD-ROM);</li>
    <li>подключение открытых разделов на постоянной основе для записи и чтения из них (раздел RW) или только чтения
        (раздел CD-ROM);</li>
    <li>установку размеров ISO-образов для их последующей записи на карту памяти;</li>
    <li>получение блока служебной информации о карте памяти;</li>
    <li>удаление с карты памяти всех разделов и обнуление содержимого всех секторов;</li>
    <li>предоставление программного интерфейса для реализации протоколов аутентификации и авторизации пользователя,
        подключения скрытых разделов / автономного подключения скрытых разделов на карте памяти, в частности
        <ul>
            <li>получения данных о карте памяти для вычисления ключей авторизации и специального преобразования скрытых
                разделов;</li>
            <li>записи мастер-ключа (массива ключей) авторизации / записи ключа (массива ключей) авторизации и передачи
                данных для вычисления контрольной суммы ключа специального преобразования скрытых разделов;</li>
            <li>активации мастер-ключа / ключа авторизации;</li>
            <li>генерации параметров инициализации для USB-токена пользователя;</li>
            <li>подготовки USB-токена пользователя к автономному подключению скрытых разделов;</li>
            <li>подключеня скрытых разделов RW и CD-ROM;</li>
            <li>выработки служебной последовательности для подключения скрытых разделов на USB-токен пользователя;</li>
            <li>подключения скрытых разделов RW и CD-ROM на USB-токен пользователя в автономном режиме;</li>
            <li>инициации протокола подключения скрытых разделов RW и CD-ROM на USB-токен пользователя;</li>
            <li>отключения скрытых разделов RW и CD-ROM.</li>
        </ul></li>
</ul>
<p>Приведённые выше функции реализуются в процессе обработки набора APDU-команд авторизационного апплета. </p>
<h4>Блок служебных функций специального процесса</h4>
<p>Служебные функции специального процесса включают в себя: </p>
<ul>
    <li>функции работы с микроконтроллером смарт-карты;</li>
    <li>функции прикладного уровня работы со смарт-картой;</li>
    <li>функции прикладного уровня поддержки интерфейса USB CCID;</li>
    <li>функции прикладного уровня поддержки интерфейса USB;</li>
    <li>функции поддержки работы с CD-ROM-разделами карты памяти;</li>
    <li>функции контроля целостности ПО JaCarta OS;</li>
    <li>функции вычисления контрольных сумм CRC32;</li>
    <li>функции прикладного уровня для специального преобразования скрытых разделов карты памяти;</li>
    <li>функции управления ячейкой хранения служебных счётчиков в ЭСППЗУ;</li>
    <li>функции хранения массива ключей авторизации в ЭСППЗУ;</li>
    <li>функции прикладного уровня для работы с ЭСППЗУ;</li>
    <li>функции эмуляции временных дисков на период записи ISO-образов в разделы CD-ROM карты памяти;</li>
    <li>функции работы с файловой системой;</li>
    <li>функции прикладного уровня поддержки светодиодного индикатора;</li>
    <li>функции прикладного уровня для обращения к скрытым разделам карты памяти;</li>
    <li>функции специального преобразования скрытых разделов карты памяти;</li>
    <li>функции вычисления контрольной суммы с использованием ключа специальных преобразований;</li>
    <li>функции вычисления контрольной суммы.</li>
</ul>
<p>Вызов служебных функций осуществляется непосредственно из функциональных модулей (апплетов, диспетчера APDU-команд)
    специального процесса. </p>
<h2>Используемые технические средства</h2>
<p>JaCarta OS поставляется в составе USB-токена JaCarta SF/ГОСТ. Помимо указанного аппаратного обеспечения для
    корректного функционирования программы требуется наличие: </p>
<ul>
    <li>микроконтроллера смарт-карты с установленными и настроенными на нём компонентами <a
                href="https://www.aladdin-rd.ru/catalog/jacarta-2_gost/index">СКЗИ "Криптотокен 2 ЭП"</a>;</li>
    <li>карты microSD (карты памяти).</li>
</ul>
<h2>Вызов и загрузка</h2>
<p>Загрузка программы JaCarta OS выполняется автоматически при подаче электропитания на микроконтроллеры в составе
    USB-токена JaCarta SF/ГОСТ. </p>
<h2>Входные и выходные данные</h2>
<p>Параметры входных и выходных данных программы JaCarta OS при взаимодействии с микроконтроллером смарт-карты
    определяются спецификациями I2C и ISO/IEC 7816-4. </p>
<p>Параметры входных и выходных данных JaCarta OS при взаимодействии с ПО терминала определяются спецификациями USB,
    CCID и ISO/IEC 7816-4. </p>
<h2>Входные данные</h2>
<p>Входными данными JaCarta OS являются APDU-команды, поступающие от ПО терминала. </p>
<h2>Выходные данные</h2>
<p>Выходными данными JaCarta OS является информация, формируемая</p>
<ul>
    <li>служебными функциями специального процесса;</li>
    <li>служебным апплетом;</li>
    <li>виртуальным апплетом;</li>
    <li>авторизационным апплетом;</li>
</ul>
<p>а также APDU-команды, передаваемые диспетчером <a href="https://www.aladdin-rd.ru/catalog/jacarta-2_gost/index">средству
        криптографической защиты "Криптотокен 2 ЭП"</a>.</p>
