<div class="row mt-4">
    <div class="col-6 mb-4">
        {{ include('catalog/_certificates/sf_124-3502_sf_124-3473.html.twig') }}
    </div>
    <div class="col-6 mb-4">
        {{ include('catalog/_certificates/fstek_3449.html.twig') }}
    </div>
</div>

{{ include('catalog/_certificates/international.html.twig') }}
{{ include('catalog/_certificates/other_jacarta-3.html.twig') }}