<table class="table">
    <colgroup>
        <col width="30%" />
        <col />
    </colgroup>
    <tbody>
    <tr>
        <th class="border-top-0">Микроконтроллер</th>
        <td class="border-top-0">Защищённый смарт-карточный чип, имеющий специальную сертифицированную защиту как на
            аппаратном, так и на программном уровнях (<a href="{{ path('catalog:product:page', {'product': 'jacarta-2_se', 'page': 'features/modal', '_fragment': 'feature-protection'}) }}" data-toggle="modal" data-target="#features-modal" data-remote="true">Secure By Design</a>), что позволяет успешно противостоять всем
            известным угрозам безопасности, методам взлома и клонирования.
        </td>
    </tr>
    <tr>
        <th>Размер EEPROM-памяти на чипе</th>
        <td>144 Кбайт</td>
    </tr>
    <tr>
        <th>Срок хранения данных в памяти</th>
        <td>Не менее 10 лет</td>
    </tr>
    <tr>
        <th>Поддерживаемые ОС</th>
        <td>
            <p class="font-weight-bold">Microsoft Windows</p>
            <ul class="list-condensed">
                <li>Windows 10</li>
                <li>Windows 8.1</li>
                <li>Windows 8</li>
                <li>Windows 7 SP1</li>
                <li>Windows Vista SP2</li>
                <li>Windows XP SP3</li>
                <li>Windows Server 2012 R2</li>
                <li>Windows Server 2012</li>
                <li>Windows Server 2008 R2 SP1</li>
                <li>Windows Server 2008 SP2</li>
                <li>Windows Server 2003 SP2</li>
            </ul>
            <p class="font-weight-bold">GNU/Linux</p>
            <p class="font-weight-bold">Apple macOS/OS X</p>
        </td>
    </tr>
    <tr>
        <th>Поддерживаемые криптографические алгоритмы</th>
        <td>
            <ul class="list-condensed">
                <li>ГОСТ Р 34.10-2012 (генерация ключевых пар, формирование и проверка ЭП);</li>
                <li>ГОСТ Р 34.11-2012 (функция хэширования);</li>
                <li>ГОСТ Р 34.10-2001 (генерация ключевых пар, формирование и проверка ЭП);</li>
                <li>ГОСТ Р 34.11-94 (функция хэширования);</li>
                <li>ГОСТ 28147-89 (симметричное шифрование);</li>
                <li>AES (длины ключей 128, 192, 256 бит);</li>
                <li>DES (длина ключа 56 бит);</li>
                <li>3DES (длины ключей 112 и 168 бит);</li>
                <li>RSA (длины ключей 512, 1024, 2048);</li>
                <li>криптография на эллиптических кривых (длины ключей 160, 192 бит);</li>
                <li>аппаратная генерация ключей для RSA и криптографии на эллиптических кривых;</li>
                <li>алгоритмы согласования ключей: алгоритм Диффи-Хеллмана, алгоритм Диффи-Хеллмана на эллиптических
                    кривых;
                </li>
                <li>функции хэширования: SHA-1, SHA-224 (эллиптические кривые), SHA-256, SHA-384, SHA-512;</li>
                <li>генератор последовательностей случайных чисел.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Срок хранения закрытого ключа</th>
        <td>До 3-х лет</td>
    </tr>
    <tr>
        <th>Совместимость с программными СКЗИ</th>
        <td>Подтверждённая совместимость с наиболее распространёнными программных СКЗИ. Все
            модели JaCarta-2 SE поддерживают хранение ключевых контейнеров программных СКЗИ (например, КриптоПро CSP).
        </td>
    </tr>
    <tr>
        <th>CCID-совместимость</th>
        <td>Есть</td>
    </tr>
    <tr>
        <th>Аппаратные интерфейсы</th>
        <td>
            USB 2.0 Full speed (12 Мбит/с), разъём USB Type A
        </td>
    </tr>
    <tr>
        <th>Материал корпуса</th>
        <td>АБС-пластик (ABS) — прочный, износостойкий, ударопрочный, негорючий пластик,
            безопасный для здоровья человека
        </td>
    </tr>
    <tr>
        <th>Материал USB-разъёма</th>
        <td>Металл</td>
    </tr>
    <tr>
        <th>Потребляемый ток</th>
        <td>Не более 50 mA (питание производится от USB-порта)</td>
    </tr>
    <tr>
        <th>Гарантийный срок</th>
        <td>12 месяцев (возможно расширение до 36 месяцев)</td>
    </tr>
    <tr>
        <th>Пыле- и влагозащищённость</th>
        <td>Есть (степень защиты IP57)</td>
    </tr>
    <tr>
        <th>Соответствие стандартам</th>
        <td>
            <ul class="list-condensed">
                <li>CCID (Circuit Card Interface Device);</li>
                <li>ISO 7816, части 3 и 4;</li>
                <li>Java Card Platform Specification, версия 3.0.1;</li>
                <li>GlobalPlatform 2.2.1;</li>
                <li>USB 2.0:
                    <ul>
                        <li>обратно совместим с USB версии 1.1 (работает с контроллером USB-версии 1.1 на скорости до 12
                            Мбит/с.);
                        </li>
                        <li>совместим с USB версии 3.0 (работает с контроллером USB-версии 3.0, но контроллер должен
                            поддерживать/быть включен в режиме совместимости с USB версии 2.0).
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Территориальные ограничения</th>
        <td>Есть (так как используется сертифицированное СКЗИ)</td>
    </tr>
    <tr>
        <th>Необходимость наличия лицензий на распространение</th>
        <td>Есть (требуется лицензия ФСБ России на распространение СКЗИ)</td>
    </tr>
    <tr>
        <th>PIN-код пользователя (по умолчанию)</th>
        <td>
            PKI: <code>11111111</code><br />
            ГОСТ и ГОСТ-2: <code>0987654321</code>
        </td>
    </tr>
    <tr>
        <th>PIN-код администратора (по умолчанию)</th>
        <td>
            PKI: <code>00000000</code><br />
            ГОСТ: <code>1234567890</code>
        </td>
    </tr>
    <tr>
        <th>PUK-код (по умолчанию)</th>
        <td>
            PKI: <code>00000000</code><br />
            ГОСТ-2: <code>1234567890</code>
        </td>
    </tr>
    <tr>
        <th>Необходимое ПО</th>
        <td>
            <a href="{{ path('catalog:product', {'product': 'jacarta_client'}) }}" target="_blank">ПК "Единый Клиент JaCarta"</a>
        </td>
    </tr>
    </tbody>
</table>