<img src="{{ asset('images/catalog/jms/jms_architecture_schema.png') }}" class="img-fluid">
<h3 class="text-center">JMS — клиент-серверное приложение</h3>
<div class="row">
    <div class="col-6">
        <h4>Сервер JMS</h4>
        <p>Сервер JMS — ядро JMS, осуществляющее централизованное управление учётными записями пользователей, токенами, политиками и т.д. Может быть установлен в одном экземпляре или в составе кластера. Поддерживается виртуализация и резервное копирование закрытых ключей, баз данных и настроек системы.</p>

        <h4>База данных JMS</h4>
        <p>База данных JMS обеспечивает централизованное хранение информации об учётных записях пользователей JMS, токенах, объектах, выпущенных на токенах, политиках, настройках JMS и т.д. Значимая информация хранится в криптохранилище.</p>

        <h4>Криптохранилище</h4>
        <p>Криптохранилище — виртуальный объект (область базы данных), где хранятся критически важные данные (закрытые ключи, PIN-коды и т.д.). Криптохранилище создаётся в процессе первоначальной настройки конфигурации JMS.</p>
    </div>
    <div class="col-6">
        <h4>Консоль управления JMS</h4>
        <p>Консоль управления JMS — консоль администратора, позволяющая регистрировать пользователей, выполнять операции с токенами пользователей, настраивать профили выпуска, создавать и редактировать глобальные группы JMS, выполнять планы обслуживания. Доступные объекты и операции в консоли соответствуют роли и полномочиям конкретного администратора.</p>

        <h4>Клиент JMS</h4>
        <p>Клиент JMS — клиентский агент JMS на стороне пользователя, который выполняет функцию синхронизации содержимого токена с данными на сервере, а также позволяет пользователю выполнять ряд операций с токеном в рамках сервиса самообслуживания (выпуск, разблокировка, замена).</p>

        <h4>JMS Server API</h4>
        <p>JMS Server API — открытый API для разработки коннекторов к УЦ и ресурсным системам, собственного клиентского ПО, а также для интеграции с другими ИТ- и ИБ-системами предприятия.</p>
    </div>
</div>