<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <p>По сравнению с версией 2.5 в JMS 3.0 были реализованы следующие функции:</p>
        <ul>
            <li>Реализована поддержка УЦ ViPNet 4.6 (ИнфоТеКС)
                <ul>
                    <li>Реализовано управление жизненным циклом сертификатов, выпускаемых через УЦ ViPNet</li>
                </ul>
            </li>
            <li>Реализована поддержка актуальной версии УЦ КриптоПро 2.0 (2.0.5938.0000)
                <ul>
                    <li>Сохранена совместимость с УЦ КриптоПро 2.0 RC4</li>
                    <li>Добавлена поддержка УЦ КриптоПро 2.0 (2.0.5938.0000)</li>
                </ul>
            </li>
            <li>Реализовано взятие под управление сертификатов, выпущенных сторонними организациями с отслеживанием срока их действия и информированием администратора о необходимости обновления</li>
            <li>Реализован учёт СКЗИ
                <ul>
                    <li>Реализовано ручное управление экземплярами СКЗИ, дистрибутивами и лицензиями</li>
                    <li>Реализован полностью автоматический учёт ключевых документов, созданных с помощью КриптоПро CSP и ViPNet CSP</li>
                    <li>Реализовано автоматическое формирование нормативной документации</li>
                    <li>Реализовано журналирование операций учёта СКЗИ и ключевых документов</li>
                    <li>Реализована функция печати нормативной документации</li>
                    <li>Реализованы журналы учёта СКЗИ и ключевых документов по форме из Приказа ФАПСИ №&nbsp;152</li>
                </ul>
            </li>
            <li>Добавлена поддержка NTLM аутентификации в клиентском агенте
                <ul>
                    <li>Добавлена возможность открытия сессии в клиентском агенте с использованием доменного логина и пароля</li>
                </ul>
            </li>
            <li>Реализована поддержка отправки уведомлений администраторам для событий из клиентского журнала и журнала предупреждений</li>
            <li>В консоль управления администратора добавлен экран "Акты и заявки" для просмотра и печати документов, формируемых при выпуске КН и сертификатов</li>
            <li>Реализована функция выявления сертификатов с истекающими сроками действия
                <ul>
                    <li>Реализованы email-уведомления администратора о сертификатах (в том числе, выпущенных сторонними УЦ) с истекающим сроком действия</li>
                </ul>
            </li>
        </ul>
    </div>
</div>